[2016-11-24 15:08] AndreaCrotti commented on #450
mm actually maybe it's because we are using CE and not EE after all,

    Got response from GitLab:
    URL: http://long_url..
    Status: 301 Moved Permanently
    Response headers: [
    Connection = [keep-alive],
    Content-Length = [178],
    Content-Type = [text/html],
    Date = [Thu, 24 Nov 2016 15:05:17 GMT],
    Location = [long_url],
    Server = [nginx]
    ]
    Response body: <html>

[2016-11-24 15:34] bemeyert commented on #447
Is there anybody out there?

[2016-11-25 23:26] iamsamuelfraga opened #453 "Connection error"
## Issue

Failed to connect to repository : Command "git ls-remote -h git@gitlab.com:****/****.git HEAD" returned status code 128:
stdout:
stderr: Host key verification failed.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

### Context
- **Gitlab plugin version**: 1.4.3
- **Jenkins version**: 2.19.3
- **Gitlab server**

[2016-11-25 23:48] omehegan commented on #453
The problem you are encountering is due to a problem with the Git plugin, not the GitLab plugin. The Git plugin is unable to clone the repo you have specified, because it does not have permission to do so. You need to generate an SSH key and add it Jenkins (the easiest place to do this is in your job configuration if it's a Freestyle job) and to a user in GitLab, and the user in GitLab must have a

[2016-11-25 23:48] #453 closed, assigned to nobody

[2016-11-26 16:08] DiogoLG commented on #445
Hi, do you need any further information? I'm still getting Connection timed out with the plugin 1.3+

I'm using the 1.2.4 for now, but I would like to upgrade to a newer version

[2016-11-28 03:10] gl328518397 opened #454 "Saving config throws exception if branch filter is not defined"
### Context
- **Gitlab plugin version**: 1.4.2
- **Gitlab version**: 8.12
- **Jenkins version**: 2.19.1

### Logs & Traces
A problem occurred while processing the request. Please check our bug tracker to see if a similar problem has already been reported. If it is already reported, please vote and put a comment on it to let us gauge the impact of the problem. If you think this is a new issue, plea

[2016-11-28 16:09] DiogoLG commented on #445
I did more testing, and starting from 1.3.1 I get the connection timed out problem.

[2016-11-28 16:31] AndreaCrotti commented on #450
One simpler question in case anyone knows.
From the docs of this project it looks like Gitlab CE should work, but from this:
https://gitlab.com/gitlab-org/gitlab-ce/issues/24217

maybe it's not, what's the reality?

[2016-11-28 16:42] omehegan commented on #450
The plugin has historically always worked with both CE and EE. I'm not sure what this GitLab issue is referring to, but I don't think it's overall Jenkins support. @dblessing can you explain?

[2016-11-28 20:45] DiogoLG commented on #445
I was able to identify the problem and replicate the error

Since we are behind a proxy we set the HTTP Proxy Configuration to another IP/Port
If these proxy are unavailabe it hangs until we get a time out connection.

To replicate this just set those configuration to an invalid IP and Port

[2016-11-28 23:04] omehegan commented on #445
@DiogoLG in 1.3.1 we *added* support for HTTP proxying: https://github.com/jenkinsci/gitlab-plugin/issues/382

That would explain why this breaks for you starting in 1.3.1. So it sounds like this is not a plugin bug/issue? If so, please close this. Thanks!

[2016-11-28 23:04] omehegan commented on #318
@omorillo haven't heard from you in awhile, are you still interested/able to work on this?

[2016-11-28 23:15] DiogoLG commented on #445
Ok, that makes sense.. Since the error happened just because our proxy configuration was wrong, I agree on closing the issue, although a better solution would be to consider the **no proxy** configuration on Jenkins.

[2016-11-28 23:15] #445 closed, assigned to nobody

[2016-11-29 12:54] omorillo commented on #318
@omehegan Hi owen, sorry for my delayed reply. Yes, it's true, I've been very busy and had therefore no time to work on the plugin. I hope to start working on the plugin from mid / end december on.

[2016-11-29 19:25] omehegan commented on #318
@omorillo no problem, nice to hear from you :)

[2016-12-02 08:10] Normo commented on #454
I'm dealing with the same issue. I can't save the job configuration & get the following exception:

- **Gitlab plugin version:** 1.4.3
- **Gitlab version:** 8.13.7 CE
- **Jenkins version:** 2.34

[code]

[2016-12-02 08:13] Normo commented on #454
@gl328518397
Please update your issue description. Thanks.

[2016-12-02 20:29] jfromaniello opened #455 ""HTTP 414 Request-URI Too Long" when posting a large note"
## Issue

It fails to post a customized note when it is too large.

### Context
- **Gitlab plugin version**: 1.4.1.1
- **Gitlab version**: 8.14
- **Jenkins version**: 2.34

### Logs & Traces

The error shown in jenkins is:

[code]

I am not familiar with Java nor the framework used for sending requests but it seems that the plugin is sending the "body" of the NOTE on [createMergeRequestNote](https

[2016-12-05 15:00] cgumpert opened #456 "Same merge request is built multiple times"
## Issue

A Jenkins project is triggered multiple times for the same merge request.

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.13.6-ee
- **Jenkins version**: 2.27

### Problem description

Our CI setup consists of a Jenkins master which marshals 13 slave nodes. Our Gitlab project is configured with **two** web hooks to different Jenkins projects (a multi-job project an

[2016-12-05 16:21] cgumpert commented on #456
Just to metnion: if #439 were implemented, I would be able to deal with this inside the Jenkins build scripts myself.

[2016-12-05 18:04] AndreaCrotti commented on #450
By the way I tried on a more recent version of Jenkins (2.35) and it does seem to work, at least I see
[code]
in the output.
However the build status is  still not set to the commit.
I tried manually with the API directly and it works, so the problem is definitively not on the gitlab site.

If it gives that message however it means in theory it's all correct right?
The other problem is that the st

[2016-12-05 18:52] AndreaCrotti commented on #450
Ah sorry to be more clear it actually still give the same issue using for example
`Publish build status to GitLab commit (GitLab 8.1+ required)`

It's only by using:
`Set GitHub commit status (universal)`

that it actually looks like it's doing something even if it still doesn't work..

[2016-12-05 20:59] #429 closed, assigned to nobody

[2016-12-05 20:59] #455 closed, assigned to nobody

[2016-12-05 22:03] #447 closed, assigned to nobody

[2016-12-06 10:29] bemeyert commented on #447
@coder-hugo Thanks a lot. Can you tell me in which version this fix will be available or when the fix will be released?

[2016-12-06 14:29] coder-hugo commented on #447
@bemeyert this fix will be available within the next version maybe I find some time this evening for doing a release. As a workaround you can do the following:
1. Setup you job with the default configuration for the gitlab push trigger
2. Save your job
3. Click on "Generate token"
4. Save your job

In this case this NullPointerException won't occur.

[2016-12-06 17:27] AndreaCrotti commented on #450
Argh sorry, last two messages were relative to the Github plugin, which obviously has nothing to do with this.
Still not sure what the hell is reporting to given it's not even a gitbub plugin, but that's another story clearly..

So the problem is still the same "Gitlab connection not configured" which keeps on happening.

[2016-12-07 14:36] bemeyert commented on #447
@coder-hugo Thanks a lot. The workaround "works" ;)

[2016-12-08 11:11] tomfun opened #458 "Connect jenkins deploy with gitlab "environments""
## Question

### Context
- **Gitlab plugin version**: 3.0.0
- **Gitlab version**: 8.13.0-rc4
- **Jenkins version**: 2.30

### Links

https://gitlab.com/help/ci/environments

### Problem description

- I have pipeline and in the end jenkins does deploy the project
- I want to let gitlab know about deploy fact and commit/branch
- I can't find any information how to [use environments](https://gitlab.

[2016-12-08 19:00] omehegan commented on #458
@tomfun GitLab Environments appears to be a feature of GitLab CI, which is not something we support. CI is effectively a competitor to Jenkins.

I think if you are using Jenkins Pipeline jobs, and you wrap your build steps in gitlabCommitStatus("foo"){} blocks, you may be able to achieve something similar.

[2016-12-09 00:22] fduranti opened #459 "Problem after setting up /project authentication"
## Issue

Problem with authentication for /project end-point

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.14.3-ee
- **Jenkins version**: 2.19.4

### Logs & Traces
[code]

### Problem description

I've integrated Jenkins pipeline with the Gitlab-EE Service Jenkins-CI (tried also with WebHook with the same result). I want jenkins to run a build when i do a push or merge.
I

[2016-12-09 00:57] fduranti opened #460 "Jenkins Pipeline Project Build Triggers reset"
### Before submitting an issue to I have first:

- [X] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [X] searched for similar already existing issue

## Issue
The Build Triggers:
- Build when a change is pushed to GitLab. GitLab CI Service URL: https://jenkinsserver/project/jenkins
get reset after a push to gitlab repository and a run of the the pipeline Je

[2016-12-12 00:23] fduranti commented on #460
After some testing I discovered where the problem was:
I was reusing a jenkinsfile from a multibranch pipeline that has the property at the start to set  the gitlabconnection as explained in the readme of the gitlab plugin and it was resetting my normal pipeline job.

[2016-12-12 00:23] #460 closed, assigned to nobody

[2016-12-12 06:22] junguchina opened #461 "Can the gitlab plugin handle the gitlab's pipeline event？"
### Before submitting an issue to I have first:

- [Yes] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [Yes] searched for similar already existing issue

*(if you have performed all the above, remove the paragraph and continue describing the issue with template below)*

## Issue

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: GitLab Co

[2016-12-12 12:27] Normo commented on #454
One is able to save the config, if one of the highlighted radio buttons is selected. Otherwise the saving attempt fails:
![screenshot-1](https://cloud.githubusercontent.com/assets/2527899/21099453/8ff84c96-c06e-11e6-98a0-31fba1ba0d71.png)

[2016-12-12 21:47] omehegan commented on #450
@AndreaCrotti what type of job is this? Pipeline, Freestyle, something else?

[2016-12-12 22:24] AndreaCrotti commented on #450
It's a quite simple Freestyle job, and there is one connection configured in the system configuration, which is selected as the gitlab connection in the job config.
The weird thing is that there is no way to deselect that either, not sure if that's a symptom that something is actually wrong..

In the end I already wrote all the code to handle it myself with a post job task and just doing the right

[2016-12-12 23:04] omehegan commented on #450
Can you try creating a new job, configuring it the same way your current one is, and saving it? Look at the Jenkins log when you save. I'm wondering if it is throwing an error at that time, and causing the job configuration to be broken.

We have no other reports of this feature not working for Freestyle jobs.

[2016-12-12 23:08] omehegan commented on #450
Can you also paste some screenshots of your GitLab config on the Jenkins global config page, and on the job config page?

[2016-12-12 23:09] omehegan commented on #461
Under what circumstances would the Pipeline web hook be triggered in GitLab?

[2016-12-13 02:07] jmcgeheeiv opened #462 "Pipelines do not post build status to GitLab"
## Issue

I cannot get Jenkins pipelines to post test results to GitLab.  Below I explain the results I see.

### Works with Jenkins 1 Freestyle Jobs

Here I am using the following versions:

- **Gitlab plugin version**: 1.4.0
- **Gitlab version**: 8.6.4
- **Jenkins version**: 1.625.3
- **Job type**: Freestyle

I selected _Publish build status to GitLab Commit_, and it is working.  I can see in Je

[2016-12-13 03:54] vramanlal opened #463 "Access to files changes in Pipeline"
Hi

We are using the gitlab-plugin with Jenkins pipeline.
When we use check scm a bunch of enviroment variables are set and we can access these as follows:

def branch = env.gitlabBranch
def mergeId = env.gitlabMergeRequestId

What we also what to have access to is the list of files that have been added, updated or deleted.  How can we get access to these?

[2016-12-13 05:17] junguchina commented on #461
@omehegan Our team use gitlab's pipeline to complete continuous integration work,the details:
1.After merge the code into master branch the pipeline of master will auto run.
2.The stage of master's pipeline contains unit test, build, **deploy** and so on.
3.But our e2e test was deployed in jenkins.
4.We want the jenkins can handle the success state of gitlab's pipiline, and this will trigger the j

[2016-12-13 10:14] AndreaCrotti commented on #450
I'm sorry it was actually a MultiConfiguration job, using the `tox` builder that generates py27 and py35 jobs.

I tried with a freestyle job instead but it still fails even if in another way
[code]

Something funny with the "company%2Fcompany-json" I suppose.

But well generally I have most Multi-configuration jobs, I wonder exactly what happens if for example Py27 fails but Py35 doesn't for examp

[2016-12-13 18:21] markfaine opened #464 "client error: null when attempting to use Gitlab API token in system configuration."
## Issue

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: GitLab Community Edition 8.14.3
- **Jenkins version**: 2.3.6
- **Job type**: Freestyle/NA

### Logs & Traces
Dec 13, 2016 11:47:53 AM FINEST com.dabsquared.gitlabjenkins.gitlab.GitLabClientBuilder
Call GitLab:
HTTP method: HEAD
URL: https://my.gitlab.server:8443/api/v3/user
Request headers: [
Accept = [application/json]

[2016-12-14 06:53] pgeorgiev333 commented on #430
Why closing the issue? It still reproduces in my env?

[2016-12-14 07:17] milani commented on #430
@omehegan I can not afford it. When it happens, I have to restart the whole jenkins system to get it up again and believe me, we have many jobs running.

[2016-12-14 07:26] omehegan commented on #430
I've asked twice for people to check their GitLab server logs to see if there is even an attempt to connect from Jenkins. Can someone please do that and report back? Just look at the GitLab HTTP logs.

[2016-12-14 07:33] mpdeimos commented on #430
https://github.com/jenkinsci/gitlab-plugin/issues/430#issuecomment-257095337

Meaning I have not seen anything in the logs, also from the resteasy exception it looks like the request is never send

[2016-12-14 07:40] milani commented on #430
@omehegan I used the same settings as https://github.com/jenkinsci/gitlab-plugin/issues/430#issuecomment-257222900 and here is the log in Jenkins:

[code]

[2016-12-14 07:47] milani commented on #430
Seems we have multiple issues in this thread. The log above shows I can not send my request to gitlab since credentials are missing. But I don't know how to set credentials when calling `gitlabCommitStatus`. Obviously, I use the credentials to clone the repo!

[2016-12-14 16:57] mkobit opened #465 "Feature Request: Support the SCM Navigator (*Branch Source) type projects"
We currently use Bitbucket Server, with the https://github.com/jenkinsci/bitbucket-branch-source-plugin . This plugin allows us to define a job per Bitbucket Server Project and it will automatically index and build all branches, all PRs, PR notifications, etc. It allows us to define a `Jenkinsfile` in a repository and have it automatically pick it up.

The GitHub plugin (https://wiki.jenkins-ci.or

[2016-12-14 23:57] op-ct opened #466 "GitLab hits http://JENKINS/project/PROJECT, Stacktrace follows"
## Issue

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.14.2-ee
- **Jenkins version**: 2.3.2
- **Java version**: 1.7.0
- **Job type**: Pipeline, Freestyle, Matrix, etc.

### Logs & Traces

[code]

### Problem description

_Describe your problem in a meaningful way_:
- After configuring GitLab to hit the the webhook at http://JENKINS_URL/projects/PROJECT_NAME:
  - Jenkins l

[2016-12-15 20:07] samskiter opened #467 "Access Build ID from gitlab"
## Issue
It would be great if we could access the build ID presented in the gitlab interface from our jenkins jobs. I realize this would probably only be available inside a `gitlabCommitStatus` block (as that creates a build ID on gitlab). This would mean gitlab can become a central authority on build numbers

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.14.x
- **Jenkins

[2016-12-16 04:15] ljdelight commented on #462
This works for me:
[code]

[2016-12-17 04:12] omehegan commented on #450
Matrix/multi-configuration jobs are not supported by the plugin unfortunately, as noted in the documentation. Freestyle or Pipeline jobs should work.

The 301 error you get with a Freestyle job makes me think you might have a proxy in front of your GitLab server. Is that correct?

[2016-12-17 05:45] omehegan commented on #463
You can try using the env.gitlabBefore and env.gitlabAfter variables. Then you would need to use a shell command to perform a 'git diff,' get that into another variable, and go on from there. Not the most convenient thing, but I don't think GitLab sends this information in a more direct way.

[2016-12-17 05:46] omehegan commented on #461
I'll mark it as a feature request, but we currently don't have an active maintainer who could add this. If you would like to submit a PR, we would consider it though!

cc @dblessing

[2016-12-17 05:48] omehegan commented on #464
Can you elaborate on where you were attempting to do this? In the Jenkins global configuration, GitLab section?

[2016-12-17 05:50] omehegan commented on #465
I'll add this as a feature request, but we don't currently have an active maintainer who could implement it.

cc @dblessing

[2016-12-17 05:57] omehegan commented on #466
This is interesting, not an error we've seen before. You mention trying to use Freestyle, Pipeline, and Matrix jobs. First, please be aware that Matrix jobs are not supported, per the documentation. Second, if you are encountering this in a Pipeline job, could you share a sample of that job config? That's easier for me to duplicate and test than a Freestyle job.

It seems like the plugin is failin

[2016-12-17 06:00] omehegan commented on #467
I understand the desire for this, but if you make GitLab the central authority for build numbers (I assume you would like GitLab and Jenkins to have matching ones), what happens when someone runs the Jenkins build manually?

[2016-12-18 12:40] AndreaCrotti commented on #450
Ah ok thanks @omehegan  sorry I missed that.
Well we probably have nginx in front of Gitlab, but even things like the requests python library or httpie still work without any extra arguments.
So gitlab-plugin doesn't follow the redirect?

[2016-12-18 16:12] tomachi opened #468 "Plugin should support ci-skip in opened MR comments"
## Issue
We open a merge request which makes a trigger to automation tests in jenkins.
If automation fails we comment back into the MR. This will trigger a new build and continue in a loop.

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: GitLab Enterprise Edition 8.14.4-ee 8c04d01
- **Jenkins version**: 1.650
- **Job type**: Freestyle

[2016-12-19 14:18] markfaine commented on #464
Yes, exactly.  In the global configuration for GitLab.

[2016-12-20 07:55] idokaplan opened #469 "Exclude"
Hi,

Is it possible to exclude files/folder when initiate a merge request?

Thanks!
Ido

[2016-12-20 13:37] samskiter commented on #467
Good point - you could disallow manual build and try and comment on a
commit in gitlab?.... :/

On Sat, 17 Dec 2016 at 06:00 Owen Mehegan <notifications@github.com> wrote:

I understand the desire for this, but if you make GitLab the central
authority for build numbers (I assume you would like GitLab and Jenkins to
have matching ones), what happens when someone runs the Jenkins build
manually?

—

[2016-12-20 14:22] tptak opened #470 "NPE on merge request web hook"
## Issue
I get a NPE when a merge request hook gets triggered. I did some investigation and discovered a possible root cause.

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 7.14 (yeah, I know; still, rather irrelevant)
- **Jenkins version**: 2.19.4
- **Job type**: Pipeline (but irrelevant, really)

### Logs & Traces

`Error while serving http://xyz/project/abc
java.lang.refl

[2016-12-20 14:31] AndreaCrotti commented on #450
Ok for the records it was a silly mistake, simply the connection was configured with HTTP and not HTTPS, the redirect was simply our Nginx forcing HTTPS.
It all seems to work now, thanks for the help!

[2016-12-20 14:31] #450 closed, assigned to nobody

[2016-12-20 15:36] AndreaCrotti commented on #464
I had a Null pointer exception as well today, but I could see the whole stacktrace.
However I think it was just a wrong token, or at least I can't reproduce it anymore..
@markfaine make sure the token is correct and give it another try.
(It's strange though however since I also got a 401 when it was wrong another time so not 100% sure it's just that really)

[2016-12-20 15:39] AndreaCrotti opened #471 "harcoded gitlab CI service URL"
## Issue
The gitlab CI service URL is hardcoded generating from the job name in Jenkins, such as
"Build when a change is pushed to GitLab. GitLab CI Service URL: https://myjenkins/project/jenkins-project-name"

however I'm going to have multiple jobs per project now, so they would have a slightly different name.
Is it not possible to make this customisable?

### Context
- **Gitlab plugin version**

[2016-12-20 15:54] tptak commented on #470
Just an update - I have prepared a fix for this issue. I was wrong in parts of the evaluation and it's just that the project object is not set, but the values are there in objectAttributes.target. I will set up a testing environment and verify that the issue is resolved, then submit a pull request.

[2016-12-20 16:44] AndreaCrotti commented on #471
I think I might understand why it's done this way, so that each event that comes from gitlab can be easily directed to the right job automatically maybe?

However without a way to customise I'll have to end up doing all the smarter per context logic in each of the commands I run.
For example I wanted to have a quite different configuration between for jobs that run merge requests and jobs that run

[2016-12-20 17:35] tptak commented on #470
https://github.com/jenkinsci/gitlab-plugin/pull/472

[2016-12-21 18:38] drewwells opened #473 "Upgrading 1.1.32 to 1.4.3 causes credential errors"
### Before submitting an issue to I have first:

- [x] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [x] searched for similar already existing issue

*(if you have performed all the above, remove the paragraph and continue describing the issue with template below)*

## Issue

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.12.6
- **Je

[2016-12-22 17:26] markfaine commented on #464
I have an update on this.

Seems to be caused by:
https://issues.jenkins-ci.org/browse/JENKINS-31464

After setting values for no proxy in manage plugins proxy settings, I was able to get a success response.

[2016-12-22 22:46] omehegan commented on #473
I'm not too surprised that making a version jump that large caused an issue. I would suggest trying to upgrade in smaller increments, by manually downloading and installing the plugin hpi files from the archive: http://updates.jenkins-ci.org/download/plugins/gitlab-plugin/  If you look at the plugin Changelog you can see which versions made changes to the credentials handling. I would try upgradin

[2016-12-23 08:43] GeneralMaple opened #474 "When pipeline job is pending, no build status show on gitlab mr"
I what to check MR  before merging it . I use gitlab pipeline in jenkins. But when pipeline is pending, no build status is shown on gitlab for the merge request. How to solve this? I want show a build  immediately when  web hook has been triggerd or the mr can be merged before my jenkins job is executed.

[2016-12-23 15:03] jfromaniello commented on #455
@coder-hugo thanks a lot!

[2016-12-26 11:54] milani opened #475 "Using properties to set gitlab connection is not safe"
## Issue

As README described, I tried to use `properties([[$class: 'GitLabConnectionProperty', gitLabConnection: '<your-gitlab-connection-name']])`.

Adding this line causes all settings removed as the warning in build logs suggests:

[code]

If it is necessary to add this line, please add a note in the README.

### Context
- **Gitlab plugin version**: 1.4.3
- **Jenkins version**: 2.38
- **Job ty

[2016-12-26 12:52] milani commented on #430
I managed to fix the issue by setting secret token in jenkins global configuration. I think there should be check that fails when token is not set instead of hanging the whole jenkins.

[2016-12-26 13:04] milani commented on #434
Mine appears in pipeline but stages are not set correctly. I have 5 `gitlabCommitStatus` in my Jenkinsfile, but only 3 of them appear as builds under a single pipeline (Builds panel is empty).

![screen shot 2016-12-26 at 4 32 50 pm](https://cloud.githubusercontent.com/assets/508130/21482417/09ea5f7e-cb89-11e6-8d1c-485e8442f1f4.png)

![screen shot 2016-12-26 at 4 34 02 pm](https://cloud.githubuser

[2016-12-27 09:56] pgeorgiev333 commented on #430
I do not manage the gitlab server and i do not have access to the logs. I have the secret token setup from the start ( i read the manual...).

I just tried the flow with a Freestyle job and it works.

Standalone pipeline also works. However i noticed something in the "properties" snippet generator:

properties([[$class: 'GitLabConnectionProperty', gitLabConnection: 'gitlab'], pipelineTriggers([<ob

[2017-01-02 02:35] YuantongL commented on #371
Had the same issue. I'm not able to add credential in task configure page (it doesn't show in the drop-down). I go to 'Credentials' in the main page, add the credentials there and then I go back to the task configure page, it shows up in the dropdown.

[2017-01-02 10:17] norricorp opened #476 "No credentials found for credentialsId:"
## Issue

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.15.2
- **Jenkins version**: 2.38
- **Job type**: Maven,

### Logs & Traces

console output of build

Checking out Revision 78e2f92f3cc5dc9a43c42b0e76402d6d724be8e4 (refs/remotes/origin/master)

ERROR: Processing failed due to a bug in the code. Please report this to jenkinsci-users@googlegroups.com
java.lang.IllegalSt

[2017-01-03 20:50] drewwells commented on #473
Upgraded to 1.2.0 and that went fine. The upgrade wiped the Gitlab token from configuration for some reason, so be sure to record that before performing the upgrade.

[2017-01-03 20:53] omehegan commented on #473
Thanks, so were you able to upgrade to the latest cleanly after going to 1.2.0? I want to update the documentation accordingly.

[2017-01-03 20:54] drewwells commented on #473
Just took it to 1.2.0, I'm working on 1.3.2 now.

[2017-01-03 20:56] omehegan commented on #473
Can you report back here on how it goes? I think it may be possible to go from 1.2 to the latest in one step, now that you are using the new credential storage stuff.

[2017-01-03 21:08] drewwells commented on #473
Upgrading to 1.2.0 didn't switch over to a newer credential management. But going 1.2.0 -> 1.4.3 did. Trying to figure out how to add my auth token now...

[2017-01-03 21:11] drewwells commented on #473
No issues after following the instructions here: https://github.com/jenkinsci/gitlab-plugin#configuring-access-to-gitlab.

Thanks for the great work!

[2017-01-04 07:57] norricorp commented on #476
So this is what I did.
I had created credentials but let Jenkins create the ID. What I should have done is to use 1909e700-c4e3-4cac-a2ff-987b8990bb6c as the ID.
This is the value in the console log. It is also in com.dabsquared.gitlabjenkins.connection.GitLabConnectionConfig.xml.
Then run build and worked.
I am guessing I could also have taken the generated ID and changed com.dabsquared.gitlabjen

[2017-01-04 07:57] #476 closed, assigned to nobody

[2017-01-04 13:45] AndreaCrotti commented on #471
Any comments on this?
How are other using it otherwise maybe I'm missing something, I think having multiple jobs for the same project is a quite normal scenario..

[2017-01-04 13:55] AndreaCrotti commented on #471
Mm actually the problem doesn't really exist now that I think about it.
All I need is to add multiple webhooks, which is slightly annoying surely but does the job.
Each webhook will then trigger the right job and everyone happy..

[2017-01-04 13:55] #471 closed, assigned to nobody

[2017-01-04 18:59] sgautrin commented on #444
The answer comes late but it may still be useful for others. I had to workout the same issue, and for me the problem came from activating a « parametrized build » in order to be able to run the job manually as well. The documentation actually indirectly gives the pointers for why it does not work as expected, through two notices:

- the notification in known issues section about changes made by je

[2017-01-04 19:04] omehegan commented on #444
@SilentTiger please let me know if the above comment resolves your issue. But I have a feeling that your problem is something different.

[2017-01-04 19:10] omehegan commented on #469
Can you explain what you are asking for in more detail, maybe with an example? Thanks.

[2017-01-04 19:16] omehegan commented on #464
Not a plugin bug.

[2017-01-04 19:16] #464 closed, assigned to nobody

[2017-01-04 19:21] omehegan commented on #434
Not a plugin bug.

[2017-01-04 19:21] #434 closed, assigned to nobody

[2017-01-04 19:24] omehegan commented on #462
@jmcgeheeiv are you still having this issue? If so, can you try using this syntax for your 'properties' line in your Jenkinsfile:
properties([[$class: 'GitLabConnectionProperty', gitLabConnection: '<your-gitlab-connection-name']])

[2017-01-04 19:57] #448 closed, assigned to nobody

[2017-01-04 20:43] omehegan commented on #448
This was released in version 1.4.4 of the plugin.

[2017-01-04 20:43] omehegan commented on #455
This was released in version 1.4.4 of the plugin.

[2017-01-04 20:43] omehegan commented on #429
This was released in version 1.4.4 of the plugin.

[2017-01-04 20:43] omehegan commented on #470
This was released in version 1.4.4 of the plugin.

[2017-01-04 20:43] #470 closed, assigned to nobody

[2017-01-04 20:43] omehegan commented on #447
This was released in version 1.4.4 of the plugin.

[2017-01-04 21:25] omehegan commented on #430
@pgeorgiev333 The correct syntax for the properties line should be:
properties([[$class: 'GitLabConnectionProperty', gitLabConnection: '<your-gitlab-connection-name']])

Where 'your-gitlab-connection-name' is the name you used when you set up the GitLab connection in the Jenkins global configuration.

[2017-01-04 21:31] omehegan commented on #468
As far as I know, the MR hook should only trigger a build when:
- the MR is created
- there is a push to the MR branch
- if you check Comments and enter a string in the associated text box, it will trigger when a matching comment is posted

Can you screenshot your trigger configuration for a job and send it, so I can see exactly what you are doing?

[2017-01-04 21:42] omehegan commented on #474
Do you mean you want GitLab to know that a build is pending in Jenkins before that build has started? If so, that is not possible.

[2017-01-04 21:58] omehegan commented on #475
Aha, this warning is new. I didn't realize this was the behavior. I am talking to some folks about a possible better implementation. In theory for multibranch builds this affects a pretty small set of things, because those builds have so few JobPropertys relative to e.g. a Freestyle job.

[2017-01-04 22:32] omehegan commented on #390
I have confirmed that we ignore MR close events. Reference the code [here.](https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerFactory.java#L29)

I think that we would want to add an option to support triggering on MR close, so it's not always enabled, so this would require more than just a one-line

[2017-01-04 22:34] omehegan commented on #386
@ayufan was this ever implemented?

[2017-01-04 22:36] omehegan commented on #427
@daniel-beck when you have time, can you comment briefly on how I could implement a backward-compatible "enable security by default" setting? We talked about this once but I don't remember the details. The point being that I would only want to enable security on new installs of the plugin, not force-enable it when people upgrade. Thanks!

[2017-01-04 22:55] omehegan commented on #446
This is a plugin bug. We will have to explicitly expand this text field in the plugin code. Reference [this answer.](http://stackoverflow.com/questions/23800416/jenkins-inject-environment-variable-in-jelly-field)

[2017-01-04 23:00] omehegan commented on #451
This is a strange use case I guess. You are essentially triggering the build based on MR events, but you are not using the GitLab plugin as the trigger. Why not?

[2017-01-04 23:03] omehegan commented on #452
It looks like you're working on a fix, we would be happy to merge it or help with the design if you need it.

[2017-01-04 23:07] omehegan commented on #454
@Normo that is bizarre. 'Allow all branches to trigger this job' should be set by default. I bet this happens if you upgrade from some older version of the plugin where we didn't have this feature.

[2017-01-04 23:40] omehegan commented on #456
This is interesting. From my reading of the code, we only react to the MR webhook if the state is 'opened' or 'reopened,' not 'updated.' Can you follow the README instructions to increase logging, and paste some logs of what Jenkins is seeing when one of these erroneous triggers comes through?

[2017-01-04 23:41] #458 closed, assigned to nobody

[2017-01-04 23:48] omehegan commented on #459
The only way that the /project endpoint authentication will work is if your webhook passes a valid jenkins username and password using HTTP basic auth. This in turn will depend on how you configure Jenkins user authorization. The simplest way is what you were attempting using a Jenkins user's username and API key and including them with your webhook, as in http://username:APIKEY@jenkinsserver.foo.

[2017-01-04 23:49] #463 closed, assigned to nobody

[2017-01-04 23:56] omehegan commented on #466
@op-ct are you still experiencing this issue?

[2017-01-04 23:59] omehegan commented on #473
Thanks, I updated the README accordingly with a note in the Known Issues section.

[2017-01-04 23:59] #473 closed, assigned to nobody

[2017-01-05 08:09] tomachi commented on #468
Thanks @omehegan for the answer.
Yes, we are pushing the new build version on each build, even if it fails, but we do it with [ci-skip]. From looking at the source code the ci-skip is ignored in MR push, What makes a new trigger if ci-skip is in the comment.

[2017-01-05 09:14] Bjoern-Hegstam commented on #451
Let me describe our setup:
* We have release branches and feature branches. When a feature branch is complete it is merged into a release branch. The release branches are named by version (e.g. release/1.0), so a new release branch is created for each new version. At the moment we have two active release branches and about 60 feature branches.
* There are two jenkins projects setup for each releas

[2017-01-05 10:23] sauliusgrigaitis commented on #452
Thanks @omehegan, feel free to merge this fix until somebody implements full configurable feature.

[2017-01-05 12:35] pvginkel commented on #444
This may be a different problem. If you look at the post from GitLab, it looks as follows:

[code]

In the plugin, the `"url"` property is used to indicate the source repository. However, when the Git checkout is configured to fetch from `https://`, it won't match the `"url"` since that's an SSH URL.

I've actually tested this using a custom build (see https://github.com/pvginkel/gitlab-plugin/com

[2017-01-05 16:49] idokaplan commented on #469
I'm using SaltStack for the deployment and using branches (dev, qa, prod, etc).
Each branch (environment) contain 2 folders - state and pillar.

I would like to merge from dev branch to qa only the state folder (without the pillar folder).

Ido

[2017-01-05 18:11] jmcgeheeiv commented on #462
Thank you for your suggestions.  Yes, I am still having this problem.

- I modified my usage of `gitlabCommitStatus()` as suggested by @ljdelight.  The behavior did not change.
- Additionally, I modified the properties line as suggested by @omehegan, and the behavior did not change.

I checked the GitLab Plugin log, and I still do not see any `Call GitLab` messages.  I got pulled off to another pr

[2017-01-05 18:39] ljdelight commented on #462
I documented how to setup a gitlab+jenkins CI environment and build on every merge request [over here](http://blog.ljdelight.com/gitlab-trigger-jenkins-builds-on-merge-request/). You might skim it to see if anything obvious is missing on your side.

[2017-01-05 19:11] omehegan commented on #462
@jmcgeheeiv there are different ways of sending the status, the one you specified in your original example should be fine. I would suggest looking at your GitLab HTTP log to see if it sees the request from Jenkins/the plugin to post status. Then we can figure out if that request is just being discarded or what.

This type of problem is most commonly associated with people using a proxy server betw

[2017-01-05 19:19] omehegan commented on #469
This is really just a Git question, it's nothing to do with this plugin. But a Git merge is just combining a set of changes to files. If you change files in the 'pillar' folder in a branch, it would not make sense to then merge that branch into another but exclude those changes.

[2017-01-05 19:19] #469 closed, assigned to nobody

[2017-01-05 19:32] omehegan commented on #444
@pvginkel that is yet another different issue. Can you file it separately? It's something we should look into.

[2017-01-05 19:33] omehegan commented on #452
@sauliusgrigaitis can you submit it as a PR?

[2017-01-05 19:37] omehegan commented on #468
I just want to be sure I understand: when you use the word 'comment,' are you talking about the message you submit with a change in git? In other words, you push a change to the branch with [ci-skip] in the commit message? Or are you talking about a comment on the merge request UI in GitLab?

[2017-01-05 19:52] tomachi commented on #468
Sorry,

I meant commit message.

[2017-01-05 23:47] jmcgeheeiv commented on #462
I really appreciate your attention.

@omehegan, I tried the `Test Connection` button, and it displayed "Success".  Also note that as I originally reported, GitLab notifications work with freestyle jobs, proving that Jenkins can talk to GitLab.  The problem is with MultiBranch pipelines only.

**Could you help me out with what to look for in which log file?**  With so many log files, and not knowin

[2017-01-06 08:24] pvginkel opened #477 "Jenkins will not match repository if pulling from HTTP"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.14.0
- **Jenkins version**: 2.32.1
- **Job type**: Freestyle

### Logs & Traces

### Problem description

The GitLab plugin will use the `repository.url` field to identify the repository a (commit/merge request/etc) push comes from. This however is the SSH url. When the Jenkins clone is pulled from HTTPS, it will not

[2017-01-06 08:24] pvginkel commented on #444
Done: https://github.com/jenkinsci/gitlab-plugin/issues/477.

[2017-01-06 09:15] pgeorgiev333 commented on #430
I have a very good confidence that the workaround of setting up a Freestyle job first resolves the issue. I tried it on another gitlab server (this time community edition) using this flow:

1. Create access token in gitlab
2. Add gitlab entry in jenkins configuration (add the token and test the connection)
3. Create the webhook (specify the jenkins url http://....project/testme and specify the sam

[2017-01-06 18:34] AndreaCrotti opened #478 "Conflicting states of the build"
### Before submitting an issue to I have first:
## Issue

Conflicting state of build status seen.

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.14.1 e45bf3d
- **Jenkins version**: 2.19.4
- **Job type**: Freestyle.

### Problem description

I have an interesting problem now with setting build status on commits, and I'm not fully sure if it's gitlab or gitlab-plugin the iss

[2017-01-06 18:36] AndreaCrotti commented on #478
Mm sorry I just realised the second was the previous build.
So the actual weird thing is that I get many pending statuses in various commits, but all the build actually terminates in one way or another.

Any idea about when a build gets into the pending state?
Thanks

[2017-01-09 14:54] AndreaCrotti opened #482 "Building merge requests only builds closed merge requests"
## Issue

Conflicting state of build status seen.

### Context
- **Gitlab plugin version**: 1.4.3
- **Gitlab version**: 8.14.1 e45bf3d
- **Jenkins version**: 2.19.4
- **Job type**: Freestyle.

### Problem description

I was trying to split between merge requests and pushes into master into separate jobs.
For the merge request job I just configure it as in the picture attached:
![selection_018](htt

[2017-01-09 22:39] omehegan commented on #482
I would need to see how you have the git checkout configured, to see what Jenkins will actually do when you trigger this job.

[2017-01-09 23:14] omehegan commented on #478
@AndreaCrotti you have submitted a lot of issues lately, but they are always lacking any information about how you have configured the plugin. Without that, it is impossible for me to help you troubleshoot. In this case I will need to see how you have configured your job for sending build status to GitLab. E.g. the post-build step where status is sent.

Also, with respect, I want to point out that

[2017-01-09 23:25] omehegan commented on #462
@jmcgeheeiv ok, it's interesting that it works in Freestyle but not Pipelines.

If you have installed GitLab from their package, look at the /var/log/gitlab/nginx/gitlab_access.log for 'GET /api ...' requests. You should see things like
`GET /api/SOMEPROJECT/merge_requests/132/ci_status`

If you see those when a Pipeline build is running and sending status, we know at least that it's successfully

[2017-01-09 23:27] omehegan commented on #462
@jmcgeheeiv hmmm, can you also tell me what version of the Pipeline plugins you are using? I wonder if you are hitting some kind of bug or missing feature in those.

[2017-01-09 23:31] omehegan commented on #462
@jmcgeheeiv can you also look at the Pipeline Steps view of a job which completed but did not send status to GitLab? There *should* be a step listed in there that says something like, 'Update the commit status in GitLab depending on the build status' If that is missing then we know Jenkins isn't even trying to send the status.

[2017-01-09 23:44] omehegan commented on #468
I've reviewed the code, and from what I can see, it should skip the build if the following conditions are met:
* A push webhook is configured, not just a merge request hook
* The newest commit in the push contains the string '[ci-skip]' - note the brackets and hyphen

If that is not working for you, I would need to test and see if I can replicate.

[2017-01-10 07:49] tomachi commented on #468
But if I'll add a push hook it will trigger on every push where I need it only for MR.

[2017-01-10 11:16] Kannan1015 commented on #385
Thanks @coder-hugo

[2017-01-10 17:51] thangam105 opened #484 "Jenkins build error while fetch the repo"
Machine configuration:
windows 10
Jenkins version 2.32.1,
Git version 2.11.0
============================================================
**Jenkins configuration**

configuration system
![image](https://cloud.githubusercontent.com/assets/13119007/21817544/65c4e30c-d78a-11e6-8547-2c0f2c7c0388.png)

Jenkins Job:

![image](https://cloud.githubusercontent.com/assets/13119007/21817599/a10c7fd8-d78a-11e

[2017-01-10 18:45] omehegan commented on #484
This is not a GitLab plugin problem; the build is triggering correctly, but Jenkins is unable to clone your Git repo. I can't tell why, but, "Timeout after 10 minutes" would suggest to me that maybe Jenkins is unable to connect back to GitLab to clone. I would suggest setting your branch specifier to 'origin/master' and running the build manually. Once you get that cloning working, the trigger via

[2017-01-10 18:45] #484 closed, assigned to nobody

[2017-01-10 21:32] trance1st commented on #446
Hi all
@omehegan @kbthomp1
Please see my comments here https://github.com/jenkinsci/gitlab-plugin/pull/479

We can add this feature but it will work only for manually triggered jobs (like the use case described).

In case of MR builds we have a problem: the plugin first receives the hook from gitlab, it does same logic (to reject or accept the request etc) and publish the build to gitlab with stat

[2017-01-11 16:00] ricardocosta21 commented on #371
It only works with an SSH key guys, forget the token :/

[2017-01-11 16:54] glureau opened #485 "Use @Library to load shared pipeline"
The plugin [workflow-cps-global-lib-plugin](https://github.com/jenkinsci/workflow-cps-global-lib-plugin/) offers the @Library annotation to load a shared library. Quote from the ReadMe :

I've used this feature with github, it's really powerful. It could be really great to have the same option for gitlab.

Temporary Workarounds

- use a git submodule to share the common stuff => requires to update

[2017-01-12 09:06] GeneralMaple commented on #474
@omehegan Yeah, that is what I want. because I set 'only can be merged when build success' in gitlab, so if  Gitlab don't know the build is pending  when a mr has been made. then every mr can be merged without mr build check.

You said it is not possible. but why freestyle job can do this ? Using freestyle job, when a mr has been opened , gitlab shows pending build state right away even jenkins jo

[2017-01-12 12:21] ananace opened #486 "Add method to publish build artifacts to GitLab"
There's currently a lack of a method to push build artifacts from Jenkins to GitLab as resulting from the builds.
On Merge Requests this can be hacked around by providing a comment with the artifact links, but for regular Push and Tag builds that method won't work.

GitLab does seem to have [support for this](https://gitlab.com/help/api/ci/builds.md#upload-artifacts-to-build) through their API as

[2017-01-12 13:20] sgautrin commented on #478
I have apparently the same issue as described here, using a freestyle jenkins job, with:

- jenkins 2.40
- gitlab 8.15.0 (54850bf)
- gitlab-plugin 1.4.4

I figured I'd rather update this issue with details on our setup, but if you'd rather I can create another issue for it.

Our job is configured like that:

- gitlab connection specified
- git repository via ssh

    + name: origin
    + refspec:

[2017-01-12 16:10] AndreaCrotti commented on #482
Mm I think the problem was just related to multiple builds for the same commit generally, which is something that messes it up as seen from another issue as well.

However another very weird thing I see is that if I have a job that builds only merge requests, if I kick the build *manually* it will go and build all the *already closed* merge requests.

So it gets mental with many branches.. Is that

[2017-01-12 16:18] Bjoern-Hegstam commented on #451
It always helps to get a second opinion. A colleague had a look and came up with a solution that will probably work for us. It might be obvious to some, but we needed some time to ge there. :)

We'll simply setup a single jenkins project for building all merge requests (with *Execute concurrent builds if necessary* enabled). Then there's no problem with having to define a specific webhook in gitla

[2017-01-12 23:58] jmcgeheeiv commented on #462
Thank you for your guidance, and sorry for the delay, @omehegan.  I had to, you know, do what the boss wanted done ;-).

In GitLab I created a repository called `gitlabcommitstatus`.  It contains a `Jenkinsfile` with the simple script that you proposed.  In Jenkins I created job `gitlabCommitStatus.pipeline` that executes it.

The Jenkins _Pipeline Steps_, step _Update the commit status in GitLab

[2017-01-13 19:57] lalmeras commented on #337
For any person who encounters difficulty on this point, here's my experience with an Apache (proxy_http) + nginx + gitlab setting. In Apache, configure both:
* AllowEncodedSlashes NoDecode
* ProxyPass / http://gitlab.server/ nocanon

Without this 2 settings, requests was blocked by Apache (AllowEncodedSlashes absent or Off), %2F was replaced by '/' (AllowEncodedSlashes On), %2F was replaced by %25

[2017-01-18 00:37] mhagnumdw opened #487 "Build pending if two pushes in very short interval of time"
## Issue
When making two pushes in a very short interval of time, the second commit is eternally with pending build status.

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.7.2
- **Jenkins version**: 2.19.3
- **Job type**: Maven project

### Logs & Traces

[GitLab_Jenkins_Plugin.log.txt](https://github.com/jenkinsci/gitlab-plugin/files/712693/GitLab_Jenkins_Plugin.log.txt)

[2017-01-18 15:37] Bjoern-Hegstam commented on #451
Well this is interesting. The setup has been working very well, except that we've again encountered a problem with double commit statuses being created, but for a different reason. I'm gonna create a new issue to avoid muddling this one. From our perspective this issue can be closed, but I'll leave the final decision up to you.

[2017-01-18 16:00] Bjoern-Hegstam opened #489 ""Pending" commit status is never updated, instead new status is created"
## Issue

### Context

- **Gitlab plugin version**: 1.4.0
- **Gitlab version**: 8.15.4-ee
- **Jenkins version**: 1.650

### Logs & Traces

target_url when creating "pending" status:
[code]
target_url when creating/updating "running" status:
[code]

### Problem description

We have a jenkins job setup to build all merge requests (triggered via a gitlab webhook with the GitLab CI Service URL). The j

[2017-01-18 16:13] Bjoern-Hegstam commented on #489
Looking over existing issues (which I should have done a better job of before hand, sorry) it seems to me like this could be the same reason for issues #487 and #478.

[2017-01-21 12:10] carlomorelli commented on #298
Good morning everyone, I know that the issue is closed, just commenting to ask if there are any news in the gitlab-plugin supporting the Merge Request env variables in the Multibranch pipelines.

Until we don't have access to variables ${env.gitlabSourceBranch} and ${env.gitlabTargetBranch}, it seems that we Gitlab users are stuck with the traditional pipeline if we want to do the infamous "merge

[2017-01-24 13:54] eriklogtenberg opened #490 "GitLab plugin should support Folders"
## Issue

### Context
- **Gitlab plugin version**: current
- **Gitlab version**: current
- **Jenkins version**: 2.41.1
- **Job type**: Multibranch

### Problem description
GitLab plugin provides Webhook targets for GitLab to trigger builds. These URL's only support projects that are located at the "root" of Jenkins. The documentation says:

However, there is no syntax for a project that is inside

[2017-01-24 14:04] Bessonov commented on #462
After we upgrade Jenkins to 2.41 and all Plugins, we got same Problem. Downgrade gitlab plugin from 1.4.4 back to 1.3.0 helps (tested with Pipeline).

[2017-01-24 20:22] trydis commented on #489
Same issue here with:
* Gitlab plugin version: 1.4.2
* Gitlab version: 8.16.1-ce
* Jenkins version: 2.24

All builds that are marked as pending in GitLab does not have a trailing slash, the ones marked as passed have a trailing slash.

[2017-01-24 21:13] omehegan commented on #430
@pgeorgiev333 thanks a lot for this tip, I will look into this...

[2017-01-24 21:40] #444 closed, assigned to nobody

[2017-01-24 21:49] omehegan commented on #451
I will close this. I do want to say that the plugin assumes a 1 to 1 relationship (more or less) between GitLab projects and Jenkins builds. In my opinion it is not a very good practice to have many GitLab projects triggering one generic Jenkins build. That means that the status of that build is kind of meaningless, and it will always have to be generic. You would really want the status of that bu

[2017-01-24 21:49] #451 closed, assigned to nobody

[2017-01-24 21:50] #456 closed, assigned to nobody

[2017-01-24 21:50] #459 closed, assigned to nobody

[2017-01-24 21:55] #466 closed, assigned to nobody

[2017-01-24 22:30] omehegan commented on #474
I have a feeling that Pipeline jobs treat the status of "pending" or "queued" differently from Freestyle jobs, but I am waiting to confirm.

However, your issue sounds like a potential bug with GitLab. If you are describing this scenario:
1. GitLab should only allow an MR to be merged if the Jenkins build succeeds
2. You create an MR and it triggers a Jenkins Pipeline job build which goes into the

[2017-01-25 07:40] Bjoern-Hegstam commented on #451
Sorry, but just to clarify, that is exactly what we have setup now. The jenkins build is only used to build all merge request for one gitlab project.

[2017-01-25 10:27] sgautrin commented on #489
I checked (I posted other details in #478) and I also see the same thing with the trailing slash: not present in the response to the first POST to gitlab (which results in the pending build), present in the other two (which results in the build which starts as “in progress” and then is updated to “complete”).

For memory, tools versions:

* jenkins 2.40
* gitlab 8.15.0 (54850bf)
* gitlab-plugin 1.

[2017-01-25 16:37] crussell52 opened #491 "Run build when merge target branch updates not working"
## Issue

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.16.1-ee
- **Jenkins version**: 2.30
- **Job type**: Pipeline - Checkout script from SCM

### Logs & Traces

### Problem description

Jenkins is not performing a merge request build when the `target` branch is updated with a new commit.

It *is* running the build when the merge request is created and when the `source`

[2017-01-27 01:24] omehegan commented on #298
@trance1st maybe you want to look at this and reopen if necessary. It seems like there should be a way to do this, but it's a question of what the right way to support it in Jenkins would be.

@carlomorelli my understanding is that those plugins integrate more tightly with the GitHub and Bitbucket APIs than our plugin currently does with GitLab.

[2017-01-27 01:32] omehegan commented on #491
@crussell52 can you capture some logs from the plugin (look at the README under User Support for instructions) when there is an update to the target branch? I want to see if GitLab is sending a request that we discard, or not sending a request at all. Thanks!

[2017-01-27 02:04] crussell52 commented on #491
@Omehegan I'll take a look. Can you tell me if the plugin is expecting a push event or an MR event to trigger this behavior? That will help me focus my config for recreation.

[2017-01-27 22:18] omehegan commented on #491
@crussell52 I'm not positive. From looking at the code, given your settings, I think we will trigger upon "update" to the MR. And indeed, for this feature to work as designed, it would need to be the MR hook which fires, not the push hook. Because you want to tell Jenkins to perform the local merge and attempt to build it. I'm just not sure what GitLab is going to do.

The plugin will log whicheve

[2017-01-27 23:12] omehegan commented on #491
@crussell52 I just looked at the GitLab documentation, and it seems like you will need a push hook on the target branch in order to trigger the build in this way. The doc says that the MR hook is, "Triggered when a new merge request is created, an existing merge request was updated/merged/closed or a commit is added in the source branch."

[2017-01-28 10:52] hos7ein opened #492 "Filter branches by name"
## Issue

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.16.3
- **Jenkins version**: 2.32.1-1.1
- **Job type**: Filter branches by name

### Problem description

how can use "Filter branches by name " by gitlab plugin on jenkins?
when i write " */master,*/dev " on "Include" box,show me this massege :

http://s1.picofile.com/file/8284122976/gitlab.png

how can determination

[2017-01-30 11:25] samskiter opened #493 "Comment to trigger build triggers for all comments"
## Issue

We have our trigger set to build when we comment "ci retry" on a merge request, but EVERY comment seems to trigger a build, including checking text boxes or adding/removing the WIP label.

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.16.1
- **Jenkins version**: 2.32.1
- **Job type**: Pipeline

[2017-01-30 13:11] hos7ein commented on #492
hi
my problem is solved :)
in "Filter branches by name " box just must be write branch name whitout */
(master,dev)

[2017-01-30 16:55] crussell52 commented on #491
@omehegan Thanks for the updates. Under the gun for a release here, so I probably won't be able to circle back to this for a couple of days.

From what you are saying though, I'm not sure that this feature _can_ work based on these two points:

If I'm interpreting those statements right, it _sounds_ like we will need a change on the `GitLab` end.  And I'm not sure how they make that change in a BC

[2017-01-30 17:14] crussell52 opened #494 "Feature: Support Jenkins Credentials for "Secret Token""
Currently, the "Secret Token" has the following behavior:
  * Can only be randomly generated
  * Can not be viewed after Jenkins job is saved.
  * Is stored encoded/encrypted on disk

It would be nice if the plugin used the Jenkins Credential functionality.  This would allow re-use of secret tokens which is much easier to maintain. (e.g. A handful of entries in your password manager instead of a u

[2017-01-31 06:27] omehegan commented on #493
Please attach some logs, following the instructions in the User Support section of the README. That will help us see what exactly is triggering the builds.

[2017-01-31 06:27] #492 closed, assigned to nobody

[2017-01-31 08:14] JaniFuturemark commented on #417
Jenkins ver. 2.32.1
GitLab plugin ver. 1.4.4

Pipeline synxtax generator does not work so I am struggling when I am trying to add build trigger to jenkins file. An example would be awesome :)

[code]

[2017-01-31 09:14] AlexGreg commented on #489
Same issue here

[2017-01-31 11:30] JaniFuturemark commented on #417
Got it. Correct line was:

[code]

[2017-01-31 13:44] colourmeamused commented on #485
I am not sure the GitHub approach is the best as you would be loading unknown code from an external repo? You can get the same functionality with more safeguards with [Global Shared Libraries](https://jenkins.io/doc/book/pipeline/shared-libraries/#global-shared-libraries) or [Folder Level Shared Libraries](https://jenkins.io/doc/book/pipeline/shared-libraries/#folder-level-shared-libraries).

One

[2017-01-31 13:58] colourmeamused commented on #417
@JaniFuturemark #488 will make the syntax friendlier. Also included a basic example of a Jenkinsfile using the declarative syntax, more to follow!

You still need to take #475 into account though - you need to define all job properties as code the properties step.

[2017-02-01 13:28] KekSfabrik opened #495 "Multibranch Pipeline Jobs ignores ciSkip"
## Issue
Multibranch Pipelines ignore the ciSkip field and trigger themselves if they push changes back to GitLab

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.16.3 d225908
- **Jenkins version**: 2.32.1
- **Job type**: Multibranch Pipeline

### Logs & Traces

[code]
[code]

### Problem description
After the `git push` instruction a new Build is triggered which should be i

[2017-02-02 22:38] omehegan commented on #494
You should not need to create a separate token for every job. You CAN do that, but if you want a global token it is possible. See my notes in https://github.com/jenkinsci/gitlab-plugin/issues/418.

[2017-02-02 22:40] omehegan commented on #491
Yes, I'm not sure if this feature is currently working or not. I haven't had time to set myself up to test it. If you get a chance to capture some logs it will help give us a better idea of where to look.

[2017-02-02 22:53] omehegan commented on #487
Duplicated by #489 and we have a bit more detail there.

[2017-02-02 22:53] #487 closed, assigned to nobody

[2017-02-02 23:01] #482 closed, assigned to nobody

[2017-02-02 23:06] omehegan commented on #478
Duplicated by #489.

[2017-02-02 23:06] #478 closed, assigned to nobody

[2017-02-02 23:13] omehegan commented on #446
@trance1st yeah, I think you're right.

It would be easier for @kbthomp1 if he used a Pipeline job, then he would have the flexibility to do this the way he is trying to, both for manual and triggered runs.

[2017-02-02 23:17] omehegan commented on #495
@KekSfabrik there are a couple of other issues filed about ci-skip, which is making me think that our implementation of it has some bugs. But it's not a workflow I use and I don't have a lot of free time to test/reproduce things right now.

Can you confirm if a workflow similar to what you've described works with other job types, such as regular Pipeline or Freestyle?

[2017-02-02 23:22] omehegan commented on #462
@jmcgeheeiv that's really strange that you are getting this garbage in your commit status update attempt. I have no idea what could cause that :/  Can you tell me what version of Java you are running Jenkins under? I'm really grasping at straws here, but it seems like there is something unusual about your local environment.

[2017-02-02 23:26] omehegan commented on #474
@YanceyWang can you respond to my last comment, in the sense that I don't think GitLab should behave the way you are describing? I need to make sure I really understand the behavior you are seeing.

[2017-02-02 23:30] omehegan commented on #344
No traction on the issue on GitLab's side, I'm closing this. Someone can reopen if they really want to.

[2017-02-02 23:30] #344 closed, assigned to omorillo

[2017-02-02 23:33] omehegan commented on #490
Saying "current" doesn't help us a few months from now when we don't know what versions of this plugin or GitLab were "current" right now. Please include the specific versions you are using.

[2017-02-03 12:09] KekSfabrik commented on #495
@omehegan can confirm it works with "regular" `pipeline` job (with the same Jenkinsfile on the same repo) but not multibranch pipeline (haven't tested with a freestyle job but i'd guess that works aswell)

this shows up in jenkins.log:
[code]

[2017-02-04 06:52] abcfy2 opened #496 "How to clear the secure token in build triggers?"
![image](https://cloud.githubusercontent.com/assets/5327677/22616544/9710a6fe-eae9-11e6-95a0-ac0a8f69f16d.png)

I can't find the way to clear this secure token.

[2017-02-04 14:27] eriklogtenberg commented on #490
Gitlab version: gitlab-ce-8.15.5-ce.0.el7.x86_64
Jenkins version: jenkins-2.44-1.1.noarch
Gitlab plugin version: 1.4.4

[2017-02-04 15:30] Bconteh commented on #361
hello @klausbayrhammer  @coder-hugo,  I'm having exactly this problem in our jenkins job (pipeline) that always triggers if the assignee of the Merge Request changes. I'm trying to avoid that. I'm currently using Gitlab plugin v1.4.4.

Can you please guide me how to solve this issue. I understood you did solve yours and i was trying to follow your steps but i was unsuccessful.

[2017-02-06 12:59] mstyura commented on #491
Hi, @omehegan,
I've struggled with the same issue and can provide logs

Environment

Gitlab plugin version: 1.4.4
Gitlab version: 8.14.4
Jenkins version: 2.44
Job type: Pipeline

When merge request created:
[code]

When commit added to source branch - OK:
[code]

When commit added to target branch - Not OK, build is not triggered:
[code]

UPD: Looks like this code of Gitlab might be relevant to th

[2017-02-06 15:57] MartinNowak opened #497 "SNI extension for TLS not working"
## Issue

Connecting to gitlab via HTTPS/TLS does not support the SNI extension, hence doesn't work with multiple HTTPS/TLS applications on the same server.

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.16.4
- **Jenkins version**: 2.35

### Logs & Traces

[code]
[code]

### Problem description

Took me quite a while to debug why the connection to gitlab did not work, the

[2017-02-06 21:25] omehegan commented on #361
@BubacarrC this was a bug in the plugin that was fixed, so you should not need to do anything to have it work correctly. Can you please post:
- some details of how you have Git and the GitLab trigger configured in Jenkins
- what webhooks you have defined in GitLab
- some logs when a build is run after an assignee changes (see User Support section of the README)

Thanks!

[2017-02-06 22:11] omehegan commented on #496
Ooh. That is a bug! Thanks for noticing.

If you need to clear it, for now I suspect you are going to have to edit your job's config.xml on the filesystem to remove it, and then run 'Reload Configuration fro Disk' from the Manage Jenkins page.

[2017-02-07 02:25] abcfy2 commented on #496
Thanks.

[2017-02-07 13:54] wingedfox commented on #490
Have the same issue, +1
Gitlab: 8.16.3 d225908
Jenkins: 2.19.1
Gitlab plugin: 1.4.4

[2017-02-08 22:23] omehegan commented on #497
I built a snapshot release of the plugin which upgrades httpclient to 4.3.2. You can download it here: http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.4.5-SNAPSHOT/gitlab-plugin-1.4.5-20170208.215900-1.hpi  Can you please install this and see if it fixes your problem?

[2017-02-09 20:08] eriklogtenberg opened #498 "Need better error handling for 401 error from GitLab API"
### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: gitlab-ce-8.16.4-ce.0.el7.x86_64.rpm
- **Jenkins version**: jenkins-2.45-1.1.noarch

### Problem description

I tried to setup a GitLab Connection in the Jenkins Configuration. The plan is to use this connection to let jobs communicate build status back to GitLab. However, when I click "Test Connection" in the Jenkins Configurati

[2017-02-09 20:09] #474 closed, assigned to nobody

[2017-02-09 20:23] eriklogtenberg commented on #498
In /var/log/jenkins/jenkins.log it shows:

[code]

[2017-02-09 20:47] eriklogtenberg commented on #498
SOLVED:

In GitLab, when creating the API token, you can select two access types: "api" and "read_user". I thought Jenkins would need only "api", but it uses the /api/v3/user part of the API for the "Test Connection" feature, so it actually needs the "read_user" access too. Adding this fixed the issue.

So, I think this issue should really be about the gitlab-plugin handling the error more elegant

[2017-02-10 21:30] omehegan opened #499 "Consider implementing branch source functionality"
When using Jenkins with GitHub, it is now possible to create something called a 'GitHub org folder,' which is a 'smart folder' that monitors your entire GitHub org. Anytime a new repo is created in GitHub, with a branch that has a Jenkinsfile in it, Jenkins automatically creates a new Pipeline multibranch job and sets up appropriate triggers. This used to be called GitHub Org Folder, it's now call

[2017-02-10 21:42] kohsuke commented on #499
The plugin Owen linked implements everything that's necessary to make "GitLab org folder" work already. You can try it with `mvn hpi:run`.

What I'd like you guys to consider is whether we can "merge" two plugins by taking code in that repo and putting it here. From users' perspective I think it makes the most sense, because only a handful people in the world would be able to see the name "gitlab

[2017-02-10 21:52] omehegan commented on #499
@coder-hugo if you have a couple of minutes, can you refresh my memory about why we decided to stop using the java-gitlab-api library, and instead just implement our own access to GitLab? IIRC there was a bug or missing functionality in that library, and you concluded that it was pretty easy to just call it directly ourselves.

[2017-02-10 23:22] jharshman opened #500 "Feature Request: Build Log Snippet on MR Comment"
## Issue

### Context
- **Gitlab plugin version**: 1.4.0
- **Gitlab version**: 8.16.4
- **Jenkins version**: 1.17
- **Job type**: Any

### Problem description

On a Merge Request, particularly during a long build where multiple cases can fail the build, I would like to be able to have Jenkins include not only a comment with the build status, but also include a small formatted log snippet to highli

[2017-02-12 12:04] Bconteh commented on #361
@omehegan I have managed to change my build step in the "merge before build" and that solves the issue for me. Thanks for your assistance on the issue. :)

[2017-02-12 15:45] MartinJohns opened #501 "Gitlab plugin reports success on build failure"
## Issue
Gitlab plugin reports success on build failure

### Context
- **Gitlab plugin version**: 1.4.4 (latest)
- **Gitlab version**: 8.16.4-ee
- **Jenkins version**: 2.45 (latest)
- **Job type**: Pipeline

### Problem description

I want to configure Jenkins CI to run build and unit tests upon every merge request in our Gitlab environment. But the pipeline is always shown as success in Gitlab, e

[2017-02-13 09:41] hu-haibo opened #502 "Environment variables not support on postbuild with "Publish build status to GitLab commit (GitLab 8.1+ required)""
- gitlab 8.10.0
- jenkins 2.7.4
- jenkins gitlab plugin 1.4.4

I'm trying to use the variable "${JOB_NAME}", but has not been parsed.

jenkins job:
![61954b8cf3c6af7bc5f5764dd3e49bc1](https://cloud.githubusercontent.com/assets/10339929/22877822/266d7938-f212-11e6-9b6b-ff7f966c29b1.png)

gitlab build details:
![f2f9f1a874d8894d56b51f53c136050c](https://cloud.githubusercontent.com/assets/10339929/22

[2017-02-13 19:39] omehegan commented on #500
I think this feature request is probably outside the scope of our plugin. It's getting into providing an interface for the user to define this pattern we will match, and then scraping the logs after every build. This doesn't have anything to do with triggering builds and reporting basic status.

If you used Pipeline jobs, you could hack this together relatively easily with some Groovy or shell com

[2017-02-13 19:39] #500 closed, assigned to nobody

[2017-02-13 19:41] omehegan commented on #501
We discussed this in IRC. This was due to the fact that I merged the change to support Declarative Pipeline jobs, but did not yet release it. So @MartinJohns was attempting to use that because the README says it is supported. That release should be going out this week, in version 1.4.5 of the plugin.

[2017-02-13 19:41] #501 closed, assigned to nobody

[2017-02-13 19:42] omehegan commented on #501
See #488.

[2017-02-13 19:48] crussell52 commented on #494
Thanks @omehegan.

A couple of things... I'm not sure I love the idea of putting an API key (secret) into the URL of a webhook, since that becomes visible in the gitlab webhooks/integrations UI whereas secret tokens are not.  Maybe that's not a huge deals if permissions are set up properly on GitLab, but I generally consider displaying secrets anywhere to be less-than-ideal.

It also doesn't accou

[2017-02-13 19:49] crussell52 commented on #491
@mstyura Thank you so much for stepping in to provide the relevant logs for this!

[2017-02-13 21:13] #489 closed, assigned to nobody

[2017-02-13 21:21] omehegan commented on #502
Duplicate of https://github.com/jenkinsci/gitlab-plugin/issues/446 and there is an open PR to fix it.

[2017-02-13 21:21] #502 closed, assigned to nobody

[2017-02-13 21:22] omehegan commented on #497
@MartinNowak I would like to do a release soon and incorporate this fix if it works for you. Any chance you will have a chance to test this soon?

[2017-02-13 21:36] #493 closed, assigned to nobody

[2017-02-14 22:05] johnpbloch commented on #388
If you want to use an api token to clone the repository, here's how:

1. Create api token with `api` scope
2. Create username/password credential in jenkins. Your gitlab username (the account the token is for) is the username and the token is the PW
3. Make sure to use the `https` address, not `ssh`
4. Use the token credential you created earlier in the git configuration

[2017-02-14 22:42] jharshman commented on #500
Well, not all workflows conform easily into Pipeline workflows.  Furthermore, often in production ecosystems, builds are executed on Jenkins slaves with their logs being stored on the master.  Hacking together some groovy code to read this would need to execute on the master or have access to some sort of shared storage in order to read the log.

So the only solution would be __IF__ working with a

[2017-02-15 11:29] mhagnumdw commented on #487
Resolution issue #489 did not solve my problem. I ended up finding that the problem was the "Quiet Period" in Jenkins which by default is 5 seconds. I put it to 0 and the problem went away.

[2017-02-15 14:36] keirlawson opened #504 "Support reporting test coverage to gitlab merge requests"
Gitlab supports reporting test coverage through its merge request UI, and they have just exposed this functionality via their API: https://gitlab.com/gitlab-org/gitlab-ce/issues/27807

Would be great to have inbuilt support for deriving a test coverage figure from a jenkins job and updating gitlab accordingly

[2017-02-15 20:26] abohne opened #505 "Jenkins fails to add comments and votes on merge requests"
## Issue

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.15.2
- **Jenkins version**: 2.19.4
- **Job type**: Freestyle

### Problem description

Gitlab triggers a build of our project when a merge request is updated.  The build completes and should be posting a success/failure comment and up/down vote on that merge request.  The comment and vote and not showing up on the mer

[2017-02-16 09:00] hwdegroot opened #506 "GitlabCommitStatus throws error after force kill"
## Issue

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.15.3
- **Jenkins version**: 2.40
- **Job type**: Multibranch Pipeline

 ### Logs &  Traces

[code]

### Problem description
When a job that uses the plugin is killed, it will try to graceful terminate steps. But when the build is `forcibly killed`, the next time the build will fail on the [gitlabCommitstatus](#logs-tr

[2017-02-16 10:29] ghost commented on #451
I ended up finding that the problem was the "Quiet Period" in Jenkins which by default is 5 seconds. I put it to 1 and the problem went away. Described here: https://github.com/jenkinsci/gitlab-plugin/issues/487

[2017-02-17 10:33] asyncwise opened #507 "Retry on failed merge request"
## Issue
It's possible to be failed for building because of the reason regardless of commit, like timeout.
I couldn't find any way to retry for the failed building anywhere.
And I found this: https://gitlab.com/gitlab-org/gitlab-ce/issues/13738.
It looks there's a way to make it.

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: CE 8.16.4
- **Jenkins version**: 2.32.2
- **Job t

[2017-02-19 10:01] Joeylulu opened #509 "why gitlab-plugin 's advanced subomodule can't work together with Env Injector Plugin?"
## Issue

- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: 8.9.6
- **Jenkins version**: 2.7.4
- **Job type**: Freestyle,
- **Env Injector Plugin**:  1.92.1

### Logs & Traces
[code]

### Problem description

My Jenkins jobs always failed when i use Advanced sub-modules behaviors -> checked Recursively update submodules and Update tracking submodules to tip of branch.  when i canceled the f

[2017-02-21 12:27] pgeorgiev333 opened #511 "GitlabUpdateCommitStatus creates sometimes two builds in Gitlab"
### Before submitting an issue I have first:

- [x] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [x] searched for similar already existing issue

## Issue
Incorrect update of the gitlab commit from jenkins multibranch pipeline

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: GitLab Community Edition 8.11.2
- **Jenkins version**: 2.4.7

[2017-02-21 22:00] omehegan commented on #511
Can you give the correct version of the gitlab-plugin? There is no 3.05 version. 1.4.5 is the latest, released last week.

[2017-02-21 22:11] omehegan commented on #509
Anything you are configuring in the Git clone advanced behaviors is unrelated to the GitLab plugin. The GitLab plugin only triggers builds and sends status back to GitLab; the Git plugin handles cloning your repo. The stack trace in your error log does not reference this plugin at all. So the issue seems to be someplace else, most likely in the Git plugin. I would suggest opening a bug against tha

[2017-02-21 22:11] #509 closed, assigned to nobody

[2017-02-21 22:30] omehegan commented on #507
IMO this feature should not be implemented in the GitLab plugin. The appropriate places are either in GitLab itself, as in the issue you linked to (open feature request on their end), or in a separate Jenkins plugin, such as Naginator: https://plugins.jenkins.io/naginator

[2017-02-21 22:30] #507 closed, assigned to nobody

[2017-02-22 09:02] pgeorgiev333 commented on #511
Updated - it's 1.4.5

[2017-02-22 21:44] czoellin opened #512 "Merge request CI is repeated when pushing to branch with same suffix as targetBranch name"
## Issue
[code]

Seems to compare with `endsWith` probably to avoid having to deal with 'origin/' prefix?
Have not actually tried to fix this.

### Problem description

Basically title says it all.
We have several branches that have the suffix "_master" as well as an actual master branch.
Merge requests that target "master" are repeated, whenever anyone pushes to one of the "*_master" branches. Th

[2017-02-23 14:13] rroblik opened #513 "Trigger build remotely throw 404"
### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 2.47
- **Jenkins version**: 2.47
- **Job type**: Freestyle

### Logs & Traces

[code]

### Problem description

Hi all,

I try to manually trigger a job within a gitlab `post-receive` hook calling a simple shell script :
[code]

But as you can see in the log posted above... build status is success on Jenkins side, but the gitlab

[2017-02-23 22:30] omehegan commented on #511
Hmm. I haven't seen this reported before. I did just notice something about your Pipeline code snippet - you don't need to use the gitlabBuilds block if there is only one stage within the build that is going to send status to GitLab. You can simply wrap that one step of the build in the gitlabCommitStatus block. This is how I do my builds. I wonder if this might be causing a problem. If I'm unders

[2017-02-23 22:42] omehegan commented on #512
Interesting. Your theory about the cause seems plausible. Perhaps it would be better to use a regex here to strip off origin/. Would you like to attempt a fix?

[2017-02-23 23:00] omehegan commented on #513
First, I really don't recommend the practice of having one Jenkins job which builds code from many git repos. The best practice is to have a 1:1 mapping of jobs to repos (or possibly many:one if you want to build a few different things from one repo). In your case this post-receive trigger is not going to send the GitLab plugin any of the information it expects for the build, whereas if you use th

[2017-02-24 02:16] rroblik commented on #513
Thanks for answering !

My idea is to call a kind of wrapper Jenkins job that will in turn call a specific one, based on parameters (no parameter except token in my example).

But for now I need to know why plugin replace "/" by "%2F" ; I used "/" in git repository Jenkins configuration, as my repository is namespaced (‘username/projectname.git‘).

Nb : I try to use "manual" job triggering to add

[2017-02-24 07:51] czoellin commented on #512
After some more investigation, the comparison is actually against the `ref` field of the push object.
The value of that will usually be a git ref, like `refs/heads/master` for pushes to branches.
I think the proper solution is not to match anything, but testing for equality with `targetBranch` prepended by `refs/heads/`. `refs/heads/` is the only prefix that makes sense, because we do not care abo

[2017-02-24 11:36] pgeorgiev333 commented on #511
I removed and i still see the issue.  The difference is that now i do not see "running" on the overall commits page which is better. This is what i see now sometimes:
![gitlabcommitstatus2](https://cloud.githubusercontent.com/assets/16955574/23302154/3b6468c4-fa96-11e6-886b-bb7e069c52c7.png)

[2017-02-27 14:15] jgeorgeson commented on #490
This is working for me for Push events.

GitLab: 8.16.5
Jenkins: 2.47
GitLab Plugin: 1.4.4

The Web Hook URL has the job folder and name in it: http://server.example.com:8080/project/folder/job. I have not setup Merge Request events yet.

[2017-02-28 10:18] sgautrin commented on #489
I can confirm that after updating the plugin, it fixed the issue for me.

[2017-02-28 11:19] Bjoern-Hegstam commented on #489
I can also confirm that the update fixed our issue. Thank you very much!

[2017-02-28 11:42] Argelbargel commented on #499
Hi there,

i've begun to write a gitlab-branch-source-plugin inspired by the github-branch-source too - sorry, i started some weeks ago and then did not find kohsuke's plugin before or else i would have written earlier.

Just stumpled over this while looking for someone to contact about the same intent - wheter and how to merge the functionalities of both plugins as i am building on the gitlab-plu

[2017-02-28 18:53] omehegan commented on #513
I understand, but I maintain that it's not a good practice to use a wrapper Jenkins job to call all your other jobs. It just adds a level of indirection between GitLab and Jenkins which should not be necessary, and which is likely to limit you and/or cause problems.

It's not clear from your reply if the job works OK if you trigger it manually by clicking the button in the UI. If that works, and t

[2017-02-28 19:02] omehegan commented on #490
@jgeorgeson what type of job are you successfully able to trigger within folders?

[2017-02-28 19:18] omehegan commented on #499
@Argelbargel nice work getting started writing a plugin!

At a minimum, I would recommend that you use @kohsuke's work as the basis for your solution. That is, if you can make improvements to that codebase, please do that, rather than releasing another plugin that does the same thing. As a community we are trying to reduce the amount of duplication in the plugin ecosystem whenever possible.

In te

[2017-02-28 19:27] wingedfox commented on #490
I can confirm, upgrade to Jenkins 2.47 fixes the problem.
FreeStyle jobs are running pretty well now for all kind of events.

[2017-02-28 19:52] jgeorgeson commented on #490
@omehegan I have Pipeline (regular, not multibranch) jobs.

[2017-02-28 23:34] kohsuke commented on #499
Wow, @Argelbargel it's a great work! I just quickly skimmed over the code but I think your version looks more feature rich than my version. You've already good some hook support, icon, and so on.

I also got in touch with people from GitLab who's interested in helping. I'll write to you in email to figure out how to consolidate the effort and make introduction.

In the mean time, @omehegan, we hav

[2017-03-01 18:59] omehegan commented on #490
@eriklogtenberg can you verify that Jenkins 2.47 works for you with Multibranch jobs now?

[2017-03-02 07:44] czoellin opened #515 "Trigger for Open Merge Requests non-functional in pipeline jobs"
### Context
- **Gitlab plugin version**: 1.4.6
- **Gitlab version**: 8.16.1
- **Jenkins version**: 2.45
- **Job type**: Pipeline

### Problem Description

There is a "bug" in the OpenMergeRequestPushHookTriggerHandler. The handler assumes that the Job is an instance of the AbstractProject class.
[code]

However, apparently (I'm not an expert in Jenkins) pipeline/workflow jobs do not inherit from t

[2017-03-02 10:45] skobarx commented on #462
Hi all,
I have the same issue with multibranch pipeline project.
My jenkinsfile has the following code:
[code]

Everything works perfect in Freestyle project.

Gitlab plugin version: 1.4.5
Gitlab CE version: 8.16.6
Jenkins version: 2.48
Job type: Multibranch Pipeline

[2017-03-03 05:00] NagarajMasub opened #517 "Is it possible to filter branches by owner"
I am using gitlab in our company, we have number of branches,  I need to delete my own branches alone.

is it possible to filter the branches by owner? or created by me alone.

Thanks in advance.
Regards,
Nagaraj M.

[2017-03-03 06:53] jkdeveyra opened #518 "If BlueOcean is installed, build URL does not point to BlueOcean"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.4.3
- **Jenkins version**: 2.45
- **Job type**:  Multibranch Pipeline
- **BlueOcean version**: 1.0.0-b24

### Problem description

When I visit the build link in Gitlab:
![screen shot 2017-03-03 at 2 46 28 pm](https://cloud.githubusercontent.com/assets/570725/23541117/5238e392-0020-11e7-83f6-f3cc0bf5f345.png)

it poin

[2017-03-03 07:34] tomasbjerre opened #519 "[Question] Seeking maintainers?"
The readme says **[Seeking maintainers](https://github.com/jenkinsci/gitlab-plugin#seeking-maintainers)**, also the wiki says **[This plugin is up for adoption](https://wiki.jenkins-ci.org/display/JENKINS/GitLab+Plugin)**.

But I've also seen [this thread](https://groups.google.com/forum/#!searchin/jenkinsci-dev/gitlab$20plugin%7Csort:relevance/jenkinsci-dev/7A7MRbVkePg/6EDXy9kyFQAJ) that sounds l

[2017-03-03 13:53] jgeorgeson commented on #474
It's not so much a bug in GitLab as a poorly worded description of the setting. I have an issue open with them \[[link](https://gitlab.com/gitlab-org/gitlab-ce/issues/24495)\] to provide an option to require a build rather than the lack of a failed build.

[2017-03-03 14:16] jgeorgeson commented on #515
(not a project member) What versions are you using? I am running with these versions

Jenkins: 2.47
GitLab CE: 8.16.5
GitLab Jenkins Plugin: 1.4.5

In my environment I found that with a single Job that is configured to trigger on both Push and Merge Request events, and a GitLab Web Hook configured to send on both events, a push to the source branch of an open MR resulted in two builds being run.

[2017-03-05 07:59] czoellin commented on #515
@jgeorgeson seems unrelated to this issue. Is this a bug report for my PR?

Don't have access to the exact version numbers right now. But only the gitlab plugin is the very latest version.

[2017-03-05 17:12] czoellin opened #520 "Status pending build status not available for pipeline jobs"
### Context
- **Gitlab plugin version**: 1.4.6
- **Gitlab version**: 8.16.1
- **Jenkins version**: 2.45
- **Job type**: Pipeline

### Problem Description

The immediate pending status is hard-coded to reference the gitlab build status publisher.
However, the publisher cannot be added for pipeline jobs when the pipeline is from a file in the repository.

For merge request jobs, it would be nice to

[2017-03-06 10:02] marslo opened #521 "NullPointerException shows in gitlab-plugin 1.4.5 (fresh install)"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.15.4
- **Jenkins version**: 2.32.3 LTS (+ LDAP Credential)
- **Job type**: Freestyle
- I've already read the issue #473, but this Jenkins and the plugin was installed just a couple of days before. The plugin is installed directly, not upgrade from `1.1.x`

### Logs & Traces

_Please include any relevant log that could

[2017-03-06 10:22] marslo commented on #521
From the `http://<JENKINS_URL>/log/gitlab-jenkins.log`, looks it's stuck at the LDAP certification? `USER001.MY.COMPANY.COM:8080` is the our LDAP server. But, normally, we are using the LDAP server without port `8080`.

[2017-03-06 20:10] tanveer-ali opened #522 "gitlabCommitStatus having failed to update bad request for freestyle / pipeline projects"
## Issue

### Context
- **Gitlab plugin version**: 1.45
- **Gitlab version**: 8.17.2-ee
- **Jenkins version**: 2.32.3
- **Job type**: Pipeline, Freestyle, Matrix, etc.

### Logs & Traces

Failed to update Gitlab commit status for project 'xxx': HTTP 400 Bad Request

### Problem description
I have a private repository on https://gitlab.com. When trying to use following in jenkins pipeline file
[cod

[2017-03-07 00:03] kohsuke commented on #499
As discussed with @Argelbargel and @omehegan , the merged effort is in https://github.com/jenkinsci/gitlab-plugin/tree/branch-source

Right now, I just joined two codebase and made it to compile.

The plan is for @Argelbargel to lead the effort to massage the branch source part further so that it can sit nicely together with the rest of the gitlab plugin. I'm going to pull in a few more people I'v

[2017-03-07 16:42] johnzeringue commented on #430
I was having similar issues when I found [this](https://issues.jenkins-ci.org/browse/JENKINS-41515).  Uninstalling the JaCoCo plugin seems to have resolved it for me.

[2017-03-08 07:46] pgeorgiev333 commented on #430
Thanks. I added a note on the jacoco defect and I'll uninstall the plugin on my side to check (i do not use it at the moment anyway)

[2017-03-08 17:17] jglick commented on #430
When calling JAXP methods, always set the `Thread.contextClassLoader` to a known value like `ThisClass.class.getClassLoader()` (then reset in a `finally`-block).

[2017-03-09 00:05] omehegan commented on #519
@tomasbjerre my apologies, normally I try to respond to PRs and issues within a couple of days, but I've been busier than usual lately.

@trance1st and @colourmeamused have been made maintainers, but I am still open to the idea of getting more people involved (I have not heard a lot from them yet, presumably they are busy with other things!). So that's why I haven't yet removed the wiki and doc en

[2017-03-09 13:52] titilambert commented on #299
Hello, I'm using Gitlab plugin 1.4.5 with Jenkins 2.32.2 and I have this issue. Sometimes Gitlab build trigger config becomes empty...

[2017-03-09 21:18] MartinNowak commented on #497
No, unfortunately the requests still don't seem to support SNI.

[2017-03-10 19:59] coder-hugo commented on #497
IIRC to use SNI with resteasy you have to upgrade to version 3.1.0.Final of resteasy.

[2017-03-10 23:55] omehegan commented on #497
RestEasy > 3.0.19 requires JDK 1.8, and I don't think it's a good idea to break 1.7 support for the plugin yet. Jenkins still officially supports 1.7, though not for much longer I don't think. But from reading the RestEasy bug @MartinNowak linked to, I think 3.0.19 may be good enough to fix this. I have built a new snapshot of the plugin with resteasy 3.0.19.Final and httpclient 4.3.2. Let me know

[2017-03-10 23:58] omehegan commented on #299
@titilambert this issue only happened when upgrading the plugin, not just at random. If you are seeing random unexpected changes to job configuration, I have to guess that it's not a plugin bug. But please open a separate issue for that.

[2017-03-11 00:11] omehegan commented on #521
This looks mostly like a GitLab issue - it is returning a 504 for our requests. I don't really know why that would be. I would check the GitLab server logs and see if there is any more information there.

We should probably handle this case more gracefully though.

[2017-03-11 00:14] omehegan commented on #520
@czoellin a PR would be good, I don't fully understand the problem as you describe it. Maybe we can make your fix less hacky with some review :)

[2017-03-11 00:38] omehegan commented on #518
Well, I can see why. The plugin tells GitLab what the URL should be to refer back to the build. The Blue Ocean URL is going to be different. And given that a user can switch in and out of the Blue Ocean view at will, I don't see a great way to change this. Just detecting that you have the plugin installed does not necessarily mean that you are using it in all cases. It's still in beta because not

[2017-03-11 00:40] omehegan commented on #517
This sounds like a GitLab question, not a question about the Jenkins plugin. Deleting branches is just a matter of Git usage. Please explain further if you think I am misunderstanding.

[2017-03-11 00:40] #517 closed, assigned to nobody

[2017-03-13 09:34] pgeorgiev333 opened #523 "Build result sent to Pipeline library repo instead of project repo after upgrading workflow-multibranch-plugin to 2.13"
## Issue

https://issues.jenkins-ci.org/browse/JENKINS-42535

This is the issue i submitted for the multibranch plugin. Unfortunately no one has commented on it.

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.11.2 (community edition)
- **Jenkins version**: 2.32.3
- **Job type**: Multi-Branch Pipeline

### Logs & Traces

[code]

### Problem description

This is the link to

[2017-03-13 14:00] jgeorgeson commented on #417
I would like to see this coupled with a plain API-like documentation of available pipeline methods/objects (both scripted and declarative).

[2017-03-13 20:01] omehegan commented on #417
@jgeorgeson what would be an example of "API-like" documentation? All these doc issues are something I plan to address soon.

[2017-03-13 20:29] jgeorgeson commented on #417
javadoc-like listing of the methods that I can call in my jenkinsfile. I'm finding this is the case with pipeline-enabled plugins in general so I can't link to some other plugin's documentation for reference. It seems like the _Pipeline syntax_ generator is intended to be how you find out what is available to use. However I find it to be a bit clunky as it doesn't tell me anything about the genera

[2017-03-14 04:21] i386 commented on #518
@omehegan I filed a PR for this but I am not sure if I found all the right places. Should be enough to go on if you want to continue :)

[2017-03-14 08:01] valeryq commented on #461
Hello guys. Have you found an active maintainer for add this feature?
It's a very necessary feature, because GitLab team doesn't want develop Webhook for separate GitLab CI pipeline status.
@omehegan

[2017-03-14 11:58] chizmeeple commented on #523
I believe we are seeing similar behaviour in our setup.

We had working jenkins->gitlab notifications for build.commit status.

This week we've been trying to work out why we're not seeing any updates, and looking at the logs we are (also) seeing:

[code]

We've tried scoping at all various levels.
We've tried the newer `pipeline { ... }` syntax.

Nothing.

The *only* time we see the _correct_ req

[2017-03-14 12:20] chizmeeple commented on #523
Downgraded to `2.12`.
Correct URI seen in gitlab's nginx logs.

[2017-03-14 12:21] chizmeeple commented on #523
[code]

[2017-03-14 18:23] jmcgeheeiv commented on #462
Sorry for the long silence.  I downgraded to GitLab Plugin version 1.3.0 as suggested by @Bessonov, but the problem remains:
[code]
Some day maybe I can bring this up in a debugger and see what is going on.

[2017-03-14 18:38] jmcgeheeiv commented on #462
@omehegan, you asked about my Java version.  I was surprised to find that it is OpenJDK, not Oracle Java:
[code]
**Should I be using a different Java, like Oracle Java?**

For reference, I used the following methodology to make sure that `/usr/bin/java` really is the Java that Jenkins is using:
[code]

[2017-03-14 22:47] omehegan commented on #461
@trance1st @colourmeamused do you have any interest in looking at this?

[2017-03-14 22:50] omehegan commented on #462
No, OpenJDK should be fine. I use it. I'm sorry that I don't have any other ideas about this :(

[2017-03-15 00:06] colourmeamused commented on #461
Hi,
Sorry I have been out of action Back now and will have time later this week
to look at this one and other pull requests, just assign me as reviewer for
The ones I should look at first.
Cheers,
Abir aka  @colourmeamused <https://github.com/colourmeamused>
On Wed, 15 Mar 2017 at 9:47 am, Owen Mehegan <notifications@github.com>
wrote:

[2017-03-15 14:34] Bjoern-Hegstam opened #525 "Wrong target_url for pending status when parallell builds are queued"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.17.2-ee
- **Jenkins version**: 1.650
- **Job type**: Maven project

### Logs & Traces
Creation of pending commit status. The target_url does not point to the build that actually built branch-A later. That was in fact done by build 680.
[code]

Creation of running commit status. Same target_url, but different commit an

[2017-03-15 15:09] 0megam commented on #523
~~Downgrade doesn't help. Still having same issue. gitLab plugin trying to update commit in @Library git repo. GitLab plugin 1.4.5, Pipeline Multibranch 2.12~~
Update: Downgrading works.

[2017-03-15 20:11] abhisku commented on #433
I am facing the same issue. Does your answer means that I have to create a member in GitLab with name Jenkins ?

[2017-03-15 20:57] jlabonski opened #526 "@Library pipeline jobs post build statuses to the library repo, not the job repo"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.17.2
- **Jenkins version**: 2.49
- **Job type**: Pipeline

### Logs & Traces

I have to sanitize logs. Project in question is in gitlab as XXX/dispatch, in jenkins as XXX/dispatch. Jenkins library is XXX/jenkins-library

    WebHook called with url: /project/XXX/dispatch
    Notify scmSourceOwner dispatch about change

[2017-03-16 07:28] pgeorgiev333 commented on #523
Downgrading works for me. However after doing this my git changelog got messed up (each build reports some of the old commits as new changes...) and i just delete the mulribranch pipeline and re-created it. But with Multibranch 2.12 my gitlab is updated correctly.

[2017-03-16 11:45] jlabonski commented on #526
Duplicate of #523?

[2017-03-17 18:24] Zava2012 opened #527 "Filter branches by name and label failing with 404"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.17.3
- **Jenkins version**: 2.50
- **Job type**: Freestyle

### Logs & Traces

Jenkins System Log:
[code]

### Problem description

Good evening everyone!
I apologize in advance for my bad English and the completion of this issue, because this is my first issue for the whole time.

The bug is that the plugin does not

[2017-03-17 23:24] omehegan commented on #525
Sounds like a possible bug.

[2017-03-17 23:26] omehegan commented on #433
It does not have to be a user named Jenkins, but you must create a user in GitLab, give that user access to your projects, and configure the Jenkins plugin accordingly. This is documented here: https://github.com/jenkinsci/gitlab-plugin#configuring-access-to-gitlab

[2017-03-20 05:50] pcornelissen commented on #523
I have the same problem. I'm also using the multibranch jenkinspipeline plugin and in the production log I see things like:

[code]

I have found no way to provide the correct gitlab project somewhere. I tried
`properties([gitLabConnection('gitlab'), [$class: 'GitlabLogoProperty', repositoryName: "${params.GITLAB_PROJECT}/${params.GITLAB_NAME}"]])`

But I'm having trouble to define the project and

[2017-03-20 08:50] pgeorgiev333 commented on #526
Looks like its duplicate of my defect #523

[2017-03-20 16:14] abhisku commented on #433
Thanks for your reply. It is working for me. There was some issue with the permission.

[2017-03-21 03:09] jgeorgeson commented on #490
Adding another working combination that's working for me:

Jenkins 2.32.3
Plugin 1.4.5
GitLab 8.16.7
Standard Pipeline job.

[2017-03-21 08:52] valeryq commented on #461
@colourmeamused Can you develop this? Or only review?

[2017-03-21 09:52] josemalonsom opened #528 "Gitlab plugin reports success on build failure"
## Issue

The plugin always show success in Gitlab even when the job has failed.

**Jenkinsfile**:
[code]

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.12.9 and 8.15.8
- **Jenkins version**: 2.32.3
- **Job type**: Pipeline and Multibranch pipeline.

### Logs & Traces

**Jenkins job output**:

[code]

**Gitlab plugin log**:

[code]

### Problem description

I have a pipeli

[2017-03-22 13:42] mreichel commented on #486
Unfortunately the support seems to be for internal ci only. There is no upload api for consumer clients.

[2017-03-23 03:09] mstg commented on #528
Hello! I had the same problem recently. The solution is very easy.
First of all, remove `gitlabCommitStatus(name: 'jenkins')` from `options`, then add this anywhere after the top `pipeline` declaration
[code]

This will mark your commits accordingly. Hope this helps!

[2017-03-23 06:31] ghongadi commented on #177
@mbenalaya: You mentioned that, Jenkins builds status is showing in Merge Request and commits page.

Can you please let me know the step to configure the same.

I enabled the Gitlab -Jenkins integration, So when there is push event/Merge event Jenkins job is getting triggered but Jenkins build status is not displaying in Gitlab.

Can you please help.

[2017-03-23 07:10] josemalonsom commented on #528
@mstg it works! Thank you very much.

But, before I close the issue: it is supposed to work like that or it's a bug?, the status is set when the job is done so I would expect that the status were set accordingly.

[2017-03-23 07:15] mstg commented on #528
@josemalonsom I think it may be a bug. As it is supposed to update with the correct status ([Ref](https://github.com/jenkinsci/gitlab-plugin/blob/ca319691110c3aa7a6d9ece9d3883a0be8fdfe07/src/main/java/com/dabsquared/gitlabjenkins/workflow/GitLabCommitStatusStep.java#L118))

If you have several steps for build etc., it just marked as passed immediately for me, but using `post` and `updateGitlabComm

[2017-03-23 07:30] josemalonsom commented on #528
@mstg Ok. I'll use your workaround, it is very helpful, but I'll keep the issue open. Thank you :)

[2017-03-23 07:44] marslo commented on #521
Thanks @omehegan, if you need any logs or something, I can help.

[2017-03-23 08:41] binarious opened #530 "Support API v4 (v3 is deprecated)"
GitLab has deprecated the API version which is [used by this plugin](https://github.com/jenkinsci/gitlab-plugin/blob/3ea5fad7c5df4e88940ba9e67828a938db1a98a2/src/main/java/com/dabsquared/gitlabjenkins/gitlab/api/GitLabApi.java#L28):

https://about.gitlab.com/2017/03/22/gitlab-9-0-released/

It should be upgraded to support v4.

[2017-03-23 09:18] stefanandres opened #531 "Current git plugin throws 'Failed to update Gitlab commit status: No (git-plugin) BuildData associated to current build' for gitlabCommitStatus"
## Issue

### Context
- gitlab-plugin 1.4.5
- gitlab 8.16.8
- jenkins 2.52
- Multibranch Pipeline

### Problem description

When using a job with gitlabCommitStatus(...) the initial status cannot be sent to gitlab because of the error Failed to update Gitlab commit status: No (git-plugin) BuildData associated to current build`. It is able to send the final result of the job to gitlab though.

This

[2017-03-23 12:01] berni2288 commented on #386
Maybe it's in Gitlab 9.0.0 now that just got released...

[2017-03-23 13:49] Restage commented on #521
@omehegan I've got the same problem and no influence on the used GitLab version. Do you have any suggestions for a workaround?

[2017-03-23 14:34] marslo commented on #521
Hi @omehegan, I've upgraded the Gitlab to the latest version `9.0.0`. However, this issue still exists.
I've check the Gitlab, and found something, maybe related with this issue. The **Jenkins CI** cannot be found in _Project_ -> **Settings** -> **Integrations** -> **Project services**. And, it's actually introduced in [gitlab official website](https://docs.gitlab.com/ee/integration/jenkins.html#j

[2017-03-23 14:43] marslo commented on #521
@Restage, right now, I'm using the [webhook function](http://pww.gitlab.cdi.philips.com/help/user/project/integrations/webhooks) in Gitlab Project Settings. And setup `Authentication Token` in Jenkins `Trigger builds remotely`. It's kind of annoying, you have to setup webhook for each Project independently. And if there's something changed, you have to setup webhook URL again (e.g. with parameter

[2017-03-23 18:33] omehegan commented on #531
@stefanandres that's interesting, I haven't heard of this issue before. Do you think it's possible you were affected by this: https://jenkins.io/blog/2017/01/17/scm-api-2/ Have you tested with later 3.0.x versions of the Git plugin? The last was 3.0.5.

@markewaite do you have any guesses about what might cause this problem with the latest version of the Git plugin? Looks like a bad interaction be

[2017-03-23 19:48] csbuild-c7ks7s commented on #388
https://issues.jenkins-ci.org/browse/JENKINS-36863 This issue is closed but I am able to reproduce it in 2.19.4 Jenkins w/ Plain Credentials plugin installed trying to setup an ssh key in the github global configuration. Any idea when this might be addressed ?

[2017-03-23 21:00] MarkEWaite commented on #531
I'm not aware of any functionally interesting changes in the git plugin BuildData handling between git plugin 3.0.1 and git plugin 3.1.0.

I ran a comparison between those two tags and saw only the addition of a warning message in cases where BuildData risks becoming unwieldy.  However, it is just a logged warning message, not anything which should change behavior.

[2017-03-23 22:31] omehegan commented on #521
I don't think this is necessarily a bug in GitLab or in the plugin. It looks like a GitLab configuration issue. I would try using `sudo gitlab-ctl tail` to observe the GitLab logs when it is returning a 403 to Jenkins. That may shed some light on why it is doing that.

[2017-03-23 22:36] omehegan commented on #528
I'm not using Declarative yet so I'm not sure whether this is a bug or not. @colourmeamused since you added the Declarative support, can you take a look at this issue and let us know what the expected workflow is?

[2017-03-23 22:40] omehegan commented on #388
@csbuild-c7ks7s github? This is the GitLab plugin...

[2017-03-23 23:00] omehegan commented on #531
@MarkEWaite thanks for checking!

@stefanandres can you do some more debugging to try and isolate this? There's only one place in the code where we log this exact message, catching one of three possible exceptions. I wonder if your Jenkins log would show some more detail.

[2017-03-23 23:02] omehegan commented on #490
Closing as seems to be resolved for others.

[2017-03-23 23:02] #490 closed, assigned to nobody

[2017-03-23 23:09] #526 closed, assigned to nobody

[2017-03-24 18:35] omehegan commented on #486
@mreichel I talked to @dblessing from GitLab about this, he thinks it would be possible for us to hook into this feature of GitLab. After Jenkins builds and reports the result to GitLab, GitLab creates an internal build ID. By querying for that ID, we can then use that to attach files.

[2017-03-27 05:08] tomasbjerre commented on #530
I would suggest moving to [java-gitlab-api](https://github.com/timols/java-gitlab-api) to support this.

https://github.com/timols/java-gitlab-api/issues/201

[2017-03-27 08:20] mreichel commented on #486
Ok, great. I take a look on it.

[2017-03-27 08:40] stefanandres commented on #531
Thansk for the quick replies! The jenkins.log didn't show any errors. I've even upgraded _all_ plugins to their recent version. (and also updated jenkins to the recent version)

I'll get to that issue again in a week or so. I'll leave it with the 3.0.1 release for so long as this is currently working.

[2017-03-27 12:23] Mistu3 opened #533 "Problem accessing /project/Jenkins_Project_name/. Reason: 404"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.17 CE
- **Jenkins version**: 2.32.3
- **Job type**:  Freestyle

### Logs & Traces

mar 27, 2017 2:05:07 PM INFO com.dabsquared.gitlabjenkins.webhook.GitLabWebHook getDynamic
WebHook called with url: /project/Jenkins_Project_name/
mar 27, 2017 2:05:07 PM FINE com.dabsquared.gitlabjenkins.webhook.ActionResolver
Unknown

[2017-03-27 20:33] omehegan commented on #530
There was a reason that we moved away from that API library, @coder-hugo would have to refresh my memory about what it was.

[2017-03-27 20:45] omehegan commented on #533
Did you use the literal string 'jenkins_project_name' in your webhook, rather than the actual name of the Jenkins job you want to build?

[2017-03-27 22:21] Mistu3 commented on #533
Yes Thats it when i change project for job i am in right project .

[2017-03-28 04:04] nerffei commented on #492
@hos7ein  i can't understand what you say,  I got the same problem. I have tried /*(master) , (master), master. there are not work :(

[2017-03-28 10:09] marslo commented on #521
Hi @omehegan, is there any workaround to fix it?
Thanks.

[2017-03-29 06:01] josemalonsom commented on #527
Same problem here.

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.15.8
- **Jenkins version**: 2.32.3
- **Job type**: Pipeline

[2017-03-29 09:09] mreichel commented on #486
@dblessing If I understand it correctly, I get the internal build ID back, when I set the commit status (for example). But I still need to authenticate against the internal build API with the CI_BUILD_TOKEN   to post the attachments (that does not work for me at the moment). Is that correct? Or is there a way to use the API token?

[2017-03-29 09:16] mreichel commented on #504
The feature is available in the Gitlab v4 API. To derive true test coverage one needs to use something like the Cobertura plugin. Jenkins has a so called health state (when you publish JUnit test results) that you can configure yourself. Would that be a option?

[2017-03-31 10:28] mreichel commented on #390
@omehegan Ok, there is already a merge request out there. What's the state with the reviews? I could review it otherwise

[2017-03-31 12:41] marius-balteanu commented on #523
Same problem here using Jenkins Multibranch 2.14 and GitLab plugin 1.4.5.

[2017-03-31 16:22] stchar commented on #485
Personally I think `workflow-cps-global-lib-plugin` is awesome.

So I created my first jenkins shared lib just to wrap some common stuff

[code]

In my pipeline I call it with just a simple closure
[code]

It worked fine however gitlab plugin lost gitlab connection context
[code]

[2017-03-31 16:24] stchar commented on #485
I would be glad to fix it. However I'm not sure where should I start.

[2017-04-01 11:08] marius-balteanu commented on #523
I can confirm that downgrading the Multibranch plugin to 2.12 fixes the issue.

[2017-04-03 08:50] mtyurt commented on #506
Same problem with Gitlab plugin version 1.4.5 and Jenkins version 2.45

[2017-04-03 13:07] jurriaanpro commented on #528
@mstg This does indeed partly fix the issue, but doing this disables the ability to see statuses like pending, building etc. which is (I believe) enabled by having the `gitlabCommitStatus(name: 'jenkins')` in `options`.

Having both of them (in `options` and `post`) makes it add multiple build statuses to Gitlab, so that sadly doesn't fix that.

![image](https://cloud.githubusercontent.com/assets/

[2017-04-04 08:31] ehaselwanter opened #534 "Feature Request: Make config more approachable from groovy"
Hi there. First of all thanks for the improvements in this plugin.
I'm automating Jenkins deployments and I would like to have an idempotent way of updating the gitlab connections.

It would be great if there were a `create_or_update` for connections.

Here is a workaround for such a thing. One of the issues is, that a connection object can not be updated but has to be deleted and re-added with ne

[2017-04-04 09:24] mfrister opened #535 "Reports status to wrong commit when receiving two pushes within short timeframe"
### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.0.2-ee
- **Jenkins version**: 1.609.3
- **Job type**: Freestyle

### Logs & Traces

Please see https://gist.github.com/meeee/4f939434812c75d42ba127b6bed99b82

### Problem description

I'm using the Gitlab API to automatically create a branch and make a commit on the branch, which both happens within a few seconds (< 3 seconds).

[2017-04-06 10:26] hemanthsridhar commented on #443
@omehegan : Issue exists after I add the api token. The api token does not appear in the dropdown.
Jenkins version : 2.45

[2017-04-07 09:36] Yura-Savchuk commented on #533
I have the same issue. I am just select checkbox "Build when a change is pushed to GitLab. GitLab CI Service URL: http://my.domain/project/SuperAvia" in setting section for an jenkins job. I am sure that I config job correctly because another Build Triggers works well. When I go to the http://my.domain/project/SuperAvia it return:

HTTP ERROR 404
Problem accessing /project/SuperAvia. Reason:
    N

[2017-04-07 21:09] jeremymasters commented on #522
looks like you closed this, but how did you solve it? I'm running into the same thing.

[2017-04-11 21:27] omehegan commented on #390
@mreichel if you want to review that PR, that would be great :)

[2017-04-12 07:14] hubermi commented on #523
Same problem here with Multibranch 2.14 and Gitlab plugin 1.4.5

Using a shared library that is configured to load implicit in jenkins global configuration

[2017-04-12 07:57] ehaselwanter opened #536 "withCredentials in pipeline not supported"
## Issue

`withCredentials` in pipelines is not supported with custom secrets type

[code]

### Context
- **Gitlab plugin version**: 1.4.5
- **Jenkins version**: 2.46.1
- **Job type**: Pipeline

### Logs & Traces

[code]

### Problem description

I tried to do re-use the Token for some custom API steps. Which actually works. Just not with the custom credentials type.

current workaround is to add

[2017-04-12 15:47] nisaea commented on #536
Hi, think I have the same issue, but I'm not sure how to access the error logs to make sure of it (I can't even ssh on the machine running Jenkins). In my case, the tokens that are available in the "Configure System" page don't show up in the Pipeline configuration page. Only a username/password credential that is unrelated shows up. Could you please help me determine if this is the same issue? Th

[2017-04-12 17:17] omehegan commented on #534
Just to make sure I understand correctly: you're wanting to use this as part of an automation process for setting up new Jenkins instances and/or managing the configuration of running instances?

[2017-04-13 08:14] ehaselwanter commented on #534
yes. at the moment the only way to change a connection (e.g. token-id, timeouts) is to delete the connection and re-add a new one. I'm not so sure about the side effects of this.

[2017-04-14 15:48] ottochiu commented on #462
Are there any updates to this issue? I ran into this exact same problem and ended up writing scripts to make API calls to Gitlab at each stage.

[2017-04-15 11:55] alex-harvey-z3q opened #537 "Word missing in README?"
In section [Git configuration for Freestyle jobs](
https://github.com/jenkinsci/gitlab-plugin/blob/master/README.md#git-configuration-for-freestyle-jobs) is there a word missing here:

I do not understand what this wants me to put in the Refspec?

[2017-04-17 08:10] Zaccc123 commented on #528
Verified that this is a problem for me as well. Having it in `options` like the readme will always return `success` even when job `failed.

I am using @mstg suggestion.

However to have the `pending` status, i modified it to have this in the first step of my `build` stage. This would show pending on `gitlab`. This might work for you as well @broodzak
[code]

[2017-04-17 11:30] hos7ein commented on #492
@Pipikachu look at the below picture :
http://s9.picofile.com/file/8292321584/git_branch.png

[2017-04-18 06:56] avonengel opened #538 "Cannot update commit-status of project in subgroup"
## Issue: commit-status update fails if project is located in subgroup

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.0.5-ee
- **Jenkins version**: 2.7.2
- **Job type**: multibranch pipeline

### Logs & Traces

Added Jenkins logger for `com.dabsquared.gitlabjenkins`, level `ALL`. Replaced host and group names with `on.premises`, `groupname`, `subgroupname`, `projectname`:

[2017-04-18 09:16] #390 closed, assigned to mreichel

[2017-04-18 21:49] adityosnrost commented on #390
Hi,

I would like to know how to configure this on my Jenkins ? I am also need to build after the merge request is accepted. I am new with Jenkins things. It would be great to know about how to do it step by step.

Thanks

[2017-04-19 07:19] mreichel commented on #390
@adityosnrost the current version of the plugin can trigger a build, after a merge request is accepted/merged because a push event will happen. If that's what you want, you can take a look at the [Readme file](https://github.com/jenkinsci/gitlab-plugin#configuring-access-to-gitlab), where the configuration is explained in detail and hopefully serves well as a step by step introduction.

The new fe

[2017-04-19 08:19] marslo commented on #521
Hi @omehengan,

Well.... I 'fixed' this issue. Maybe it's not a issue actually.

Here is my situation:
Due to the company network environment, the Jenkins has been setup the proxy in **Manage Jenkins** -> **Manage Plugins** -> **Advanced** -> **HTTP Proxy Configuration** (http://<jenkins.url>/pluginManager/advanced). And somehow this proxy server has connect problem with gitlab server, even Jenkin

[2017-04-19 13:12] marslo opened #539 "ERROR: Couldn't find any revision to build. Verify the repository and branch configuration for this job (${gitlabSourceBranch}^{commit} #timeout=10)"
[code]

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.0.5
- **Jenkins version**: 2.46.1
- **Job type**: Freestyle

### Logs & Traces
No log shows up

### Problem description

_Describe your problem in a meaningful way_:
- what were you doing
Following the [Jenkins Job Configuration in Readme](https://github.com/jenkinsci/gitlab-plugin#jenkins-job-configuration) and [Wiki -

[2017-04-19 13:21] marslo commented on #539
As soon as the **Branches to build** -> Branch Specifier (blank for 'any'): `origin/${gitlabSourceBranch}` changed to `*/master`:
![jks-7](https://cloud.githubusercontent.com/assets/5822057/25182067/1199b906-2546-11e7-85c1-aeb2b0a135b5.png)

Job build works:
![jks-6](https://cloud.githubusercontent.com/assets/5822057/25182001/d91d383c-2545-11e7-9417-80473a9dc782.png)

[2017-04-20 03:48] adityosnrost commented on #390
Hello,

@mreichel Thanks for your reply. So, basically for this version, I just listen to push event on the targeted merge branch, right ?

[2017-04-20 05:02] mreichel commented on #390
@adityosnrost Yes, that should work. The build will be triggered once the pull requests is merged/pushed onto the target branch.

[2017-04-20 14:37] legshort commented on #375
You can set **Secret Token** as well and I think this method is better than two other options since no credential exposed or no too open policy.

#### Create Jenkins Secret Token
![jenkins_token](https://cloud.githubusercontent.com/assets/4326608/25236143/816648d6-25bd-11e7-937c-70db94c78ab2.png)

#### Use the Secret Token at Gitlab
![gitlab_token](https://cloud.githubusercontent.com/assets/432660

[2017-04-21 14:53] mreichel commented on #461
Can you take a look at my PR @colourmeamused ?

[2017-04-23 22:42] daniel-beck commented on #427
@omehegan

Sorry, drowned in GH notifications.

Have a `Boolean` (uppercase, i.e. nullable) field that's `true` by default, but gets set to `false` in `readResolve` if it's `null` (or the other way around). Databind a form field to it, and done.

The reason this works is that an instance of your persisted descriptor (or whatever you have) gets loaded on startup, going through `readResolve` rather

[2017-04-24 07:53] 0megam commented on #523
It's impossible to use latest Blue Ocean with gitlab and multibranch plugins. It requires Multibranch 2.14 or later  ;``(

[2017-04-24 10:45] AnatolyRugalev commented on #477
I have exactly same problem with Pipeline job. Any plans on this issue?

[2017-04-24 13:45] marslo commented on #539
Can anyone help me?

[2017-04-24 18:14] teeks99 opened #541 "Feature Request: Declaritive trigger for notes (in merge requests)"
## Issue
When running a freestyle build, this plugin provides a field titled "Comment for triggering a build" that consumes the notes in a merge request and, if they match the provided regex, starts a new jenkins build against the same commit.

There doesn't appear to be the same feature in the pipeline declarative syntax (unless I'm missing it...if so then this issue could be re-directed to simpl

[2017-04-24 21:31] omehegan commented on #528
@colourmeamused ping?

[2017-04-24 21:40] omehegan commented on #535
I'm kind of surprised that we trigger a build when you create a branch. Nothing has changed yet in the repo, so it would seem unnecessary. It looks like we could skip this by examining the 'commits' array and not building if it is empty.

If waiting 10 seconds fixes it, it sounds like a race condition.

[2017-04-24 21:52] omehegan commented on #523
@stephenc is there any chance you could take a look at this? I really don't know anything about the interaction between our plugin and workflow-multibranch-plugin. Just wondering if you can think of an obvious reason why this would be broken when multibranch-plugin is updated.

[2017-04-24 22:02] omehegan commented on #462
Sounds like a bug, but I'm really at a loss for what could cause what looks like data corruption here. Maybe you two could compare notes about your environment?

[2017-04-24 22:09] omehegan commented on #537
I don't think there is anything missing, but you're right that it is not clear what this accomplishes. You are expected to put that whole string, with the space, in the Refspec. And, if I remember right, the point of this is that it tells Jenkins that pushes to branches and merge requests are valid to consider for building. I believe if you don't do this, and you use the Merge Request webhook in G

[2017-04-24 22:09] #537 closed, assigned to nobody

[2017-04-24 22:14] omehegan commented on #538
Likely a plugin bug, subgroups were only introduced in GitLab 9.0, which is recent.

[2017-04-24 22:21] omehegan commented on #537
I did some more digging. We added this to fix https://github.com/jenkinsci/gitlab-plugin/pull/370, and what it does is allow Git to fetch merge requests from the upstream.

[2017-04-24 22:34] jmcgeheeiv commented on #462
My environment appears above.  @ottochiu, could you compare your environment to mine?

[2017-04-24 22:36] omehegan commented on #521
OK. So mostly an environment issue. On the plugin side, we should improve the behavior so we don't throw an exception when we get this error back (from the proxy server, in this case).

[2017-04-24 22:38] omehegan commented on #418
I should also look at https://github.com/jenkinsci/gitlab-plugin/issues/375#issuecomment-295761116 when updating this doc.

[2017-04-24 22:47] omehegan commented on #539
@Marslo gitlabSourceBranch is a parameter. If you do not add it as a parameter to your job and give it a default value, such as 'master,' then when you do a MANUAL build the parameter will be null and Git cannot clone your project. If you were to have GitLab trigger this project via a webhook on push, the correct value for gitlabSourceBranch would be passed in and set by the plugin.

[2017-04-24 22:47] #539 closed, assigned to nobody

[2017-04-24 22:51] omehegan commented on #533
You won't be able to perform a GET on the /project/SuperAvia URL. It only responds to a POST from a GitLab webhook. How have you both configured GitLab to trigger the job? Make sure you have followed the instructions under https://github.com/jenkinsci/gitlab-plugin#gitlab-configuration to create the webhook.

[2017-04-24 23:18] omehegan commented on #541
I am taking a wild guess at how you might configure this. Try:

[code]

[2017-04-25 06:05] marslo commented on #521
Yes. I didn't also realized it was caused of proxy settings in plugin management.

[2017-04-25 11:42] colourmeamused commented on #528
Yup, I don't have access to the code I used when I updated the README, but I was using a similar workaround.

I had the same line in `options` to set statuses like pending, building etc. in GitLab.
`gitlabCommitStatus(name: 'jenkins')`

And then I explicitly set the status for each stage in a post block within the stage:

`
post {
    failure {
      updateGitlabCommitStatus name: '<stagename>', s

[2017-04-26 04:51] alex-harvey-z3q commented on #537
So my confusion arises because we seem to be using both a space and a colon as a delimiter. I wasn't sure if Jenkins even supports that.

Shouldn't it be:

[code]

[2017-04-26 12:42] raynigon commented on #523
Same problem here with Multibranch 2.14 and Gitlab plugin 1.4.5

Using a shared library that is configured to load implicit in jenkins global configuration

[2017-04-26 16:55] omehegan commented on #537
I'm not sure, TBH. I don't use this exact workflow in my installation. My assumption from reading it closely was that it's two different Refspecs, hence the space.

I've just gone and read https://git-scm.com/book/id/v2/Git-Internals-The-Refspec  The colon separates the location where something found on the remote should be written on the local host. So >1 colon without a space doesn't make sense.

[2017-04-26 17:48] omehegan commented on #528
@colourmeamused cool, I get it now. If you can verify and update the README when you have a chance, that would be awesome. Thank you!

[2017-04-28 03:31] o5by commented on #422
@lantier
your gitlab repo's name include dot? juts like git@<url>:<namespace>/x.y.z.git

"x.y.z" include dot

[2017-04-28 03:37] sworisbreathing commented on #522
@tanveer-ali I'm running into a 400 response issue as well. How did you manage to solve this issue, or identify the root cause?

[2017-04-28 03:38] o5by commented on #422
@omehegan @lantier
I met the same problem, if my repository's name include dot.
so  I change repo's name which is without dot, the problem is ok!

[2017-04-28 15:48] jotomo commented on #462
@skobarx Based on your _post_ section I added a _failure_ part that updates GitLab in case of failure. This works for me. I think this is a different issue than what @jmcgeheeiv is seeing though, as the POST is succesful, rather than having garbage payload. But it might be worth a try as a workaround for either case. Here's what I came up with:
[code]
(Note that the GitLab API doesn't use _failure

[2017-04-28 17:17] jmcgeheeiv commented on #462
@jotomo, your observation about _Json**Parse**Exception_ is very interesting; I did not notice how this suggests that the JSON is coming _in_ to Jenkins.

To answer your question, I do not have any proxy in between Jenkins and GitLab.

[2017-04-28 17:55] omehegan commented on #427
@mreichel or @colourmeamused would either of you want to make a pass at implementing this? It's been an unfortunate bug for quite awhile now that the plugin by default will allow unauthorized users to trigger builds. We want to change the default settings to be secure, but make sure we don't break anyone who is currently relying on the insecure configuration when they upgrade.

[2017-04-28 22:31] omehegan commented on #462
@jmcgeheeiv I hadn't thought of this either. Maybe you could use wireshark to capture this response as received on the Jenkins host, and as sent from GitLab, and see if they match.

[2017-05-01 15:21] CSobol opened #545 "Build history not displayed on GitLab"
### Context
- **Gitlab plugin version**: 1.2.2
- **Gitlab version**: 8.7
- **Jenkins version**: 1.634
- **Job type**: Freestyle

### Problem description

Create pull request - see build pass
Push additional code - See rebuild pass
Update merge request - see rebuild pass

**Expected outcome:** View build history on gitlab and see three entries .
**Actual outcome:** Only most recent build is display

[2017-05-01 17:38] ottochiu commented on #462
@jmcgeheeiv - sorry I was on vacation. This is my Java version:

[code]

I should point out that this works in regular freestyle jobs. Multibranch pipeline jobs are the only ones that isn't able to post statuses to Gitlab.

[2017-05-01 18:49] omehegan commented on #545
Your versions of the plugin, GitLab, and Jenkins are all fairly old, so we probably will not be able to invest time in debugging this for you. It's just as likely to be an issue on the GitLab side as it is with our plugin. I will point out that our README includes this note: "#272 - Plugin version 1.2.0+ does not work with GitLab Enterprise Edition < 8.8.3, due to a bug on their side." So if you a

[2017-05-01 18:49] #545 closed, assigned to nobody

[2017-05-02 08:57] simrobin commented on #528
Hello,

Just to be sure that I understood it well, using `gitlabCommitStatus(name: 'jenkins')` in `options` will not automatically trigger success or failed state?

Do we need to manually add `updateGitlabCommitStatus` for success and failure in post hooks in each of our declarative pipeline?

[2017-05-02 15:07] josemalonsom commented on #528
I think it's a bug. Debugging you can see that Jenkins is reporting the build as failed but the plugin is setting the build state as success.

![gitlab_result_bug](https://cloud.githubusercontent.com/assets/6292439/25624294/39136f0a-2f59-11e7-8518-7540e0b6c4ce.png)

The screenshot is from this line of code https://github.com/jenkinsci/gitlab-plugin/blob/fee5f715ccd5e0e611411cb83dfd0cd838409029/src

[2017-05-03 10:39] theirix opened #546 "InvocationTargetException at AbstractWebHookTriggerHandler.handle"
### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.1.2
- **Jenkins version**: 2.46.2
- **Job type**: Pipeline

### Logs & Traces

Jenkins log:
[code]

Fine log:
[code]

### Problem description

Internal GitLab and Jenkins are set up for two-way sync (push hooks from gitlab and status updating from jenkins). Usual Pipeline with a `master` or `devel` branch works fine. But after

[2017-05-03 11:04] probaton opened #547 "Multi-branch pipeline ignores build trigger configuration"
## Issue

### Context
- **Gitlab plugin version**: 1.4.4
- **Gitlab version**: Enterprise Edition 8.17.4-ee ba6d2a1
- **Jenkins version**: 2.32.3
- **Job type**: Multi-branch pipeline

### Logs & Traces

I couldn't think of anything meaningful to log. Feel free to reply with requests if you can think of anything pertinent.

### Problem description

We have a multi-pipeline project, set to create a

[2017-05-03 18:12] mginou commented on #541
I was also looking for the more advanced configuration of the GitLab triggers through a declarative pipeline when I stumbled across another issue (#547) that seemed to have a whole lot of the settings needed (but in a Groovy pipeline syntax).

I was able to synthesize it into the following, which definitely seems to work for a pipeline job (not multi-branch). In other words, it sets all of the Git

[2017-05-03 23:57] omehegan commented on #523
Is this only affecting people who use the `@Library` function of Pipeline?

[2017-05-04 06:19] zeewell commented on #538
the same issue.

[2017-05-04 07:24] tsutsarin-fuib commented on #523
@omegarus Yes. I'm using `@Library` function of Pipeline only and also affected.
Same Multibranch 2.14 and Gitlab plugin 1.4.5 versions.

[2017-05-04 07:30] sbrassely commented on #523
I'm also facing this issue with implicit load of library.
When looking at the [https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/util/CommitStatusUpdater.java#L129](https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/util/CommitStatusUpdater.java#L129) and build file (build.xml), we can see there's more t

[2017-05-04 09:54] chizmeeple commented on #523
Weirdly in the previous comment:
* https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/util/CommitStatusUpdater.java#L129
(incorrectly) linked to
* https://github.com/jenkinsci/gitlab-plugin/issues/url

Just in case you're clicking and wondering where the destination vanished to.

[2017-05-05 15:26] matsch01 commented on #533
@Mistu3 did you resolve this issue? I'm have the same problem. Jenkins 2.46.2, Gitlab Plugin 1.4.5, GitLab CE 9.0.4

[2017-05-05 17:22] omehegan commented on #541
@teeks99 can you try @mginou's solution? If that works for you, either I'll update the docs or, preferably, one of you can :)

[2017-05-05 18:20] teeks99 commented on #541
I can verify adding these two lines to my Jenkins file triggers { gitlab ( ...

            triggerOnNoteRequest: true,
            noteRegex: "Jenkins please retry a build"

Does cause it to build when the expected note is added, in a pipeline job.

However it does not seem to be working in a multibranch pipeline. Is that just a limitation of the less useful triggers in multibranch? Could we add

[2017-05-06 09:26] mreichel commented on #427
@omehegan, I can try. Just let me get this right: the "Enable authentication for '/project' end-point" functionality for the GitLab plugin settings in the global settings should be enabled by default, but only if it is not `null`. The authentication method  doesn't need to be changed.

[2017-05-08 17:17] jmcgeheeiv commented on #462
@ottochiu, yes, my experience with freestyle/multibranch pipelines is identical to yours.

[2017-05-08 20:33] omehegan commented on #427
@mreichel that's right. Valid tests:

1. If you install the plugin for the first time on a Jenkins host, 'Enable authentication...' should be checked
2. If you already have the plugin installed, and 'Enable authentication...' is NOT checked, upgrading the plugin should not change that setting; it should stay disabled

We should also update the doc accordingly, so that new users know they will need

[2017-05-09 11:55] amarruedo opened #549 "Cannot update Gitlab commit status on merge request build from fork"
### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.0.5-ee.0 (docker container)
- **Jenkins version**: 2.46.2
- **Job type**: Multibranch pipeline.

### Logs & Traces

Here is the log from gitlab plugin:
[code]

### Problem description

- Create repository A. (test/test-project)
- Create fork from A, lets name it B (a.marruedo/test-project)
- Make changes and commit to B.
- Merg

[2017-05-09 15:42] Bradmoon commented on #530
GitLab is currently on 9.1.3 and appear to be deleting V3 support in 9.3.  Do you see this issue being addressed soon?

[2017-05-10 09:01] jostyee commented on #168
Is this function broken again? After upgrading to GitLab v9 the plugin send thumbs up/down comment instead of vote to MR now.

[2017-05-10 11:05] mreichel commented on #427
Works well in my tests, unfortunately I can't see a way to write automated test. @omehegan: I did not add any documentation, since you already have your open task.

[2017-05-10 13:21] amarruedo commented on #549
Today I tryed the same setting BUT with a FreeStyle project. In this case everything works as expected

[code]
I noticed that, whereas in the multibranch pipeline the plugin is using the project URL, in the freestyle job it uses the ID of the project to update commit status.

[2017-05-10 17:50] omehegan commented on #168
@jostyee can you provide some more information? What version of the plugin are you using, what version of GitLab did you upgrade from, and how are you using this feature?

[2017-05-11 03:15] jostyee commented on #168
@omehegan Jenkins 2.46.2/GitLab plugin 1.4.5, It's been a while after I upgraded GitLab from maybe 8.16.x to 9.0(right now 9.1.2), tried neither send `:+1:` "custom message" of "Add note of build status" nor "Add vote for build status" post step works, only add comment below MR.

I checked GitLab documents earlier, seems they've removed vote from `Note` API, add an `Award emoj` API to replace it,

[2017-05-11 12:14] stefanandres commented on #531
I've updated Jenkins and all plugins again it and it now works, thanks!

[2017-05-11 12:14] #531 closed, assigned to nobody

[2017-05-12 07:41] segersb commented on #506
Hello,
Is there a workaround for this issue?

[2017-05-12 09:05] slauth opened #550 "NPE in AbstractWebHookTriggerHandler.java:50"
## Issue

NPE in `AbstractWebHookTriggerHandler.java:50`

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.1.2
- **Jenkins version**: 2.46.2
- **Job type**: Pipeline

### Logs & Traces

/var/log/jenkins/jenkins.log
[code]

### Problem description

I'm currently trying to set up GitLab 9.1.2, Jenkins 2.46.2, GitLab Plugin 1.4.5 but getting an NPE in `AbstractWebHookTriggerHand

[2017-05-15 13:21] nico-dangerous opened #551 "gitlab.com jenkins connection"
## Issue
I'm trying to configure Gitlab to access my jenjins server, but when I click on the test button on the gitlab project's settings page, I have the following error :
We tried to send a request to the provided URL but an error occurred: undefined method `tr' for nil:NilClass
Did you mean?  try
               trap
               try!
               t

### Context
- **Gitlab plugin version**:

[2017-05-15 14:00] #551 closed, assigned to nobody

[2017-05-15 14:00] nico-dangerous commented on #551
The configuration on the jenkins side has been deleted after upgrade.
Sorry

[2017-05-16 16:44] aundrus commented on #530
Just to note that the ATLAS CI system heavily relies on GitLab plugin (while ATLAS software workflow is based on the CI system)

[2017-05-17 09:14] lalmeras opened #553 "Wrong SHA on CommitStatusUpdater with pipeline's lib"
## Issue

On a project build with a Jenkinsfile and pipeline's library, SHA used by CommitStatusUpdater is buggy: it's the pipeline's library sha, not the project SHA, when triggered manually or by cron.

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.16.8
- **Jenkins version**: 2.46.2
- **Job type**: Pipeline with pipeline library

### Workaround, possible fix

I find that

[2017-05-17 09:16] lalmeras commented on #553
After more research, I find that CommitStatusUpdater#retrieveGitlabProjectIds is also problematic, as it retrieves scm remote url from BuildData. For my case, it also points toward pipeline's library repository instead of project repository.

As SCMRevisionAction does not provide remote information, I don't know how to fix this.

[2017-05-17 09:37] lalmeras commented on #553
I post on https://issues.jenkins-ci.org/browse/JENKINS-42809 as it seems to me that BuildData's behavior change (it now exposes pipeline's lib information instead of project information) may need to be reworked or explain before we can fix this issue.

If anyone could confirm or refute my analysis ?

[2017-05-18 00:15] #515 closed, assigned to nobody

[2017-05-18 00:20] omehegan commented on #168
@jostyee yeah, I wrote some code to access the GitLab API and look for votes on MRs for an unrelated task, and I was confused by the fact that the schema had "votes," but when people hit the +1/thumbs up button, it didn't register as a vote, it registered as an award emoji. I was told that votes had been deprecated, and that happened in GitLab 8.6 or something. I'm on 8.10.

If the plugin is succe

[2017-05-18 00:25] omehegan commented on #541
@teeks99 yeah this is interesting. My understanding of our support for multibranch is that we just trigger the build and branch indexing, but no parameters are passed to that job type because they aren't really needed. So I think the multibranch job doesn't unpack the JSON much. This might have to be a feature request, if it's even possible.

If someone wants to offer a PR on the README with an ex

[2017-05-18 00:29] omehegan commented on #506
@segersb there is a PR which fixes it, I'll try to do a release this week.

[2017-05-18 00:33] omehegan commented on #550
Are you getting this error when a job is triggered? Can you show a snippet of your Jenkinsfile? Can you elaborate on how you have set up your GitLab webhooks? Is your Jenkins using authentication?

Please follow the README instructions under User Support to enable additional logging from the plugin, so we can see what it is doing.

[2017-05-18 00:39] omehegan commented on #553
This is a duplicate of #523. We have guidance on how to fix it, hopefully a PR will be forthcoming soon.

[2017-05-18 00:39] #553 closed, assigned to nobody

[2017-05-18 00:40] omehegan commented on #523
Per Jesse's comment in https://issues.jenkins-ci.org/browse/JENKINS-42535, it seems like we need to switch to looking up the revision using SCMRevisionAction rather than BuildData. @mreichel or @colourmeamused maybe you would like to look into this? Or I may try to do so for fun this week.

[2017-05-18 02:13] jostyee commented on #168
@omehegan I guess there were some changes recently & this function is totally replaced by award emoj?

[2017-05-18 03:21] lalmeras commented on #523
Here is a quick and very dirty fix that works for me: https://github.com/lalmeras/gitlab-plugin/commit/56809f324e3017d1fdc8c297cacc4144898554bf

My problem is that my way to lookup repository's url is not consistent with SHA lookup, but maybe I missed clever way to fix it with SCMRevisionAction.

[2017-05-18 08:01] slauth commented on #550
Hi and thanks for looking into this. I'll try to answer your questions:

What I did is the following:
1. Set everything up on GitLab and Jenkins side.
1. Execute webhook by pressing the "Test" button in GitLab. Success.
1. Push an empty commit to the repository. Nothing happens.
1. Looking back into the Jenkins job config I see that the checkbox ("Build when a change is pushed to GitLab") is not c

[2017-05-18 13:44] dblessing commented on #530
I can confirm that GitLab will support API v3 until August 2017, per the blog post. I think the text at https://docs.gitlab.com/ce/api/v3_to_v4.html caused confusion so we will update it. Is there another place you saw that we will remove in 9.3?

[2017-05-18 15:12] algorys commented on #533
**Jenkins 2.46.2
Gitlab 9.1.2
Gitlab-plugin 1.4.5**

FYI, I was having the same problems. My mistakes were:

- I use the wrong syntax and thinking that `project` is the folder of project. But not.
- I have to add jenkins item folder to URL to get it work and remove `job` from it.

So for a Jenkins item url like :

`http://my-jenkins.com/job/Folder/job/Item/`

I've to write:

`http://my-jenkins.com

[2017-05-18 15:37] matsch01 commented on #533
Thanks. My issue was that I was running in dev and my Jenkins url was http://localhost:8080. Gitlab didn't accept localhost. When I changed to my ipaddress it worked fine.

[2017-05-18 18:19] omehegan commented on #168
@jostyee well, the only thing I can say is that I think the UI was changed in an earlier 8.x version of GitLab, such that clicking the thumbs-up button did not register as a "vote" in the API, but rather as a "thumbs-up" award emoji. So in my case, my users were clicking that, and I had to write some Ruby code to check whether an MR had +1s. That was what I needed to check.

It's possible that the

[2017-05-18 18:22] #533 closed, assigned to nobody

[2017-05-18 18:32] omehegan commented on #530
@tomasbjerre from what I can see, the java-gitlab-api library would only support API v4, not mixed use of v3 and v4. So I don't think that will work for us, because we will need to be compatible with older versions of GitLab. Here is the PR where we moved away from that library, with explanations for the reasoning. https://github.com/jenkinsci/gitlab-plugin/pull/203

We will work on an implementat

[2017-05-19 00:27] jostyee commented on #168
@omehegan
click thumbs up/down emoji on webpage would send a https://gitlab.company.com/group/project/merge_requests/id/toggle_award_emoji request to the server, which functioning normally, no comment shows before it finishes.

GitLab plugin, add comments with emoji.
<img width="130" alt="screen shot 2017-05-19 at 8 11 29 am" src="https://cloud.githubusercontent.com/assets/88564/26228498/e78b5f0a-

[2017-05-19 18:05] omehegan commented on #168
@jostyee I am guessing that GitLab has changed what it does with a "vote" as of the 9.0 release. I don't know if we can or should change anything with the plugin to account for this.

[2017-05-21 04:02] jostyee commented on #168
@omehegan Can't we support the new award emoji API in near future?

[2017-05-23 09:41] TYsewyn commented on #499
Hi guys,

What is the current status of this feature?
It would make our work easier, so I'd really like to use this! :)

[2017-05-23 10:51] Argelbargel commented on #499
Hi @TYsewyn ,

i' m really sorry, but up until now there did not happen a lot.  I've been swamped with other work and thus just did some bug-fixes over at https://github.com/Argelbargel/gitlab-branch-source-plugin but did not really work to integrate it's functionality into the gitlab-plugin itself.

My own plan currently is to first make my plugin work with pipeline multibranch projects because i

[2017-05-23 17:42] omehegan commented on #168
@jostyee from reading your comments, I thought that is what was happening. Are you saying that now what happens in GitLab is that there is only a comment, but no award/thumbs up?

[2017-05-23 17:55] omehegan commented on #499
@mreichel and @colourmeamused feel free to comment on this if you are interested in helping with this integration. We also have an offer of support from @stephenc, a longtime Jenkins contributor and plugin author, if we need guidance about the implementation.

[2017-05-23 18:14] omehegan commented on #550
The NPE is happening when we try to log the job name and trigger type:
`LOGGER.log(Level.INFO, "{0} triggered for {1}.", LoggerUtil.toArray(job.getFullName(), getTriggerType()));`

So one of those values must be coming back null. Looking at the code, I don't see how getTriggerType can ever be null, it's just a protected string with different possible values. It might be that the job object is endi

[2017-05-23 18:43] slauth commented on #550
Already tried that without success. Interestingly,  freestyle and Maven jobs run fine.

[2017-05-23 19:54] TYsewyn commented on #499
If you have a rough idea what still needs to be done I can help out with that too.
Basically you want to have the same functionality like the Github plugin, and extend this with the following:

I'm not sure how you want to implement the creation/deletion of the webhooks in GitLab, but then again I didn't take the time to look at the code. :)

[2017-05-23 21:59] Argelbargel commented on #499
The first problem i ran into when thinking about how to integrate them is this: as the original plugin is basically a build-trigger for a single project it simply uses the full path to the project to identify which project to trigger when called by a webhook.

The gitlab-branch-source-plugin uses the branch- and scm-apis to detect which projects/branches to build. The scm-api defines an event-syst

[2017-05-24 00:04] jostyee commented on #168
@omehegan yes, it only adds a comment, sorry for my English. :-(

[2017-05-24 10:45] stephenc commented on #499
I really recommend waiting until I get the GitHub and Bitbucket UI refactoring complete:

1. I am solving a lot of the common problems
2. The traits API saves a lot of wheel reinvention
3. You're going to want to consolidate all the event processing through the scm-api events (i.e. that events system is not just for branch-api but will work for regular jobs too: https://github.com/jenkinsci/scm-ap

[2017-05-24 11:11] Argelbargel commented on #499
Sounds great. Then i'll wait until the new API is released, update the gitlab-branch-plugin to that and then we take it from there...

[2017-05-24 12:42] hWorblehat commented on #538
Can the proposed PR be merged? This bug is affecting me too.

[2017-05-24 15:02] farahfa opened #554 "Show stages in Gitlab, possible?"
I'm testing out Jenkins declarative pipeline and I have a (multi-branch pipeline) job that builds successfully, however I would like it to show the stages in Gitlab, but I'm not sure how to do so (if it's even possible).

Here's what I mean:

I would like it to look something like this:

<img width="1401" alt="screen shot 2017-05-24 at 10 52 14 am" src="https://cloud.githubusercontent.com/assets/9

[2017-05-24 21:14] jgeorgeson opened #555 "False positive build status in declarative pipeline"
### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.16.7
- **Jenkins version**: 2.46.2
- **Job type**: Multibranch Pipeline

### Problem description

I initially thought it was specific to having a parallel step in the pipeline and one of the parallel steps passed but I still see it when I fail a regular stage with no parallel steps.

For example this pipeline:

[code]

The buil

[2017-05-24 23:52] omehegan commented on #550
Not sure what to make of it. Let's leave this open, if you find any other clues please post them.

[2017-05-24 23:57] omehegan commented on #499
Thanks guys, this sounds like a good plan of action.

[2017-05-24 23:58] omehegan commented on #168
That's OK. Now that I understand better, can you open a new issue for this? Describe the behavior as best you can, and I'll edit to make it clearer if I need to. Thanks!

[2017-05-25 00:01] omehegan commented on #538
I'll look at this soon.

[2017-05-25 03:31] jostyee opened #556 ""Add vote" action adds comment instead of voting"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.1.4
- **Jenkins version**: 2.46.2
- **Job type**: Freestyle

### Logs & Traces

[code]

### Problem description

_Describe your problem in a meaningful way_:
- what were you doing (simple push, merge request, MR with fork, ...)

    Trigger a Jenkins job with new GitLab MR, which include a post-build action "Add vote

[2017-05-25 03:32] jostyee commented on #168
@omehegan Sure, I've issued https://github.com/jenkinsci/gitlab-plugin/issues/556 , hoping it'll help. Thank you again for your patience.

[2017-05-25 05:02] gilgameshs opened #557 "How Can I Get Tag Name In Jenkins Job"
### Before submitting an issue I have first:

- [-] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [-] searched for similar already existing issue

*(if you have performed all the above, remove the paragraph and continue describing the issue with template below)*

## Issue
How Can I Get Tag Name In Tag Push Event Webhook In Jenkins Job

### Context
- **Gitla

[2017-05-25 08:58] hWorblehat commented on #538
Thanks

[2017-05-25 19:04] jamroks opened #558 "Jenkins 404 on webhook url"
Hello,
I'm having the same issue here :
Jenkins 2.46.2 ( long term support)
Gitlab 9.1
Gitlab plugin : 1.4.5
Job type: pipeline job
the setup is as follow:
1 vm with Jenkins inside a docker container
1 vm with gitlab inside a docker container
1 vm with traefik inside a docker container ( listening on port 80) and forwarding request to both Jenkins and gitlab

I configured everything following the

[2017-05-25 20:30] omehegan commented on #557
The latest version of the plugin is 1.4.5, you have written that you are using 2.5.2. Can you check this again?

Our plugin doesn't create a variable for tag name, but given that the tag is just a reference to a commit SHA1, I think you could use the gitlabAfter variable, which should be set to the right SHA1 of the tag when it is pushed.

[2017-05-25 20:34] omehegan commented on #558
Yes you have to include the port, unless there is some process that is redirecting Jenkins port 80 to port 8080.

[2017-05-25 20:34] #558 closed, assigned to nobody

[2017-05-25 21:43] jamroks commented on #558
Ok, so my setup is wrong then ? because this is what is happening:

webhook url: http://jenkins_dns_url/project/testjob
Gitlab request ( via webhook)  --> traefik  (proxy 80 ) --> Jenkins (Port 8080)

I taught putting a reverse proxy ( like nginx, apache, traefik on port 80)  in front of Jenkins was recommended so that we could avoid adding port number in url ?

[2017-05-26 01:51] gilgameshs commented on #557
sorry, that version is Git Plugin. GitLab Plugin version is 1.3.0
you mean
` refs/remotes/origin/tags/${TAGNAME}`
change to
`refs/remotes/origin/tags/${gitlabAfter} `?
i don't know what does gitlabAfter variable mean.

[2017-05-26 02:15] gilgameshs commented on #557
I just got it! Thank you!
just use `gitlabAfter` other than `refs/remotes/origin/tags/${gitlabAfter}`
but these two variables confuse me :
- gitlabBefore
- gitlabTriggerPhrase
what do they mean?

[2017-05-26 10:32] mreichel commented on #499
Very good, count me in once the new release is done

[2017-05-29 09:20] mreichel commented on #523
@omehegan did you look into this? Otherwise I could start this week...

[2017-05-31 02:44] jgeorgeson commented on #555
I have to assume there's something wrong with my Jenkinsfile syntax because it just isn't posting a failure status when my build steps fail, only when I have invalid jenkinsfile syntax.

I added a log in Jenkins for GitLab plugin at level FINEST per your README, and this is what I see at the end of that log

[code]

I assume it's an innocuous omission in the logs but there's no POST data listed in

[2017-05-31 03:50] jgeorgeson commented on #555
Putting the `gitlabCommitStatus()` inside the step stage seems to be working

[code]

Further experimentation shows that per-stage use of `gitlabCommitStatus()` behaves more as expected, but it is less convenient to configure. Putting it in the global `options{}` (which is what the main [README](https://github.com/jenkinsci/gitlab-plugin#declarative-pipeline-syntax) says to do) doesn't seem partic

[2017-05-31 13:13] jgeorgeson commented on #555
Last night I thought I'd be ok with the per-stage status for now but thinking further, this leaves a window where someone could accept an MR that's showing a success (from an early stage of the pipeline) even though it hasn't run all stages yet. Or maybe not even a person, the MR could be set to automerge on successful build. @omehegan how are we supposed to get a singular running->pass/fail statu

[2017-05-31 15:19] jgeorgeson commented on #555
I've tested and confirmed that an MR set to automerge on success will be merged at the end of the `prep` stage using this pipeline definition (can probably be stripped down to a more barebones pipeline to test, it's just what I had to start with for testing).

[code]

[2017-05-31 16:09] jgeorgeson commented on #555
I think I can achieve what I need (ie a single comprehensive and correct build status) by having a  `post` block for the pipeline which calls the `gitlabCommitStatus()` step. Is this how it's intended to be used?

[2017-05-31 18:50] jgeorgeson commented on #555
Nope, that doesn't appear to be working out well either. What I have now, and I think is working, is this:

1. Use `gitlabBuilds(builds: [...])` in `options{}` to mark all the jenkins pipeline stages as pending jobs for the gitlab pipeline.
1. Use `gitlabCommitStatus()` in each stage in jekins pipeline.

This seems to prevent the automatic merge on success from merging after the first stage succee

[2017-06-06 03:32] clarkdo opened #560 "Feature Request: when merge request improvement will be released"
## Issue

### Context
- **Jenkins Gitlab Plugin version**: 1.4.5

### Problem description

I have seen that  in https://github.com/jenkinsci/gitlab-plugin/commit/a61a6c77be85b89a5f8b6d37cc382fb474ea5262 introduced build triggering when merge request has been merged or closed.

I want to ask when this feature will be released?

[2017-06-07 02:10] melissafritcher opened #561 "Including shared library causes extra builds to be queued on MR edit"
## Issue
Including a shared Library, causes any edits to an MR (such as adding a label) to create another build, even when builds for the latest commit have already started.

### Context
- **Gitlab plugin version**: 1.4.2
- **Gitlab version**:  8.13.1-ee 3f76553
- **Jenkins version**: 2.32.3
- **Job type**: Pipeline

### Logs & Traces
[Jenkins GItlab Plugin.txt](https://github.com/jenkinsci/gitlab

[2017-06-07 10:22] neurolabs commented on #523
Is anyone working on this? I'm eagerly waiting for a fix. This blocks me from using blue ocean, as well as from freely updating jenkins.

[2017-06-07 15:51] dskrvk commented on #155
This started affecting me since about a week ago. Jenkins v2.64, plugin v1.4.5, using gitlab.com. The first build works fine, but subsequent ones fail with the message similar to the OP's.

Edit: turned out it was my mistake. I had removed the step that merged the branches locally, thinking it's optional. Once I re-instituted that, the builds were fixed. Seems strange though that this is required

[2017-06-09 22:56] omehegan commented on #558
I don't understand how traefik is directing port 80 to both jenkins and gitlab. I can only tell you that e.g. in my install, I use an nginx reverse proxy to terminate SSL and then direct the request to Jenkins on port 8080, and this works fine with the GitLab plugin. But I sense that maybe your traefik proxy is doing something wrong. Regardless, I don't think it is a plugin bug.

[2017-06-09 22:59] omehegan commented on #557
gitlabBefore is the git commit ref before the latest. gitlabAfter is the latest/HEAD.

gitlabTriggerPhrase is, IIRC, a phrase someone can put in an commit message to trigger a build.

[2017-06-09 22:59] #557 closed, assigned to nobody

[2017-06-09 23:12] omehegan commented on #560
Next week maybe?

[2017-06-09 23:12] #560 closed, assigned to nobody

[2017-06-09 23:19] omehegan commented on #561
Let's watch for the fix in #562 to be merged, and see if this resolves your problem. I suspect they are related, just due to the underlying changes to the API.

[2017-06-10 15:17] gilgameshs commented on #557
Thank you so much！！

[2017-06-12 11:21] vpolisetti opened #563 "Same repo multiple directories creating build problems"
Hi,

I have one repository A, it has multiple directories(solutions) b,c,d,e.   I configures b,c,d,e as separate jenkins jobs, Now If I modify any thing in project b , All c,d,e Jenkins job got triggered. Build should happens to only modified projects.

[2017-06-13 21:06] omehegan commented on #563
You have one GitLab repo with separate webhook triggers for Jenkins jobs b, c, d, e? If so, then yes, when you commit to that repo, it is going to trigger all the jobs. If you want to filter this, you would need to use a single parent job which determines what was changed, and then triggers the appropriate downstream job.

[2017-06-14 08:32] vpolisetti commented on #563
We are not seeing this single parent job option in jenkins,  For each
solution I have created separate jenkins job under repo A
A
    b  jenkins job b
    c jenkin job c
    d jenkin job d

If I modified any code in project b ,   all jenkin job b,c,d all got
triggered.

On Wed, Jun 14, 2017 at 2:36 AM, Owen Mehegan <notifications@github.com>
wrote:

[2017-06-16 04:09] pianyao commented on #388
@johnpbloch I found using the password of your gitlab account instead of the token as password with https address actually works.

[2017-06-18 15:56] trunet commented on #522
I'm having the same problem, how did you solve this issue?

[2017-06-19 20:47] squalou opened #566 "GitLab connection : property not set in a simple pipeline job (not multibranch)"
## Issue

'GitLab connectio' property doesn't sem to be set in a simple piepline job, making gitlabCommitStatus fail

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: CE 9.2.4
- **Jenkins version**: 2.46.3
- **Job type**: Pipeline.

### Logs & Traces

Nothing more than the sentence 'GitLab connection not set' in jenkins logs

### Problem description

I have a pipeline kind of j

[2017-06-19 21:32] omehegan commented on #563
If you have one GItLab repo with three webhooks configured to trigger three different Jenkins jobs, then those three jobs will be triggered for any commit to that repo. This is not a bug.

[2017-06-19 21:32] #563 closed, assigned to nobody

[2017-06-19 21:33] #523 closed, assigned to nobody

[2017-06-19 21:35] omehegan commented on #427
@mreichel it looks like you opened the PR against your fork of the repo, I don't think we can merge that directly to this one can we?

[2017-06-20 09:03] #427 closed, assigned to omehegan

[2017-06-20 09:22] pgeorgiev333 commented on #523
Thanks. Do you have any idea when a new release will be published?

[2017-06-20 10:07] mreichel commented on #427
@omehegan sorry, my fault. I changed the PR

[2017-06-21 10:51] squalou commented on #566
Also, believe it or not but : setting this in the first line of the Jenkinsfile make thing work :+1:
[code]
it doesn' really make sense, does it ?

This prevent the removal of prepoerties, and makes GitLabConnection visible.

Withtou it , the clear message is :

which is clear enough and is easy to find in the sources of the plugin, in CommitStautsUpdater

Still, ugly warnings issued in the job' s

[2017-06-22 08:02] tknerr commented on #475
Same issue here. Did you ever find a workaround on how to leave the existing properties intact?

[2017-06-22 12:28] squalou commented on #566
Erf, doesn't work at first run on a ne branch :/
Will probably have to add forcibly the Gitlab Connection on top of existing ones.

[2017-06-22 14:05] squalou commented on #566
Afterthought : I'm facing th issue with a job that is 'inside a Folder'
(using Jenkins Folder plugin to tidy up jobs)

Could it be a reason I face the same issue as 'multibranch' ?

[Edit] : just tested, no, it's not due to Folders. Tried without : same issue.

Gitlab pushes a job on jenkins, I get 'No GitLab connection configured' instantly

Still no idea how to 'add properties' instead of replac

[2017-06-22 14:56] Str8AWay commented on #377
Do you have an example of some dsl referencing a globally defined GitLabConnection?

[2017-06-22 17:54] btobolaski opened #568 "404 on Gitlab's pipeline view"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.2.6
- **Jenkins version**: 2.4.6
- **Job type**: Pipeline

### Logs & Traces

[code]

[code]

### Problem description

The commit status in gitlab is set properly but, clicking on the pipeline status link results in a 404. I'd expect something like whats shown in the second image of #554. I think this is likely a conf

[2017-06-23 05:54] 1100101 commented on #568
I have the same issue with Gitlab 9.2.2-EE and Gitlab plugin 1.4.3.
No clue so far what's going on though :/

[2017-06-26 07:42] hho commented on #568
I think this happens when pipelines are not enabled for the project in GitLab. Can you check in GitLab's project settings that pipelines are enabled?
![Screenshot](https://user-images.githubusercontent.com/478228/27529150-aff871fe-5a53-11e7-9fcd-727cc5c51e33.png)

[2017-06-26 13:54] AnthonyMastrean opened #569 "GitLab environment variables and multi-branch pipeline jobs"
### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.0 CE
- **Jenkins version**: 2.63
- **Job type**: Multi-branch pipeline

### Problem description

Your readme says you can't get GitLab environment variables into the multi-branch pipeline.

![image](https://user-images.githubusercontent.com/217842/27542407-28c7e190-5a55-11e7-9fe4-fc58654919dd.png)

https://github.com/jenkinsci/

[2017-06-26 15:02] btobolaski commented on #568
ah, yes that was it.

[2017-06-26 15:02] #568 closed, assigned to nobody

[2017-06-27 06:12] langerhans commented on #554
Did you solve this? Having the same issue :/

[2017-06-27 14:58] floriantraber commented on #377
@Str8AWay
[code]

[2017-06-28 12:27] isugimpy commented on #530
Has anyone revalidated that this isn't a more critical thing?  We upgraded to 9.3 on Monday and the direct feedback from Jenkins on Gitlab merge requests no longer works, with a message of "Could not connect to the CI server. Please check your settings and try again."  Is it possible that they began disabling portions of the v3 API already?

[2017-06-28 12:30] mcg commented on #530
Possibly related.... https://gitlab.com/gitlab-org/gitlab-ee/issues/2763

[2017-06-28 14:54] crussell52 commented on #530
Gitlab document currently cites `9.5` and `August 22, 2017`

https://docs.gitlab.com/ce/api/v3_to_v4.html

[2017-06-28 19:35] farahfa commented on #554
@langerhans: Unfortunately, I couldn't resolve the issue, and had to resort to installing "Blue Ocean" plugin.

Gitlab responded back to me and the response was extremely disappointing... This is what they said:

[2017-06-28 22:07] Argelbargel commented on #554
Sorry, i just hit the wrong button :-/ For what it's worth I was just commenting that we could try and see whether supporting the [Gitlab CI API ](https://docs.gitlab.com/ce/api/ci/README.html) would make this work - but a) this seems to be a major undertaking (because registering a "Jenkins runner" in Gitlab is quite different from letting Gitlab trigger a build via a webhook) and b) it could wel

[2017-06-29 05:34] langerhans commented on #554
Thank you @farahfa , this is indeed a disappointing result. Maybe it was a misinterpretation on their side, but I wouldn't even want them to work on the Jenkins plugin but merely extend their Commit Status API to allow an extended description of what pipeline the status we send corresponds to. This should be a simple enough request imho. GitLab CI just doesn't cut it for my use case yet (large And

[2017-06-29 07:55] marcinmantke opened #570 "Start job after MR is merged/closed"
## Issue
I want to do some action on Jenkins side after MR is merged/closed. It's possible to fire webhooks when MR is created/updated but it's impossible to start job when MR is merged/closed. Am I doing something wrong or such functionality is not implemented?

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.2.2
- **Jenkins version**: 2.63
- **Job type**: Freestyle

[2017-06-29 15:16] crussell52 commented on #530
@omehegan

What is the status on this... we are less than 2 months from the v3 api from disappearing.

Also, what is the concern with `java-gitlab-api` only supporting v4?  Given the time left, using a package which has already done the tedium seems like the way to go.

[2017-06-29 15:27] derholle commented on #530
@isugimpy Looks like the problem you're running into is not gitlab-plugin related. It's being tracked as a GitLab issue that's supposedly already been fixed and ready for release into a GitLab 9.3.x patch:
(https://gitlab.com/gitlab-org/gitlab-ce/issues/34130)

[2017-06-29 15:45] crussell52 commented on #530
@derholle Thanks for digging up that gitlab-ce bug.  Some of us also have an open gitlab-ee ticket for the same issue which has seen no action. :heart:

I think the fact that we've just felt the pain of integration breaking has brought this issue back to the foreground.

[2017-06-30 01:36] ElijahLynn opened #571 "(bool) Should I see a comment that the build has started?"
## Issue
I don't see a comment posted to a merge request when the build is triggered. Should I?

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.13.1
- **Jenkins version**: 2.27
- **Job type**: Freestyle.

### Logs & Traces

_Please include any relevant log that could serve to better understand the source of your issue_
For Jenkins Gitlab Plugin logs, follow instruction in [

[2017-06-30 07:49] neurolabs commented on #523
Could you be so kind and release a new version including this fix? Or communicate when there will be a new release?

[2017-06-30 08:39] chizmeeple commented on #523
Yes please release this! We've been struggling with this bug at work for some weeks now. It's frustrating when it appears to have been debugged and resolved, but not released (in close to three weeks now).

[2017-06-30 09:38] marius-balteanu commented on #523
Indeed, please release a new version of the plugin.

[2017-06-30 10:25] john-forrest commented on #506
@omehegan Any news on this? [Hit same issue. Happened when restarted with saftExit, even though previous job was underway. Failed on restart. There is probably another defect there too, but subsequently hit this.]

[2017-06-30 20:59] omehegan commented on #570
This feature was added in https://github.com/jenkinsci/gitlab-plugin/pull/508 but not released yet. Look for a release next week.

[2017-06-30 20:59] #570 closed, assigned to nobody

[2017-06-30 21:04] omehegan commented on #571
No, we do not post a comment to the MR that a build has started. You can usually see that one has started (GitLab essentially telling you that it triggered the build). For a Freestyle job, Jenkins will notify GitLab when the job completes, if you have that set up as a post-build action.

If you use Pipeline jobs, you can wrap the build steps in an appropriate block which will signal GitLab more dy

[2017-06-30 21:04] #571 closed, assigned to nobody

[2017-06-30 21:08] omehegan commented on #569
It's to do with the way Jenkins Pipeline implements multibranch jobs. It just does not provide a facility for external services to pass data around in these instances, I guess because there isn't much of a use case for it. So this is something you would have to take up with the Pipeline Multibranch plugin.

[2017-06-30 21:08] #569 closed, assigned to nobody

[2017-06-30 21:11] omehegan commented on #566
This is a known bug. https://github.com/jenkinsci/gitlab-plugin/issues/475

I'm not really sure how we can resolve it at present. Feel free to follow that one for any updates.

[2017-06-30 21:11] #566 closed, assigned to nobody

[2017-07-01 20:18] phaza opened #573 "Merge before build + tag fails"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.12.5
- **Jenkins version**: 2.46.3
- **Job type**: Freestyle

### Logs & Traces

[code]

### Problem description
Everything is working great for normal pushes and merge requests, however when I create a tag in gitlab the above error occurs.

Repo is setup with:
* Name: origin
* refspec: +refs/heads/*:refs/remotes/orig

[2017-07-02 15:30] Chrislevi opened #574 "Need a programatic way to create GitLab API credential in Jenkins"
There is no documentation on how to create GitLab API credential via some kind of api/groovy or such, I've swooped the whole web for a snippet. Is there a way to create Gitlab credential via script?

[2017-07-03 14:42] dblessing commented on #554
GitLab is working to find a long-term solution. There is some discussion in https://gitlab.com/gitlab-org/gitlab-ce/issues/34550. We understand the importance of continued, stable Jenkins integration and will figure out a way to make it happen, in coordination with this community.

[2017-07-03 15:34] anton-johansson opened #575 "addGitLabMRComment, update existing comment on subsequent commits"
## Issue

It would be nice if subsequent comments in the same merge request would cause the Jenkins plug-in to update the existing comment instead of adding new ones. Of course, controlled with a setting.

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 8.12
- **Jenkins version**: 2.46.3
- **Job type**: Pipeline

### Problem description

I've not yet integrated this plug-in in

[2017-07-03 19:41] #573 closed, assigned to nobody

[2017-07-04 14:25] Bareliah opened #576 "128 : Failed to connect to GitLab repository"
the environment:

- Jenkins 2.19.2
- GitLab Community Edition 8.17.0
- GitLab Plugin 1.4.5

I'm trying to configure GitLab plugin and create Freestryle project.

1. created a jenkins user in GitLab UI
2. created in the jenkins server ssh keys under /var/lib/jenkins/.ssh , chown jenkins:jenkins new key, chmod 600 private_key and chmod 644 public_key
2. Jenkins : under the credentials, added SSH Use

[2017-07-05 22:18] omehegan commented on #523
This was released today in version 1.4.6 of the plugin.

[2017-07-05 22:19] omehegan commented on #561
@melissafritcher version 1.4.6 of the plugin was released today with #562 included. Please test with this and let us know if it resolves your issue.

[2017-07-05 22:21] omehegan commented on #553
This was released today in version 1.4.6 of the plugin.

[2017-07-05 22:21] omehegan commented on #526
This was released today in version 1.4.6 of the plugin.

[2017-07-05 22:26] omehegan commented on #491
This was released today in version 1.4.6 of the plugin.

[2017-07-05 22:26] #491 closed, assigned to nobody

[2017-07-05 22:27] omehegan commented on #515
This was released today in version 1.4.6 of the plugin.

[2017-07-05 22:29] omehegan commented on #496
This was released today in version 1.4.6 of the plugin.

[2017-07-05 22:29] #496 closed, assigned to nobody

[2017-07-05 22:34] omehegan commented on #570
This was released today in version 1.4.6 of the plugin.

[2017-07-05 23:17] mmucklo opened #577 "Trouble connecting back to gitlab 8.17 from Jenkins 2.60.1"
## Issue
"Manage Jenkins"
"Configure System"
"Gitlab -> GitLab connections" section

When trying to configure the Gitlab plugin, even with the right API token, Jenkins is instantly responding "Connection Refused" when clicking Test.

No traffic is seen in tcpdump

curl --url [gitlab url] works from the command line, traffic is seen in tcpdump.

### Context
- **Gitlab plugin version**: 1.4.5
- **Gi

[2017-07-05 23:44] omehegan commented on #574
Not that I am aware of.

[2017-07-06 00:05] omehegan commented on #575
Yes, this is one reason I don't really like the "comment on build result" pattern. Especially ever since GitLab has been able to show build pass/fail status with its built-in UI. But we can consider this if someone wants to submit a PR.

[2017-07-06 00:09] omehegan commented on #530
@mreichel or @colourmeamused do you have bandwidth to look at this?

[2017-07-06 00:22] omehegan commented on #577
Well, connection refused... I would double and triple check that you are looking at the right thing with tcpdump (port 80 vs 443?), and I would also look at the logs on the GitLab side to see if it is showing anything. I'm doubtful that this is anything other than a configuration error.

[2017-07-06 00:23] omehegan commented on #576
The error you are seeing is to do with the Git plugin, not the GitLab plugin (this plugin does not handle cloning the repo and does not use these SSH keys). Make sure that the user you created in GitLab also has access rights to the specific repo/project you are trying to clone.

[2017-07-06 00:23] #576 closed, assigned to nobody

[2017-07-06 00:27] omehegan commented on #556
I have a feeling that maybe the voting API has changed in GitLab 9.x. Was this working for you in a previous version of GitLab?

[2017-07-06 00:38] omehegan commented on #555
@jgeorgeson sorry for not responding sooner. I think the final solution you have arrived at is the right one. In fact, per https://github.com/jenkinsci/gitlab-plugin#gitlab-configuration I think if you just wrap your stages in a gitlabBuilds{} block, you will get the desired result. I don't see that it needs to be part of options{}. Do you think there is anything more we could do here? Improve the

[2017-07-06 00:43] omehegan commented on #494
These are excellent points. Adding this as a feature request.

[2017-07-06 00:43] #497 closed, assigned to nobody

[2017-07-06 02:42] sfransen opened #579 "The jenkins update for 1.4.6 is not working the plugin is not found on website"
http://mirrors.jenkins-ci.org/plugins/gitlab-plugin/1.4.6/

 doesn't contain the plugin to update to.

### Before submitting an issue I have first:

- [] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [] searched for similar already existing issue

*(if you have performed all the above, remove the paragraph and continue describing the issue with template bel

[2017-07-06 02:43] sfransen commented on #579
http://mirrors.jenkins-ci.org/plugins/gitlab-plugin/1.4.6/ is a empty folder
 yet Jenkins thinks there is a plugin to update.
and it fails everytime as there is nothing in folder.

[2017-07-06 03:52] jostyee commented on #556
@omehegan It worked when it's 8.x, I'm sorry I can't remember which specific version it changed.

[2017-07-06 04:55] omehegan commented on #556
I'm guessing something changed in GitLab 9.0.

[2017-07-06 04:56] omehegan commented on #530
Might help with #556.

[2017-07-06 04:57] omehegan commented on #511
@pgeorgiev333 did you ever resolve this?

[2017-07-06 04:59] #513 closed, assigned to nobody

[2017-07-06 04:59] #520 closed, assigned to nobody

[2017-07-06 05:01] #318 closed, assigned to omorillo

[2017-07-06 05:02] omehegan commented on #386
@ayufan ping?

[2017-07-06 05:11] #430 closed, assigned to nobody

[2017-07-06 05:16] omehegan commented on #462
I'm guessing that whatever causes this is specific to your environment. Since we don't have any further data, I'll close it for now.

[2017-07-06 05:18] omehegan commented on #465
Dupe of #499.

[2017-07-06 05:18] #465 closed, assigned to nobody

[2017-07-06 05:18] #467 closed, assigned to nobody

[2017-07-06 05:24] omehegan commented on #475
@abayer is there a best practice for dealing with this in our plugin? We've always advised people to use a properties step here.

[2017-07-06 05:29] omehegan commented on #486
@dblessing can you comment on this? Or @mreichel maybe open an issue directly with GitLab: https://gitlab.com/gitlab-org/gitlab-ce/issues/

[2017-07-06 05:35] omehegan commented on #504
Would be blocked until we have v4 API support. #530.

[2017-07-06 05:38] omehegan commented on #505
Were you ever able to resolve this issue? Comments and votes have generally been working AFAIK. I use the vote feature in my own installation.

[2017-07-06 05:43] omehegan commented on #519
We're good for maintainers now, and I am committing to doing releases at least monthly moving forward.

[2017-07-06 05:43] #519 closed, assigned to nobody

[2017-07-06 05:56] omehegan commented on #527
This issue is usually caused by an Apache reverse proxy in front of your GitLab install. See comments in #399.

[2017-07-06 06:00] omehegan commented on #534
Take a look at #559 and let me know if you think this would give you what you want.

[2017-07-06 06:02] omehegan commented on #536
Dupe of #494 I think.

[2017-07-06 06:10] omehegan commented on #547
I'm not surprised that this doesn't work, the plugin pays no attention to these settings when it is a multibranch project. Multibranch assumes that you want to build for each commit to each branch. If you don't want to do that, I think you should use a regular Pipeline job.

[2017-07-06 06:10] #547 closed, assigned to nobody

[2017-07-06 06:12] omehegan commented on #549
This might be due to #399. Can you see if that seems relevant to your install? I see the %2F strings in the URLs that are returning 404s.

[2017-07-06 06:15] omehegan commented on #550
Same exception in #546.

[2017-07-06 06:16] omehegan commented on #546
Might be worth looking at my comments in #550.

[2017-07-06 06:25] bbreijer opened #580 "Add separate gitlabActionType for a tag push event"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.1.0
- **Jenkins version**: 2.68
- **Job type**: Pipeline, but not it holds for all job types

### Problem description

On both `"object_kind": "push"` and `"object_kind": "tag_push"` the `gitlabActionType` is set to `PUSH`. This makes people abuse the `gitlabBefore` variable to determine a tag push while the correct i

[2017-07-06 06:44] Alien2150 opened #581 "Feature: GitLab Release"
Hey guys,

what do you think about bringing the gitlab-plugin a step further and adding a new feature to enable releases via Gitlab.Something like:

` "gitlabRelease tagSchema: '1.0.%', files: 'my-fancy.jar', changelogPath: 'my-change-list.txt'`
. The API for this is basically there and it can be added. I volunteer for making a PR and some testing on my end.

[2017-07-06 07:30] anton-johansson commented on #575
I want the "comment on build" even when I use "update build status", because I can provide a detailed summary of the build, such as unit test failures, code coverage and code style analysis reports.

As far as I can see, we can use this method:
`GET /projects/:id/merge_requests/:merge_request_iid/notes`

... to get all existing comments. Then see if there's anyone commented by Jenkins. Then use th

[2017-07-06 09:41] neurolabs commented on #523
Not yet accessible in update manager, also broken link on https://wiki.jenkins.io/display/JENKINS/GitLab+Plugin (to 1.4.6)

[2017-07-06 09:57] chizmeeple commented on #579
Related to: https://issues.jenkins-ci.org/browse/JENKINS-42535?focusedCommentId=305856&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-305856 and

[2017-07-06 10:15] neurolabs commented on #523
Here's a working link to the hpi file: http://repo.jenkins-ci.org/public/org/jenkins-ci/plugins/gitlab-plugin/1.4.6/gitlab-plugin-1.4.6.hpi

[2017-07-06 11:06] mmucklo commented on #577
@omehegan

The tcpdump was regardless of port.

We saw traffic from:

[code]

Standard webhooks between jenkins and gitlab are working fine (which is how we're triggering builds, however the status is not updated back).

Is there any way to trace out what the precise url, or host and port that java.net.ConnectException is being triggered on?

Is there any possibility of an internal Java thing that

[2017-07-06 13:07] melissafritcher commented on #561
@omehegan it appears that version 1.4.6 of the plugin is missing from the jenkins mirror site: http://mirrors.jenkins-ci.org/plugins/gitlab-plugin/1.4.6/

[2017-07-06 14:38] melissafritcher commented on #561
It's there now. Testing today. Thanks!

[2017-07-06 16:07] melissafritcher commented on #574
@Chrislevi Do you mean creating Gitlab API Token credential in Jenkins?

[2017-07-06 16:14] omehegan commented on #579
There was a problem with the Jenkins update center last night. It is resolved now.

[2017-07-06 16:14] #579 closed, assigned to nobody

[2017-07-06 18:21] jgeorgeson commented on #555
I can't just make the gitlab calls in the stages or GitLab won't know ahead of time there are more statuses to expect before the pipeline is complete. There reason is when you set an open MR to automatically merge on pipeline success, it will merge on the first stage without waiting for the rest. If there was some extra magic in the `gitlabBuilds` when used in the `options`, such that it automatic

[2017-07-06 19:04] omehegan commented on #178
This is supported natively in Jenkins if you use Pipeline jobs, so I'm going to close this request against the plugin.

[2017-07-06 19:04] #178 closed, assigned to omorillo

[2017-07-06 19:19] omehegan commented on #523
@neurolabs there was a wider issue with the Jenkins update center last night, it has since been resolved.

[2017-07-06 21:22] melissafritcher commented on #561
version 1.4.6 does not solve this issue for me.

Opening a new MR and then making any changes (even after a build starts) creates a second build. The "CHANGES" section for these two builds when an MR is open is blank.

Making a push to an open MR and then editing the MR creates two more builds.
The changes in the first build is correct (the correct commit SHA is displayed and comments).
![jenkins

[2017-07-06 22:46] mmucklo commented on #577
I created a simple java test application using a java.net.URL, passing in the token as a query string and it works, even over https

Something seems to be a bit more fundamentally wrong internal to jenkins/gitlab plugin.

Any clues?

[2017-07-06 23:12] omehegan commented on #577
I would look at the logs on the GitLab server, it should be logging the refused connection. That might offer more clues. Have you set up the necessary API authentication for Jenkins to use when it talks to GitLab to send the status? Also, if you have increased the plugin log level per the instructions in the User Support section, I *think* it should be showing you the API calls with URLs.

[2017-07-06 23:55] mmucklo commented on #577
Update:

After uninstalling 1.4.5, and upgrading every single plugin that needed upgrading, and then reinstalling version 1.4.6 of the GitLab plugin, things are now working! Hallelujah!

Serious thorn in my side for the past few days or so...

[2017-07-06 23:55] #577 closed, assigned to nobody

[2017-07-07 04:23] farahfa opened #583 "Gitlab plugin failure"
After updating to the latest version of the Gitlab plugin (1.4.6) (from 1.4.5), all of the jobs are failing with the following error message:

[code]

Other info:

We're on Gitlab-EES 9.3.1, and Jenkins 2.60.1

[2017-07-07 08:25] dmarin commented on #583
+1
Jobs that are triggered on a merge request are still working, but I get the crash on  jobs just checking for 'Push Events'

[2017-07-07 09:41] nblintsov commented on #583
I've got the same problem.
Gitlab plugin (1.4.6)
Jenkins ver. 2.60.1

[2017-07-07 11:17] DieBauer commented on #583
Can confirm this, same stack trace with Gitlab EE 9.3.1, Jenkins 1.642.3 and Gitlab Plugin 1.4.6. Only on push events, not merge requests.

reverting to 1.4.5 fixes the issue.

[2017-07-07 16:20] stevelowery commented on #583
+1

[2017-07-07 18:42] omehegan commented on #555
@jgeorgeson well, what I was getting at is simply that you could put the gitlabBuilds block around your stages, rather than using it in options{}. Either way, as I understand it, the point of that block is to tell GitLab at the start, "Here are the stages we are going to run, consider these all to be pending." If that works for you in options{}, then I think you're doing the right thing. If those

[2017-07-07 18:51] omehegan commented on #583
Were all of you on version 1.4.5 before updating?

[2017-07-07 19:07] jgeorgeson commented on #555
You are correct as to the point of the `gitlabBuilds()` in the `options{}`. Although I am seeing the same behavior as described in #554 (and have subscribed to it and the upstream GitLab issue) my current implementation seems to be functional. Simply updating the readme/docs would be, I think, enough to close this issue.

But as a feature request (which I can file as a separate issue if you like)

[2017-07-07 20:21] dmarin commented on #583
Yup, I was on 1.4.5

[2017-07-07 20:37] omehegan commented on #583
@sbrassely #562 introduced changes here, is it possible that this broke things?

[2017-07-08 08:15] sbrassely commented on #583
Yes it seems posible but I can't reproduce.
Can someone share the build.xml file of a failed build so I can compare to mine?
I'll publish a fix ASAP

[2017-07-10 14:16] farahfa commented on #583
Here's a build.xml from one of the failed jobs:

[code]

[2017-07-10 16:00] samsieber commented on #386
There's an open issue on GitLabfor adding extra options when posting the commit status - though it's been over 9 months since anything relevant happened there.

https://gitlab.com/gitlab-org/gitlab-ce/issues/3445

[2017-07-10 16:16] sbrassely commented on #583
A fix was commited. If someone please give it a try.

[2017-07-10 16:49] mathstuf commented on #386
Note that the [MR I had](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/1796) for the issue is probably a good starting point, but certainly needs rebased and I don't know how much has changed internally.

[2017-07-10 17:11] ayufan commented on #386
If needed I can help on GitLab side :)

[2017-07-10 17:27] mathstuf commented on #386
I do not have the time to continue that branch at the moment, but I can probably review and test any MRs you submit.

[2017-07-10 18:26] omehegan commented on #583
I'll build a snapshot release with this patch, to make it easier for folks to install and test.

[2017-07-10 18:45] Zava2012 commented on #527
@omehegan, thank you for the answer, but it's not an apache reverse proxy, i checked it.
And thanks for the update!
Now I use the following:

### Context
- **Gitlab plugin version**: 1.4.6
- **Gitlab version**: 9.3.5 CE
- **Jenkins version**: 2.60.1
- **Job type**: Freestyle

The new plugin update has fixed this issue and now **Filter branches by name** and **Filter merge request by label** define

[2017-07-10 21:16] omehegan commented on #583
Please manually install http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.4.7-SNAPSHOT/gitlab-plugin-1.4.7-20170710.211358-1.hpi to test this fix. You can install it by uploading it directly to Jenkins from the Advanced tab of the plugin manager.

[2017-07-10 21:23] omehegan commented on #527
I'm unsure why the plugin upgrade would have fixed this. Can you capture another log for the broken "Filter merge request by label" feature? Also note there is this bug in 1.4.6 which we are testing out a fix for: #583

[2017-07-10 21:27] omehegan commented on #581
I guess this would be a hook into a feature of GitLab which I'm not familiar with. Is it this? https://docs.gitlab.com/ce/workflow/releases.html

If that's what you're referring to, I agree that it would be a nice feature to add to the plugin. If you want to submit a PR, we will consider it.

[2017-07-10 21:50] omehegan commented on #580
I sort of see where this is happening in the code (https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/cause/CauseData.java#L375) but I can't work out how exactly this influences the value of gitlabActionType. If anyone else wants to take this on, they can.

[2017-07-11 05:34] Alien2150 commented on #581
Thanks omehegan for adding a comment. I was looking for a way to automate this process (via step) as I have a use-case for that at my working place (Where we do want to create those releases automatically). Think the API is basicaly there and I also have begun adding some code. Will report back as soon as I have something to show.

[2017-07-11 07:00] sbrassely commented on #581
As of the current version of Gitlab's release feature, it's curently not possible to attach artifacts unless adding a link to our artifact in the release's description.

But, I'm agree, it would be a nice feature.

[2017-07-11 07:20] dmarin commented on #583
@omehegan The snapshot seems to be working fine. Thanks!

[2017-07-11 07:40] orevial commented on #583
Still broken for me on manual build, I have the same error everytime it reaches the plugin instruction:
`gitlabBuilds(builds: ["build", "test"]) { // Some code }`

[2017-07-11 07:58] Ian-T-Price commented on #418
Not sure if this is a documentation issue or a bug:

    https://gitlab.com/Ian-T-Price - this fails to connect

    http://gitlab.com/Ian-T-Price - this works

Given that the first one is the correct URL and that HTTPS is becoming / has become the standard, then the first line should connect.

[2017-07-11 08:05] sbrassely commented on #583
@orevial
What's the error log ? Can you provide more elements as :
- Job Type
- Plugin version
- Maybe the build.xml of your failed build

Thank you

[2017-07-11 08:20] Alien2150 commented on #581
Noticed that already @sbrassely 👍  Also had to rework getting the "projectId" a bit (Could be specified via argument (Alternatively to getting it from the webhook))

[2017-07-11 12:09] pgeorgiev333 opened #585 "No pipeline in gitlab"
## Issue

After upgrading the Gitlab plugin to the latest version (to test the fix for gitlab commits update) i do see the commit updated but i do not see any pipelines in gitlab (see screenshot)
### Context
- **Gitlab plugin version**: 1.4.6
- **Gitlab version**: GitLab Community Edition 9.2.5
- **Jenkins version**: 2.60.1
- **Job type**: Pipeline

### Logs & Traces

![image](https://user-images.

[2017-07-11 12:45] Alien2150 commented on #581
Maybe a "linkTo" param @sbrassely ?

[2017-07-11 20:40] chinhodado commented on #583
I was hit with this as well. Downgrading to 1.4.5 from 1.4.6 fixed the problem.

[2017-07-12 04:51] omehegan commented on #583
@chinhodado if you can test the snapshot release of 1.4.7 which I linked to earlier in this issue, that should resolve this problem. Please let us know if it does not.

[2017-07-12 10:10] bbreijer commented on #580
I think the information is lost in the ActionResolver. [https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/webhook/ActionResolver.java](url).
In `WebHookAction()`, both "Push Hook" and "Tag Push Hook" are handled the same. A distinction there could be the solution.
Another (imo better) solution is to change the point where the actual ActionType is set

[2017-07-12 13:33] yuniers commented on #583
@chinhodado How I cant test snapshot release 1.4.7 of this plugin?
I'm interest on test it.

[2017-07-12 13:42] orevial commented on #583
@yuniers you have to download the plugin here : http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.4.7-SNAPSHOT/gitlab-plugin-1.4.7-20170710.211358-1.hpi and install it manually in Jenkins plugin center (you can look at https://jenkins.io/doc/book/managing/plugins/#advanced-installation for this purpose)

[2017-07-12 13:50] orevial commented on #583
@sbrassely
Sorry my message was not very "verbose".
Here is my config :

- Job Type : Jenkins pipeline (not declarative)
- Plugin version : 1.4.7-20170710.211358-1

My config file is below.

[code]

[2017-07-12 14:09] sbrassely commented on #583
@orevial
Can you provide the flow-build XML file (of the failed build) and not the flow definition ?

Thank you

[2017-07-12 15:49] movermeyer commented on #583
I can confirm that [the snapshot release of 1.4.7](http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.4.7-SNAPSHOT/gitlab-plugin-1.4.7-20170710.211358-1.hpi) resolves the issue on my Jenkins server.

* CentOS 7.2
* Jenkins ver. 2.69

[2017-07-12 16:57] yuniers commented on #583
@omehegan like @movermeyer says, snapshot release 1.4.7 resolve the issue.

[2017-07-12 16:57] VitorVRS opened #586 "Show Merge Requests on "Pull Requests" tab in Blue Ocean"
It would be great if this plugins integrates with blue ocean like GitHub does.

I have to manage RefSpecs to BlueOcean recognize my MR's, but they are reconized in Branches tab, not in Pull Requests tab.

How do i fix that?

My RefSpec: `+refs/merge-requests/*:refs/remotes/origin/mr/* +refs/tags/*:refs/remotes/origin/tags/* +refs/heads/*:refs/remotes/origin/*`

[2017-07-12 22:04] omehegan commented on #580
@bbreijer I see what you mean. Yeah if you could at least submit a PR, that would be helpful! It's a small enough change that some manual testing would probably be OK, or maybe someone else can add a unit test.

[2017-07-12 22:23] omehegan commented on #583
My intention for now is to determine if @orevial's issue is related to this bug or not. If not, I will go ahead and merge this fix. I may wait until next month to release it, along with other patches, as 1.4.7.

[2017-07-12 22:37] omehegan commented on #586
@VitorVRS for issues with Blue Ocean support, we may need to ask the Blue Ocean team for help. To do that, please open an issue at http://issues.jenkins-ci.org and put both gitlab-plugin and blueocean-plugin as components. Also please include a link to this issue for my sake. Thanks!

[2017-07-12 23:22] chinhodado commented on #583
I'm not sure waiting until next month to release it is a good idea. This is a breaking bug.

[2017-07-13 00:10] Zava2012 commented on #527
However, something was fixed that solved the initially described problem with "404 Not Found".
I use only the function **Opened Merge Request Events** and the build is successful for this event, but after updating the plugin, all jobs (in these jobs i'm using the **Gitlab Merge Requests Builder** plugin and use it's variables) started build with failure NPE (NullPointerException) error, which is s

[2017-07-13 08:19] orevial commented on #583
@omehegan @sbrassely
I'm sorry but I can't publish the workflow of the failed build here, it contains too much sensitive information and it would be very long to anonymize. But I think it is really easy to reproduce the error :

- Jenkins job is using jenkins pipeline (not declarative)
- Jenkins job is of type "Pipeline script from SCM" where the SCM in question is the Gitlab project
- Gitlab proj

[2017-07-13 11:25] sbrassely commented on #583
Thank you for additional informations.

I configured a job with the information you provided, which allowed me to reproduce the problem.
But with this configuration (i.e. with Jenkins job of type Pipeline script from SCM), Jenkins doesn't provide informations about the project's commits. So there's no BuildData as SCMRevisionAction and it's not possible to update the project commit status.

For no

[2017-07-13 12:44] pablobirukov opened #587 "addGitLabMRComment fails on GitLab 9.2.5"
## Issue

### Context
- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.2.5
- **Jenkins version**: 2.46.3
- **Job type**: Pipeline

### Logs & Traces
Jenkins log
[code]

### Problem description

Once you try to send `addGitLabMRComment` gitlab plugin fails with `Failed to add comment on Merge Request for project '...': HTTP 404 Not Found`

Seems like [starting from GitLab 9.0](https://doc

[2017-07-13 13:14] orevial commented on #583
Yes I do have a scm checkout in my jenkinsfile.

About my problem, I understand that running the build manually will not allow having information usually sent by Gitlab, and it seems very normal to me that we don't update commit status upon manual launch (we probably don't want the same commit/merge request to receive status updates again as result would be strange for developers/users). However,

[2017-07-13 13:57] sbrassely commented on #583
You are right, I updated accordingly

[2017-07-13 18:12] omehegan commented on #583
@chinhodado well, you can run the snapshot release with the fix until then.

[2017-07-13 18:19] omehegan commented on #583
Here is an updated snapshot with @sbrassely's latest fix. @orevial can you try this? http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.4.7-SNAPSHOT/gitlab-plugin-1.4.7-20170713.181757-2.hpi

[2017-07-13 18:25] omehegan commented on #587
@r00ger I don't think that's the issue, because the plugin is still using API v3 right now (others are working on a patch to add v4 support). Can you enable the additional logging as described in the User Support section of the README, so I can see what URL the plugin is trying to hit?

[2017-07-13 21:48] omehegan commented on #527
@Zava2012 I'm confused, you mention the GitLab Pull Request Builder plugin. That's different from this GitLab plugin.

Can you try the latest snapshot that I posted to issue #583?

[2017-07-14 10:09] caye commented on #583
@omehegan I just tried the updated snapshot and it seems to work fine

[2017-07-14 13:04] orevial commented on #583
Just tested with my pipelines in both manual and automatic mode (via Gitlab webhook), seems ok !
Thanks guys for the work ☺