[2015-10-16 10:15] trunov-ms opened #120 "Checkbox acceptMergeRequestOnSuccess set to "checked" always"
When I open Jenkins Job Configure page, acceptMergeRequestOnSuccess checkbox set to "checked" state always even if there was unchecked earlier and option <b>acceptMergeRequestOnSuccess</b> in file Jobname/config.xml set to <b>false</b> too.

[2015-10-16 11:56] WonderCsabo opened #121 "Configure GitLab host url and API token at job level"
Currently the GitLab host url and API token are configured globally. This means one Jenkins instance can only communicate to one, specific GitLab instance. It would be nice if we could override this setting at job level.

[2015-10-16 14:39] mattiasb commented on #121
I'd propose to store this with the Credentials plugin if possible. So you could just have a drop down menu to choose what Gitlab instance to use.

[2015-10-16 18:27] WonderCsabo commented on #121
Good idea. However i would be really glad for any solution which would move this setting to job level. :smile:

[2015-10-20 13:36] fontealpina opened #122 "Time estimation for gitlab 8.0 commit api integration"
The readme says:
**Note**: Currently GitLab 8.0 does not have a commit status api. Once this is added we should be able to add the commit status to Gitlab.
This is basically related to the Gitlab issue: https://gitlab.com/gitlab-org/gitlab-ce/issues/2595
Seems this issue will be fixed in GitLab 8.1 that will be released on 2015 October 22.
I was wondering which is the time estimation for the integ

[2015-10-23 02:01] gumallett commented on #120
+1

[2015-10-23 06:49] jsyrjala commented on #120
I made a related issue to jenkins jira: https://issues.jenkins-ci.org/browse/JENKINS-31122. @kasper-f

[2015-10-26 23:46] markus-mnm opened #125 "Setting up multiple jobs with same name confuses branch auto completion"
When using the folder plugin you can end up with several jobs called "master".
doAutoCompleteBranchesSpec caches the name on the  job level name and it also caches it forever.

I implemented a change to this highly appreciated plugin that uses the jobs's repository URL as key for the cached branches and which also expires the cache so that new branch names get picked up after some time.

A pull-re

[2015-10-26 23:56] markus-mnm opened #126 "New branches do not trigger builds"
I have set up jobs for different branches of the same repo. A "versions" job is set up to trigger builds on "version-*"  branches. But nothing happens when a new version-xyz branch is being pushed up.

Nothing gets scheduled due to a hidden null pointer exception in `com.dabsquared.gitlabjenkins.GitLabPushTrigger.onPost(...).new Runnable() {...}.createActions(Job<?, ?>, GitLabPushRequest)`

[code]

[2015-10-28 08:25] nerzhul commented on #120
The XML was okay, but everytime the plugin merge requests, it's anoying

[2015-10-28 19:59] omehegan commented on #122
@fontealpina I'm working on testing https://github.com/jenkinsci/gitlab-plugin/pull/127 with Gitlab 7 to ensure it is backwards-compatible. Hopefully we can release this in the next week or so.

[2015-11-03 01:26] #120 closed, assigned to nobody

[2015-11-10 14:25] fontealpina opened #130 "Control on note with build status on merge requests"
In my workflow, I need to not return the note with build status on merge requests if the merge request is tagged as [WIP]. So I need some sort of control on that.
As general feature, can be useful to add a generic Execute Shell window where depending on the result returned by the script, the note is returned to gitlab merge request or not.
Is possible to get this feature?
Thanks.

[2015-11-11 21:25] #122 closed, assigned to nobody

[2015-11-12 15:00] rsommer opened #131 "Cannot disable automerge of merge request builds"
I have setup jenkins 1.638 with gitlab jenkins plugin 1.1.27 using gitlab 8.0.5 and i do not want to automerge after a successful build. So i deselect "Accept merge request on success" in the jenkins project configuration but whenever i apply and/or save the configuration and return to my projects configuration, it is selected again. There are no errors in the jenkins logs.

[2015-11-12 16:20] rsommer commented on #131
Additional info: i cannot remove the check mark, but the merge request is not accepted either. As i saw in the jelly-file, the default for this config parameter is false but its always displayed as checked ... ?

[2015-11-12 23:42] EmteZogaf opened #132 "No merge request build status sent to GitLab when triggered by push event"
Merge #127 introduced the usage of the gitlab commit status api. But it is not working when a build of an already existing merge request has been triggered by a push to the target branch. A note and vote is correctly posted to the gitlab merge request but no build status is sent.

[2015-11-13 08:19] rsommer commented on #131
I tested with a custom build of the current HEAD, it seems to be fixed.

[2015-11-13 08:19] #131 closed, assigned to nobody

[2015-11-17 14:40] gege-fr opened #136 "gitlabSourceRepoURL from hook request"
Could $gitlabSourceRepoURL take it's value from the actual gitLab hook and not the job config and start the jenkins job even if no SCM is set.

[code]

That would allow me to create a single, generic, jenkins job that would handle all of my maven builds  (git clone depending on the $gitlabSourceRepoURL value) and releases instead of creating one job per project that are all clones of each others.

[2015-11-19 09:06] cmurczek opened #137 "NPE when Jenkins jobs are triggered by PUSH or MERGE notification"
Hi,
we're using GitLab 7.4 and Gitlab-Plugin 1.1.27. After installing the [dependencies required to build PhantomJs on Linux](http://phantomjs.org/build.html), when starting Jenkins I see the following in Jenkins' log:

[code]

Then for each job triggered by notification message sent by Gitlab I get:

[code]

Any ideas?

[2015-11-19 19:27] #132 closed, assigned to nobody

[2015-11-19 19:39] #126 closed, assigned to nobody

[2015-11-23 20:42] sebastienbonami opened #142 "Filter branches feature also for MRs"
Hi,

My use case: I don't want to trigger my Jenkins job for all Merge Requests created, but only those with "master" as the target branch.

The "Filter branches" option in the Jenkins job is only for the "Push event".

If somebody knows a workaround to this, it would be nice to hear. However, it would be nice to filter by source/target branches for Merge Requests.

[2015-11-25 18:21] djb61 opened #143 "Duplicate or stuck pending build in Gitlab 8.2"
I have recently upgraded Gitlab to 8.2 and in doing so started using the new 8.1+ features.

I saw some occasional odd behaviour, most of the time the build status for the commit would work fine, pending->running->success but sometimes I'd either see:
- Build stays in "pending" until it finishes, never showing as running
- Two builds would appear in Gitlab for the same commit, one under "Latest bu

[2015-11-27 09:49] joshuajorel opened #144 "buildOpenMergeRequests not triggering"
The gitlab-plugin is not building when a change is pushed to the source repository in an open merge request. In my Jenkins log, only the message "Existing Merge Request, build will be trigged by buildOpenMergeRequests instead."

HOWEVER, no logs follow suit that show that buildOpenMergeRequests triggered. Is there a setting I missed? Checking the source code all I see is that buildOpenMergeRequest

[2015-11-30 08:48] onfiro opened #145 "Create two merge requests to different branches"
Hello,

I create two merge requests like:
     some_branch -> development
     some_baranch -> other_branch
In jenkins i have two builds numbers 1 and 2, but in gitlab merge status I have similar links to latest buld - 2. How can i fix it?

[2015-11-30 23:55] omehegan commented on #144
I have seen this behavior occasionally also. I'm trying to track down what the problem is. If you figure anything out, please let me know!

[2015-11-30 23:57] omehegan commented on #144
Seems to be a duplicate of https://github.com/jenkinsci/gitlab-plugin/issues/90

[2015-11-30 23:57] #144 closed, assigned to nobody

[2015-12-01 01:09] omehegan commented on #143
@thommy101 can you take a look at this?

[2015-12-01 19:31] sebastienbonami opened #147 "Build "running" forever after a Jenkins crash"
Hi, my Jenkins server has crashed because it was running out of disk space :/ and a build triggered by GitLab was running. The status of the build in GitLab related to this Jenkins build is now "running" forever. The Jenkins build has failed due to the crash.

Can someone help me force the build status in GitLab to be "failed" for instance?

Thank you.

[2015-12-02 20:12] noelcapule opened #148 "web hooks/test hook issue"
Hello,

I followed the steps to install and configure gitlab-plugin based on https://github.com/jenkinsci/gitlab-plugin.  I tried "TEST HOOK" in Web Hooks but the link I provided there is not getting triggered.  After clicking the "TEST HOOK" i see that "Hook successfully executed" but that's all.  I have a feeling that i have fundamental issue here.  I have check jenkins log (Manage Jenkins->Syst

[2015-12-03 08:17] joshuajorel commented on #145
@onfiro it's a best practice to make a separate Jenkins project for different branches. See this [link](https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+Best+Practices).

[2015-12-03 19:04] tomelfring commented on #143
I do believe there is a race condition like @djb61 says.. I'm going to take a look at the code where it's happening.

[2015-12-04 12:49] fontealpina commented on #148
Try to check if Manage Jenkins->Configure System: Gitlab host URL and API Token are properly configured.

[2015-12-07 19:08] ehelms opened #150 "How to trigger build on push to fork for an open MR?"
First off, I have tried looking through existing issues and doing some testing on our setup of my own so if I missed the same issue please kindly redirect me.

We are using Gitlab 7.8.2 and 1.1.28 of this plugin. Currently, our workflow involves opening a MR from developer forks. If said MR needs updating, the developer will force push their fork and branch that the MR was opened against to update

[2015-12-08 23:05] fontealpina opened #152 "Conditionally avoid to return the build status to gitlab merge request"
In my workflow there is the need to avoid returning the build status to gitlab merge requests if a condition is verified, for instance if the job build status is 'aborted'.
Both build status on the top of the merge request and the comment in the comments list.
Can be added a new feature to the plugin to allow this?
Thanks

[2015-12-09 13:36] JrCs opened #153 "View build details link is not correct on merge request pages"
The status of a merge request is update correctly but the link to the build details refer to a gitlab page:

http://_gitlaburl_/_groupe_/_project_/commit/dfdb6c36e8fd68961b36ea655eede97d2808cf5a/builds

instead of the jenkins build page:

http://_jenkinsurl_/job/_project_/_buildnumber_/

![gitlab-issue](https://cloud.githubusercontent.com/assets/83008/11686613/28dbe37e-9e82-11e5-8160-ee5671d4a633.

[2015-12-11 14:32] pbendersky opened #155 "Error adding commits to existing Merge Request"
I'm experiencing an error when adding commits to an existing Merge Requests. The error I see, however, is different to the one described in #90, so I'm opening a new issue.

When creating a new MR, Jenkins build just fine. When adding a commit, however, I get the following:

[code]

The branch in my repository is called `more-tests`, and I have two git repositories configured, as described in the

[2015-12-11 16:29] #145 closed, assigned to nobody

[2015-12-14 10:00] zhanglianx111 opened #156 "how to generate a credentialsId in username and password of gitlab account?"
I want to know that how to generate a credentialsId by my gitlab account in kind "Username with password". Thanks!

[2015-12-14 13:02] pbendersky commented on #155
I was able to trace the error to this method:
https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/GitLabWebHook.java#L394-L401

I have a project under `group/project` and I'm sending Merge Requests from `user/project`. When the hook is called _on push_ from `user/project`, `buildOpenMergeRequests` will search for open Merge Requests on `user/project`,

[2015-12-14 23:58] dblessing opened #157 "Add branch name to 'Started by push' description"
It would be helpful to add the branch to the GitLab Push Cause description. Something like 'Started by push to feature_branch by user'

[2015-12-15 15:48] ehaselwanter opened #158 "gitlab merge button different behavior than jenkins-gitlab merge-before build option (was: no-ff Option )"
gitlab is using  --no-ff. can I specify this option?

[2015-12-15 16:17] sebastienbonami commented on #158
You can change the "Fast-forward mode" under "Merge before build" in your Jenkins jobs that are triggered by GitLab.
![ff_mode](https://cloud.githubusercontent.com/assets/7561088/11815907/f5041262-a31b-11e5-93f3-4cdb2f16d8df.jpg)

[2015-12-15 21:25] kalibyrn opened #159 "Utilize "not_found" state for GitLab CI Merge Status page"
I think https://github.com/gitlabhq/gitlabhq/issues/7047 can probably be closed now if the plugin uses "not_found" instead of "unknown".

[2015-12-16 10:25] ehaselwanter commented on #158
I have to find out why I do not see this option :-(

[2015-12-16 11:30] ehaselwanter commented on #158
found it: it is a plugin dependency issue. this option comes from the git jenkins plugin. and this very option is a (recent ;-) addition: https://issues.jenkins-ci.org/browse/JENKINS-12402

[2015-12-17 12:31] AndreasBoehme opened #160 "Merge request does not trigger build because it has been merged already"
1. create a Merge request for branch "feature_1" to "release_1" - Jenkins merges the branch. OK.
2. create a Merge request for branch "feature_1" to "master" - the gitlab plugin silently denies that one because: "_Last commit in Merge Request has already been built in build #1234_"

[2015-12-17 13:58] cuiyangyang opened #161 "Merge request does not trigger build"
Dec 17, 2015 8:04:22 PM org.apache.catalina.core.StandardHostValve custom
SEVERE: Exception Processing ErrorPage[exceptionType=java.lang.Throwable, location=/oops]
javax.servlet.ServletException: net.sf.json.JSONException: A JSONObject text must begin with '{' at character 0 of
        at org.kohsuke.stapler.Stapler.tryInvoke(Stapler.java:795)
        at org.kohsuke.stapler.Stapler.invoke(Stapler.

[2015-12-17 14:46] dblessing opened #162 "Build status for first push to new branch does not get reported to GitLab"
If you create a new branch and push some changes, a build is triggered. However, no commit status is reported to GitLab. On subsequent commits/pushes to that branch the status is reported properly.

[2015-12-17 15:31] ehaselwanter commented on #158
so. still a question. I was able to use --no-ff for git now. BUT I still experience an issue.

expected:
- create merge request
  -> trigger jenkins, get back result

well. this works.

BUT

occasionally the target branch of the merge request changes (a push or another merge in parallel)
=> gitlab still shows the merge button but jenkins reports a not able to merge.

is there any known setting for

[2015-12-18 09:57] ehaselwanter commented on #158
@omehegan would you mind pointing me in the right direction?

[2015-12-18 10:01] vinograd47 commented on #158
Did you set `user.name` and `user.email` in "Git Plugin" configuration?

[2015-12-18 19:58] omehegan commented on #158
@ehaselwanter sorry, I don't think I understand the problem you're having (we merge manually on the GitLab side so I haven't experimented with more advanced workflows). Can you spell out how you have things configured and what you expect vs. what you're actually seeing?

[2015-12-19 23:48] markus-mnm commented on #161
Hi!
What Jenkins, gitlab server and gitlab plugin versions are you using?
Also, could you set up a [Test log in Jenkins](https://wiki.jenkins-ci.org/display/JENKINS/Logging) with a debug level log for com.dabsquared.gitlabjenkins.GitLabWebHook?
Thanks!

[2015-12-21 07:40] ehaselwanter commented on #158
@omehegan I see different behavior of the merge button and the gitlab-jenkins plugin.
- open merge request
- triggers jenkins build
- reports back in merge request (+1 all good)
- NOW somebody changes the integration branch
- among other builds the build from before is triggered again and reports back "can not merge" but the merge button on gitlab is still able to (at least showing you) merge.

=>

[2015-12-21 09:55] mvhirsch commented on #162
Which plugin- and Gitlab-version do you use?

[2015-12-21 12:58] razzeee opened #164 "Not reporting build status 8.1+"
Hey there,
this is probably not a bug, but a user problem / bad documentation.

Since we upgraded to 8.2.3 I can't get gitlab to speak to jenkins. And the readme is not that helpful, do I need to enable Gitlab CI? This features looks completely different in gitlab 8+
CI Web Hooks are probably not used?

So I figured to disable it and use the normal Web Hooks, as it were before gitlab 8, but the bu

[2015-12-22 06:43] mraditya commented on #162
GitLab:  8.2.2-ee c35f8be
GitLab Plugin: 1.1.28

[2015-12-22 13:26] razzeee commented on #164
On the pushes crashing, it seems to be due to 'Merge before build'
As ${gitlabTargetBranch} seems to be equal to my ${gitlabSourceBranch}
Seems weird, as this only happens on pushes. Might be a gitlab issue :/

[2015-12-22 13:32] razzeee commented on #164
That code seems weird.
https://github.com/jenkinsci/gitlab-plugin/blob/258f65b8900fa7a9d73ee202101a3d58da6856d9/src/main/java/com/dabsquared/gitlabjenkins/GitLabPushTrigger.java#L237
Shouldn't that get the correct values, as the merge request does?

[2015-12-22 15:53] #164 closed, assigned to nobody

[2015-12-23 12:26] peternijssen opened #167 "Tag push event not working with workflow plugin"
I have the workflow plugin installed in Jenkins and I am running Gitlab 8.3. I've setup a web hook which notifies Jenkins as soon as a new tag is pushed. This works fine with a freestyle project, but not with a workflow project. I think because the SCM is missing from the settings in a workflow project.

This is the log for a push to a workflow project;

[code]

This is for the freestyle project

[2015-12-24 04:47] omehegan commented on #167
Yep, I helped work on that PR, but I now know that the support for Workflow is incomplete and broken. I have it partly fixed but need to do some more work. When I get back from vacation I'll try to finish it.

[2015-12-27 15:17] runsisi commented on #144
@omehegan `generateMergeRequestBuild` only generates build for `open` and `reopen` MRs, for `update`, i.e. those with new commits pushed after the MR opened, it does nothing, as the following code snappet shows:

[code]

i removed the `return` from my own build, it works like a charm:)

[2015-12-27 15:56] joshuajorel commented on #155
@pbendersky you can check my fork for the fix. I've also encountered this issue and I have temporarily fixed it. But I haven't updated the code so you might take a look on some of the latest changes. Have been busy so I haven't been able to code the plug-in for a while. Keep me posted.

[2015-12-27 15:57] joshuajorel commented on #144
@runsisi yup. That's the same solution I came up with. But the problem now is if an existing MR is accepted, it must rebuild all open MRs. I haven't gotten back onto work with the plug-in since I've been busy and we might be shifting to GitHub. In any case, redirect your comments to #90

[2015-12-27 18:23] runsisi commented on #144
@omehegan @joshuajorel i think it's a different problem here, the modification i made works as expected. but as @joshuajorel said i can not rebuild all open MRs after an existing MR has been accepted (yes, `On push to source or target branch` selected), jenkins shows me error log like this:

[code]

and

[code]

returns error:

[code]

actually the branch `mr4` is a branch of the forked project (w

[2015-12-28 07:19] joshuajorel commented on #144
Yeah, I'm experiencing the same issue, but it's been almost 3 weeks since I last checked the code. So please let me know if you have an update or anything. I'll be back to fixing the problem this weekend since I'll be free by then. Let me know if you need anything and please keep me posted.

Thanks!

[2015-12-28 12:35] pbendersky commented on #155
Thanks @joshuajorel, I'll take a look. Why did you not submit a PR for this? (I want to understand what's missing so I can take it from there...)

[2015-12-28 17:10] joshuajorel commented on #155
@pbendersky I'm not quite sure what happened with the current version, but before the 1.1.29 release candidate the plug-in was working fine when it comes to pulling from a GitLab push. I've fixed that issue, but I'm not too sure about whether it was the right solution.

As for the pull request, I'm still trying to solve the buildOpenMergeRequests method. I'm still encountering some exceptions, but

[2015-12-29 20:56] orediggerco opened #168 "MR Voting Broken after Gitlab 8.2"
As explained in https://gitlab.com/gitlab-org/gitlab-ce/issues/3672, after version 8.2 Gitlab CE no longer supports merge request votes in a comment. Giving a +1 or -1 (or certain other emoji's) in a comment's body will still cast a vote, but there can be no other text in the comment. The current version of the gitlab-plugin includes the vote and the build status comment all in one post back to gi

[2015-12-30 00:12] peternijssen commented on #167
Great! Let me know if I can help testing.

[2016-01-02 12:54] runsisi commented on #144
@joshuajorel ok, i think the not triggering thing is acting by design(i.e. forked repo need to setup a webhook too? **i am not quite sure though**), so i am not to create a PR for this, but to address our own problem(only setup a webhook for the master repo) we need to combine PR #169 #170 #171 and get rid of the `return` statement(see [here](https://github.com/runsisi/gitlab-plugin/commit/44d7fb8

[2016-01-04 21:42] cnmcavoy commented on #168
It looks like Gitlab does support the voting in comments again in 8.3+, so maybe this issue can be closed?

[2016-01-04 22:18] testark opened #172 "MR build not being triggered without "Push Events"."
I'm running GitLab `8.3.0`, Jenkins `1.643` and version `1.1.28` of the plugin, and I've successfully set up integration. However, I am noticing a strange behaviour while building MRs:
- If I create a web hook for both _push_ and _merge request_ events, multiple pushes to the same MR will be successfully built. However, two builds will be triggered on Jenkins for each push.
- If I create a web hoo

[2016-01-05 14:14] orediggerco commented on #168
It does again support voting from comments, but only if the emoji is the only text in the comment. Otherwise it is just treated as a normal emoji and comment, not as an actual vote in the MR. That's what my testing against the current version running on gitlab.com shows at least.

[2016-01-05 14:14] ztripez opened #174 "No "Use GitLab CI features" in GitLab 8.3.2"
I'm trying to get Jenkins and GitLab 8.3.2 to work.
I got the webhook to work, however I can't find "Use GitLab CI" features under project settings. I may be blind but I've looked, reread the instruction (for ≥ 8.1) what feels like hundreds of times.

[2016-01-05 14:28] ztripez commented on #174
Nvm I'm stupid, I was looking in GitLab, the settings is in jenkins.

[2016-01-05 14:28] #174 closed, assigned to nobody

[2016-01-07 14:28] dblessing opened #175 "Retrieve author name from MR event 'last_commit'"
In method https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/GitLabPushCause.java#L34, it looks like you're pulling commit author's name from the push events payload. However, for merge request events you're defaulting to the GitLab username instead. For consistency can you use the merge request event's `last_commit` data to get the author's name?

Se

[2016-01-08 17:12] cdenneen opened #176 "HTTP enable instead of SSH default"
Can this plugin work over HTTP vs ssh?

git clone https://gitlab/project.git

vs

git clone git@gitlab:project.git

[2016-01-09 04:10] mbenalaya opened #177 "Jenkins builds status are not listed in the Gitlab "Builds" menu"
Hello folks,

Jenkins builds status are listed correctly under "Merge Requests" and "Commits" pages in Gitlab. However the "Builds" page remains empty.
How to show my jenkins builds status in the Gitlab "Builds" page  ?

I am using:
- Gitlab ver. 8.3.2
- Jenkins ver. 1.616

Best regards,
Mahdi

[2016-01-12 05:53] sebastienbonami opened #178 "Cancel running build when "Rebuild open Merge Requests""
Hi, I'm using the option "Rebuild open Merge Requests" with "On push to source branch" in a Jenkins job. It would be really nice that when there's a new push, a running build for the same MR is aborted and a new one can start right away instead of being in the queue.

What do you think about implementing this? Thanks.

[2016-01-12 08:09] klausbayrhammer commented on #155
Same problem here. Is there any way I can support you with the solution?

[2016-01-12 20:24] sebastienbonami commented on #168
@oredigger8806 You're right, I have the same behavior on my side with GitLab 8.3.4 and GitLab Plugin 1.1.28 in Jenkins.

[2016-01-12 21:21] klausbayrhammer opened #179 "NPE if description of MR event is null"
Hi,

I had a problem with the building merge requests in jenkins which I create via the merge-request RST-api in gitlab. The merge-build in does not start even though the merge request is created correctly in gitlab. Although the webhook is triggered an jenkins receives it, the job isn't executed (and nothing except the webhook's payload is logged). If I create the same merge request manually ever

[2016-01-13 03:34] alienspaces opened #180 "Parameter gitlabMergeRequestTitle is always blank"
It looks like a bunch of really useful merge request information was added in this commit

https://github.com/jenkinsci/gitlab-plugin/commit/58af7ef453fd06964a30ceaf2a837b6774b77c56

Will a new release be available for this plugin soon that includes the above additions?

Would it also be possible to add gitlabMergeRequestDescription?

[2016-01-15 01:06] sebastienbonami opened #181 "Remove source branch with "Accept merge request on success""
Hi, it would be nice to have the option to remove source branch automatically when the functionality "Accept merge request on success" is used in a Jenkins job.

Thanks!

[2016-01-15 16:21] sebastienbonami commented on #147
I successfully used GitLab Commits API to solve this: http://doc.gitlab.com/ce/api/commits.html#post-the-status-to-commit

[2016-01-15 16:21] #147 closed, assigned to nobody

[2016-01-20 12:39] skyline00 opened #183 "Plugin not working with multiple SCM configuration."
Hey,
I'm using this plugin:
https://wiki.jenkins-ci.org/display/JENKINS/Multiple+SCMs+Plugin

I have 4 repositories configured in one job. The first one is checking out properly, but problem starts with other ones. I guess gitlab webhook is sending commit hash from one repository only and tries to use it with all of them. This is the error message:
13:31:36 FATAL: Command "git rev-parse 9f3840b5f1

[2016-01-22 12:25] mattiasb opened #184 "NPE on merge request"
I've set up a Jenkins job at my company for building our main product. The job is supposed to build both on MERGE and PUSH (to master, develop and release/*).
The builds are triggered and starts running but I get a NPE during the SCM phase. Here's the output:

[code]

Any idea what might be causing this?

[2016-01-22 12:28] mattiasb commented on #184
We're running Jenkins `1.645`, GitLab CE `8.1.4` and git `1.9.5.msysgit.1`.

[2016-01-22 15:23] shochdoerfer opened #185 "Multiple Jenkins build results are not visible in Merge Request view"
When a Jenkins build is triggered via the Merge Request one can see a comment after the build stating if the build was successful or not. In case the build was not successful and I add some more commits to the branch Jenkins will still get triggered but no further comment appears in the Merge Request view, neither will the original comment change. I would have expected to see a comment for each bu

[2016-01-24 10:09] warrenseine commented on #184
Same problem here. I set up Jenkins / GitLab to handle Merge Requests and tested with a very simple case (a repository with one text file and a merge request that just adds a file). I receive the same exception on the same line.

My configuration is almost the same : Jenkins `1.645`, GitLab CE `8.1.4`, but git `1.9.1`. All plugins are up-to-date.

I will upgrade GitLab and Git.

[2016-01-24 15:37] mattiasb commented on #184
Cool, please write back here if it solves the issue!

[2016-01-24 21:43] ehaselwanter commented on #172
seeing the same behavior which is a little bit strange. or is this intended?

[2016-01-25 12:45] warrenseine commented on #184
Unfortunately, same error with GitLab `8.4.0` and Git `2.7.0`.

[2016-01-25 13:35] mattiasb commented on #184
:(

[2016-01-25 16:10] mattiasb commented on #184
I found my issue. I've been doing `Wipe & force clone` together with `shallow clone` in `git-plugin` to let every build start from a clean slate. The `shallow clone` will obviously not work together with `merge before build`. So yeah. My bad.

@warrenseine maybe you had done something similar?

[2016-01-25 17:36] warrenseine commented on #184
@mattiasb Indeed, I was using `Shallow clone`. Thanks for the tip, unticking the checkbox fixed it!

[2016-01-25 23:42] mattiasb commented on #184
Let's close this then. :)

[2016-01-25 23:42] #184 closed, assigned to nobody

[2016-01-27 01:08] jejohns opened #186 "Unable to auto merge on successful build using Jenkins CI"
I have repos configured via the Jenkins CI service to trigger builds when a merge request is created. If I select the "Merge when build succeeds" option after creating the merge request, the merge request remains in a state where it's indefinitely waiting on a successful build result. While it's stuck in this state, Jenkins has already returned a successful result but the state of the merge reques

[2016-01-28 13:25] vstriz commented on #186
I'm observing exactly same thing.

[2016-01-28 14:26] ibratoev opened #187 "Multiscm plugin support"
If a CI job is configured to use the multiscm plugin (https://wiki.jenkins-ci.org/display/JENKINS/Multiple+SCMs+Plugin) then builds are not triggered properly from GitLab pushes and Merge Requests.

[2016-02-01 19:34] kflorence commented on #186
+1

[2016-02-02 06:32] juliusspencer commented on #183
Hi,

I have _exactly_ the same issue. The main project pulls down the commit specified with no issue and the other projects try to pull down the same commit and fail.

Thanks for any help with this!

[2016-02-02 11:16] maiksensi opened #189 "Gitlab https Host URL fails with connection reset"
I am using a https based gitlab installation on my local intranet.
When entering a https host url and then pressing `test Connection`, I receive the following (I added ssl certs to keystore, I ignore the certs etc) stack trace (for testing purposes I tried it with http, which works):

[code]

As I could not debug this any further, I am happy to supply more informations on this if requested. As I c

[2016-02-02 12:28] telisior commented on #186
Same problem for me.
I still observe it on GitLab 8.4.2.

[2016-02-02 15:51] maiksensi commented on #189
error was that tlsv1 was disabled on the webserver.

[2016-02-02 15:51] #189 closed, assigned to nobody

[2016-02-02 16:02] ramielrowe commented on #172
I'm seeing the same behavior, but I think I've found a good config. For this specific job, I want to run on just MRs, not on random branch pushes.

Jenkins:
Build on Merge Request Events: on
Build on Push Events: off
Rebuild open Merge Requests: on push to source or target

Gitlab Webhook:
Push events
Merge Request events

With those configs, I'm only seeing a single build get kicked off when MRs

[2016-02-04 17:51] salashnik opened #190 "Add option to mark unstable builds as success in GitLab"
i think UNSTABLE is success...
May be You can add option for this

[2016-02-08 19:53] sebastienbonami commented on #186
:+1:
I think the issue is on GitLab side, so I created this ticket: https://gitlab.com/gitlab-org/gitlab-ce/issues/13269

[2016-02-09 19:25] froque commented on #187
seems duplicate of #183

[2016-02-10 23:19] ghost commented on #172
Thanks a lot @ramielrowe!

[2016-02-11 14:22] ibratoev commented on #187
Yeah, it is a dupe.

[2016-02-12 09:27] timmolter opened #191 "Can this plugin build merge requests?"
Can this plugin build merge requests or only automatically merge from forked repositories?

Hi, It's unclear to me after reading the README if this plugin can build merge requests. I tried it and Jenkins built the source code after a merge request was triggered but it built the main fork's code and not the code from the fork from which the MR came from.

In the readme it says "To be able to merge

[2016-02-13 22:46] peternijssen commented on #167
@omehegan any news on this? Much appreciated!

[2016-02-16 10:40] antoniolibrada commented on #136
We would really appreciate this

[2016-02-16 15:56] dblessing opened #193 "Multiproject support"
Similar to the older 'GitLab Hook Plugin'.

A user configures a 'master' project in Jenkins. All builds on the master(default) branch happen there. When multiproject is enabled, though, builds on another branch are executed within a copy of the master project that includes the branch name. If the master project is 'my_gitlab_project', for example, the branch project name would be 'my_gitlab_projec

[2016-02-16 15:59] dblessing commented on #190
Whether 'UNSTABLE' is success or fail really depends on the project. As I understand it, sometimes UNSTABLE can mean that the code compiled, but automated tests failed. In this case, UNSTABLE should result in a failure on the GitLab side. However, in some other cases that may not be desirable. If anything, it should be a configurable option.

[2016-02-16 16:19] ehaselwanter commented on #167
@omehegan would be interested too :-)

[2016-02-16 16:46] Christilut opened #194 "Multiple jobs triggered"
GitLab Community Edition 8.1.1
Jenkins 1.647 with latest versions of Gitlab / Git plugins

I have three webhooks in gitlab:
`http://127.0.0.1:8080/project/MyProject_Develop`
`http://127.0.0.1:8080/project/MyProject_Staging`
`http://127.0.0.1:8080/project/MyProject_Master`
They only have `Merge Requests Events` enabled.

Then I have 3 jobs like this in Jenkins:
They are set up pretty basic:
Reposit

[2016-02-16 17:07] gtheraud commented on #167
Hi @omehegan, this feature would help. as @peternijssen said, if you need support for testing, I can help as well.

[2016-02-16 19:11] #142 closed, assigned to nobody

[2016-02-16 19:40] #125 closed, assigned to nobody

[2016-02-16 20:15] omehegan commented on #167
Sorry for the long silence! I am back to working on the plugin again this week, and will be trying to revive the fix for Workflow support.

[2016-02-16 20:31] peternijssen commented on #167
You are awesome @omehegan!

[2016-02-17 01:07] omehegan commented on #167
Have any of you gotten GitLab to trigger a Workflow job from a _merge request?_ I have it triggering the job when I push, but when I create an MR it does not trigger. I can't figure out why. I'm wondering if it's related to the tag issue.

[2016-02-17 07:54] peternijssen commented on #167
The "annoying" part is that there are several ways.
1. A web hook in Gitlab
2. The new Jenkins service in Gitlab
3. The old Jenkins service in Gitlab

I'll try the first 2 methods today and let you know the results.

[2016-02-17 08:33] ehaselwanter commented on #167
yes. with a webhook

[code]

[code]

[code]

[2016-02-17 09:36] Christilut commented on #191
This is also unclear to me.

The gitlab-plugin documentation kind of implies that the merge request plugin is not needed anymore. But I can't find a definite answer to that anywhere.

[2016-02-17 12:26] salashnik commented on #190
of course!

[2016-02-17 21:06] lafraia opened #196 "Gitlab link under Changes (in Jenkins) does not include repository name"
Gitlab needs repository name (provided under job configuration) to access correct URL. The gitlab plugin is using

[code]

it should be

[code]

Gitlab logo plugin requests this info under job configuration. Input GitLab repository name is formatted with "<group name>/<repository name>" (ex. gitlab-org/gitlab-ce)

[2016-02-17 21:52] ghost commented on #196
@lafraia
The problem is partially solved in fetching branches functionality. As far as I can see plugin fetches all projects accessible for its GitLab user. Then compares repo url field and source repository url from job configuration to find matching one. This is how plugin figures out the project and project id. You can see it [here](https://github.com/jenkinsci/gitlab-plugin/blob/75ebe514eabcc1

[2016-02-18 00:47] omehegan commented on #191
I spent the last day or so trying to get this working using Gitlab 7.14.3. The trick to getting MRs to trigger a build is to use the Settings -> Web Hooks UI and create a hook just for merge requests. Not very intuitive given that the rest of the GitLab configuration necessary with that version involves the GitLab CI stuff.

[2016-02-19 00:13] mattiasb commented on #191
The configuration is overly complex, sure. But all the steps is there, right on the main page. :D

[2016-02-19 01:13] omehegan commented on #191
The documentation really needs a refactor. I can do that.

[2016-02-19 19:49] ayufan commented on #186
I did check that. The Jenkins plugin should send the `ref` (just name without the `refs/heads` or `refs/tags`) in order for Commit Status and automatic merge to work.

[2016-02-19 21:43] omehegan commented on #191
@timmolter @Christilut I tried to improve the documentation about this, please take a look and reopen this issue if you still can't get MR's to build.

[2016-02-19 21:43] #191 closed, assigned to nobody

[2016-02-20 07:34] wl2776 opened #200 "Cross links in jobs, triggered by single event."
If several Jenkins jobs are configured to run from a single push (several web hooks installed, for example, builds on linux and windows), it would be great to have a link on a build page, showing other builds, triggered in parallel to this one.
Gerrit Trigger provides such functionality.
Each build triggered, with it, contains text like

**Other triggered build for this event.**
<Other job name> #

[2016-02-20 09:32] omorillo opened #202 "Add default value for the radioblocks with name "branchFilterName""
For none of the above mentioned radioblocks, a default value exists. By consequence, already existing jobs will end up with "branchFilterName" being null upon plugin update.

A default value for these radioblocks should be provided.

[2016-02-22 08:05] vmintam opened #204 "I have just updated gitlab to 8.3.4, how do i intergrate with jenkins ?"
Dear Guys,

 In this documents of jenkinsci plugin for gitlab, only support gitlab 7.14.xx or 8.1.xxx because gitlab 8.3 intergrated gitlab CI into core.

 So, any other solitions for intergrate gitlab 8.3.4 and jenkins ?

thanks!

[2016-02-22 09:46] ghost commented on #204
Hi,
In "Supported GitLab versions" chapter of README file you can read:

This means that the 8.3 version is supported. Read "GitLab Configuration (>= 8.1)" chapter to see how to configure.
You should also know that the plugin supports Jenkins 1.568 or higher (there is nothing about that in manual).
BR

[2016-02-22 09:58] vmintam commented on #204
thank for support  pwl89.

I will recheck README file.

[2016-02-22 09:58] #204 closed, assigned to nobody

[2016-02-24 21:44] coder-hugo commented on #193
I think the better approach would be to support the [Multi-Branch-Project-Plugin](https://github.com/jenkinsci/multi-branch-project-plugin) instead of creating projects per branch. This has the same effect of keeping the build history clean but also keeps the project view manageable.

[2016-02-25 05:12] cdenneen commented on #172
So while this helps MR behavior allow for first and subsequent updates it breaks builds for new branches getting created.

I think the idea the gitlab mr plugin does that allows builds on assigning MR, label, and even comments is good idea.

Plus fixing the push events that if triggered via MR only send one job to Jenkins instead of 2 would be nice fixes to these issues.

[2016-02-25 21:54] coder-hugo commented on #202
IMHO a default value isn't the correct solution. We should migrate existing jobs according to their settings using an Initializer like this one https://github.com/coder-hugo/gitlab-plugin/blob/feature/multiple-gitlab-connections/src/main/java/com/dabsquared/gitlabjenkins/connection/GitLabConnectionConfig.java#L108

[2016-02-25 22:00] WonderCsabo commented on #202
@coder-hugo yes, that way we can force users to choose in new jobs while migrating old jobs safely. However, is there a validation for that (for must selecting one of the options)? I do not see it in the PR #149 .

[2016-02-25 22:10] coder-hugo commented on #177
This is an issue in GitLab. This plugin uses the GitLab commit status API to provide GitLab the results of the jenkins builds. AFAIK there is no special API to make this visible in the "Builds" page.
@dblessing: As a member of GitLab Inc. do you know if it's planned for the future to show builds of external CIs also on the Builds page?

[2016-02-25 22:16] coder-hugo commented on #202
@WonderCsabo I haven't found a way to validate this so I implemented a solution that just preselects the first radiobox for new jobs. Which in the end has the same effect.

[2016-02-25 22:18] WonderCsabo commented on #202
@coder-hugo preselects the first radiobox? For me that sounds like it has a default value. :)

[2016-02-25 22:20] coder-hugo commented on #202
Yes for new jobs a default value is ok but not for the existing once ;)

[2016-02-25 22:21] WonderCsabo commented on #202
Great, and thanks for the fix. This issue can be closed, then?

[2016-02-25 22:23] coder-hugo commented on #202
No as the migration for existing jobs isn't yet implemented. Which means that non of the existing jobs will be triggered by a GitLab push or merge event because of a NullPointerException.

[2016-02-25 23:01] dblessing commented on #177
The build page is being redesigned/repurposed. In the meantime, no, there's
no way to get Jenkins builds to show there.
On Thu, Feb 25, 2016 at 4:10 PM coder-hugo notifications@github.com wrote:

[2016-02-26 01:10] omehegan commented on #121
https://github.com/jenkinsci/gitlab-plugin/pull/198 will resolve this I think.

[2016-02-26 04:10] shwangste commented on #180
+1

[2016-02-26 19:07] #177 closed, assigned to nobody

[2016-02-26 21:19] coder-hugo commented on #176
I don't get your issue. The git clone stuff isn't part of the plugin this is done by the git-plugin which can be configured using a HTTPS URL.

[2016-02-26 21:24] cdenneen commented on #176
${gitlabSourceRepoURL} is not https and provides no way to do this.

On Fri, Feb 26, 2016 at 4:19 PM coder-hugo notifications@github.com wrote:

[2016-02-26 22:22] coder-hugo commented on #153
I assume you are using GitLab 8.1+. If so this is the correct behavior. On the build page you should see all builds that are available for this commit. If you click on the status button of one of the builds you will be redirected to the Jenkins build page.

[2016-02-26 22:22] #153 closed, assigned to nobody

[2016-02-26 22:48] coder-hugo commented on #152
Skipping the build status update for aborted builds is impossible for GitLab 8.1+. Since GitLab 8.1 there is an API to notify GitLab about build status changes. This means:
1. the jenkins build starts -> tell GitLab a new build is running
2. the jenkins build ends
   - with success -> tell GitLab the build was successful
   - with failure -> tell GitLab the build failed
   - aborted -> tell GitLab

[2016-02-27 12:31] #202 closed, assigned to omorillo

[2016-02-27 13:01] WonderCsabo commented on #186
I am also seeing this bug on Gitlab 8.3 and 8.5.

[2016-02-27 13:12] ayufan commented on #186
WonderCsabo: Thanks. I'll verify it once again :)

[2016-02-27 13:48] coder-hugo commented on #183
Duplicate of #187

[2016-02-27 13:48] #183 closed, assigned to nobody

[2016-02-27 14:02] coder-hugo commented on #196
The gitlab link under changes gets generated by the jenkins git-plugin you have to select gitlab as repository browser and then you can enter the correct URL to your GitLab project.

[2016-02-27 14:02] #196 closed, assigned to nobody

[2016-02-27 14:05] coder-hugo commented on #160
Close this as #163 is merged back

[2016-02-27 14:05] #160 closed, assigned to nobody

[2016-02-27 14:10] coder-hugo commented on #156
I don't understand what's your question. For what reason you need your username and password of the GitLab account in the Jenkins. For using the GitLab API you have to use your API token this can be found in the Account Settings of GitLab.

[2016-02-27 14:33] coder-hugo opened #210 "Listen for update MR events instead of push events to rebuild open MRs"
Replace the "Rebuild open Merge Requests" select with a checkbox and use the update MR events to trigger a new build for open MRs.

[2016-02-27 14:33] coder-hugo commented on #172
Duplicate of #210

[2016-02-27 14:33] #172 closed, assigned to nobody

[2016-02-27 14:34] coder-hugo commented on #185
Duplicate of #210

[2016-02-27 14:34] #185 closed, assigned to nobody

[2016-02-27 14:34] coder-hugo commented on #150
Duplicate of #210

[2016-02-27 14:34] #150 closed, assigned to nobody

[2016-02-27 14:48] coder-hugo opened #211 "Provide useful values of the Push and MR events as build variables"
Implement a BuildVariableContributor that provides values of the Push and MR events stored in the GitLabPushCause and the GitLabMergeCause as build variables. These variables should contain at least:
- gitlabBranch
- gitlabSourceBranch
- gitlabActionType
- gitlabUserName
- gitlabUserEmail
- gitlabSourceRepoHomepage
- gitlabSourceRepoName
- gitlabSourceRepoURL
- gitlabSourceRepoSshUrl
- gitlabSourc

[2016-02-27 14:48] coder-hugo commented on #176
Duplicate of #211

[2016-02-27 14:48] #176 closed, assigned to nobody

[2016-02-27 14:49] coder-hugo commented on #180
Duplicate of #211

[2016-02-27 14:49] #180 closed, assigned to nobody

[2016-02-27 17:19] coder-hugo commented on #186
According to http://doc.gitlab.com/ce/api/commits.html#post-the-build-status-to-a-commit the ref has to be a tag or branch not the commit hash.

[2016-02-27 17:53] coder-hugo commented on #148
Can you provide us information about your configuration? How do you have configured the gitlab build trigger in your jenkins job? And the same for the GitLab side.

[2016-02-27 20:37] coder-hugo commented on #186
Was closed by accident.

[2016-02-27 20:56] coder-hugo commented on #168
Is this feature really necessary. We can fix this by adding a separate comment with a :+1: or :-1: but I don't see any advantage in the fact that the jenkins votes this MR up/down cause you already get the opinion of jenkins about the MR by the build status (success of failed).

[2016-02-27 21:36] coder-hugo commented on #155
I can't reproduce this. Can you provide us information about your setup (used versions, config, ...)?

[2016-02-27 21:53] coder-hugo commented on #158
I can't reproduce this. Can you provide us information about your setup (used versions, config, ...)?

[2016-02-27 22:23] coder-hugo commented on #137
The installation of the dependencies for building PhontomJS can't cause these exceptions. I think you have installed/updated a plugin that causes these errors. Can you provide us a list of all installed plugins in your jenkins.

[2016-02-28 10:23] ehaselwanter commented on #158
this was a false positive with settings in gitlab itself and the gitlab/jenkins-git settings. we can close this. I accidentally had a mixture of not setting the same merge strategy in gitlab itself (there are options in the commercial offering of gitlab in the project settings) and what I set for git in jenkins. obviously they have to match.

[2016-02-28 10:23] #158 closed, assigned to nobody

[2016-02-28 16:18] ghost commented on #168
I think that You're right with the idea of adding separate note (comment) after each build. It will work.
But it isn't as simple as it sounds. If this is the first build then everything is ok, but things go wrong if this is following build. In this case you can't simply add next comment.
If preceding build is different than following and you will add next comment you will have both - up and down v

[2016-02-28 19:30] ayufan commented on #186
@coder-hugo Is there anything that I can help with?

[2016-02-28 19:55] coder-hugo commented on #168
Adding a separate comment would do exactly the same as it was before GitLab 8.2. IIRC the votes get reset by GitLab with each new commit added to a MR so we don't have to reset the votes on our own. But again, I don't see any advantage in this feature. Therefore it would be kind if somebody how wants this feature could name some good reasons for adding it.

[2016-02-28 20:07] coder-hugo commented on #186
@ayufan a bit more of time to work on the plugin would be helpful :wink:
I'll hopefully fix this during my code cleanups within the next days.
I just added the last comment and the label to this issue while looking through all open issues to get an overview what needs to be done cause I'm the new lead maintainer since a few days.

[2016-02-28 20:38] ayufan commented on #186
Awesome. @coder-hugo if you need any help from GitLab side I'm more than happy to help you with that :)

[2016-02-29 12:44] froque opened #212 "branch names with non-URL safe characters"
I was having problems with branches with a '#' character.

The problem was in the java-gitlab-api and I submitted a fix: https://github.com/timols/java-gitlab-api/pull/115

I see that there is a work in progress to remove this library and use JAX-RS: https://github.com/jenkinsci/gitlab-plugin/pull/203

Whatever the strategy is, I just needed for the next version of the gitlab-plugin to work with w

[2016-02-29 14:59] klausbayrhammer commented on #211
this would be really really helpful!

[2016-02-29 15:19] orediggerco commented on #168
Can't speak for anyone else of course, but my team and I find the actual voting far more beneficial than the message about the build passing or failing. I can tell with a quick look at the top of our MR's what the status is regarding Jenkins builds and code reviews from the appropriate team members just by looking at votes, without having to wade through what tends to turn into lengthy discussions

[2016-02-29 17:44] coder-hugo commented on #168
I know that this is an existing feature which was broken by some changes in GitLab. So things are changing over the time and you come to a point where you have to decide whether the value of a feature justifies the effort for fixing it/keeping it alive.
If we'll fix this by just adding a separate comment with :+1: or :-1: we'll waste unnecessarily the MR history of everybody that still uses for wh

[2016-02-29 19:51] coder-hugo commented on #212
First of all: why do you use such strange characters within your branch names? I assume this could cause trouble also with other tools around git.
I can't promise you that this (latest version of java-gitlab-api) will be in the next release of the plugin which hopefully takes place in the next days. After this release I'll go on with my code cleanups including #203 which I'll finish hopefully with

[2016-02-29 20:30] orediggerco commented on #168
That would work for me and my team's needs (re modification to #201)! That would give me the functionality I'm looking for at least.

Thanks!

[2016-03-01 16:45] sebastienbonami commented on #186
@coder-hugo I tried a quick fix and it's solving the issue. In [GitLabMergeRequest.java](https://github.com/jenkinsci/gitlab-plugin/blob/ba8246b8ed1be1dbe398baaf2d3f50b5774abd99/src/main/java/com/dabsquared/gitlabjenkins/GitLabMergeRequest.java#L69): change third parameter of `createCommitStatus` method from `objectAttributes.getLastCommit().getId()` to `objectAttributes.getSourceBranch()`. Tags s

[2016-03-04 13:34] mhenrixon opened #214 "Hooks not working (Gitlab CE 7.11)"
![cubits-testenv gitlab 2016-03-04 14-32-31](https://cloud.githubusercontent.com/assets/106795/13528393/0515740a-e216-11e5-89d3-b7a5688d62f9.png)

Not sure what part of the information I got wrong but it seems like I am misreading something in the guides. If I go to `http://ci.cubits.staging/project/cubits-testenv` there is an error message and the job is under `http://ci.cubits.staging/job/cubits

[2016-03-04 15:54] pbendersky commented on #155
I'm using the gitlab-plugin 1.1.29 (downloaded here and compiled) and GitLab 8.5.2.

I create a merge request, and it gets compiled. (let's say a test fails). When I add another commit to the same MR, now the plugin does not try to compile again (I think it should)

[2016-03-04 21:50] omehegan commented on #214
The 'project' URL is correct, as specified when you configure that job to use the GitLab plugin. GitLab will POST to that URL - it is normal to see an error if you just try to GET it with a web browser. Are you sure your GitLab server can access Jenkins at that address?

I also have a vague memory that the "Test settings" does not work until you first click "Save," which is not intuitive. Or the t

[2016-03-05 00:25] omehegan commented on #211
I'm trying to figure out how, after an MR is approved and merged, I can capture its ID in the subsequent build. I need this for change tracking purposes. Here is the workflow I envision:
1. User creates MR, there is discussion and eventually some +1's or whatever
2. User clicks 'merge' button, merge is successfully pushed to target branch
3. Push triggers a build, if build is successful we deploy

[2016-03-05 15:09] WonderCsabo opened #217 "Inconsistent code formatting"
Currently the files are formatted with different options, for examples indentation with spaces vs tabs, spaces around braces vs. not. This makes contributing and reviewing code hard.

It would be nice to format the whole codebase to be consistent, and also provide Checkstyle and/or IDE formatting profile, so future contributors can use the same formatting settings.

[2016-03-05 16:52] omehegan commented on #217
Yeah, we definitely want to do this. @omorillo and @coder-hugo and I have discussed this, maybe we should discuss here what formatting should be used.

[2016-03-05 16:53] omorillo commented on #217
@WonderCsabo We were thinking about introducing Coding Guidelines which should cover beside a code formatting section some rule set to improve the code quality. Next to the guidelines, we thought of providing some code formatter settings.

[2016-03-06 18:17] bufferoverflow opened #218 "license within pom.xml and LICENSE is different"
just figured out that you have the following situation from a licensing point of view:
- [LICENSE](https://github.com/jenkinsci/gitlab-plugin/blob/master/LICENSE) is [GPL-2.0](https://spdx.org/licenses/GPL-2.0)
- [pom.xml](https://github.com/jenkinsci/gitlab-plugin/blob/master/pom.xml#L22) says [MIT](https://spdx.org/licenses/MIT)

could you please clarify this?

[2016-03-06 20:48] omorillo opened #219 "Project documentation needs be synchronized with the latest plugin version"
The documentation is out of sync. Missing features and their behavior need to be documented and obsolete ones removed.

[2016-03-06 21:15] omorillo opened #220 "Release workflow required"
There is no described **procedure** or **checklist** for the **release process**. However, having such a procedure would simplify keeping documentation in sync (_plugin description_, _changelog_, release notes, etc.) and improving the overall quality of the plugin.

Some sort of release workflow / checklist needs to be defined which describes all the required steps to be done for a release, for in

[2016-03-07 09:45] omorillo opened #221 "Help docs of name and regex based branch filtering not in sync with implementation"

[2016-03-07 09:47] loran34 commented on #211
Is it possible to add the description of the merge rquest too ?

[2016-03-07 21:40] cdenneen opened #222 "Gitlab 8.5.4 Webhook to Jenkins"
Project is setup as:
BuildFlow Project which is comprised of Freestyle -> Freestyle -> Multi-configuration Projects
First free-style is the actual Git project (and named module-profile_base_init_master) so that's why this message is misleading.
If I add git reference to the BuildFlow this now works even though the buildflow does nothing with the Git repository.

---

Hook execution failed: <!DOCTY

[2016-03-07 22:18] omorillo opened #223 "Changelog file out of sync"
The changes applied to the plugin since release version **1.1.28** are missing in the **CHANGELOG.md** file and needs therefore be added.

[2016-03-07 22:34] omorillo commented on #223
@omehegan @coder-hugo Existing changelogs list the committers. However, IMHO this information does not belong to a changelog. The changelogs should list the changes applied since the previous version but not who was the contributor. This information can be retrieved from the commit info itself, if desired. Therefore, I left this information out.

What do you opt?

[2016-03-08 11:34] hho opened #227 "Unable to build MR updates"
I have my Jenkins job set up like ramielrowe outlined [here](https://github.com/jenkinsci/gitlab-plugin/issues/172#issuecomment-178654421).

This worked with 1.1.28.
Since 1.1.31 I only get IAEs when attempting to build anything:

[code]

The gitlabUserEmail parameter never gets filled, even though there is a `user_email` property in the push web hooks JSON.

Also, even though the job only gets tr

[2016-03-08 12:22] avdv commented on #227
Same problem here after updating the plugin from 1.1.28 to 1.1.31.

Jenkins: 1.652
Gitlab: 8.4.2-ee

[2016-03-08 14:53] WebDucer commented on #222
The same issue after update the plugin from 1.2.28 to 1.2.31.

[2016-03-08 15:32] cdenneen commented on #222
Maybe the plugin needs BuildFlow support?

[2016-03-08 18:46] WebDucer commented on #222
I use only the Git and the GitLab plugins. no other. But I get the same error output if I try to trigger new build with 1.2.31. The same build with 1.2.28 version works like a charm.

Job configuration on Jenkins:
- Freestyle job with only one build step (execute FAKE build script on Windows agent on command line).
- Git an GitLab configuration (without Fork or Tag Push) as described on the startp

[2016-03-08 21:52] KostyaSha commented on #218
@bassrock placed GPL-2.0 in initial commit https://github.com/jenkinsci/gitlab-plugin/blob/master/LICENSE

[2016-03-08 22:02] omehegan commented on #218
I think we'd have to say the current license is GPL-2.0, based both on the timeline of commits and the way the two licenses work. If @coder-hugo and @bassrock agree, then we can update pom.xml accordingly.

We may consider changing licenses, but this will be complicated by the need to gain approval from all previous committers, I think.

[2016-03-08 22:07] bassrock commented on #218
If that helps work for project overall then that works for me.

[2016-03-09 07:47] coder-hugo commented on #218
I personally prefer using the MIT license as this is short and easy to understand. But if this project started with the GPL-2.0 we should use this to prevent complications with all the previous committers.

[2016-03-09 09:16] jsyrjala commented on #223
Also https://wiki.jenkins-ci.org/display/JENKINS/GitLab+Plugin is not up-to-date with versions > 1.1.28.
Seems that 1.1.31 is the latest version currently.

[2016-03-09 19:27] NITEMAN commented on #227
Same here.

Jenkins: 1.652
Gitlab: 8.5.4-ce

[2016-03-11 08:21] abcfy2 commented on #227
Same here.

Jenkins: 1.652
Gitlab: 8.5.4-ce

[2016-03-11 08:26] abcfy2 opened #232 "Could not handle spaces in "gitlabMergeRequestTitle""
Here is the jenkins console output:

[code]

There is a space in `功能 #3589及对中计算页面样式调整`.So grails raise an error: `Script not found: #3589及对中计算页面样式调整`

[2016-03-12 06:18] omehegan commented on #218
Fixed. It's GPL 2.0 everywhere!

[2016-03-12 06:18] #218 closed, assigned to nobody

[2016-03-12 06:23] omehegan commented on #222
This happens when the plugin thinks your project is not configured to use Git. In addition to a GitLab trigger setup, you also must be using Git as your SCM, and you must have successfully run the job once in order for Jenkins to recognize that the project uses Git.

[2016-03-12 18:13] WebDucer commented on #222
Git is setup in Jenkins job and works fine with version 1.2.28. With this version the job ran over 20 times in the last few days. With version 1.2.31 it doesn't work. After revert the plugin to 1.2.28 it works again.

[2016-03-14 08:04] wl2776 commented on #222
Same here. I've got the same error after upgrading Gitlab plugin on Jenkins to 1.2.31

[2016-03-14 08:18] WebDucer commented on #222
Here is my output:

[code]

[2016-03-14 09:38] avdv commented on #227
Apparently, this problem is already known since 2nd January, but the new version had been released regardless. :open_mouth:

See #170 and #216.

[2016-03-14 13:29] cdenneen commented on #222
Seems fine with 1.642 (lts) and 1.652

[2016-03-15 01:43] cliles opened #234 "Could not find GitSCM for project for workflow project?"
Is there any tips/tricks/documentation for setup with a workflow project? Trying to trigger and build MRs.

I can see some recent PR's that "fixed" support, like #206, but when I setup a workflow job and point my hook to it I get something like

[code]

@omehegan - plz assist.

[2016-03-15 06:48] WebDucer commented on #222
We use in production GitLab 8.5.0 and Jenkins 1.638 (1.2.28 works, 1.2.31 doesn't work).

I tried to reproduce the problem with GitLab 8.5.0 (gitlab/gitlab-ce) and Jenkins 1.642.1 (Jenkins) as Docker container. The same result (1.2.28 works, after update on 1.2.31 doesn't work).

[2016-03-15 06:58] WebDucer commented on #222
I found the reason, why it is not working any more.

In version 1.2.28 of the plugin Jenkins configuration doesn't require GitLab URL and API Token. In version 1.2.31 it is required. If URI and API Token are configured the version 1.2.31 works as expected.

[2016-03-15 09:55] ZeroPointEnergy commented on #227
Is there a workaround for the problem until this is released?

[2016-03-15 10:52] avdv commented on #227
Check out the master branch and run `mvn package`. Then, install the generated `gitlab-plugin-1.1.32-SNAPSHOT.hpi` file from the `target` directory.

[2016-03-15 12:38] wl2776 commented on #222
~~I've got configured GitLab URL and token, but it still doesn't work~~
**Update**
My API token has been broken. Probably, I've regenerated it some time ago, don't remember. After entering correct token, everything works again.

[2016-03-15 15:29] vstriz commented on #186
Is there any update on this? I have to keep reminding my team to not press that "oh so inviting" button. This would a wonderful feature to have working...

[2016-03-16 11:49] alexmufatti commented on #222
I've the same problem after updating to 1.1.31.
In configuration I've URI and API Token configured as @WebDucer said but this didn't solve the problem.

Any other suggestion?

[2016-03-16 15:18] alexmufatti commented on #222
I've found the solution to my problem. It was the slack integration plugin that was updated from 1.8 to 2.0.

I don't know how the 2 plugins interact but when I downgraded slack plugin everything worked.

[2016-03-16 21:17] coder-hugo commented on #187
Fixed with version 1.1.31

[2016-03-16 21:17] #187 closed, assigned to nobody

[2016-03-18 02:28] ghost opened #237 "Merge Request Rebuild with new push to source branch is break."
FATAL: Null value not allowed as an environment variable: gitlabUserEmail
java.lang.IllegalArgumentException: Null value not allowed as an environment variable: gitlabUserEmail
    at hudson.EnvVars.put(EnvVars.java:356)
    at hudson.model.StringParameterValue.buildEnvironment(StringParameterValue.java:56)
    at hudson.model.ParametersAction.buildEnvVars(ParametersAction.java:89)
    at hudson.m

[2016-03-18 02:40] omehegan commented on #237
Update to the latest version of the plugin, .32. This bug was fixed in that release. Please close if fixed.

[2016-03-18 10:42] DieBauer commented on #222
I've had the same problem. First-time installed plugin version 1.1.31 and the Gitlab hook didn't work on <Jenkins>/project/<id>, even with the API token filled. I've downgraded to 1.1.28 and the hook did work. This morning I upgraded the plugin to 1.1.32 and it still works (or works again).

[2016-03-18 12:45] rhduwe opened #238 "New branch push causes error in jenkins"
Pushes in existing branches trigger builds normally. When I push a new branch, build is not triggered and in logs there is a warning.

UPD: Problem seems to have gone away after updating gitlab to 8.5.8

Jenkins versions I've tried: 1.653, 1.641
Gitlab versions:  8.3.4, 8.5.7

Jenkins configuration - completely empty with git and gitlab plugins installed.
Project - configured git repository (gitla

[2016-03-18 18:03] omehegan commented on #222
@cdenneen can you confirm that this is resolved in the latest release and close this issue if so?

[2016-03-18 18:08] omehegan commented on #223
@omorillo I agree with you, the committer is not really relevant.

@jsyrjala I changed the wiki to reference the Changelog file included in the repo, that way we only have to keep one thing up to date.

[2016-03-18 18:08] #223 closed, assigned to nobody

[2016-03-18 20:20] pbendersky opened #239 "Improve handling of Merge Requests"
Based on a question I asked on GitLab (see [here](https://gitlab.com/gitlab-org/gitlab-ce/issues/14181#note_4212485)), it turns out we can fetch the contents of a Merge Request from the `origin` repository. As I see it, this has several advantages:
1. You don't need to setup your forked repositories to use CI, nor set the deploy key to them.
2. We could configure GitLab projects with a single repo

[2016-03-18 20:58] omehegan commented on #239
Sounds pretty cool... we should look into it further. We especially need to understand what versions of GitLab support this.

[2016-03-18 20:59] pbendersky commented on #239
Is there a minimum compatibility requirement? Or we can break the plugin for older versions of GitLab?

[2016-03-18 21:00] #186 closed, assigned to nobody

[2016-03-18 21:02] omehegan commented on #239
GitLab changed a lot between version 7.14 and 8.1. As a result, the plugin has a "Use GitLab 8.1 features" check box in the config. If this feature is only available in 8.1+, we could enable it along with the other new features based on that check box status. IMO we need to support at least 7.14, it seems many people are still using that, including me :P

[2016-03-18 21:13] pbendersky commented on #239
Here's the full documentation of these refs: http://doc.gitlab.com/ce/workflow/merge_requests.html

This was added in [8.0.0](https://gitlab.com/gitlab-org/gitlab-ce/blob/c790107854658a37d97b9a1c9066338eb12b06bf/CHANGELOG#L662), so it's safe to use it with the 8.1+ flag.

[2016-03-18 21:46] omehegan commented on #227
This was fixed in version 1.1.32. See https://github.com/jenkinsci/gitlab-plugin/blob/master/CHANGELOG.md. Please reopen if not fixed.

[2016-03-18 21:46] #227 closed, assigned to nobody

[2016-03-18 21:59] omehegan commented on #234
@cliles we talked about this in IRC, but did you have any more luck with this? "Works on my machine!" :)

[2016-03-20 21:14] omorillo opened #240 "Provide section on how to use Docker for efficient setup of test environment"
Using **Docker** allows developers and the plugin admins to efficiently set up test environment for different **GitLab** and **Jenkins** versions. This is very helpful, in particular when a reported bug related to a different version of aforementioned services needs to be reproduced.

[2016-03-20 21:25] omorillo commented on #240
Resolved with commit e0d541d.

[2016-03-20 21:26] #240 closed, assigned to nobody

[2016-03-21 08:22] wl2776 opened #241 "Trigger build or rebuild of non-head commit"
Sometimes our builds fail because of the Jenkins bug (https://issues.jenkins-ci.org/browse/JENKINS-9104). Jenkins offers "Rebuild" button, but if some more commits were pushed to that branch, this button triggers rebuilding them (head of the branch instead of specific SHA1 ID).

Same situation appears if we want to manually rebuild some specific repository snapshot, which is not on the head of any

[2016-03-21 15:04] rhduwe opened #243 "Use gitlab user name and email instead of those belonging to the commit author"
For push events, user name seems to be parsed from the first commit (https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/GitLabPushCause.java#L37). This seems counterintuitive, as the person who made the push is in any case responsible for the build.

There are some situations where you might require the name of the user who made the push. For example

[2016-03-21 16:18] omehegan commented on #241
Any manual build that you trigger is going to use only the Git plugin to check out code. The gitlab plugin will not be a factor at all. If you're talking about manual builds here, this is not a bug in our plugin.

[2016-03-21 16:26] omehegan commented on #240
This is great, thanks for writing this!

[2016-03-21 16:26] omehegan commented on #240
BTW @omorillo you should come back to the irc channel :)

[2016-03-22 07:34] wl2776 commented on #241
This is incorrect. At least, the manual for the Gitlab plugin affects checkout. Here is how.
1. I've got a failed build of a specific snapshot with known SHA1 ID that I want to rerun.  I have "Parameterized Build" checked in the job settings, and the value of this parameter is assigned to the `gitlabSourceBranch` variable.
2. I click on "Rebuild" link, and Jenkins offers me to enter build paramete

[2016-03-22 15:58] #222 closed, assigned to nobody

[2016-03-22 22:07] omehegan commented on #241
The parameter "gitlabSourceBranch" expects a branch name. You are passing it a SHA1 ID instead. That's why it is not working. This is not a bug in either plugin. If you want this to work, you would need to create an additional parameter for your job, called SHA1 or something, and have some logic within the job to have git check out origin/${gitlabSourceBranch} if that is populated, or check out SH

[2016-03-22 22:07] #241 closed, assigned to nobody

[2016-03-23 09:22] wl2776 commented on #241
Could you suggest me how I can add this logic?
Till now, I've seen only conditional build step plugin for jenkins, but it works after the code has been checked out.

[2016-03-23 11:18] ghost opened #246 "Add variable for global Merge request id"
Add variable for global Merge request id.
now gitlabMergRequestId contains iId of git project.
For use gitlab API need variable with global id of git project

[2016-03-23 16:47] omorillo commented on #214
@mhenrixon Any news on this issue? Could you figure out what is going wrong? Let us know if this issue can be closed.

[2016-03-23 16:48] omorillo commented on #237
@JavanEu Did the update fix the issue?

[2016-03-23 16:49] mhenrixon commented on #214
Not been able to get it to work unfortunately.

[2016-03-23 16:56] omehegan commented on #214
Can you look at the Jenkins log? It should show the request coming in. If not, you have a network issue. If it does log something, please share that.

Have you tried ignoring the test error and actually pushing a change to see if it triggers the build?

It could also be that GitLab 7.11 doesn't work with the plugin anymore.

[2016-03-23 20:37] omorillo commented on #219
Solution to this issue and issue #197 is underway.

[2016-03-23 23:57] omorillo commented on #148
@fontealpina Could you fix this issue? If you still are troubling with it, please let us know.

[2016-03-24 00:41] omorillo commented on #220
An initial version of the release workflow has been put in place with commit:  ee03fca.

[2016-03-24 00:41] #220 closed, assigned to nobody

[2016-03-24 00:46] omorillo opened #247 "Add bash scripts to setup docker containers with the oldest and latest Jenkins and GitLab versions"
In order to allow contributors for testing their changes against the oldest and latest Jenkins and GitLab versions it would useful to provide bash scripts which setup docker containers running those services.

[2016-03-24 07:46] coder-hugo commented on #247
@omorillo Do you know docker-compose? There is already a corresponding [YAML file](https://github.com/sameersbn/docker-gitlab/blob/master/docker-compose.yml) available. So I think it should be enough to just add this to the README.
Btw. yesterday I just added the first integration test to the release-1.2 branch which runs against a dockerized GitLab environment :wink:

[2016-03-24 11:17] omorillo commented on #247
@coder-hugo Sure, I know docker-compose. Still running a no longer supported Ubuntu distribution on my machine I could not set up docker-compose so far and test myself if the provided **yml** configuration file really works properly. Therefore I preferred to come up with an intermediate solution which I am able to test until I found the time to set up docker-compose. However, since I have a day of

[2016-03-24 13:53] vstriz opened #248 "Build status is broken with Gitlab 8.5.8"
We recently upgraded to Gitlab 8.5.8 (from 8.3.x) and also around same time  upgraded to latest gitlab-plugin 1.1.32 (from 1.1.28). Since then the Builds/build status no longer shows up on Gitlab side.  The build is still triggered in jenkins and it still puts the comment on the MergeRequest, but whether or not it succeeds or fails, gitlab no longer seems to know about the status.

I can try rever

[2016-03-24 16:59] omorillo commented on #247
@coder-hugo @omehegan I put in place a single docker-compose file for setup instances of the latest services versions,  **Jenkins v1.642.2** and **GitLab v8.5.8**.

Originally, I had in mind to provide two such docker compositions in different folders to allow users to test against the latest and the oldest supported versions. Still there are some questions left I would like to discuss with somebo

[2016-03-25 19:23] smithrs commented on #248
Just wanted to jump in and say it's working for me. The only issue I'm seeing is that it only shows the most recent build on the page. The minute a new build is started the history of the prior build disappears. Should I open a new bug for that?

To be clear, everything works, including the auto-merge at the end.

EDIT: My bad. I didn't understand how builds and commits map to each other. In my se

[2016-03-28 13:15] vstriz commented on #248
I'm pretty sure it's not configuration, but I could be wrong. It was working for a few months.  I think this is the change on the plugin side as to how to reports back to the Gitlab result of the  build. I'm going to try reverting to the older version(s) to verify....

[2016-03-28 15:00] vstriz commented on #248
After some more digging, I was able to resolve the issue. It was configuration. Turns out Jenkins user needs to be a 'Developer' and I had 'Reporter'. I'm pretty sure that used to work before on older Gitlab with Reporter, but it's even documented that it needs to be Developer.

Everything is working fine now, including "Merge when build succeeds". So I'm going to close this issue, as it isn't an

[2016-03-28 15:00] #248 closed, assigned to nobody

[2016-03-29 01:09] cliles commented on #234
ok, so I started fresh.

New pipeline job set to pull Jenkinsfile from scm. Manually ran job, worked fine. Change configuration of  the job to build on gitlab MRs, following the directions in the README for single-repository setup.

Running the job via MR hook fails. You had previously stated something about manually running the job with parameters that "worked." This was required to be done 1 tim

[2016-03-29 01:17] cliles commented on #234
When configured for MRs, I get something like the following

[code]

[2016-03-29 12:48] vills opened #249 "Two or more webhooks produce 'retried builds' in GitLab"
_Not sure, but it can be a duplicate of #200_

If we use more than one webhook in repository, than builds are recorded in GitLab as 'retried', that isn't true actually. Not sure, but it can be because of field 'Name' (Jenkins) reported by plugin to GitLab instance.

It would be nice to set-up 'Name' field on per job basis in jenkins, that is reported to GitLabCI.

Gitlab version: 8.6. Gitlab 8.1 f

[2016-03-29 15:44] cotman opened #250 "Intermittent failures to trigger a Jenkins build when an MR first opened"
Hi,

I've noticed comments in other issues, elsewhere, but they seem to suggest they've gone away?

I'm running:

Jenkins: 1.654
Gitlab Plugin: 1.1.32
Gitlab: 8.5.4

For the most part, everything works brilliantly.  However...occasionally when opening an MR, a build isn't triggered and I see the following in the `jenkins.log`:

[code]

As above - it seems to work sometimes, but not others.  When i

[2016-03-30 07:49] cotman commented on #250
Actually, seems a bit worse than what's above.

I've just opened an MR to find the exception thrown in the logs and no build triggered, but then closing/re-opening the MR doesn't trigger it either - the same exception is thrown.

I then trimmed down the webhooks on the Gitlab project so that there was just a single one left, but the same thing seems to happen.

[2016-03-30 12:18] cotman commented on #250
Apologies for the stream of consciousness on this, but it seems to be happening across projects now - we're not getting any triggering.

The version of Gitlab hasn't changed since it was all working well, but we have upgraded Jenkins (and, perhaps, dependent, plugins).  We're currently running Jenkins 1.655, so the issue definitely occurs with 1.654 and 1.655.

Again, don't know if it's related, b

[2016-03-30 14:00] litmanovich commented on #144
I have this problem on GitLab 8.5.8 - build is started when MR is created but not started when source branch is updated. I tried adding a webhook in the fork repo, but this way build starts on each push, even when there is no MR, which I don't want to happen. I'd prefer having webhook only on main repo and triggering the build on MR updates. Do I need to remove the return statement from Jenkins pl

[2016-03-30 15:37] coder-hugo commented on #249
IIRC it's enough if the description of the [commit status](http://doc.gitlab.com/ce/api/commits.html#post-the-build-status-to-a-commit) is different to have a separate build instead of a retried one in the GitLab build list.
So I think we should add the possibility to send a also configurable description to GitLab while updating the status of a commit.

[2016-03-30 16:09] vills commented on #249
@coder-hugo +1

Anyway, it would be nice to see both 'name' and 'description' as a optional configurable options in job. Cause 'name' add ability to determine job exactly from gitlab's build list.

[2016-03-30 17:58] kgoedert opened #251 "Branch name not sent by gitlab"
Hi,

I installed gitlab ce 8.5.1 and jenkins 1.655. I followed the instructions in the readme file. First thing is that  on the gitlab webhook if I leave it as <jenkins-url>/job/<project> and test the hook, gitlab says it is successful, but nothing happens on jenkins. If I append /build, then the build is triggered but I get this error message:

Can anybody help?

[2016-03-30 20:29] omehegan commented on #251
As per the documentation, the URL you should be using for the GitLab hook is e.g. http://JENKINSURL:8080/project/JOBNAME  In other words, you must use /project rather than /job, and you must not append /build. Please change that and let me know if you still have problems.

[2016-03-30 21:33] omehegan commented on #234
After much discussion in IRC, we have determined that @cliles is hitting this Jenkins bug: https://issues.jenkins-ci.org/browse/JENKINS-28447  The plugin will work OK with WorkFlow jobs which define the workflow script in the Jenkins UI. If you use the git checkout method of pulling the script, it does not work because these variables are not expanded.

[2016-03-30 22:23] omehegan commented on #250
I looked into this and was about to comment to say I have no idea what is going on, but it looks like @pbendersky does :)  We will review his PR.

[2016-03-30 23:31] omehegan commented on #248
I updated the README to make it clear the user must be a Developer.

[2016-03-30 23:47] omehegan commented on #247
I have no experience with Docker yet. This might be a good chance to get some. @omorillo let's discuss further in IRC at some point.

[2016-03-30 23:48] #148 closed, assigned to nobody

[2016-03-30 23:50] omehegan commented on #241
@wl2776 it would have to be something like a Workflow/Pipeline style build. https://github.com/jenkinsci/workflow-plugin  That would let you wrap some logic around the checkout step, which is otherwise impossible in other build types.

[2016-03-31 08:56] cotman commented on #250
Ah - interesting (and thanks for looking).  Will keep an eye on the PR.

For the existing case, it seems to happen all the time for us now, but only with MR events - we always get the exception and no triggered build.  This did all work previously, and work really well, so I'm suspecting a Jenkins/dependent Jenkins Plugin might be the cause?

When making a push to the source branch of an MR, after

[2016-03-31 10:33] kgoedert commented on #251
The url was wrong, and there was also something wrong with gitlab itself. I fixed the url and restart gitlab and it worked. Thanks

[2016-03-31 10:33] #251 closed, assigned to nobody

[2016-03-31 14:43] rigoford opened #253 "Configuration clarification"
More of a query than an issue, but...

I'm using GitLab CE 8.5.8 and Jenkins 1.642.2, with the Gitlab Plugin 1.1.31 (and required dependencies) installed. I've successfully configured a GitLab project to trigger a build on Jenkins, however I have quite a specific use case that I can quite seem to get working.

Given a GitLab project (example-project, with protected master branch) and two associate

[2016-04-01 00:17] omehegan commented on #253
You should use Jenkins Workflow/Pipeline. Then you can just have one job, and put a conditional in the job based on the branch name. Much cleaner and more flexible than two separate jobs IMO. This is how we accomplish your goal. Otherwise, I don't think there is a way to have GitLab trigger different jobs depending on the branch, and this is a GitLab problem, not a plugin problem.

[2016-04-01 01:37] smithrs commented on #253
I have it working that way. One job runs unit tests on the merge request using the source branch, the other does the full CI build against the master branch. Here's my recipe:

Two builds which I will call MR build and CI build.
The MR build runs against the MR source branch and the CI build runs against the target branch which is master in our setup.

The Gitlab web hook for MR should include bot

[2016-04-01 10:12] peternijssen commented on #167
@omehegan I noticed in a previous commit you worked on the workflow integration. Should everything currently now work or are there still parts which are missing? Then I know what to report and what not to report :)

Thanks for your work so far! Really appreciated.

[2016-04-01 10:31] hadesh opened #254 "gitlab web hooks triggered build, but not fetch the latest commit."
gitlab 8.3.2
jenkins 1.642.3

When I user TEST HOOK in my private gitlab, the build do not checkout to the latest commit.

But if I just click the BUILD NOW, everything is ok.

The BUILD NOW log:

[code]

The HOOK log:

[code]

[2016-04-01 17:47] omehegan commented on #167
@peternijssen everything should work now with the latest version of the plugin, .32. The one caveat is that if you don't run the job manually once and have it succeed, the fact that it is a GitSCM job will not be stored, and the GitLab plugin will ignore it during triggers, showing the warning you noted in your original issue. We are going to remove this restriction so that the plugin will just bl

[2016-04-01 17:51] omehegan commented on #254
I think the test button in GitLab doesn't send a payload that can successfully trigger a job. I view it as a GitLab problem, though maybe we should do something more helpful when it looks like a test payload has come through. Regardless, can you please try with a real push or MR in your repo, rather than the test button, and let us know if you still have issues?

[2016-04-01 20:46] pbendersky commented on #254
I think the test hook takes the last commit in the repository.

[2016-04-02 10:44] wl2776 commented on #241
@omehegan Thanks, I will keep it in mind that my current fix with removing `origin/` from the _Branch specifier_ violates plugin's expectations. But it currently works fine.

[2016-04-02 15:53] peternijssen commented on #167
Thanks! I am currently running the Jenkins 2.0 BETA and I am using the Folders plugin. I'll let you know which issues arise at my side. Any things I can configure in Jenkins to give you good error reports? (If any occurs of course :))

[2016-04-04 11:04] rigoford commented on #253
Thanks for your prompt responses. I like the idea of using Pipeline, it should be the most flexible option. However, setting up a simple Pipeline Jenkins job and attempting to trigger it from a GitLab Webhook (using Test Webhook) I get an immediate error along the lines of "java.lang.IllegalArgumentException: This project does not use git:my-new-project_GITLAB".

I've got Pipeline (1.14) installed

[2016-04-04 15:43] fabMrc opened #255 "Jenkins authentication failed"
Hi

I tried this plugin with a secure jenkins and I have a 401 ERROR when I execute the webhook url
How do you configure gitlab (CE edition) for giving credentials parameters on webhook event ?

[2016-04-04 17:00] rigoford commented on #253
It appears that I have to use two Jenkins jobs, the first is a freestyle project (with the necessary SCM section config) and is called by the GitLab Webhook. The second is a Pipeline and contains a Groovy script that contains the necessary logic to determine whether to do a REVIEW or a CI build.

This approach seems a bit cumbersome, but looks like it'll work. Unless I've got hold of the wrong end

[2016-04-05 02:48] bentruyman commented on #193
Agreed, @coder-hugo. There are plugins from Cloudbees to support GitHub and Stash which work great for this exact purpose.

[2016-04-05 03:39] hadesh commented on #254
YES, a real push works well.
But, if the TEST HOOK can do the same thing, things will be more easier.

[2016-04-05 04:43] #254 closed, assigned to nobody

[2016-04-05 09:15] jfisbein opened #256 "Error Saving Jenkins Configuration"
When I try to save Jenkins configuration I get this Error:

Jenkins: 1.655
Gitlab Plugin: 1.1.32

[code]

Looks it's related to this plugin. Can you help me to resolve it?

[2016-04-05 09:23] jfisbein commented on #256
Sorry, looks like a Jenkins problem. solved it restarting Jenkins :-O

[2016-04-05 09:23] #256 closed, assigned to nobody

[2016-04-05 15:49] pfrank13 opened #257 "Expose Gitlab Push Event Before and After"
For a Gitlab Push Event expose the "before" and "after" document attributes as "gitlabBefore" and "gitlabAfter".  One such use of this would be to determine the changeset of all the commits for a given push event.  Since these attributes aren't present for the Merge Request Event just put set "gitlabBefore" and "gitlabAfter" as an empty string.

[2016-04-05 15:55] pfrank13 commented on #257
#258 implements the proposed changes.

[2016-04-05 15:59] pfrank13 commented on #246
I don't know your exact use case but I needed a similar concept for the work I was doing, however the Gitlab API doesn't actually expose anything like this, in addition it seems like Git itself doesn't have a push as a first order concern, Git really seems to only deal with commits.  That being said the Gitlab API does provide a "before" and "after" hash that you can use to do things like find out

[2016-04-06 07:57] ghost commented on #246
Use case is very simple
I need to add comment for merge request after execution of another Jenkins job using gitlab API
For this purpose gitlabMergeRequestId can't be used, because it contains Iid instead of Id of merge request.

There two ways to use gitlab API for add comments
1. Replace IId with id of merge request for gitlabMergeRequestId
2. Add new parameter gitlabGobalMergeRequestId with Id

[2016-04-06 08:18] osamahf opened #259 "merge request from a forked repository doesn't work"
Hi,

merge request from a forked repository doesn't work for me, i get this ERROR,

`Merging Revision 79851d8c0ff78fb6d71059d1fffe0ad491de2202 (user1/myproject/master) to origin/master, UserMergeOptions{mergeRemote='origin', mergeTarget='${gitlabTargetBranch}', mergeStrategy='default', fastForwardMode='--ff'}
' > git rev-parse origin/master^{commit} # timeout=10

For single-repository it's work ni

[2016-04-06 11:24] osamahf commented on #259
solution :  add user.name  and user.email value to git plugin in configure system.

[2016-04-06 11:26] #259 closed, assigned to nobody

[2016-04-06 11:32] osamahf commented on #255
In gitlab weeb-hooks add your credential in the url and disable ssl verification  if you work with a self signed certificate.

[2016-04-06 13:11] fabMrc commented on #255
Can you give me the url syntax with the credentials parameters ?

[2016-04-06 14:14] pfrank13 commented on #246
Oh apologies I thought you were looking for a unique push id, your use case was very different from mine haha.  Oops =)

[2016-04-06 18:26] abedwardsw opened #260 "git repository url - resolve env vars"
@omehegan I think there is one remaining bug relating to https://github.com/jenkinsci/gitlab-plugin/issues/58. Reading through the notes I was able to get it to work, but the only way I could get it to work was by NOT using a Jenkins environment variable in the name of the git Repository URL.

Currently, all my projects are setup as follows:
Repository URL: ${GIT_SERVER}:my-group/my-project.git

I

[2016-04-07 07:23] cotman opened #261 "Support [WIP] tag to prevent builds from triggering"
Hi,

Is this possible?

I know there's the `[ci-skip]` option in commit messages, but that kind of pollutes the commit message history.

The use case is a Jenkins job that's configured to respond to MR events and push events to the source branch of the MR.  In most cases, this is fine.  However, there are situations when a speculative MR is opened just to make work visible in a diff as it's on-goi

[2016-04-07 08:09] osamahf commented on #255
what do you mean by a secure jenkins ?
if jenkins is secured by server proxy the url syntax will be : http://user:pass@jenkins_ip/project/job

if jenkins secured with jenkins global Security you don't need to add your credential in the url.

[2016-04-07 08:17] fabMrc commented on #255
Jenkins is secured with global security and Webhook raise 401 ERROR so it might be a problem of authentication

[2016-04-07 08:33] osamahf commented on #255
try this :

http://user:token@jenkins_server/project/job

You can obtain the token  from http://jenkins_server/user/username/configure

[2016-04-07 12:32] fabMrc commented on #255
It failed !

`Hook execution failed: <!DOCTYPE html> Jenkins [Jenkins]var isRunAsTest=false; var rootURL="/jenkins"; var resURL="/jenkins/static/3218044d";crumb.init("", "");Skip to content log in createSearchBox("/jenkins/search/");Jenkins Jenkins project Bug tracker Mailing Lists Twitter: @jenkinsci Oops!A problem occurred while processing the request. Please check our bug tracker to see if a si

[2016-04-07 15:07] rsommer opened #262 "Gitlab CI integration does not work with jenkins pipeline projects, build remains in state "running""
I started experimenting with the upcoming 2.0 release of jenkins and its pipeline projects. While all "normal" projects report their build states back to gitlab as expected, the test pipeline project completes in jenkins but never reports back its completion. The state in gitlab is always "running". I did not find any error in any logfile. I tried with gitlab-plugin 1.1.28 and 1.1.32.

To reproduc

[2016-04-11 14:04] strowi opened #263 "Access to jenkins fails"
Hi,

what permissions do i need to set in jenkins to allow the webhook to http://jenkins/projects/XYZ to work? We have a active-directory authentication and jenkins serves only the login page...

regards,
roman

[2016-04-12 00:13] kevindashgit opened #264 "plugin not functioning"
Apologies for the vague issue summary - I'm not sure what's going on w/o any logging output.
Essentially, I've followed the `Readme` guide as closely as possible. Any tips would be greatly appreciated!

**## Versions of things**
**Jenkins**: ver. 1.625.2
**gitlab-plugin**: ver. 1.1.32
**GitLab**: ver. 8.5.8 bb69923

**## Some facts**:
- I'm able to use the `filter branches by name` feature - and i

[2016-04-12 02:12] smithrs commented on #264
Set up a Jenkins job as per the instructions, add an "Execute shell" step that just runs the "set" command as follows, so you get a dump of your build environment:

[code]

Test the job by pushing actual code (not just testing the web hook).

Then you can post the output here.

[2016-04-12 04:17] omorillo commented on #264
@kevindashgit Your description is truly too vague. Please, provide more information on what you tried out so far. You may also want to verify the correctness of your Jenkins job and GitLab webhook setup with a verified working Jenkins and GitLab version. In this case, check out our "Quick test environment setup using Docker" section in the wiki for further instructions on how to set up dockerized

[2016-04-12 04:25] omorillo commented on #264
@kevindashgit Should you be still struggling with the setup of the plugin with the verified working versions of Jenkins and GitLab, let me know and we can arrange an IRC channel session to guide you through the setup.

[2016-04-12 04:28] omorillo commented on #263
@strowi Unfortunately, I do not have any experience with Active Directory authentication and Jenkins, but if you like we can have an IRC channel session. Maybe I still can help you out with your issue. Otherwise, maybe @coder-hugo  or @omehegan have some experience with.

[2016-04-12 07:12] strowi commented on #263
thx for the offer, i'll be idling in #gitlab-plugin..
I guess active-directory or other authentication doesn't matter.
With the previously used gitlab-hook plugin i was able to just trigger the build without any authentication.
Now with the gitlab-plugin it seems i have to authenticate gitlab to jenkins (or alternatively allow anyone to trigger)...

[2016-04-12 10:35] strowi commented on #263
sorry, my mistake.. found a typo after 6 hrs..

[2016-04-12 10:35] #263 closed, assigned to nobody

[2016-04-12 19:35] kevindashgit commented on #264
@smithrs - hitting `test hook` from gitlab does not trigger the job as it should (which is the issue I'm having).

Also, before I could even get to running the script you mentioned - the build fails with:

`hudson.plugins.git.GitException: Command "C:\Program Files (x86)\Git\cmd\git.exe rev-parse "origin/${gitlabTargetBranch}^{commit}"" returned status code 128:
stdout: origin/${gitlabTargetBranch

[2016-04-12 20:53] smithrs commented on #264
@kevindashgit Are you seeing any evidence in your Jenkins logs that the web hook is being received? You need to troubleshoot that part of it first. The output will look like this:

[code]

Actually this raises a good question, does anyone know why the log line `WebHook called with url:` fails to return a URL?

[2016-04-12 21:27] omehegan commented on #264
@kevindashgit it looks to me like the variable for target branch is not getting expanded. That may be the first problem. But I'm confused by the fact that you quote "C:\Program Files" in your most recent comment, but your list of env vars indicates you are running Linux. Is it a Linux master and Windows slave, or vice versa?

What type of Jenkins job is this? Freestyle? Maven? Matrix? Workflow/Pip

[2016-04-13 00:43] kevindashgit commented on #264
I do _not_ see any log output in jenkins when testing the hook and/or committing actual code. So ya - I totally agree that the root of my troubles is around setting up that connection correctly. I will redo this now and maybe I'll have more luck.

@omehegan the job is supposed to run on win - but I switched a linux build slave for the purpose of spitting out the environment variables using the scr

[2016-04-13 21:18] smithrs commented on #264
@kevindashgit Freestyle is the default. If the first two lines of xml look like this it's freestyle:

[code]

It it's not Freestyle that `<project>` tag will look like something else, based on whatever plugin defines the project type.

[2016-04-16 04:32] devmattrick opened #265 "Host Key Verification Failed"
Hello,

Whenever I push to my GitLab instance, I get the error below with the build failing immediately. The issue is of course that Jenkins is attempting to use SSH to authenticate rather than the HTTPS that I had configured. I'm not too sure the cause of the issue and would appreciate it if you could provide any assistance.

Thank you!

[code]

[2016-04-16 06:11] omehegan commented on #265
This is not an issue with the GitLab plugin. It seems like the git configuration of your job, where code is checked out, is invalid. I'm assuming the job also doesn't work when run manually?

[2016-04-16 07:52] devmattrick commented on #265
When run manually it appears to not even replace the variables at all:

[code]

I'm obviously doing something wrong here, but I never defined an SSH URI.

[2016-04-18 09:06] devmattrick commented on #265
Decided just to add an SSH key; solved.

[2016-04-18 09:06] #265 closed, assigned to nobody

[2016-04-18 16:23] omehegan commented on #167
Any update on this issue?

[2016-04-18 16:28] omehegan commented on #261
Oh, I thought the ci-skip tag was supposed to be used in the MR title, not in commit messages. But I didn't write that feature. I'll check this out and maybe make a change to support the [WIP] syntax. I do have a vague memory that GitLab supports something on its side where you can tell it not to trigger hooks if the MR is labeled a certain way...

[2016-04-18 18:41] randyaa opened #266 "No Merge ID (or iid) included as environment parameter"
the only fields this plugin seems to provide to the environment is:

[code]

I'd like to use the plugin to drive commenting back to gitlab with custom build success/failures.  I can use the API to do this but without the merge request id or iid available to me, it seems my only option is to pull down open merge requests and search for the current one.

It would be a lot easier if I had an environm

[2016-04-18 23:47] smithrs commented on #266
That functionality definitely works for me. When I dump the environment I get all the variables (9 in total). Please provide more detail about the versions (Gitlab, Jenkins, etc.) and how you are setting up your test case. Thanks.

[2016-04-19 07:48] pjagielski commented on #266
@randyaa I think you have outdated version of the plugin, we just updated it and now we have all the variables visible as parameters.
However, I don't get how Jenkins comments about build status. GitLab API requires merge request `id` but in params I only see `iid` which doesn't work with the API.

[2016-04-19 08:16] smithrs commented on #266
Yes it's confusing. Per this page: http://doc.gitlab.com/ce/api/merge_requests.html

The id that's visible to normal users is the iid.
The value assigned to gitlabMergeRequestId is also the iid.

You must convert iid to id using this API call:

GET /projects/${projectId}/merge_requests?iid=${gitlabMergeRequestId}

It's best to use a tool like the Chrome Advanced REST client and play with the API u

[2016-04-19 08:59] pjagielski commented on #266
@smithrs Thanks! It should work for me.

[2016-04-19 23:08] omehegan commented on #253
@rigoford sorry for the delay in response.

Your Pipeline job's script should have a step in it which checks out your code from git. This would be distinct from the trigger configuration of the job, where you indicate that the job will be kicked off by GitLab hooks.

Then, because of a "feature" of the plugin, you will need to run the job manually once, and have it succeed, before the plugin will

[2016-04-19 23:19] omehegan commented on #246
@AceOfSnakes can you give an example of what you're looking for? I don't understand what the global ID is or how it is different from gitlabMergeRequestId. This may be something that needs to change on the GitLab side, if this isn't something they send in the hook JSON. Or else we would have to make additional API calls to get it maybe.

[2016-04-19 23:29] omehegan commented on #259
I have updated the documentation to reflect this. Thanks!

[2016-04-19 23:35] omehegan commented on #260
That's an interesting one. Where is the GIT_SERVER variable set?

[2016-04-19 23:48] omehegan commented on #261
@cotman in fact, it's as I remembered: if you put [ci-skip] in the MR title, and check that box in the Jenkins job config, the job will not trigger on updates to the MR. You can remove [ci-skip] when you are ready to allow triggering. If that does not work for you, please let me know.

I will add a note that we should also support [WIP] because that seems to be a common pattern.

[2016-04-19 23:52] omehegan commented on #255
@fabMrc can you tell me what authentication mechanism you are using in Jenkins? Is it just Jenkins internal usernames and passwords? Or are you using something external like LDAP or OAuth?

[2016-04-19 23:57] omehegan commented on #262
@rsommer you will definitely need to use plugin version 1.1.32 for Pipeline support to work, so make sure you're on that. Earlier versions had a bug that produced the behavior you are seeing.

There should be SOME log entries in the Jenkins log showing what the plugin is doing when it receives a hook and when the build completes. Please check for those and paste them here if possible. Thanks!

[2016-04-20 05:18] cotman commented on #261
Oh - nice - thanks.  I'd just assumed that [ci-skip] was only usable in commits from what I had found searching about.  Will try in the MR title and see if it works for us and will update this issue.

[2016-04-20 05:27] ghost commented on #246
@omehegan
http://doc.gitlab.com/ce/api/

**id    Is unique across all issues and is used for any API call**

[2016-04-20 08:39] peternijssen commented on #167
"Push Events" and "Tag Push Events" work great! So far as I am aware off "Merge Request Events" also works, but I am unable to do a thorough check because I am blocked by an issue in the pipeline plugin itself;  https://issues.jenkins-ci.org/browse/JENKINS-33719

[2016-04-20 10:59] rseek commented on #178
+1 such feature would be useful

[2016-04-20 14:35] omehegan commented on #167
Yes, I'm aware of that issue with the Pipeline plugin. Ok, I will close this. Thanks!

[2016-04-20 14:35] #167 closed, assigned to nobody

[2016-04-20 15:37] gtheraud commented on #167
@peternijssen : I did not try "Tag Push Events" so far with Jenkins Pipeline.
Does it require Beta2 ? Does it mean that, if I push a tag on the git repo (and not necessarily on the HEAD), it could be possible to get information like "BUILD_CAUSE = tag push" or even the labels pushed ?

[2016-04-21 18:54] jblaine commented on #255
I think I am in the same boat, no matter whether I try the http or https endpoints, with or without SSL verification.

We're using LDAP authentication in Jenkins.

WebHook URL configured in Gitlab 8.6 as http://jblaine:MyAPIkeyHere@jenkins.our.org:8080/project/rcf-chef

[code]

[2016-04-21 19:51] omehegan commented on #255
@jblaine can you tell me what Authorization strategy you have configured in Jenkins? This would be distinct from the authentication strategy (LDAP in your case). E.g. matrix, logged in user can do anything, legacy mode, etc.

If you want, join the #gitlab-plugin channel on the irc.freenode.org IRC network, and I can help you there in realtime.

[2016-04-21 20:39] jblaine commented on #255
Role-Based Strategy

[2016-04-21 21:44] omehegan commented on #255
I actually don't think you should need to put any auth information in the web hook URL. I use Google auth for Jenkins web UI access control, Anonymous users only have read access and can't run jobs. Yet I can trigger jobs from GitLab with the plugin just using a standard URL of https://jenkins:8080/project/mybuild  Even if I remove all access for the Anonymous user, I can still trigger builds.

@j

[2016-04-21 22:41] omehegan commented on #255
@fabMrc what version of the plugin are you using? What are your settings for Security Realm and Authorization in the Jenkins Global Security configuration page?

[2016-04-22 13:47] jblaine commented on #255
@omehegan I agree. I tried adding my creds to the WebHook URL only because I saw it mentioned here. Previously the hook had no creds of mine and was working. We are not using the optional "extra" configuration where one creates a user in Gitlab and configures the Gitlab Plugin to use it. We are also not yet trying to do anything in the plugin with merge requests. We are using version 1.1.32 of the

[2016-04-22 14:09] jsyrjala opened #267 "Merge request not triggering in Jenkins with gitlab-plugin 1.1.32"
I upgraded gitlab-plugin from 1.1.28 to 1.1.32 and merge request no longer trigger builds in Jenkins.

With gitlab-plugin 1.1.28 merge request were working just fine.

Environment:
- Gitlab server 8.5.10
- Jenkins ver. 1.651.1
- Jenkins running on Ubuntu Linux

My jenkins logs this when I push to a merge request:

[code]

[2016-04-22 14:24] jsyrjala opened #268 "Build history is reporting sometimes a wrong branch name"
Sometimes Build History box in http://jenkins-server/jenkins/job/jobname/ is reporting a wrong branch name for jobs.

E.g page http://jenkins-serveri/jenkins/job/jobname/1520/ reports that it build origin/branch-a and
page http://jenkins-serveri/jenkins/job/jobname/1521/ reports that it build origin/branch-b

When Iook at Build history on http://jenkins-server/jenkins/job/jobname/, it sometimes re

[2016-04-22 15:37] jsyrjala commented on #264
I have also problems with gitlab-plugin 1.1.32 (see #267), but version 1.1.28 works for me.

[2016-04-22 18:07] omehegan commented on #255
@jblaine so you had the plugin working at one point and then it stopped? Do you know what could have changed?

I think you should try creating the appropriate Jenkins user in GitLab and giving it access to the project you are trying to build. I have a feeling that this is causing your problem, and although I see that the docs say it is optional, I suspect that may not (or may no longer be) the cas

[2016-04-22 18:12] Dtsr opened #269 "Question about 1.1.32 version"
Where is the button  "rebuild open merge request on push events" on new version of plugin?

I've been working with 1.1.24 and after the update my open merge requests dont start jenkins jobs when i commit something in origin branch.

I know there is a "Rebuild open merge request", but this is not working, even if i select "On push to source or target branch".

Can you guys help me?

Jenkins version

[2016-04-22 18:30] jblaine commented on #255
Yes, it used to work. The only recent change was our upgrade to Gitlab 8.6.6 from 8.5.something. That was done last week as I recall.

[2016-04-23 17:46] smithrs opened #270 "Plugin should respond to change in MR assignment"
I have the following use case:

My manager wants to stop all developers for pushing to master, period, All work should be done on branches and use Merge Requests.

Gitlab does not support this use case. If you can't push to master, you also can't accept a MR that would push to master on acceptance (https://gitlab.com/gitlab-org/gitlab-ce/issues/967 and https://gitlab.com/gitlab-org/gitlab-ce/issue

[2016-04-25 09:50] jsyrjala commented on #268
I also tried replacing deprecated Locks and Latches plugin with newer https://wiki.jenkins-ci.org/display/JENKINS/Throttle+Concurrent+Builds+Plugin, but that didn't fix the problem.

[2016-04-25 17:23] randyaa commented on #266
You're right we had an outdated version & we're all set. Thanks!

[2016-04-25 17:34] fabMrc commented on #255
Hi

I retry recently, upgrade gitlab CI plugin on jenkins and delete old plugins (gitlab merge request etc...)
It works nice with and without authentication.
However I actived Kerberos plugin and it failed. Basically the kerberos plugin allow bypass the kerberos process by enriching HTTP Header with a skip information. I think I may use a proxy in front of my jenkins for that because no way in git

[2016-04-25 20:06] #159 closed, assigned to nobody

[2016-04-25 22:06] omehegan commented on #211
@dblessing wondering if you have any thoughts on my comment above. Seems like a GitLab question.

[2016-04-26 00:02] omehegan opened #271 "Version 1.2.0 breaks support for Workflow/Pipeline jobs"
I should have tested this refactor with my usage of Pipeline, I could have caught this issue before we released. The problem is that we have used AbstractProject and AbstractBuild in many places. To be compatible with Pipeline as well as traditional freestyle jobs, we need to use Job<> instead of AbstractProject and Run<> instead of AbstractBuild. There is a more detailed guide to compatibility he

[2016-04-26 00:04] omehegan commented on #271
See also the previous changes we made to support this:

https://github.com/jenkinsci/gitlab-plugin/pull/100
https://github.com/jenkinsci/gitlab-plugin/pull/206

[2016-04-26 05:58] #121 closed, assigned to nobody

[2016-04-26 05:58] #136 closed, assigned to nobody

[2016-04-26 05:58] #162 closed, assigned to nobody

[2016-04-26 05:58] #175 closed, assigned to nobody

[2016-04-26 05:58] #179 closed, assigned to nobody

[2016-04-26 05:58] #210 closed, assigned to nobody

[2016-04-26 05:58] #211 closed, assigned to nobody

[2016-04-26 05:58] #212 closed, assigned to nobody

[2016-04-26 05:58] #217 closed, assigned to nobody

[2016-04-26 10:11] coder-hugo commented on #271
@omehegan  can you just try if this 1640a7e04a396a8d3e7a954c71e86dbc634bfef0 fixes the issue. I replaced AbstractProject and AbstractBuild with Job and Run wherever possible but there are places where it's not possible due to the inheritance hierarchy.

[2016-04-26 11:20] omehegan commented on #271
I will take a look. Perhaps @jglick or someone can suggest an approach to take in the other places.

[2016-04-26 19:40] radium226 opened #272 "Error while testing GitLab's Jenkins CI Integration with Jenkins' GitLab Plugin"
Hello,

I'm trying to make GitLab 8.7 (using directly https://gitlab.com) and Jenkins 2.0 work together, but I got this error from Jenkins when I test (using the Test button of GitLab's Jenkins CI Service interface):

[code]

I looked at the source code and it seems that the `X-GitLab-Event` is missing from the HTTP request.

Do you guys have an idea what going on?

[2016-04-26 21:28] omehegan commented on #271
@coder-hugo well, your commit will allow a build to trigger, so that's an improvement! Let me try out some other things and see if I find any issues. Thanks!

[2016-04-26 22:53] omehegan commented on #271
Merge Request builds are broken for me in both Pipeline and Freestyle jobs, I think this is a separate bug.

[2016-04-26 23:02] omehegan opened #273 "'java.lang.NullPointerException: sourceRepoHomepage must not be null' on MR triggers"
Running GitLab 7.14.3 and version 1.2.0 of the plugin, I get the exception shown above when a push or MR tries to trigger a build. Strangely, when I use the 'Test Hook' button, the build triggers OK. This fails with both Freestyle and Pipeline builds. I'm guessing that this value may not be set in older versions of GitLab? @dblessing any thoughts on this?

Full exception log:

2016-04-26 22:55:27.

[2016-04-27 06:50] coder-hugo commented on #273
@omehegan this is strange cause I always tested my changes with GitLab 7.14.3 and the latest GitLab 8.x. You could add a logger for "com.dabsquared.gitlabjenkins" in your Jenkins. There you should see some more details and also the incoming request.

[2016-04-27 07:16] jsyrjala commented on #267
I tested also with gitlab-plugin 1.2.0: the problem still exists.

Now I get this in Jenkins log when push to branch occurs and GitLab notifies jenkins.

[code]

[2016-04-27 10:32] coder-hugo commented on #267
Can you please provide the configuration of your Jenkins job. Additionally you could configure a logger in your Jenkins for "com.dabsquared.gitlabjenkins" and paste its output here to get some more information what's happening in your Jenkins.

[2016-04-27 12:20] SirEdvin commented on #262
Strange, but 1.2 version also don't work.

[2016-04-27 17:37] jblaine commented on #255
Weird. My problem described in this issue is working now after an upgrade to 1.2.0 of the plugin.

[2016-04-27 18:51] omehegan commented on #255
@jblaine version 1.2.0 discarded the gitlab API library we were using in favor of a simplified internal implementation. So you were probably hitting a bug in that.

[2016-04-27 18:51] #255 closed, assigned to nobody

[2016-04-27 19:53] omehegan commented on #273
Homepage is definitely not present in the JSON when I open a merge request. Here's the JSON from a merge request: https://gist.github.com/omehegan/57e16c230e15d050ad26ce061031f8e3

Turns out that pushes work OK, the webhook I was using initially was only set up for MR.

[2016-04-27 21:36] crussell52 commented on #272
I am seeing the same behavior with a local jenkins 2.0 install and Gitlab 8.5.5-ee.

Same stacktrace.

Plugin version 1.2.0

[2016-04-27 21:40] crussell52 commented on #272
Downgraded the plugin to 1.1.32 in jenkins. Successfully works around this issue.

[2016-04-27 23:09] omehegan commented on #273
@coder-hugo https://github.com/jenkinsci/gitlab-plugin/commit/f737542f8ae6b04c58d567ccc671eb32e391f565 resolves this issue for me, although it may not be the best way to do so.

[2016-04-28 00:16] omehegan commented on #271
When I combine your https://github.com/jenkinsci/gitlab-plugin/commit/1640a7e04a396a8d3e7a954c71e86dbc634bfef0 patch with my changes for https://github.com/jenkinsci/gitlab-plugin/commit/f737542f8ae6b04c58d567ccc671eb32e391f565 I am at the point where a Pipeline job will be triggered when I create an MR. However, none of the appropriate job parameters, such as gitlabSourceBranch, are set, so I can

[2016-04-28 00:19] omehegan commented on #271
I have just posted https://groups.google.com/forum/#!topic/jenkinsci-dev/Z227uLfB81w to ask for help from the Jenkins community.

[2016-04-28 07:11] 4kochi commented on #272
Have same the problem. Downgraded to `v1.1.32` and now it works fine.

[2016-04-28 07:24] adumat commented on #234
i'm trying to configure a jenkins job using "multibranch pipeline", there is a mode to use this plugin for trigger the jobs?

[2016-04-28 09:08] abcfy2 opened #274 "MR build break down because the wrong value with "gitlabSourceRepoURL"."
I find the value of `gitlabSourceRepoURL` is wrong recently.

Here is the job **Environment variables**:

| Name | Value |
| --- | --- |
| gitlabActionType | MERGE |
| gitlabBranch | dev |
| gitlabMergeRequestAssignee | jenkins |
| gitlabMergeRequestDescription | fix a bug |
| gitlabMergeRequestId | 0 |
| gitlabMergeRequestTitle | manually build |
| gitlabSourceBranch | master |
| gitlabSourceRepo

[2016-04-28 09:33] xasx opened #275 "Handle GitLab API deprecations >= 8.5.0"
There are some Merge Request related API changes in recent GitLab versions which are not reflected in `GitLabApi`.

See https://github.com/gitlabhq/gitlabhq/blob/master/CHANGELOG#L385

Essentially, it is the MR comment API that is now a 'note' API.
Furthermore it is `merge_requests` now (instead of former singular).

[2016-04-28 11:05] xasx commented on #275
Currently getting

[code]

Furthermore, no build information is attached or updated.

[2016-04-28 11:56] mattiasb commented on #275
Build information in the form of notes/comments added to the MR? Does the [Build Status](https://cloud.githubusercontent.com/assets/1341313/14884979/e4267510-0d48-11e6-8f8e-c73d18438371.png) thing still work for you?
I'm asking since we're considering upgrading GitLab at my work soon. :)

[2016-04-28 12:37] coder-hugo commented on #275
Can you add a Logger for "com.dabsquared.gitlabjenkins" to your Jenkins and paste its output here.
According:

Can you just check if your Jenkins job has got the Post-Build step "Publish build status to GitLab commit (GitLab 8.1+ required)".

[2016-04-28 13:08] xasx commented on #275
Neither works.

Wasn't aware of that, but totally makes sense since it is not related to any API change.
Will try and report back soon

[2016-04-28 13:13] xasx commented on #275
Using the post-build action, I get this exception

[code]

[2016-04-28 13:29] pyther commented on #262
In my case builds show as "pending". I'm using Jenkins 2.0 with the gitlab 1.1.32 plugin.

[code]

[2016-04-28 13:36] jglick commented on #271
Use `EnvironmentContributor` rather than `RunListener.setUpEnvironment`.

[2016-04-28 13:37] xasx commented on #275
I can sucessfully

[code]

However, the question is which `projectId` you pass.

[2016-04-28 13:39] coder-hugo commented on #275
You should see the id if you configure a Logger in your Jenkins for "com.dabsquared.gitlabjenkins" at least for FINEST. This prints several information about the invoked requests.

[2016-04-28 13:44] xasx commented on #275
Seems some placeholder isn't correctly substituted. The request is done against:

`https://mygitlabhost/api/v3/projects/$%7BgitlabSourceRepoURL%7D/repository/commits/d519ad86345fcdbf54bd42e7184974dc94c045f3`

[2016-04-28 13:49] xasx commented on #275
Regarding the commenting issue:

`https://mygitlabhost/api/v3/projects/150/merge_request/177/comments?note=%3A%2B1%3A+Jenkins+Build+Failed%0A%0AResults+available+at%3A+%5BJenkins+%5BBlablabla%2F177%2F%29` leads to 404 (maybe due to the API change as noted above).

[2016-04-28 13:54] abcfy2 commented on #274
It's might be a bug? I downgrade to the early release, and works very well.

[2016-04-28 18:07] coder-hugo commented on #271
@jglick Before using the `RunListener` I used the `EnvironmentContributor` but IIRC this gets called to late and environment variables used in the GitSCM configuration aren't replaced by the corresponding values.

[2016-04-28 19:01] pyther opened #276 "Trigger fails if gitlab user does not have access to project"
I have a gitlab user named `jenkins`. This users API key is set under Manage Jenkins -> Configuration System -> API Token.

I have two projects, `website/olcf` and `website/ncrc`. The `jenkins` (gitlab) user has access to `website/olcf` only. I can replicate the problem if I remove my `jenkins` (gitlab) user from the `website/olcf` project.

When I push a commit to the `website/olcf` git project,

[2016-04-28 19:34] omehegan commented on #271
@coder-hugo I have a feeling that we might need to use EnvironmentContributor AND RunListener, depending on which job is being used. I think I understand the issue you were having. In a Pipeline job, all of the SCM stuff happens after the job has started, as part of the Pipeline script, rather than being a part of the job configuration itself.

[2016-04-28 19:36] omehegan commented on #271
@vekexasia this is not related, please file a separate issue.

[2016-04-28 19:40] jglick commented on #271
Sounds like a core bug if so. Do not recall the behavior offhand, would need to dig into sources. (Try adding a `Thread.dumpStack`.)

[2016-04-28 20:35] #275 closed, assigned to nobody

[2016-04-28 20:46] coder-hugo commented on #271
I just tried it again using the `EnvironmentContributor` and now it's working. But we have updated also the minimum required versions of Jenkins and the git-plugin in the meantime. Maybe there was a bug in an early release of them.

[2016-04-28 20:56] coder-hugo commented on #271
@omehegan I added this change to the branch feature/workflow-plugin-support. Can you try if your pipeline jobs are working with this.

[2016-04-28 20:58] #273 closed, assigned to nobody

[2016-04-28 21:05] coder-hugo commented on #276
According to the stacktrace you are using an older version of the plugin. Line 330 of GitLabWebHook doesn't exist anymore in version 1.2.0. Please update to this version and try it again. If you still get an error add a Logger for "com.dabsquared.gitlabjenkins" in your Jenkins and paste its content here.

[2016-04-28 21:20] pyther commented on #276
I'll try to update, but I'm using workflow and if I understand #271 correctly, the 1.2.0 doesn't work with workflows.

[2016-04-28 21:46] omehegan commented on #271
@coder-hugo unfortunately the Pipeline job still fails with:
`groovy.lang.MissingPropertyException: No such property: gitlabSourceBranch for class: WorkflowScript`

In other words the parameter is still not set. A freestyle job works OK. The log doesn't show any exceptions, the variables still just aren't getting set in this case.

[2016-04-28 21:54] omehegan commented on #271
Oh, I see what the problem is. With this method, the variables are only accessible within the env[] map... or whatever it is. So I need to use env.gitlabSourceBranch.

[2016-04-28 22:18] omehegan commented on #271
@coder-hugo OK, I think that fix is the best we can do. Per @jglick it is not currently possible to make all these values accessible as global Groovy variables, though he has a plan to support that in the future. Doesn't help us at the moment. With your change, freestyle jobs will be unaffected, but anyone with an existing Pipeline job is going to have to change their variable access to use env.

[2016-04-29 07:05] coder-hugo commented on #271
@omehegan OK, til now I wasn't aware that the pipeline plugin handles build parameters and environment variables different as Jenkins itself makes no difference between them.
Maybe we can add a migration code that replaces all known gitlab-plugin variables within the groovy scripts by the corresponding environment variable during the upgrade of the plugin.

[2016-04-29 08:46] vekexasia opened #277 "Cannot integrate with gitlab ci after upgrading to version 1.2.0 & jenkins 2?"
[code]

[2016-04-29 10:23] julien3 commented on #277
Duplicate #272

[2016-04-29 11:48] pyther commented on #276
1.2.0 appears to fix this issue, but I am using Jenkins 2.0 and I'm hitting bug #272

[2016-04-29 11:48] #276 closed, assigned to nobody

[2016-04-29 13:19] Grosskopferter opened #278 "NP when trying to add GitLab CI to build job"
Hi,
I added the gitlab-plugin v. 1.20 to a Jenkins Server (2.0)
I was able to add the gitlab connection in the Jenkins settings and sucessfully configured a webhook in the gitlab project that does trigger a jenkins build.
However, I get an error when the build is executed:

<pre>FATAL: null
java.lang.NullPointerException
    at org.jboss.resteasy.util.ReadFromStream.readFromStream(ReadFromStream.j

[2016-04-29 14:07] coder-hugo commented on #278
Maybe the same as https://github.com/jenkinsci/gitlab-plugin/issues/275#issuecomment-215418781 which will be fixed with 99ea7c1a89d2c816337c0feb81b00e3e461d1860.
Can you add a logger for "com.dabsquared.gitlabjenkins" to verify this.

[2016-04-29 17:49] omehegan commented on #271
@coder-hugo I talked to Jesse about this, but as I suspected there is no way we could perform this migration in users' Pipeline Groovy code. What we should do is release version 1.2.1 with your fix, and mark it as incompatible with prior versions using this approach: https://wiki.jenkins-ci.org/display/JENKINS/Marking+a+new+plugin+version+as+incompatible+with+older+versions  Then we can document w

[2016-04-29 18:02] omehegan commented on #271
I can handle the documentation update, release, etc.

[2016-04-29 19:10] #277 closed, assigned to nobody

[2016-04-29 19:11] jagardaniel commented on #267
**EDIT**: I upgraded GitLab to 8.7.0 and it works now.

I think I have the same issue. Push requests works great but merge requests seems to fail.

GitLab: 8.3.7
Jenkins: 2.0
gitlab-plugin: 1.2.0

Here is some output from **/var/log/jenkins/jenkins.log** when a merge request is triggered from GitLab:

[code]

And here is the data from the logging filter:

[code]

I see commits from the last couple

[2016-04-29 20:16] coder-hugo commented on #272
I tested the plugin in Jenkins 2 running in the bundled Jetty and a Tomcat 8 and for both I hadn't trouble that the `X-GitLab-Event` header is missing. So I assume this is somehow related to your Jenkins/GitLab setup. Can you provide some details of your setup. Are there any systems in between Jenkins and GitLab, e.g. a proxy. Maybe you could try to use a packet sniffer (tcpdump) to see if the HTT

[2016-04-29 20:44] coder-hugo commented on #274
I can't reproduce this. During my tests the `gitlabSourceRepoSshUrl` and `gitlabSourceRepoURL` had always the same value. Can you add a logger to your Jenkins for "com.dabsquared.gitlabjenkins" and paste the JSON of the Gitlab Webhook here. Maybe this contains the error.

[2016-04-29 21:41] omehegan commented on #271
Version 1.2.1 was just released to fix this issue.

[2016-04-29 21:41] #271 closed, assigned to nobody

[2016-04-29 23:18] omehegan commented on #267
@jagardaniel so is your issue resolved now?

@jsyrjala version 1.2.1 of the plugin was just released. Please update to that and see if it resolves your issue. If you are using Pipeline/Workflow jobs, please note that you will need to make changes to your Pipeline script. See https://github.com/jenkinsci/gitlab-plugin#jenkins-job-configuration for details.

[2016-04-30 00:01] omehegan commented on #262
If you are using Pipeline jobs, please update to version 1.2.1 of the plugin, just released today. Then report if you are still experiencing issues.

[2016-04-30 00:04] omehegan commented on #234
@adumat it should just work. Please update to version 1.2.1 of the plugin and report if you have any issues. Note the Jenkins bug I mentioned in https://github.com/jenkinsci/gitlab-plugin/issues/234#issuecomment-203644051. If you have any problems, please open a separate issue.

[2016-04-30 00:04] #234 closed, assigned to nobody

[2016-04-30 00:10] #266 closed, assigned to nobody

[2016-04-30 00:16] omehegan commented on #268
@jsyrjala please update to plugin version 1.2.1 and test. Are you seeing this behavior both with push builds and merge request builds?

[2016-04-30 04:20] omehegan commented on #269
@Dtsr please update to the latest version of the plugin, 1.2.1. Then, if you are still having problems, follow the instructions in the README for capturing logs and post them here. Thanks!

[2016-04-30 04:21] #264 closed, assigned to nobody

[2016-04-30 04:30] omehegan commented on #260
@abedwardsw can you update to the latest version of the plugin and test? If it is still not working, please try to print this variable in a shell script step so we can see if it is set there.

Has this ever worked correctly? It's not clear to me that this is one of the variables the plugin should be setting. Also, what Jenkins job type are you using?

[2016-04-30 04:31] #253 closed, assigned to nobody

[2016-04-30 04:35] omehegan commented on #250
@cotman I would suggest you try upgrading to the latest version of the plugin, it has a substantial refactor of code and may resolve this issue on its own. Let me know if not.

[2016-04-30 04:35] omehegan commented on #247
Let's close this for now and discuss on IRC if we need to do anything else. @omorillo thanks for your work on this so far!

[2016-04-30 04:35] #247 closed, assigned to nobody

[2016-04-30 04:38] #219 closed, assigned to nobody

[2016-04-30 04:39] omehegan commented on #143
@djb61 the plugin has been significantly refactored in the last few weeks. Can you update to the latest version and let us know if you are still having this issue?

[2016-04-30 04:40] #214 closed, assigned to nobody

[2016-04-30 04:40] #237 closed, assigned to nobody

[2016-04-30 04:41] #238 closed, assigned to nobody

[2016-04-30 04:45] omehegan commented on #243
@rhduwe the plugin has been largely refactored in the latest release. Please update and let me know if the behavior is still not what you would expect. I think we are now mostly using input given to us by the GitLab hooks directly.

[2016-04-30 04:47] omehegan commented on #193
Yes, this is also now natively supported for Pipeline jobs in the Pipeline Mutibranch Plugin. I think that's the best way forward for support of something like this.

[2016-04-30 04:47] #193 closed, assigned to nobody

[2016-04-30 04:55] #161 closed, assigned to nobody

[2016-04-30 04:56] omehegan commented on #157
@coder-hugo don't we have this now?

[2016-04-30 04:57] #156 closed, assigned to nobody

[2016-04-30 04:59] #152 closed, assigned to nobody

[2016-04-30 05:04] omehegan commented on #221
We need to update the branch filtering part of the README to reflect the current UI. I can do this.

[2016-04-30 05:05] #137 closed, assigned to nobody

[2016-04-30 05:14] #130 closed, assigned to nobody

[2016-04-30 07:09] jagardaniel commented on #267
@omehegan Thanks for the reply. Yes, the issue was resolved when I upgraded GitLab to the latest version. I will try with the new version of the plugin later today.

[2016-04-30 07:49] jsyrjala commented on #267
1.2.1 doesn't work for me. I am using a freestyle job with configuration
-   Build on Merge Request Events:      enabled
-   Build on Push Events:       enabled
-   Rebuild open Merge Requests:        on push to source branch
-   Enable [ci-skip]:       enabled
-   Set build description to build cause (eg. Merge request or Git Push ):      enabled
-   Add note with build status on merge requests:

[2016-04-30 09:17] jsyrjala commented on #268
Version 1.2.1 doesn't trigger any builds for me, see #267.

[2016-04-30 12:51] #262 closed, assigned to nobody

[2016-04-30 12:59] coder-hugo commented on #267
@jsyrjala can you please provide the complete log output. If the JSON contains some sensitive data just filter this out and not the complete JSON.

[2016-04-30 21:10] pyther commented on #272
I'm running Gitlab 8.6.4 and I'm not seeing any X-GitLab headers in the request sent from Gitlab -> Jenkins.

On my gitlab server 127.0.0.1:8090 maps -> jenkin2.example.com:8080 which is the raw Jetty server that is bundled with Jenkins.

Request

[code]

Response

[code]

[2016-04-30 21:39] crussell52 commented on #272
I am actually using apache mod_proxy to deliver over port 80.

If the root cause is indeed a missing header, maybe it is being stripped by apache. I won't be able to examine it until Monday.

[2016-05-01 11:27] abcfy2 commented on #274
But how do I add a logger? I just follow the official doc settings.

Here is my config:
![image](https://cloud.githubusercontent.com/assets/5327677/14941546/27980bac-0fd2-11e6-8452-cc6048da234a.png)
![image](https://cloud.githubusercontent.com/assets/5327677/14941548/39308506-0fd2-11e6-9e8d-d621378dc637.png)
![image](https://cloud.githubusercontent.com/assets/5327677/14941552/55179aca-0fd2-11e6-9e

[2016-05-01 15:33] omehegan commented on #274
Look at the readme, under User Support, it explains how to add a logger.

[2016-05-02 06:45] coder-hugo commented on #272
I just tested this at work with GitLab EE and the Jenkins CI service. In this case the `X-GitLab-Event` header is missing for me, too. As a workaround you can configure a webhook instead of the Jenkins CI service in your GitLab.
@dblessing IIRC you were involved in the implementation of the Jenkins CI service in GitLab. Is there any reason why this doesn't send the `X-GitLab-Event` header?

[2016-05-02 06:55] jsyrjala commented on #267
Got it working now. It seems that upgrading to 1.2.1 disabled the gitlab-plugin in all the jobs and downgrading back to 1.1.28 enabled it again and I didn't check the configuration while the 1.2.1 was installed. Once I enabled the configuration in 1.2.1, all seems to work now.

[2016-05-02 06:55] #267 closed, assigned to nobody

[2016-05-02 08:12] kerlandsson opened #280 "Tag Push Events not Starting Builds"
We are trying to get Tag push events to work in GitLab Community Edition 8.7.0. Using the latest code from master of this plugin. When a tag is pushed, our job is not started. We have enabled FINE logging and see the following logs in Jenkins:

[code]

Looking at the code of `com.dabsquared.gitlabjenkins.webhook.ActionResolver.onPost(AbstractProject<?, ?>, StaplerRequest)` we see the following:

[

[2016-05-02 09:32] Grosskopferter commented on #278
It seems that this caused the problem, I just tried plugin version 1.2.1 and it now works without problems, thanks for the fix!

[2016-05-02 09:32] #278 closed, assigned to nobody

[2016-05-02 15:28] alexgrist commented on #272
Also experiencing this issue, had to downgrade to `v1.1.32`. Not using apache or nginx as a reverse proxy, just direct request to jenkins.

[2016-05-02 16:00] pyther opened #282 "Authentication not required for /project end-point"
I can add `https://jenkins.example.com/project/website/olcf` as a web hook and builds get triggered when a webhook event occurs. As you can see no auth credentials are used.

I have tried this using the following authorization strategies. `Matrix-based security`and `Logged-in users can do anything`.

Is this a bug or designed behavior? If it is designed behavior I'll open a ticket with gitlab as t

[2016-05-02 16:39] crussell52 commented on #272
As stated earlier, I am using apache as a reverse proxy to allow access to jenkins on port 80 (for user convenience).

To eliminate this as a variable, I modified my configuration in GitLab to point directly to the jenkins port.  This bypasses apache entirely, but did not correct the issue.

Latest test with plugin: v1.2.1

[2016-05-02 16:49] mattpfr opened #284 "NullPointerException when using the GitLabCommitStatusPublisher"
Hi,
I am using the gitlab-plugin v.1.2.1 with Jenkins 1.646 and Gitlab 8.6.5 (CE).
I have a proper connection to gitlab and wanted to use the publisher functionality to get back the status from the job for a merge request.
If I do not add the publish post-build action, everything works fine, except that I do not get the build status in Gitlab.
If I now add the publisher post-buil action, I get an

[2016-05-02 20:34] omehegan commented on #282
I only recently became aware of the fact that we are not authenticating the build trigger at all. Resolving this is a high priority, but doing so is going to break every existing installation of the plugin. I expect a lot of tears.

[2016-05-02 22:38] omehegan commented on #267
That's very strange. I have not seen that behavior when I upgraded the plugin. I wonder if this is an issue upgrading from 1.1.28 directly to 1.2.1. I have always upgraded incrementally.

[2016-05-03 03:53] crussell52 commented on #272
Recreated once again, this time with:

Jenkins 2.1
Gitlab Jenkins CI Plugin: 1.2.1
Gitlab EE: 8.7.1

I also updated my gitlab configuration to access Jenkins by IP (internal network) to take the internal DNS out of the equation.  Like my earlier test, I used my Jenkins port instead of port `80` to take the apache reverse-proxy out of the equation as well.

I got the same results. So I ran tcpdump

[2016-05-03 06:19] coder-hugo commented on #272
@crussell52 as mentioned here https://github.com/jenkinsci/gitlab-plugin/issues/272#issuecomment-216117519 this seems to be a bug in the GitLab EE Jenkins CI Service. If you add a webhook instead of the Jenkins CI Service the request should contain the `X-GitLab-Event` header.

[2016-05-03 06:35] coder-hugo commented on #272
Add link to [GitLab EE issue](https://gitlab.com/gitlab-org/gitlab-ee/issues/534)

[2016-05-03 07:20] jsyrjala commented on #267
Maybe it is related to exclude branches functionality I was using? At least UI for that has changed (and maybe also underlaying configuration) from 1.1.28 to 1.2.0

[2016-05-03 09:57] tnsasse commented on #284
+1 Same issue.

My stacktrace:

[code]

Jenkins 2.0
GitLab 8.7.1

Funny thing: this results in a GitLab comment from Jenkins on the merge request, with a thumbs up and "Jenkins Build Failed" message... Jenkins seems confused after the update ;-)

[2016-05-03 09:58] tnsasse commented on #284
Btw: worked fine with Jenkins 1.6 (latest) and Gitlab 8.7.0

[2016-05-03 10:19] tnsasse commented on #284
I have another similar one, seems connections are not closed properly.

[code]

[2016-05-03 11:11] coder-hugo commented on #284
@tnsasse I assume that resteasy doesn't close the connection properly due to these NullPointerExceptions above.
Can you add a Logger for "com.dabsquared.gitlabjenkins" to your Jenkins ([see](https://github.com/jenkinsci/gitlab-plugin#user-support)) and paste its output here. Otherwise I can't find the reason for the NullPointerExceptions.

[2016-05-03 12:40] angely-dev opened #286 "Build the merge, not only the source branch"
Hi,

This plugin works well but is it normal that only the source branch (e.g., a feature) is built and not the merge with the target branch (e.g., develop) ? Maybe a dumb question but that seems surprising to me. In Atlassian Bamboo, it is possible to do both (thanks to a checkbox) : build the source branch and build the merge.

Besides, this leads to an inconsistency in the GitLab Merge Request

[2016-05-03 13:05] mattpfr commented on #284
Here is the log you requested. There are indeed a few null pointers.

[code]

[2016-05-03 13:17] crussell52 commented on #272
@coder-hugo Thank you for the followup and for raising the issue with GitLab. :)

[2016-05-03 14:28] demaniak opened #287 "NullPointerException on MR and Push with webhook trigger"
Hi.

Jenkins version 2.1 (upgraded from 1.x, not cleanly installed)
GitLab (CE) version  7.10.4 (337225a)
Git client plugin: 1.19.6
Git plugin: 2.4.4
Git server plugin: 1.6
GitLab Plugin 1.2.1

Various other plugins also installed, not sure if any of them might be impacting.

WebHooks on gitlab fail to trigger builds.
From jenkins logs, extracted the below stack trace.

The problem is persistent a

[2016-05-03 14:55] fabMrc opened #288 "Found errors in your .gitlab-ci.yml: YAML should be a hash"
Hi

When I launch a merge request I have an error on gitlab
Found errors in your .gitlab-ci.yml:

[code]

Jenkins build correctly and add a note on the MR but the badge is failed due to the .gitlab-ci.yml

The .gitlab-ci.yml is empty I just created to enable build on gitlab

The jenkins job is a Maven jobs

version 1.2.1 on jenkins 1.625.2
GitLab Community Edition 8.6.1

[2016-05-03 15:59] demaniak commented on #286
Hi @champidead  - did you set up your SCM section as described in the [readme](https://github.com/jenkinsci/gitlab-plugin#jenkins-job-configuration)?

Specifically the _Additional Behaviours_ section is important.

This caught me out the first time.

[2016-05-03 16:07] demaniak commented on #270
I have the following setup:
- "jenkins" user on GitLab
- gitlab "jenkins" user API token utilized in jenkins gitlab config
- use webhooks in gitlab to trigger builds in jenkins (MR events)
- gitlab plugin setup in jenkins with additional behaviours to merge before build
- when/if build passes (automated tests, quality checks etc), I enabled the _Accept merge request on success_ function of the Git

[2016-05-03 16:14] demaniak commented on #287
It seems that the `X-GitLab-Event` header is not found in [com.dabsquared.gitlabjenkins.webhook.ActionResolver.onPost(ActionResolver.java:93) ](https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/webhook/ActionResolver.java):

[code]

I am really puzzled as to why this is suddenly an issue. The code in question seems to have been present a while, witho

[2016-05-03 16:27] #288 closed, assigned to nobody

[2016-05-03 16:43] tnucera opened #290 "Wrong GitLab Merge Request ID"
Hello,

Jenkins 2.1
Git plugin 2.4.4
GitLab plugin 1.2.1

The merge request ID displayed is wrong.

[code]

The good value is "iid".

I currently testing your plugin and another.
Is it possible to have the forked repository name with the URL to GitLab like this?
Thank you for ur plugin!

![capture d ecran 2016-05-03 a 18 28 34](https://cloud.githubusercontent.com/assets/10210667/14990685/013c848c-

[2016-05-03 17:44] fabMrc commented on #288
the yaml file is not needed

[2016-05-03 17:48] fabMrc opened #291 "how do you manage job for normal build and merge build"
Hi

I am used to configure my job to execute sonar analysis every night on the master.
how can I configure my job to be able to build merge request (as described in the README of the gitlab plugin) and to build my sonar analysis.

I set build parameters gitlabSourceBranch and gitlabTargetBranch to "master" to be able to trigger normal build manually or by scripts but It is dirty.

[2016-05-03 18:48] coder-hugo commented on #284
@ooxaaxoo There should be even more log output. The NPE happens when the GitLab client sends an HTTP HEAD request to gitlab to find the correct projectId. The log line should contain this: "FINEST com.dabsquared.gitlabjenkins.gitlab.GitLabClientBuilder"

[2016-05-03 20:50] #284 closed, assigned to nobody

[2016-05-03 21:22] coder-hugo commented on #290
For using the gitlab API the "id" is the good value :wink: If the "iid" is also required we should add this as an additional variable called gitlabMergeRequestIid.

[2016-05-03 21:31] omehegan commented on #290
@aceofsnakes requested this as a separate variable in https://github.com/jenkinsci/gitlab-plugin/issues/246

[2016-05-03 21:40] coder-hugo commented on #290
@omehegan @tnucera now I see the real issue with the ID. Within the build description the plugin shows currently the wrong id. I'll fix this ASAP.

[2016-05-03 22:48] omehegan commented on #291
What type of job is this? If it is Freestyle, the parameters you have added is probably the best way to do it. Not sure why you think that is "dirty."

[2016-05-03 22:50] omehegan commented on #287
Duplicate of https://github.com/jenkinsci/gitlab-plugin/issues/287

[2016-05-03 22:50] #287 closed, assigned to nobody

[2016-05-04 04:54] demaniak commented on #287
Hi @omehegan you meant maybe #272 ?

Just found that report now that I had a moment to scan through open issues before work.

[2016-05-04 05:03] demaniak commented on #272
Hi.

Same issue on:
- Jenkins 2.1 (and 2.0)
- GitLab Plugin 1.2.1
- GitLab CE 7.10.4

I have been using webhooks all along (have not used GitLab CI feature once), everything was fine until somewhere after 28 April 2016 (date of the last successful build on our Jenkins instance)

I have builds triggered through a reverse proxy, and build triggers by-passing same said proxy (legacy...).

[2016-05-04 05:08] omehegan commented on #287
@demaniak whoops, yes #272 is the one I meant! We're working on a resolution.

[2016-05-04 06:32] coder-hugo commented on #287
@demaniak btw the code cames in with version 1.2.0 which was released a few days ago.

[2016-05-04 06:40] coder-hugo commented on #272
@demaniak the oldest tested version of GitLab for this plugin is 7.14 and this definitely sends the `X-GitLab-Event` header. I suggest you to upgrade your GitLab as 7.10.4 is almost one year old.

[2016-05-04 06:42] apazga commented on #272
@demaniak @coder-hugo I confirm the issue too using Gitlab CE 8.7.0.
I updated yesterday to Jenkins 2.1 and also updated every plugin except Gitlab one due to the Jenkins warning:
![gitlabplugin](https://cloud.githubusercontent.com/assets/6894350/15006757/a12f9b08-11d3-11e6-95db-1632451e75d9.png)

Also tried updating later the plugin and had to roll back due to all builds in Gitlab were in Skipped

[2016-05-04 07:47] fabMrc commented on #291
Ok it is a maven job and i use Maven release plugin too, I need to make some tests
A merge master master is not really clean but if it can do the job...

[2016-05-04 08:17] angely-dev commented on #286
Hi @demaniak, thanks for your answer. I set up the SCM as described and the merge seems to work. However, an exception is now triggered:

[code]

I tried to follow #184 but no success.

[2016-05-04 09:02] tnucera opened #292 "Error fetching remote repo when there are spaces in GitLab repo name"
Hello,

Jenkins 2.1
Git plugin 2.4.4
GitLab plugin 1.2.1

[code]

Log

[code]

The Jenkins conf is the same as explained in the plugin doc.

[2016-05-04 09:17] tnucera opened #293 "Trigger the build by a merge request comment"
Hello,

It's a feature request.
It would be very cool if we can trigger the build by a comment in GitLab like 'Build now' for example.

Ty.

[2016-05-04 09:19] xasx commented on #292
Does not seem to be related to GitLab plugin in particular.

It is rather something with the Git plugin itself, check: https://github.com/jenkinsci/git-plugin

[2016-05-04 09:23] xasx commented on #291
If you base your Sonar analyses on merge request, I bet you run into trouble because Sonar stores the various projects under its Maven coordinates, i.e. uniquely.

If you want to distinguish the analyses of the merge requests, you need to employ a logic to tell Sonar that there's something different - it just has no concept of branches IIRC.

That said, why don't you just add `sonar:sonar` to the

[2016-05-04 09:54] mattpfr commented on #284
@coder-hugo  I just updated the plugin to v1.2.2, and I still have the problem. Here is the finest log output I get:

[code]

Here is the log output of the job

[code]

Now the difference compared to before is that jenkins posts the right comment in the merge request on gitlab (Failed or Aborted) with the right thumb down. But the job still fails and the status of the merge request is still "Skipp

[2016-05-04 10:23] fabMrc commented on #291
Differents use cases for a job that use gitlab ci plugin
- Release version with Maven release plugin for jenkins
- Trigger manual or scripted sonar analysis

in two case we need to give some parameter without that the build fail with the log below :

[code]

So we add two build parameters gitlabSourceBranch & gitlabTargetBranch with "master" as default value;

It allow to release, execute sonar an

[2016-05-04 10:35] stefanandres opened #294 "Build is triggered when source branch is removed"
When you remove the source branch, a push event is triggered.

The plugin currently does not check what type of push event it is. So the CI will run on the source branch which was just removed and the build will fail.

This is very irritating and may send wrong test results to other systems when you select "merge and remove source branch" in Gitlab.

[2016-05-04 11:19] demaniak commented on #286
Hm @champidead ,  at the top you mentioned Gitlab reporting merge conflicts - have those been resolved?

[2016-05-04 12:12] angely-dev commented on #286
This is partially resolved since the merge is still not really working in Jenkins. But I can close this issue and open another one related to the NPE. Thanks @demaniak.

[2016-05-04 12:56] #286 closed, assigned to nobody

[2016-05-04 13:00] demaniak commented on #286
@champidead good luck!

[2016-05-04 13:22] rigoford commented on #253
@omehegan thanks for the response, no worries about the delay - I've been occupied for the past couple of weeks.

So the pipeline job I have doesn't have an option to configure any steps (unless you mean I should create a stage in the pipeline script).

The requirement to run the job manually once is also a bit of a problem for me since the creation of the GitLab project and the associated Jenkins

[2016-05-04 13:33] coder-hugo commented on #284
@ooxaaxoo can you provide some details about your job configuration. Additionally you could check if the commit 0ece01f669dc2167b30db9666fbb75809452babf exists in the target repository and if it's the one that should be built.

[2016-05-04 13:56] coder-hugo commented on #272
@apazga I openen an issue for the GitLab EE Jenkins CI service which doesn't send this header the normal webhook should send this header. I tested this with GitLab CE 8.7.0 and GitLab EE 8.7.0. If the header is missing for any GitLab CE installation this has to be related to your setup.

[2016-05-04 14:02] mattpfr commented on #284
@coder-hugo

Hi :) The job configuration is really simple. It is a freestyle project, git is configured as described here: https://github.com/jenkinsci/gitlab-plugin#git-configuration-for-freestyle-jobs (forked repository setup)
Additionally, I just have a echo "foo" as build action, and the  "publish build status" as post-build action.

For the hash, you are right, the commit hash does not exist

[2016-05-04 14:10] angely-dev opened #295 "NPE during the build of a merge request"
Hi,

I'm trying to get Jenkins building the source branch merged with the target branch of a Merge Request. Hence, I followed [these instructions](https://github.com/jenkinsci/gitlab-plugin#jenkins-job-configuration), including the _Additional Behaviours_ step.

When a Merge Request is created in GitLab, Jenkins runs the build as expected but then a NullPointerException is triggered:

[code]

My s

[2016-05-04 14:31] demaniak commented on #272
@coder-hugo @apazga  personally I am completely willing to explore and assist with any explanation/resolution for this issue.
For the sake of clarity (and hopefully to help along resolution), the events for us were as follows:
- Shortly before 28 April 2016, I upgrade to Jenkins 2.0 via normal apt-get channels. Had to re-tweak some things to get Jenkins working completely (max heap memory etc).
-

[2016-05-04 14:45] omehegan commented on #292
Correct, the GitLab plugin only triggers the job, it's up to the git plugin to do the clone. Are you sure your config is correct? It looks like there should be an _ instead of the space.

[2016-05-04 14:45] #292 closed, assigned to nobody

[2016-05-04 14:53] omehegan commented on #253
@rigoford install the latest version of the plugin. This fixes the need for a manual run before things will work. Then, look at the readme for instructions on configuring a Pipeline job. It all works now.

[2016-05-04 15:20] sak52jp opened #296 "Could I use ${gitlabSourceRepoHttpUrl} ?"
Hi,

We are using a git remote repository with a Git-lfs module.
Git-lfs requires a HTTP-BASED URL for a remote repository, not SSH-BASED one.

For being able to merge from a forked repository in a Jenkins project,  I added a second repository with ${gitlabSourceRepoURL} as a URL in the Source Code Management section.

But gitlab-plugin always set a forked repository  URL using SSH-BASED one, like

[2016-05-04 15:41] tnucera commented on #292
@omehegan

When I remove the space in the project name on GitLab, it works :

![capture d ecran 2016-05-04 a 17 40 45](https://cloud.githubusercontent.com/assets/10210667/15019707/634d8d3a-121f-11e6-9535-aa02154dbda7.png)

KO ->

[code]

OK ->

[code]

It's an issue of the plugin no ??

Otherwise, you should specify in the doc that the project name in GitLab should not contain spaces.

[2016-05-04 15:45] jakobwenzel commented on #295
Hi,

i also get a Null Pointer Exception, but different from yours:

`Checking out Revision 38b0de22b7c07a5a54af4e4bbf9bb71c33d49c19 (origin/libjconfig-rework)

Versions used:
- Jenkins 2.1
- GitLab Plugin 1.2.2
- GitLab 8.7.2

Regards,
Jakob

[2016-05-04 16:00] crussell52 commented on #272
**tldr;**  It looks like GitLab has put up a MR which will make sure the missing header is delivered (https://gitlab.com/gitlab-org/gitlab-ee/merge_requests/374).  Compatibility with GitLab versions before the patch is a question.

The current version of this plugin (1.2.x) has a clear expectation of the `X-Gitlab-Event` header. I haven't done the research to see when it was introduced, but I do k

[2016-05-04 16:04] coder-hugo commented on #272
Looks like there is a lot of confusion about this issue so here are some insights:
A few months ago I became the new lead maintainer of this plugin and one of my first major tasks was to cleanup the code base which previously was a real mess. During this cleanup I've rewritten about 90% of the whole plugin. These changes came to you with the version 1.2.0 of the plugin which was release on the 25t

[2016-05-04 16:27] mattpfr commented on #284
@coder-hugo Hey maybe it can help you but I am actually not sure what is going on. I got a new message for a new merge request now, and this time did not get a nullptr

[code]

So there I don't get the nullptr anymore, but the status is still not updating. The fact that now I get this 403 is kind of weird, since the comment on the merge request has the correct status. Can it be because I am using

[2016-05-04 16:38] omehegan commented on #296
Yes, you can use it. I will update the doc with a current list of usable variables.

[2016-05-04 17:09] crussell52 commented on #272
@coder-hugo Thank you for working on this and thank you for taking the time to clarify.  :)

It doesn't look like the GitLab `Jenkins CI` service (introduced in GitLab 8.3) has ever sent that header.  So, if I understand correctly, this means admins will have to choose one of three options:
1. Upgrade their GitLab to latest version (after the GitLab fix goes in)
2. Use an older version of this plu

[2016-05-04 18:30] coder-hugo commented on #284
@ooxaaxoo The NPEs occur because of another bug in resteasy ([RESTEASY-1347](https://issues.jboss.org/browse/RESTEASY-1347)). The 403 should be raised because your jenkins "tool-user" has insufficient privileges for updating the commit status. The user should have at least the role Developer for the projects for which the commit status shall be updated.

[2016-05-04 18:32] coder-hugo commented on #272
@crussell52 yes this is correct

[2016-05-04 18:38] coder-hugo commented on #295
@jakobwenzel this is the same as #284 which should be fixed by 85f415fe1f65282d9f0101e01fd414acb2a22bdc within the next release
@champidead can you add a logger for "com.dabsquared.gitlabjenkins" as described [here](https://github.com/jenkinsci/gitlab-plugin#user-support) and paste its output here.

[2016-05-04 18:43] jakobwenzel commented on #295
Sorry, I did not check the closed issues...

Robin Müller notifications@github.com schrieb am Mi., 4. Mai 2016, 20:38:

[2016-05-04 18:44] mattpfr commented on #284
@coder-hugo Great! Thanks a lot for your help, the 403 is indeed just a matter of right. And for the Resteasy bug its good to know, I'll wait for the fix :)

[2016-05-04 19:25] apazga commented on #272
Thanks @coder-hugo for the detailed explanation.

I'm using now Gitlab CE 8.7.2 (just updated it) and captured the header from a Webhook, and it's ok like you said. So I'll re-try updating Gitlab Plugin to test it again, because using 1.1.32 worked and using 1.2.0 didn't (I also had to re-enable Gitlab Plugin in all jobs that use the plugin after updating from 1.1.32 to 1.2.0 due to the warning Je

[2016-05-04 20:37] patrickc91 opened #297 "Variables sent from GitLab can no longer be forwarded to Parameterized Build Trigger in Post Build Actions in 1.2.1"
I'm not sure if this is a bug or anything, but in version 1.1.32 all of the variables sent through the plugin would be listed in the 'Parameters' section of the job details. These variables could be forwarded to a Post-Build Parameterized build which I found very useful for keeping my CI and CD scripts generic and work with multiple repositories. My only issues with 1.1.32 were the inability to ke

[2016-05-04 21:18] #290 closed, assigned to nobody

[2016-05-04 21:18] #294 closed, assigned to nobody

[2016-05-04 21:18] #246 closed, assigned to nobody

[2016-05-04 21:44] omehegan opened #298 "Pipeline Multibranch builds are not supported"
Version 1.2.2 of the plugin currently supports regular Pipeline projects correctly, but does not support Pipeline Multibranch projects (see https://jenkins.io/doc/pipeline/#creating-multibranch-pipelines). See https://issues.jenkins-ci.org/browse/JENKINS-34396 for @jglick's suggestion of how to resolve this.

[2016-05-04 22:09] #296 closed, assigned to nobody

[2016-05-04 22:38] omehegan commented on #297
@patrickc91 the relevant GitLab variables are now environment variables rather than job parameters. To work around your issue, add a shell script build step which builds up a properties file containing the variables and their values that you want to use. For example:

`echo "gitlabUserName=$gitlabUserName" > buildproperties`

Then, in your post-build job trigger configuration, choose to send 'Para

[2016-05-04 22:38] #297 closed, assigned to nobody

[2016-05-04 22:45] sak52jp commented on #296
Hi @omehegan , thank you very much! :smile:

[2016-05-04 23:17] patrickc91 commented on #297
@omehegan Thank you for both providing an answer to the original question, as well as the advice on how to properly handle jobs for different repositories. Those are valid points and things I hadn't really thought of.

I'm in the middle of implementing CI and CD for the company I work for and this is my first time going through this process, so you've helped me immensely. I'll take your advise and

[2016-05-04 23:25] omehegan commented on #297
@patrickc91 if you are early in the process, I can also highly recommend that you look into the Jenkins Pipeline plugin. This is IMO really the future of flexible CD for Jenkins. It can be challenging to switch over to it, but it's relatively easy to start with it from scratch. If you go that route now, you'll make your life much easier down the track as your builds and pipelines get more complex.

[2016-05-04 23:37] omehegan commented on #284
Fix was released in version 1.2.2 of the plugin, out now.

[2016-05-04 23:40] omehegan commented on #295
It looks like @champidead's log that he initially posted shows <pre>mergeTarget='${gitlabTargetBranch}'</pre>

The variable is not getting expanded for some reason?

[2016-05-04 23:42] omehegan commented on #292
@tnucera it's an issue with the Git plugin, not the GitLab plugin. The Git plugin is unable to check out a repo whose refspec contains a space. I don't know whether that's really a bug with that plugin, or if GitLab should not let you create such project names. Regardless, it's not an issue with our code.

[2016-05-04 23:59] xasx commented on #292
@tnucera The question is why is the refspec name apparently derived from the Project name that is set in GitLab, right?

[2016-05-05 00:28] omehegan commented on #291
@fabMrc I think this practice is fine, nothing unusual about it. I suspect the "merge of master to master" is actually a complete NOOP from the perspective of Git, so nothing to worry about.

[2016-05-05 00:28] #291 closed, assigned to nobody

[2016-05-05 00:29] omehegan commented on #293
There is already a pull request that implements this. https://github.com/jenkinsci/gitlab-plugin/pull/213

[2016-05-05 00:29] #293 closed, assigned to nobody

[2016-05-05 00:33] omehegan opened #299 "Upgrading the plugin sometimes causes loss of configuration"
@jsyrjala reported this in https://github.com/jenkinsci/gitlab-plugin/pull/213 and I have seen it on my system as well. When I upgraded from 1.1.32 to 1.2.1, the jobs I had configured to for GitLab triggering lost that configuration. I'll try to reproduce this in my test Jenkins instance and see if I can figure out why it happens.

[2016-05-05 07:49] demaniak commented on #295
@omehegan @champidead ah - just have a look at the readme again, there is mention of some incompatibility introduced (and the work around): https://github.com/jenkinsci/gitlab-plugin#configuring-access-to-gitlab

Specifically  the _Git configuration for Pipeline/Workflow jobs_ section.

Not sure if this IS the problem, but it sounds plausible.

[2016-05-05 07:55] demaniak commented on #272
Just some feedback here:
- Upgrading Gitlab is turning out to be problematic for us (internal problems).Still working on that.
- Downgrading gitlab plugin to 1.1.32 resolved the issue (as others have actually mentioned I believe).

So the only logical conclusion I have for our particular case is that I _must_ have been mistaken about gitlab plugin version up to 28 April 2016, and that somewhere af

[2016-05-05 08:17] mattpfr commented on #284
@omehegan Not as I know of, @coder-hugo fix (85f415) should be out in the next release (1.2.3)

[2016-05-05 08:46] apazga commented on #272
More feedback: After updating to plugin 1.2.1, Gitlab 8.7.2, it's working now.
The only problem is that (like the Jenkins warning said) I had to re-enable and reconfigure the Gitlab plugin check for each job.
It would be nice to support enabling this check from Configuration slicing plugin.
Thanks!

[2016-05-05 14:26] omehegan commented on #295
I don't think @champidead is using Pipeline jobs, so it's unrelated.

[2016-05-05 15:22] irobayna opened #300 "Wrong URL to GET /repository/branches [500 Internal Server Error]"
It appears the URL being used to GET branches is wrong.  From the gitlab plugin logs in jenkins I see the following:

[code]

[code]

Looking at gitlab [documentation](http://doc.gitlab.com/ce/api/branches.html) I found the URL should look like

 `GET /projects/:id/repository/branches`

where the plugin right now it appears is using `project name` instead of `:id`

[2016-05-05 16:29] patrickc91 commented on #297
@omehegan I had been looking into Pipelines a little bit, but ended up going the route I did simply because I thought the generic CI and CD idea was going to work out great. It's good to hear from someone else who has experience with this stuff, especially this early in the process. I'm not far enough into getting my CI/CD stack set up that I would feel like I'm throwing a lot away by switching ov

[2016-05-05 18:34] cliles commented on #299
@omehegan - This is blocking my upgrade. :)

[2016-05-05 18:45] omehegan commented on #297
@patrickc91 I would recommend that you hang out in the #jenkins IRC channel on irc.freenode.org. It's a great resource for getting tips about best practices from other experienced Jenkins users. Always better to learn the right way the first time. The https://groups.google.com/forum/#!forum/jenkinsci-users mailing list is also great.

[2016-05-05 18:50] omehegan commented on #300
Can you explain what part of the trigger process you are seeing this behavior in? One thing I would say is that it's not good that GitLab responds with a 500. That indicates an error not being handled correctly on that side. Also, can you please look at the plugin README, User Support section, and add the versions and log info requested there? That will help us with debugging. Thanks!

[2016-05-05 18:55] omehegan commented on #270
@smithrs I think @demaniak's answer should work for you. Let me know if not. Also, the major refactor work of the plugin is done now, so if you wanted to look at making changes, forking the master branch would be a fine place to start.

[2016-05-05 19:15] irobayna commented on #300
@omehegan Thank you... my bad.

I am trying to use the Gitlab plugin feature `Filter branches by name` which internally executes the output I posted above.  I got that output by following the instructions on how to turn logging in Jenkins for the plugin (very helpful)

Here you go:
`GitLab plugin version (1.2.2)`
`GitLab version (8.7.2)`
`Jenkins version (2.1)`

Let me know if I can be of any help

[2016-05-05 23:22] patrickc91 commented on #297
@omehegan I've joined the IRC channel (I didn't realize IRC channels were still so heavily used these days) and the mailing list you've suggested. Again, thank you for pointing me to helpful resources. I don't often reach out to others online for assistance, so this has been a great experience.

So far I'm not having much luck with integrating Pipelines with GitLab. It seems everything was designe

[2016-05-05 23:29] patrickc91 commented on #297
I found the DSL reference. This should definitely help.

[2016-05-05 23:40] omehegan commented on #297
Also see this plugin's doc on using it with Pipeline. It's actually pretty easy. I'm using it. But it doesn't currently support story the Pipeline Groovy in your git repo. You have to define it in the Jenkins job config script editor.

[2016-05-05 23:45] patrickc91 commented on #297
Ah, that's good to know. I was intending to store the script in the repository. I can develop in the script editor for now though. I just need to learn some Groovy and I should be good to go!

[2016-05-06 08:47] abcfy2 commented on #274
Hi, all.

Here is the log about `com.dabsquared.gitlabjenkins`

[code]

And here is the `Environment variables` of the failed job 412:

| Variable | Value |
| --- | --- |
| gitlabActionType | MERGE |
| gitlabBranch | dev |
| gitlabMergeRequestAssignee | jenkins |
| gitlabMergeRequestDescription | 服务市场代码调整 |
| gitlabMergeRequestId | 0 |
| gitlabMergeRequestTitle | 手工构建 |
| gitlabSourceBranch | mast

[2016-05-06 08:59] abcfy2 commented on #274
It seems that only if commit to a not merged MR will cause this issue:

![image](https://cloud.githubusercontent.com/assets/5327677/15068706/cc19f3fc-13ab-11e6-92e5-6cc85eaeb0dd.png)

[2016-05-06 10:48] angely-dev commented on #295
@demaniak  Indeed, this is not a pipeline job but a freestyle job. Concerning the `mergeTarget` variable, I noticed too @omehegan but I don't know why it is not getting expanded...

@coder-hugo: I'll try that next Monday when I'm getting back to work and I'll post the result.

Thanks for the help.

[2016-05-06 11:32] ffrddrll opened #301 "No credential found"
GitLab plugin version: 1.2.2
GitLab version: GitLab Community Edition 8.3.8 4c83880
Jenkins version: 1.651.1

I try to config GitLab plugin after upgraded from 1.1.28 to 1.2.2.
Manage Jenkins -> Configure System -> Gitlab -> GitLab connections -> API Token
Showed 'none'

I try to add a new credential as well, but it did not work.
New credential was created but GitLab plugin can't fetch it.

Also I

[2016-05-06 12:22] vills commented on #301
Looks like your job configuration have not connection settings in config. It should be like this:

[code]

Try to select proper connection in section _GitLab connection_ in job configuration.

In my case, i got same problem. That was because i use jenkins-job-builder and didn't set up connection in job conf.

[2016-05-06 14:30] ffrddrll commented on #301
Thanks for advice.
The GitLab connection section in job configuration displayed the right GitLab host URL.
API token is still 'none'. 😕

[2016-05-06 14:33] vills commented on #301
@LukeJang in my case it shows me right connection setting, but just because there was no option like 'nothing selected', and it wasn't actually saved to job config file on disk. Try just 'save' job configuration again.

[2016-05-06 16:29] coder-hugo commented on #300
@irobayna the URL is correct. If you have a look to this [documentation](http://doc.gitlab.com/ce/api/projects.html#get-single-project) you will see that the id can be also the namespace combined with the project name. If the URL would be wrong GitLab would respond with a HTTP 4xx not a 500. So the error is on the GitLab server and you should have a look to the log files of GitLab to see what caus

[2016-05-06 16:33] coder-hugo commented on #301
@LukeJang what kind of credentials do you have added for the GitLab connection? At the moment only the "secret text" credentials are supported.

[2016-05-06 20:19] irobayna commented on #300
@coder-hugo Thanks!

Closing as this appears to be a gitlab issue, my guess something to do with how `gitlab-workhorse` is parsing the path

[2016-05-06 20:19] #300 closed, assigned to nobody

[2016-05-07 10:24] ffrddrll commented on #301
Thank @vills for help, @coder-hugo find the true reason.
I used 'Username with password' for credential. Thanks for point it out.
I didn't know GitLab plugin use 'jenkins' as default username to connect GitLab.
It will be great if we can find those information from README.
Thank you very much!

[2016-05-07 10:27] #301 closed, assigned to nobody

[2016-05-09 07:09] angely-dev commented on #295
@coder-hugo I added the logger and played the merge request again. Here is the log: http://pastebin.com/XBBu7jDK (see my first post for the Jenkins output, it is the same).

[2016-05-09 07:35] demaniak commented on #270
@smithrs just to add to that - a MR does not HAVE to go to master directly. If your workflow requires, then you could (for example) have MR's going into a "release branch" or something like that.

Everything should still work fine as explained above.

[2016-05-09 09:31] hho commented on #299
I have this problem as well.

To me it seems that 1.2 is just not backwards compatible – it can't read the old settings on the job config and thus considers itself disabled. The JobDSL folks noticed the same issue: https://groups.google.com/forum/#!topic/job-dsl-plugin/KyvH15-EDtk

[2016-05-09 10:33] strowi commented on #295
Hi,

just wanted to add, i'm getting the same error without using any gitlab/-variables.
I have set it to fixed branches:

[code]

might be related to this: https://github.com/jenkinsci/git-plugin/pull/394 ?
regards,
strowi

[2016-05-09 11:37] vills opened #302 "Make sure to release the connection before allocating another one"
We have 10 jobs that triggered by one git-repository (with 10 hooks in it). After upgrade to jenkins 2.1 and plugin 1.2.2 we got job fails on post-build step with message:

[code]

Two of ten jobs always completed ok, but another eight failed.

Is this bug or we do something wrong?

Thanks.

[2016-05-09 11:46] coder-hugo commented on #302
I assume this is related to the following [bug](https://issues.jboss.org/browse/RESTEASY-1347) in resteasy. Do you have got also some of these errors:

[code]

If yes this should be fixed by the following commit 85f415fe1f65282d9f0101e01fd414acb2a22bdc within the next release.

[2016-05-09 11:53] vills commented on #302
No, i don't see any `NullPointerException` in logs. Only messages _connection still allocated_.

[2016-05-09 12:00] coder-hugo commented on #302
This error doesn't appear within the logs. It's just printed to the log of a job. And this `NullPointerException` must not be occurred within the same job as this `IllegalStateException`.

[2016-05-09 12:29] vills commented on #302
Ok. I'll test next release.
Anyway, i don't see any messages in my backtrace, that tells about problems with reading response from gitlab (as mentioned in resteasy bug).
Is there any other info i can give to you?

[2016-05-09 13:24] eskobarba opened #303 "Nullpoint exception in jenkins, Gitlab CE 8.7, gitlab-plugin:latest"
Seen 236 remote branches
Checking out Revision 450de3b8071aad0f8a04e18105c17bc06a3220f0 (origin/master)

[2016-05-09 16:27] omehegan commented on #303
Dupe of https://github.com/jenkinsci/gitlab-plugin/issues/284

[2016-05-09 16:27] #303 closed, assigned to nobody

[2016-05-09 23:58] patrickc91 commented on #297
@omehegan Hey, I know this isn't the appropriate place to reach out to you, but I've figured out the majority of my Pipeline with SCM checkout, build, tests and deployment all working. The only thing I'm still having an issue with is the gitlabCommitStatus step. The Pipeline always sits and hangs until I forcibly kill the step and job.

I've tried:

[code]

[code]

And even gitlabCommitStatus on i

[2016-05-10 00:11] patrickc91 commented on #297
@omehegan Of course, seconds after asking you I decided to play around with it again and have it working successfully. Perhaps it's because I upgraded to Jenkins 2.1 from 2.0, or perhaps I was mistaken about what options I had tried.

Anyway, thanks again for all the help you've given me. I'm still having issues filtering branches by name, but the regex solution works just fine for now.

[2016-05-10 05:10] abedwardsw commented on #260
GIT_SERVER is set manually in the Jenkins configuration page.  It's not a built in, just one I set to make it easy to change the url of our git server.  No, this has never worked with this particular plugin from what I can see.  However git polling etc all work fine with variables defined globally in jenkins.

[2016-05-10 05:34] omehegan commented on #260
What type of job is this? Freestyle or Pipeline or...?

[2016-05-10 06:36] abedwardsw commented on #260
freestyle

[2016-05-10 08:58] fabMrc opened #305 "Plugin 1.2.2 not publish build status"
Hi

I upgraded to 1.2.2 with Gitlab 8.7.3 (the last) and now build are triggered on jenkins on Merge request event (and push on MR also as configured in webhooks & my job) but the build status is never pushed to gitlab UI.
furthermore there is no "build pending message" on gitlab.

The gitlab API Token is ok on jenkins and the connecion success.

[2016-05-10 09:06] tpbowden commented on #305
I'm having the same problem, jenkins doesn't seem to be adding any parameters to my builds

[2016-05-10 09:33] fabMrc commented on #305
Hi

I resolved this issue by adding a new after build action which allow jenkins to commit build status on gitlab.
It works nice but recents changes should be documented !

[2016-05-10 10:19] coder-hugo commented on #305
This feature is documented in the [README](https://github.com/jenkinsci/gitlab-plugin#gitlab-configuration--81) and the [CHANGELOG](https://github.com/jenkinsci/gitlab-plugin/blob/master/CHANGELOG.md#120). Furthermore this build step should be added automatically during the first restart after the plugin upgrade for all jobs that had this feature configured previously.

[2016-05-10 10:19] #305 closed, assigned to nobody

[2016-05-10 10:34] tpbowden commented on #295
I am also having this issue, Jenkins is not using any of the required parameters for gitlab merge requests to build causing null pointer exceptions.

[2016-05-10 11:50] cgumpert opened #306 "GitLab [ci-skip] is ignored"
Hi,

I have some trouble to understand how I can tell jenkins to skip the build for a particular commit or merge request. I configured the job to use the '[ci-skip]' feature from gitlab

![screenshot from 2016-05-10 13 41 24](https://cloud.githubusercontent.com/assets/10184162/15145284/f9903b0a-16b4-11e6-91ba-dc0711c3f4e1.png)

Nevertheless, a build is triggered even if I add '[ci-skip]' to the co

[2016-05-10 13:19] claytonpiccinin opened #307 "Problem filtering branches"
Hello all.

 I'd like to know if someone have the same issue:

I'm using Gitlab to SCM and Webhook calls to build my project. When I push to a specific branch such as "dev-job0001", my build is called normally. I have a post-action that use "git publisher" to set a TAG to my project and publish the code in a specific branch called: "homologacao".

PROBLEM: After publish in a branch: "homologacao",

[2016-05-10 21:46] jsyrjala commented on #268
With 1.2.2 build history no longer has the branch name "GitLab ​Merge ​Request ​#3 ​: ​library-updates ​=> ​master" like it used to in earlier versions. 1.2.2 reports this "Started ​by ​GitLab ​push ​by ​Juha ​Syrj��l��".

[2016-05-10 21:52] jsyrjala opened #308 "Build history shows username with wrong encoding."
Build history box shows this "Started ​by ​GitLab ​push ​by ​Juha ​Syrj��l��" in 1.2.2. It should show this "Started ​by ​GitLab ​push ​by ​Juha ​Syrjälä". This indicates typically some failure with character encoding. e.g. reading UTF-8 data as ISO-8859-1. The name shows up correctly in Gitlab UI.

[2016-05-11 04:59] abcfy2 commented on #274
I find the MR id is error.

Jenkins console output:

[code]

But in fact, the MR id is `1007`.

[2016-05-11 06:43] coder-hugo commented on #307
If you haven't configured any [branch filtering](https://github.com/jenkinsci/gitlab-plugin#branch-filtering) in the gitlab-plugin a build for each and every branch is triggered.

[2016-05-11 07:00] #308 closed, assigned to nobody

[2016-05-11 07:04] coder-hugo commented on #308
The current implementation used the system default encoding so I'd assume your system isn't configured properly. Nevertheless I changed the implementation to first look for the character encoding of the request and if this is not given it will use UTF-8 for decoding the request body of the web hook.

[2016-05-11 09:38] eskobarba opened #309 "Jenkins recieves lots of untagged (#null) webhooks from merged but not closed MRs"
Last night it received 16 hooks to build on a MR that was closed 9 months ago.

Today it still receives hooks to build from this old, closed MR.

Configuration in gitlab webhook: Push+Merge
Configuration in jenkins:
build on merge
rebuild on push to source or target

example, test webhook from gitlab, triggers many MRs that are merged already.  but they are not closed...

<pre>
INFO: WebHook calle

[2016-05-11 16:51] jsyrjala commented on #308
Well, using the system default encoding for handling incoming data is usually wrong. The plugin is receiving data in some specific (e.g. UTF-8) and the plugin must use the same encoding when parsing the data.

[2016-05-11 18:22] claytonpiccinin commented on #307
I'm using a branch called "dev-0001", my question is: Why Jenkins is building my job when a push to a branch "homologacao" for example. It should be filtered by jenkins and ignored.

[2016-05-11 18:44] mattiasb commented on #307
@claytopiccinin You need to specify what branches gitlab-plugin should build by filtering (just like @coder-hugo says) otherwise gitlab-plugin will build on every push to every branch.

[2016-05-11 20:54] claytonpiccinin commented on #307
@mattiasb I'm filtering by regex: dev-\* as you can see on this image:
![captura de tela 2016-05-11 as 17 47 37](https://cloud.githubusercontent.com/assets/13591059/15196127/49bcada6-17a1-11e6-9ea1-ef4200a5c7a8.png)

![captura de tela 2016-05-11 as 17 48 27](https://cloud.githubusercontent.com/assets/13591059/15196133/4c6c777a-17a1-11e6-9005-23a28407d59a.png)

Can you help me to understand what's

[2016-05-11 21:00] claytonpiccinin commented on #307
I'll explain the flow:

1 - Devel push on branch dev-job0001

2 - Gitlab Webhook send a call to build and test the app

3 - After test app, Jenkins publish on branch called "homologacao'

4 - GItlab identifies push TAG event and send my app to Amazon Opsworks SDK that published my app on testing environment.

PROBLEM: On step 3, when Jenkins test the app an then publish in a branch called: "homolo

[2016-05-11 22:44] Timbus commented on #307
I don't think that is a valid regex, if that has anything to do with it..

Maybe you want `^dev-.+`

e: or just ^dev- since you are only checking the start of the string anyway

[2016-05-11 22:51] Timbus commented on #299
1.2 uses a `<branchFilterType>` setting which is not present in old configs. It's a pity as I now need to use the raw XML in my JenkinsJobBuilder jobs.

[2016-05-11 23:02] Timbus opened #313 "1.2 plugin no longer integrates as a gitlab runner?"
Hi,
My setup: Gitlab 8.6.x CE, using webhooks to trigger builds on Merge+Push events.

I noticed the 1.1.32 plugin was using some cool wizardry to integrate with gitlab as an external runner of some sort, which meant gitlab MR's had build statuses on them.

After switching to 1.2.1 I no longer get any status, instead I just have a grey 'build was not started' icon, even though jenkins will still p

[2016-05-12 00:29] mattiasb commented on #307
@claytopiccinin does the tag push event web hook send to another Jenkins job or the same as above?

(and also, but probably not related, your regex is wrong. Just like @TiMBuS says).

[2016-05-12 00:58] claytonpiccinin commented on #307
@mattiasb the same as above. But the push tag is not a problem. Jenkins takes 2 actions:

First, jenkins push to a branch called "homologacao" and then push the TAG. V.{BUILD_ID} as you can see here:

![captura de tela 2016-05-11 as 21 56 07](https://cloud.githubusercontent.com/assets/13591059/15201059/4dc39154-17c3-11e6-9234-4aa2b7c5dc19.png)

![captura de tela 2016-05-11 as 21 56 26](https://clo

[2016-05-12 01:01] claytonpiccinin commented on #307
@TiMBuS I'll try with the regex you mentioned, but I think it's not the problem. Thanks a lot.

[2016-05-12 03:11] Timbus commented on #313
Woooow I only just found the post-build step, after diving through the source. I should have just read the readme -_-

Sorry.

[2016-05-12 03:11] #313 closed, assigned to nobody

[2016-05-12 05:22] abcfy2 commented on #274
I use the `Parameterized builds`. The reason might be the `gitlabSourceRepoURL` environment variable is not overridden by gitlab-plugin. And I try to rename `gitlabSourceRepoURL` to `gitlabSourceRepoSshUrl`, and I find the `gitlabSourceRepoSshUrl` is wrong, it's the default value provided by `Parameterized builds`.

[2016-05-12 06:41] coder-hugo commented on #307
@claytopiccinin you should get an error at all as your regex isn't valid. If I use this regex in a unit test I get the following exception:

[code]

Strange that a build was triggered in your case.

[2016-05-12 11:50] claytonpiccinin commented on #307
@coder-hugo I tried to change to a regex you mentioned, but I have the same behavior. Do you know how can a debug it? This behavior started when I updated "gitlab-plugin".

[2016-05-12 13:07] kgoedert opened #314 "Jenkins job not executed"
Hi,

does the plugin work with jenkins 2.x? I had it working with 1.x. Now, that I upgraded it, when gitlab executes the hook, gitlab says it was successful but, nothing gets executed on jenkins.

[2016-05-12 13:57] tonka3000 opened #315 "Could not activate Jenkins CI in GitLab itself"
Hy,

my problem is not directly in this plugin, but i think it depends on a wrong config in the gitlab-plugin in my jenkins instance.
## My problem

I can't see the **Jenkins CI** under my GitLab services. I don't know why.
Is it only visilbe if the gitlab-plugin is configured correctly?
In Jenkins (under **Manage Jenkins** - **Configure System**) i configured my gitlab instance, but there are 2 s

[2016-05-12 13:59] eskobarba commented on #315
No it wont show up as a service, in CE at least, refer to the documentation, for each project in gitlab you will have to setup a webhook that triggers job

[2016-05-12 14:00] tonka3000 commented on #315
oh, good to know.

thx @eskobaba

[2016-05-12 14:17] #314 closed, assigned to nobody

[2016-05-12 14:18] kgoedert commented on #314
I restart the jenkins service and it started working

[2016-05-12 14:38] #315 closed, assigned to nobody

[2016-05-12 18:24] coder-hugo commented on #307
@claytopiccinin do you have any further build trigger configured for this job? Cause the GitLabPushTrigger of your job shouldn't trigger a build at all. You haven't checked neither "Build on Push Events" nor "Build on Merge Request Events" according to your added screen shots.

[2016-05-12 18:40] coder-hugo commented on #309
Does this still happen for a push to the target branch. If yes, could you please add a logger for "com.dabsquared.gitlabjenkins" with level FINEST (see [README](https://github.com/jenkinsci/gitlab-plugin#user-support)) and paste its output here.

[2016-05-12 19:03] eskobarba commented on #309
Its behaving properly since this incident, but i dont think anyone pushed straight to target. My suspicion is that 'test webhook' in gitlab sends a query to the api without a state parameter and then makes all this happen.

I will try to push to target at work tomorrow though.

[2016-05-12 19:06] smithrs commented on #270
The core issue is that an MR update event sends one webhook (expressed as a json object), and a branch push sends another webhook (a different object). Sometimes I want to respond to one, sometimes to the other, and other times I want to handle both in the same job. My question is in regard to how this granularity is addressed. 1.1.32 has a certain way of doing this, 1.2 seems different, but the w

[2016-05-12 19:06] #270 closed, assigned to nobody

[2016-05-12 20:48] claytonpiccinin commented on #307
@coder-hugo No, I don't. After build my app, Jenkins only push to a branch homologacao, Gitlab identifies that is a PUSH event e sends Webhook call again. Jenkins should ignore this step, because it's not a branch configured in regex to trigger a job. But is building again =/

[2016-05-13 05:42] coder-hugo commented on #307
@claytopiccinin not sure if you understood my last comment. According to your screen shot the gitlab-plugin won't trigger any build for your configuration.
Can you please add a logger for "com.dabsquared.gitlabjenkins" (see [README](https://github.com/jenkinsci/gitlab-plugin#user-support)) so I can verify this.

[2016-05-13 09:39] vills commented on #302
Any plans (dates) of next release? Or may be any way to build plugin with fix by myself?

[2016-05-13 09:53] eskobarba commented on #302
mvn install

Uploaded the.hpi for 1.2.3-snapshot. Im running it in produktion, works fine :)

Get Outlook for iOShttps://aka.ms/o0ukef

On Fri, May 13, 2016 at 2:39 AM -0700, "Vil Surkin" <notifications@github.com<mailto:notifications@github.com>> wrote:

Any plans (dates) of next release? Or may be any way to build plugin with fix by myself?

##

You are receiving this because you are subscribed

[2016-05-13 13:32] vills commented on #302
@eskobaba thanks!

I installed plugin from here: https://jenkins.ci.cloudbees.com/job/plugins/job/gitlab-plugin/415/org.jenkins-ci.plugins$gitlab-plugin/
Now everything looks fine. Will look for stability next week.

[2016-05-13 13:41] coder-hugo commented on #308
Of cause it's wrong to use the system default encoding for handling incoming data. This was just a hint for you that you should have a look at the system. Cause I can't imagine why a modern system should use a encoding different than UTF-8 as default encoding :wink:

[2016-05-13 16:28] claytonpiccinin commented on #307
@coder-hugo Sorry! I really didn't understand. I changed the strategy to build my apps on Jenkins using a method described on this post:

http://stackoverflow.com/questions/21314632/how-to-exclude-git-branch-from-building-in-jenkins?answertab=votes#tab-top

But I have the same behavior on Jenkins. My configuration is:
![captura de tela 2016-05-13 as 13 20 23](https://cloud.githubusercontent.com/as

[2016-05-13 18:05] #143 closed, assigned to nobody

[2016-05-13 18:05] #157 closed, assigned to nobody

[2016-05-13 18:43] claytonpiccinin commented on #307
My Webhook configuration:

When PUSH EVENT
http://example.com:8080/job/$project/build

[2016-05-13 18:51] omehegan commented on #221
Updated.

[2016-05-13 18:51] #221 closed, assigned to nobody

[2016-05-13 18:52] #243 closed, assigned to nobody

[2016-05-13 18:54] #250 closed, assigned to nobody

[2016-05-13 18:56] omehegan commented on #260
If I understand right, you are saying that you have the Git plugin configured to check out a repo, and you are trying to use the ${GIT_SERVER} job parameter in that configuration.

If that does not work, it's a bug with the Git plugin, not the GitLab plugin. The GitLab plugin only starts the Jenkins job when triggered from the GitLab service. It does not handle checking out the repo.

[2016-05-13 18:56] #260 closed, assigned to nobody

[2016-05-13 18:57] #269 closed, assigned to nobody

[2016-05-13 19:03] omehegan commented on #272
@coder-hugo should we update the documentation to explain this issue? It sounds like it will be a permanent problem for people using GitLab EE versions before the bug was fixed there.

[2016-05-13 19:18] claytonpiccinin commented on #307
Hello all! First of all, thank you for help me on this issue!

I changed the strategy following this link:
http://stackoverflow.com/questions/21314632/how-to-exclude-git-branch-from-building-in-jenkins?answertab=votes#tab-top

Follow my configuration:

![captura de tela 2016-05-13 as 16 15 07](https://cloud.githubusercontent.com/assets/13591059/15259156/0661c416-1926-11e6-8ddb-6e93c1e65dd9.png)

!

[2016-05-13 20:48] omehegan commented on #274
@abcfy2 what version of GitLab are you using?

Please update to version 1.2.2 of the plugin, if you have not already.

Also, it looks like you have configured your job to clone two repos - one checks out git@foo:wjf/aircare.git and one checks out ${gitlabSourceRepoURL}. Why are you doing that? This configuration is going to expect the same revision or branch to exist in both repos, which may not a

[2016-05-13 21:06] omehegan commented on #302
Will be fixed in 1.2.3 of the plugin.

[2016-05-13 21:06] #302 closed, assigned to nobody

[2016-05-13 21:10] omehegan commented on #306
@cgumpert I think you're right about what is causing this. Personally I think the practice of putting [ci-skip] in commit messages is a bad one, it just pollutes the git history. If you expect to push a lot of known-broken changes, it seems preferable to configure the job to only trigger on Merge Requests, rather than pushes. Then you can set [ci-skip](and soon [WIP] as well, more commonly seen) i

[2016-05-13 21:23] omehegan commented on #307
@claytopiccinin I apologize, but your updates about this issue are really confusing. You're mixing a variety of information about different plugins - Git plugin, GitLab plugin, post-build git tags, etc. Now you've configured your job, on the Jenkins side, to build by polling SCM rather than "When a change is pushed to GitLab." Please understand that this plugin is only used when you check the "Bui

[2016-05-13 21:23] #307 closed, assigned to nobody

[2016-05-13 22:00] cgumpert commented on #306
@omehegan Thanks for your feedback. I completely agree that pushing broken commits is something one should really try to avoid. In my case, it was actually something different: we updated the doxygen documentation of our code and we split the work among different developers. So there were quite a few commits which we knew would not affect the build results. In any case, I also agree that [ci-skip]

[2016-05-14 01:45] claytonpiccinin commented on #307
@omehegan Sorry! I'm not sure that you follow this issue exactly as I explained. I was using the Gitlab-Plugin with follow steps:

1 - Configuring Jenkins with "Build when change is pushed to Gitlab"
2 - FIlter branch by regex: "^dev-.+" as @TiMBuS said.
3 - Configuring Gitlab Webhook with URL: "http://myjenkinshost:8080/job/BUILDNAME/build"

It's everything that I need to build my app.

I've exap

[2016-05-14 01:49] omehegan commented on #307
My point is that by configuring your GitLab hook to hit the job/BUILDNAME/build URL, you are bypassing our plugin. Any problems you have with that approach are bugs somewhere else, possibly in the regular Git plugin.

[2016-05-14 01:51] claytonpiccinin commented on #307
Hmmm... I'll try to use without /build that bypasses your plugin. Thanks

[2016-05-14 01:53] omehegan commented on #307
Please follow my explanation in my comment from earlier today, and also the readme of this plugin, for configuring your job to use it. You can use the branch filter settings of our plugin (after you select trigger on push to GitLab) to achieve the same thing as the filter settings in the main Git checkout config.

[2016-05-14 02:30] smithrs opened #316 "Gitlab namespace not present in gitlabSourceRepoName"
Prior to 1.2, the variable `gitlabSourceRepoName` was populated with namespace/repo-name, the same as the json variable `[project][path_with_namespace]` passed in from the web hook.

With 1.2, it only contains the repo-name. I know the 1.2 plugin has new variables, but it shouldn't break backward compatibility with the variables that were present prior to 1.2.

Am I the only one seeing this? There

[2016-05-14 05:58] abcfy2 commented on #274
Hi @omehegan . I use the latest version of GitLab-CE(`8.7.5`). And I've updated the gitlab plugin to the `1.2.2`, but it not works.

I use this plugin for a very long time. I follow the doc(https://github.com/jenkinsci/gitlab-plugin#user-content-git-configuration-for-freestyle-jobs), and configured for both MR and manual build. So I add a second repo which is from `${gitlabSourceRepoURL}`, and it

[2016-05-16 18:50] MartinNowak commented on #274
Can confirm this issue. I used to have parameterized variables named like gitlab variables (as described [here](https://github.com/jenkinsci/gitlab-plugin#parameterized-builds)) so that it was possible to manually start a job. But since updating to 1.2.2 a merge request no longer overrides those parameters for the git merge before build option (https://github.com/jenkinsci/gitlab-plugin#git-config

[2016-05-17 06:42] coder-hugo commented on #274
This is because the GitLab values are since version 1.2 environment variables instead of build variables. See here for a solution: [JENKINS-34700](https://issues.jenkins-ci.org/browse/JENKINS-34700)

[2016-05-17 08:07] abcfy2 commented on #274
Yes. The readme doc should be updated to mention this.

[2016-05-17 08:17] angely-dev commented on #295
I still have the issue even if I use 1.2.2. Any idea?

[2016-05-17 08:20] tpbowden commented on #295
I downgraded to 1.1.32 for now and everything is working fine.

[2016-05-17 08:30] omorillo commented on #274
@abcfy2 True. Readme updated. (597ac4ba0ff46d52f690414eb5e1a6151cc03eb8)

[2016-05-17 08:46] WonderCsabo commented on #309
This should be fixed by https://github.com/jenkinsci/gitlab-plugin/pull/312.

[2016-05-17 08:50] WonderCsabo opened #317 "Retried builds are not marked immediately with Gitlab 8.1"
THe plugin uses a new notifier mechanism for  marking the commit status with Gitlab 8.1 and newer. However this causes the following behavior: when an MR rebuilt due to pushing to source or target branch, it is not indicated on Gitlab immediately, until the build is not really started. While the builds are in the queue, there is no indication on Gitlab that the MR will be rebuilt.
This is also a p

[2016-05-17 08:59] abcfy2 commented on #274
Thanks. Maybe it's better to add a config example about [parameterized-builds](https://github.com/jenkinsci/gitlab-plugin#parameterized-builds)

[2016-05-17 10:05] omorillo opened #318 "Provide complete demo setup script"
Having a **full demo** setup with configured _Jenkins_ job and _GitLab_, put in place and launched with a single command, docker(-compose) for instance, would help in getting started with the plugin.

**Issues:**
- naive solution: provide configuration files for each service (:warning: several services involved (_PostgreSQL_, _Redis_, _Jenkins_, _GitLab_ etc.) &#8594; might be undesirably high mem

[2016-05-17 10:06] omorillo commented on #274
Yes, it makes sense. But I thought rather about putting in place a **complete demo** with configured _Jenkins_ and _GitLab_ based on the current docker composition. I need to investigate a proper way to set up such demo. Creating issue  #318.

[2016-05-17 14:17] tunasalat opened #319 "Wrong username in Jenkins build description on push event."
GitLab plugin version: 1.2.1
GitLab version: CE 8.7.5 0e8b7d8
Jenkins version: 2.1

I get seemingly wrong username in Jenkins build description on push events.
After I get gitlab push webhook after a merge with name <username_1>:

[code]

I get a jenkins build description saying `Started by GitLab push by <Username_2>`, which is seemingly not correct and should be `Started by GitLab push by <usern

[2016-05-17 16:39] bjoernwenzel-tommapps opened #320 "Job Parameters are ignored"
Hi All,

We have a gitlab server running 7.7.0 and a jenkins server with version 1.651.2.
I tested to update the gitlab-plugin to 1.2.2 what failed, so we restore our old version of the plugin (1.1.28).
After this the jenkins won't build the job correctly. He ignores the parameters and says that there are no build parameters, like gitlabTargetBranch or else. When the job starts we can see this bui

[2016-05-18 16:52] telisior opened #325 "Jenkins requests from Gitlab the commit status of its merge commit"
Hello.
In my setup I use:
- Gitlab plugin v1.2.2
- Gitlab v8.7.5
- Jenkins v2.3

In some cases, building a Merge Request fails before building with the following log on Jenkins:

[code]

When this happens I get this log from the Gitlab plugin:

[code]

In this case, the 8bb5e8e5d70d4da1316366f11abb01ea87841f46 commit is the merge commit created by Jenkins (in the "Merge before build" step):

[code

[2016-05-18 17:29] cgumpert commented on #316
I see the same problem. Unfortunately, this break my script to add custom comments to a merge request. One could probably work around this, but I agree. It would be nice to have the namespace information available.

[2016-05-18 17:43] spelcaster commented on #325
@telisior, in the _Repository URL_ field, are you using http or ssh? I had a similar issue with http, but with ssh the same does not occur.

Another thing that we saw comparing build injected variables:
- With gitlab-plugin 1.1.27, there is no _gitlabTargetRepoName_ and _gitlabSourceRepoName_ is equal to 'user_space/project_id';
- With gitlab-plugin 1.2.2, _gitlabSourceRepoName_ and _gitlabTargetR

[2016-05-18 18:06] spelcaster commented on #325
We did the following workarounds:
- [step 1.iii](https://github.com/jenkinsci/gitlab-plugin#git-configuration-for-freestyle-jobs):
  - URL: ${gitlabSourceRepoURL} (use ${gitlabSourceRepoSshUrl} to force ssh)
  - Name: origin1
- [step 1.iv](https://github.com/jenkinsci/gitlab-plugin#git-configuration-for-freestyle-jobs):
  - For forked repository setups: origin1/${gitlabSourceBranch}

[2016-05-19 06:12] telisior commented on #325
@spelcaster, thank you for you suggestions.

I'm already using the ssh URL (i.e. git@gitlab_server:group/project). I also tried with ${gitlabSourceRepoSshUrl} but I get the same error.

I'm also using the repository name (origin) instead of any variables.

[2016-05-19 07:46] bulanovk opened #326 "Support NameSpace or ProjectName with dot in it"
Support NameSpace or ProjectName with dot in it
According to Rails documentation(http://guides.rubyonrails.org/v3.1.3/routing.html section 3.2 Dynamic Segments) Rail use a dot as separator for formatted routes.
In this case if we have dot in ProjectId constructed from(namespace + projectname) all request except getSingleProject(http://docs.gitlab.com/ce/api/projects.html#get-single-project) fail w

[2016-05-19 09:25] amsz opened #328 "Create trigger fail in Jenkins2.5"
- GitLab plugin 1.2.2
- GitLab version 8.7.0
- Jenkins version 2.5

When save configure after checked 'Build when a change is pushed to GitLab':

[code]

[2016-05-19 13:50] kha0s178 opened #329 "Filter branches by name"
Hello, I have a job with exactly specified branch name ('mybranch' for example). On manual build all works fine. When I check 'Filter branches by name' and entering 'mybranch' I'm getting: 'Following patterns don't match any branch in source repository: mybranch'

What pattern needed? Thanx!

PS: Also if I make 'Test hook' on GitLab site Jenkins build 'master' branch instead of 'mybranch' and that

[2016-05-19 15:15] #329 closed, assigned to nobody

[2016-05-19 15:16] kha0s178 commented on #329
Added GitLab token and problem disapeared

[2016-05-19 18:56] coder-hugo commented on #325
Fixed with #311

[2016-05-19 18:56] #325 closed, assigned to nobody

[2016-05-19 21:22] omehegan commented on #328
I just tried this with Jenkins 2.5 and the current version of the plugin, and could not replicate it. Can you give some more information about your job configuration? What type of job, what settings did you use, etc.

I tested in a totally clean install of Jenkins 2.5 because I'm still using 1.6 in test and production. Did you upgrade Jenkins or the plugin from an earlier version before you encoun

[2016-05-19 21:59] omehegan commented on #295
@champidead what version of the regular Git plugin are you using? Is there an update to it available? It seems to me that this plugin should be expanding the variable, and isn't. It does appear to be expanding the source branch variable though.

Can you try, temporarily, removing the "merge before build" configuration for Git, and then try to print/echo the gitlabTargetBranch variable in a shell s