[2017-07-14 19:25] hypery2k commented on #583
snapshot works for me, too

[2017-07-14 21:52] #583 closed, assigned to nobody

[2017-07-14 22:03] omehegan commented on #583
I released version 1.4.7 with just this fix. It should be available in the update center within the next few hours. Thanks everyone who helped test the fix!

[2017-07-14 23:19] omehegan commented on #475
Discussed this in https://issues.jenkins-ci.org/browse/JENKINS-43105 with @abayer and he has a suggestion for how we could do this more safely:

"An alternative for you could be to use a JobProperty behind the scenes but only interact with it through a gitlab-plugin-provided step. Since you'd be setting the JobProperty outside of the properties step, it wouldn't get touched by any other iterations

[2017-07-15 13:46] jgeorgeson commented on #528
Looks like my #555 is a duplicate of this. I have a workaround [there](https://github.com/jenkinsci/gitlab-plugin/issues/555#issuecomment-305281839) for getting the pending/running/etc status on a per-stage basis. Put `gitlabBuilds()` in the `options{}` to pre-announce all your stages, then use `gitlabCommitStatus()` in all of those stages. Be careful to add `post{}` sections to conditionally exec

[2017-07-16 16:31] josemalonsom commented on #528
@omehegan can you take a look at my [comment](https://github.com/jenkinsci/gitlab-plugin/issues/528#issuecomment-298663738)?

I think that it's a bug and labeling it as `doc improvement` (as in https://github.com/jenkinsci/gitlab-plugin/issues/555) can be hiding the real problem.

[2017-07-17 01:51] chinhodado opened #588 "Automatically cancel a build if a new build from the same merge request arrives"
In our workflow, we do a lot of `git commit --amend` based on the merge request review, and each push triggers a new build on Jenkins. We only care about the result of the latest build, so we have to manually cancel the old builds to avoid wasting time.

Is there a way to do this "build cancelling" automatically? The basic idea is, if there's a build coming in from a merge request, then cancel all

[2017-07-17 07:46] mreichel commented on #486
I opened the following issue:
https://gitlab.com/gitlab-org/gitlab-ce/issues/35183 with Gitlab
Should we close the issue here?

[2017-07-17 14:44] bmaehr opened #590 "System hooks not working for latest gitlab"
[EDIT]Sorry, this was for the gitlab-hook-plugin instead of gitlab-plugin[/EDIT]

## Issue
Gitlab has changed the structure of the webhook messages. The repository url is not detected anymore.

### Context
- **Gitlab plugin version**: 1.4.6
- **Gitlab version**: 9.3.6
- **Jenkins version**: 2.69
- **Job type**: Freestyle

### Logs & Traces

### Problem description

Gitlab has changed the structure

[2017-07-17 20:09] omehegan commented on #528
@josemalonsom I'm not sure your analysis is correct. I think when a Jenkins job first starts, the value of BallColor is inherited from the previous job run. That's why when build 1 fails, and then the job runs a second time, its icon in the UI is still red unless and until it completes successfully. That may be what you are seeing when you trace the execution there. And I think what @jgeorgeson is

[2017-07-17 20:13] omehegan commented on #588
You could do this with Jenkins Pipeline jobs, if you look at the 'milestone' step they support. Your job would have some milestones, and would check if new builds are in the queue, and cancel itself at that point in favor of those.

I don't foresee us supporting this in the plugin itself.

[2017-07-17 20:13] #588 closed, assigned to nobody

[2017-07-17 20:17] omehegan commented on #486
Let's keep this open so we have a link to the issue on the GitLab side, in case others come along looking for this feature. Thanks!

[2017-07-17 20:27] omehegan commented on #590
@bmaehr it's not clear to me from the doc you linked to that these keys have actually been removed. It just says they are deprecated. Can you follow the instructions in the User Support section of the README for increasing logging for the plugin, and then include the log which shows the JSON payload it receives from GitLab? That will help us figure out where the problem is. Also, was this working

[2017-07-18 06:43] bmaehr commented on #590
The sent message is according to the request body in the link.

With the older Gitlab version it is working.

[2017-07-18 17:33] omehegan commented on #499
@stephenc just wanted to check and see what the status of your refactoring work is. I haven't seen any new posts to the thread on the jenkins-dev list since June, so I presume you have had other things taking priority.

[2017-07-18 17:50] melissafritcher commented on #561
@omehegan The gitlab-plugin 1.4.7 that was released this week does not fix this issue for me:
Opening a new MR and then making any changes (even after a build starts) creates a second build:
The first MR's status page looks like this:
![screenshot from 2017-07-18 13-47-47](https://user-images.githubusercontent.com/10120841/28331624-c8785b86-6bbf-11e7-916d-a228f23164fa.png)

The status page for the

[2017-07-18 18:05] stephenc commented on #499
All done. Released yesterday. Recommended example reference impl is gitea plugin

[2017-07-18 20:15] daniel-beck commented on #499
https://github.com/jenkinsci/gitea-plugin

[2017-07-19 04:01] samling opened #592 "Webhook test fails in Gitlab 9.2.5 - "Execution expired""
## Issue

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: 9.2.5CE
- **Jenkins version**: 2.60.1
- **Job type**: Freestyle

### Problem description

I have a dockerized Jenkins instance running in AWS tied to an elastic IP. It is communicating back to an in-house Gitlab system via openvpn. I have added Gitlab credentials in the general Jenkins configuration and tested the commu

[2017-07-19 10:30] pgeorgiev333 commented on #585
It turns out that the pipeline tab was not made visible in the git repo settings in gitlab:)

[2017-07-19 10:31] #585 closed, assigned to nobody

[2017-07-19 22:15] omehegan commented on #592
Look at the User Support section of https://github.com/jenkinsci/gitlab-plugin and follow the directions for increasing logging from the plugin. Then share what you see in those logs after testing the webhook. Let's see if the hook request is even received by Jenkins.

[2017-07-19 22:35] samling commented on #592
@omehegan I can confirm the request is not received by Jenkins. I followed those steps yesterday and tried executing a job after clearing the log (as it gets a lot of branch data from running a manual job), and the log remained blank.

[2017-07-19 22:54] omehegan commented on #592
If the request is not received by Jenkins, then you have a network issue of some kind. That was what I suspected, given the 'Execution expired' error from GitLab. That's GitLab timing out trying to access the Jenkins URL you gave it for the hook.

[2017-07-19 23:16] samling commented on #592
@omehegan I agree, that was my suspicion too, but in every other respect Jenkins and Gitlab are verifiably connected. I'm able to log into the docker host running Jenkins, execute a shell in the Jenkins container, and ping gitlab and clone repositories as usual from the container. Given how strict our work network is, it's very possible there's some firewall rule preventing this one webhook from w

[2017-07-19 23:33] samling commented on #592
@omehegan I'm going to close this; after further investigation it looks like we have some odd NATing going on with our Gitlab server that's causing it to not be able to see the Jenkins server, while the Jenkins server is able to see it. We're tracking down the rule responsible. Thanks for helping me verify.

[2017-07-19 23:33] #592 closed, assigned to nobody

[2017-07-20 07:26] ViachaslauKabak opened #594 "Webhook triggering several build after update"
## Issue
After Jenkins and plugins update there is an issue:
Webhook is triggered build if comment is set to Merge Request (MR).
User adds single comment ('retest' in our case) and several build are triggered

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: 8.17.3
- **Jenkins version**: 2.60.1
- **Job type**: Pipeline

################### Logs & Traces
####Global jenkins log
[

[2017-07-20 09:38] pgeorgiev333 commented on #511
No. I switched to a different approach. Now i just use
`updateGitlabCommitStatus(name: 'Build and Test', state: 'failed')` and it works fine.

[2017-07-20 10:07] ZJvandeWeg commented on #272
This seems to be merged on our side @omehegan, should it be removed from the README?

[2017-07-20 17:24] darwish opened #597 "addGitLabMRComment doesn't work with multi-branch pipeline"
## Issue
It appears that when I make a call to `addGitLabMRComment`, there is no request to GitLab made behind the scenes. The `gitlabCommitStatus` call *does* work perfectly though, so it isn't an issue with the connection to GitLab.

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: 8.14.5-ee
- **Jenkins version**: 2.66
- **Job type**: Multi-branch Pipeline

### Logs & Traces

[2017-07-20 18:49] omehegan commented on #530
We now have a PR which adds support for the v4 API. If you are able to help us test this, please head over to #596 where there is a link to download a snapshot release of the plugin with this patch. Please use the PR to provide any feedback about the patch. Thank you!

[2017-07-21 06:09] ViachaslauKabak commented on #594
After issue investigation I have found that gitlab sending additional Webhook. This is caused gitlab webhook timeout default value = 10s. If Gitlab does not receive the responce from jenkins it will send additional request in some time.
Changing gitlab_rails['webhook_timeout'] = 100 helped but still need to verify why after update plugin could not give a response in 10s.
thanks

[2017-07-21 22:32] omehegan commented on #511
Do you think we need to update the documentation to make this clearer?

[2017-07-22 14:27] pgeorgiev333 commented on #511
Well, what i am using is just a different approach. Both should work

On Jul 22, 2017 01:32, "Owen Mehegan" <notifications@github.com> wrote:

[2017-07-22 17:53] josemalonsom commented on #528
@omehegan I checked it again and if I don’t missing something the result of the screenshot is the actual result of the step execution, it changes in every execution with the expected status of the step, it doesn't show the status of previous executions, the BallColor is a value of the step execution result, you can see it here [hudson.model.Result](https://github.com/jenkinsci/jenkins/blob/e770488

[2017-07-24 07:12] ghost opened #598 "Failed to connect to repository, Host key verification failed"
### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: 9.4.0-ee
- **Jenkins version**: 2.70
- **Job type**: Freestyle

### Problem description

I can't connect to our GitLab repo from a new job.

1. I configured GitLab plugin following the instructions under "Configuring access to Gitlab". When I press "Test connection" it says "success", but there's an error message saying "API Toke

[2017-07-24 10:20] mreichel commented on #530
The PR looks good and I tested some key functionality. Maybe we should wait for some feedback before we merge it, though. We also need a documentation change, since the Gitlab plugin won't work with the old API anymore

[2017-07-24 21:18] omehegan commented on #272
I think the note is still relevant in case someone using an older GitLab EE runs into the problem, but I clarified in the README that the bug has been fixed.

[2017-07-24 21:19] #511 closed, assigned to nobody

[2017-07-24 21:25] omehegan commented on #598
You are confusing two different types of credentials. The GitLab API key credential is only needed for sending build status to GitLab after a Jenkins job completes. Putting that key in the GitLab configuration area in your first screenshot is one step that is needed. If 'Test Connection' works there, you are all set with this.

The Git SSH credential is needed for cloning repos. That is strictly r

[2017-07-24 21:25] #598 closed, assigned to nobody

[2017-07-24 21:26] omehegan commented on #530
When we are ready to release, I will handle the merge, bump the version number, specify it as a breaking change, etc. I may do two separate releases, and try to merge as many of the other open PRs first, in order to get as many fixes into the final v3-API/GitLab 8.x supporting release as possible.

[2017-07-24 22:24] omehegan commented on #530
Is anyone who is using GitLab 9.0+ planning to test the proposed v4 patch in their install?

[2017-07-24 22:34] omehegan commented on #597
I think the MR comment is not happening because this job was triggered by a push, rather than by an MR being opened or changed, etc. See `"event_name" : "push",`

Looking at the code, it seems we would need to know the MR ID in order to be able to comment to it. That is only sent by the GitLab MR webhook, not the push webhook. Without an MR ID, calling this method just does nothing. Perhaps we sho

[2017-07-24 22:41] omehegan commented on #594
I haven't heard of this problem before. 10s seems like a long time unless your Jenkins server is heavily loaded.

[2017-07-25 01:56] aundrus commented on #530
I plan to test v4 patch on the ATLAS CI system test bed this week.

[2017-07-25 11:23] petewilcock commented on #290
@coder-hugo Can we re-open this? I see this issue too with latest plugin and Gitlab ee.

You say 'gitlabMergeRequestId is the correct one for the gitlap API', but I don't think so. I cannot do a checkout on `refs/merge-requests/${env.gitlabMergeRequestId}/head` because this PR number does not exist. `${env.gitlabMergeRequestIid}` is the correct number. If I modify my pipeline to use this value ins

[2017-07-25 14:04] darwish commented on #597
@omehegan Adding the MR triggers doesn't seem to have an effect. If I enable both the Push and the MR triggers, I can see both triggers in the log, but only the Push trigger seems to actually cause a build (and the MR comments don't work). If I *only* enable MR triggers, I see it in the log but no build is triggered.

[2017-07-25 15:15] petewilcock commented on #522
Having the same problem here, but appears to be happening when trying to update a Stage that had previously received an updated status from another build on the same commit/PR.

[2017-07-25 16:34] AnthonyMastrean opened #599 "A pipeline job with SCM branch wildcards does not show branch info in the build description"
## Issue

### Context

- **Gitlab plugin version**: 1.4.5
- **Gitlab version**: 9.0
- **Jenkins version**: 2.63
- **Job type**: Pipeline

### Problem description

A freestyle job with SCM branch wildcards (like `*/**`) shows the action type, branch, and source/target branch for merges in the build description automatically.

![image](https://user-images.githubusercontent.com/217842/28582879-0dde8a

[2017-07-25 18:19] omehegan commented on #290
@petewilcock can you open a new issue about this? It's probably not directly related to this original thing, just the same behavior. Also FWIW @coder-hugo is no longer working on this plugin.

[2017-07-25 18:29] omehegan commented on #597
@darwish oh right, I think that's because this is a Multibranch Pipeline job. For those, MR hooks won't trigger. I guess this is a bug.

[2017-07-25 18:31] omehegan commented on #522
For people still having this problem, can you follow the instructions in the User Support section of the README, post logs from your Jenkins server, and *also* look at the logs on the GitLab side? Those may give more insight into why GitLab is rejecting the request from Jenkins.

[2017-07-25 19:18] QAston commented on #462
Having the same issue - publishing works with freestyle jobs, doesn't work with pipeline/multibranch jobs.
Jenkins version: 2.21, plugins:
`---
'jenkins::plugins':
  'ace-editor':
    version: '1.1'
  'analysis-core':
    version: '1.87'
  'ansicolor':
    version: '0.4.2'
  'ant':
    version: '1.4'
  'antisamy-markup-formatter':
    version: '1.5'
  'authentication-tokens':
    version: '1.3'

[2017-07-25 19:39] Zava2012 commented on #527
I will correct you, **Gitlab Merge Requests Builder** plugin.
True, this is another plugin, but it uses the same variable names. But it does not matter, with the release of the new version 1.4.7, the NPE error has been fixed.

Unfortunately, the problem with the **Filter merge request by label** was not solved by the new version of the plugin. There are no mistakes or anything that could help in s

[2017-07-26 11:58] petewilcock commented on #522
Just for others who may stumble on this. My issue is that I was trying to describe gitLabBuilds before my main project SCM checkout, and then update them afterwards. This had the weird side-effect of creating GitLab Pipeline jobs for the repo which contains my Jenkinsfile (not the same repo as my main one), and so the attempts to update the status of the wrong repo may well have caused this error.

[2017-07-26 18:36] omehegan commented on #522
@petewilcock thanks, that's a good find! I'll add something to the doc about this.

[2017-07-26 19:37] jmcgeheeiv commented on #462
Multiple people continue to encounter this issue.  I do not see why this issue should be closed.

[2017-07-26 23:09] omehegan commented on #462
We can leave it open, but I can't seem to make any progress understanding what the cause is.

FWIW, the plugin has 14,400 installs currently. I see 5 people experiencing this issue. Many people, including me, use the plugin with Pipeline and Pipeline Multibranch jobs and sending status to GitLab works. That's why I feel like the root cause must be something outside the scope of the plugin itself.

[2017-07-27 09:42] ospector commented on #538
Issue still alive and kicking. Any idea when can we expect PR to be merged?
Thanks!

[2017-07-27 13:35] melissafritcher commented on #561
Hey folks, this is still an issue. Let me know if y'all need more logs, etc.

[2017-07-27 20:20] omehegan commented on #538
@ospector I will do a release next week which will include this.

[2017-08-01 21:14] lmayorga1980 opened #601 "Failed to update Gitlab commit status for project '<project>/<repo>': HTTP 404 Not Found"
I am not able to get the report back to gitlab and the Gitlab CE Integrations tab is able to connect to Jenkins by using http://jenkinserver/job/<job_name> instead of the suggested #htttp://jenkinsserver/project/<job_name>.

Jenkins Version: 2.7.4
Gitlab Plugin: 1.4.7
Gitlab Server. 8.17.0
[code]
#399

[2017-08-01 21:26] lmayorga1980 commented on #399
@omehegan I am also having the same problem. But I do not use apache. I am using Jenkins default under Tomcat and Gitlab CE 8.17.0

[2017-08-02 04:38] omehegan commented on #601
@lmayorga1980 triggering the Jenkins job using the /job endpoint rather than /project bypasses this plugin entirely, and does not allow GitLab to pass Jenkins any information to populate variable for the build. So yes, that will work, but only in a very limited way. It's not the way this plugin should be used.

Other people occasionally see this issue, and as you noticed in #399 it is often caused

[2017-08-02 12:10] lmayorga1980 commented on #601
Maybe is the way i am using the endpoint on the gitlab ce integrations page.  I triggered this build manually from the GUI. Does this plugin only supports automatic build from gitlab only?

[2017-08-02 15:19] lmayorga1980 commented on #601
Update:

**Jenkins Version**: 2.60.2
**Gitlab Plugin**: 1.4.7

After updating Gitlab CE Integrations Page with http://jenkinsurl:8080/project/<project_name> I did not receive any HTTP 404 errors.

[2017-08-02 15:19] #601 closed, assigned to nobody

[2017-08-02 16:07] lmayorga1980 opened #602 "Getting HTTP 403 Forbidden on Open Merge Requests"
**Jenkins Version:** 2.7.4
**Gitlab Plugin:** 1.4.7
**Gitlab Server:** 8.17.0

It seems that the commit status works fine after the Merge Request is merged and I am able to see the build status on the resulting commit but could not see the **Commit Status** when the MR is still open but the build is triggered successfully.

The jenkins user in gitlab has the **Developer** role assigned to the repo

[2017-08-02 17:50] omehegan commented on #601
@lmayorga1980 you might have found a bug; there's no reason you shouldn't be able to build manually. My theory is that the plugin receives the necessary URL from the GitLab JSON payload when a build is triggered by GitLab, but has to compose the URL itself if you trigger the build manually. It looks to me like that compose step does improper encoding of the / character when it puts together the $N

[2017-08-02 18:08] omehegan commented on #399
I have a theory that this issue can also be caused when a build is triggered manually instead of by the plugin trigger. In that case, I think the plugin has to compose the URL to use for sending the build result to GitLab, instead of getting it from the GitLab trigger JSON payload. When it does this, maybe it sometimes improperly encodes the / character in the $NAMESPACE/$REPO string. Needs more i

[2017-08-02 18:16] omehegan commented on #602
That is strange that it gets a 403 when the MR is open, but not after it is closed... something strange is happening on the GitLab side. I would check the logs there and see if there is any more information. Developer permission should be all that is necessary, but I have a vague memory of someone discovering that they needed to make sure Developer users can also access the API or something. Not n

[2017-08-02 20:17] lmayorga1980 commented on #602
@omehegan , I will check if there is any API permission that is missing.

[2017-08-02 21:16] lmayorga1980 commented on #602
The developer role on the specific repository did not do it for me. However by changing the Access Level actually helped me out on reporting on the Open Merge Request.

@omehegan I believe you should update the `README.md` unless you need a PR I will be glad to contribute.

![gitlab](https://user-images.githubusercontent.com/3172378/28895385-2d6d0ec8-77a6-11e7-83b7-e683d4cfe4db.png)

[2017-08-02 21:16] #602 closed, assigned to nobody

[2017-08-03 19:04] omehegan commented on #602
@lmayorga1980 I don't think you should need to make the user an admin of the whole GitLab instance.

@dblessing if you have a chance, can you take a look at this? Historically people have just needed the GitLab user to have Developer permissions in order for API calls to work, I've never heard of this not being enough.

[2017-08-05 02:42] josh-barker commented on #361
Hi @coder-hugo and @omehegan, I've found the same problem.

I've tried versions 1.4.5 and 1.4.7, however both have the same behaviour.

I have a webhook defined in Gitlab for Merge Request Events only. - `
 http://jenkins.server.com:8080/project/some_project
`

The Jenkins job retrieves a library from Gitlab.
[code]

When I change the assignee, logging shows:
[code]

I copied my code from the gene

[2017-08-08 06:03] josh-barker opened #603 "Jenkins does not block a build when changing assignee in a Merge Requests"
## Issue

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: 9.0.5
- **Jenkins version**: 2.60.1
- **Job type**: Pipeline

### Problem description

I want to trigger builds on merge requests events and use a shared library to simplify pipeline definitions.

Jenkins Configuration:
* Build Trigger Configuration - Git:
  * Only watches for "Opened Merge Request Events"
  * "Rebuild

[2017-08-08 21:06] #361 closed, assigned to nobody

[2017-08-09 17:32] mschuckmann commented on #477
I think I have this problem, I've tried using the ssh URL and http URL  (our server is not setup with https) when specifying the git remote and I always get the message:
[code]

When it attempts to merge and build for a merge request.
Any suggestions on what I should do?

[2017-08-10 18:57] omehegan commented on #477
@mschuckmann cloning with the ssh URL should always work. The error you are getting technically comes from the git plugin, not the GitLab plugin. You might want to look at that plugin's documentation for more debugging help.

[2017-08-12 09:19] ethyaan commented on #492
I have the same issue here

[2017-08-12 12:00] hos7ein commented on #492
hi @ehsanagh
look at this link :
http://s9.picofile.com/file/8292321584/git_branch.png

[2017-08-12 12:42] ethyaan commented on #492
Hi, I have the same issue,
please  look here.
https://ibb.co/iuUk2F

[2017-08-12 13:45] hos7ein commented on #492
don't worry @ehsanagh , it's okay and working :)

[2017-08-12 17:06] ethyaan commented on #492
so it means that errors  comes without any specific reason, am I right?

[2017-08-12 17:57] ethyaan commented on #492
I'm using regex instead of this, that works fine.

[2017-08-14 11:17] niksw7 opened #605 "Gitlab credentials is not showing in the dropdown"
On Manage Jenkins -> Configure System, in the Gitlab section, there's a Credentials section that had a drop-down list where I should be able to specify an API Token. The drop down says "-none" and has no other options. If I choose Add -> Jenkins, then under Kind I can select "GitLab API token" and put in the info, and click Add. But the credential I've added does not show up in the drop-down, so I

[2017-08-15 19:59] thiyagaraj commented on #535
I am encountering the same issue, in my case, my build runs for 4 minutes and there is only one executor. If there are multiple commits in the queue waiting for the executor to free up, Jenkins runs a build for all the commits in one run, but only one of the commits (appears like the first one) gets it status updated on the Gitlab side once the build succeeds, and the other commits are stuck in "p

[2017-08-15 22:28] omehegan commented on #605
Copying and pasting the text from a bug that was filed and fixed year ago is a bit annoying. Just because you are seeing the same behavior doesn't mean it's caused by the same issue as before, so do us a favor and express the problem in your own words.

I'll have to see if we can reproduce this. It may be an issue with changes to the credentials plugin.

[2017-08-16 02:28] niksw7 commented on #605
The issue is exactly the same, but the cause could be different.  I didn't want to raise a new bug for that same issue.
Here is my quick analysis. I will send a PR for the same.
The UserRemoteConfig in git plugin ignores the `api token` in the dropdown as it checks only for instances of StandardUsernamePasswordCredentials and SSHUserPrivateKey.
Making GitLabTokenImpl extend any of the above classe

[2017-08-16 19:14] bmaehr commented on #590
Sorry, this was for the gitlab-hook-plugin instead of gitlab-plugin

[2017-08-16 19:14] #590 closed, assigned to nobody

[2017-08-17 18:13] jgeorgeson commented on #538
Is there an updated ETA on releasing this?

[2017-08-18 21:17] zlippard opened #606 ""Filter branches by name" does not pull branches when using a custom workspace"
## Issue

I have two jobs set up in Jenkins.  One, called 'android_source', which downloads my gitlab Android project and holds the source code and another, called 'android_beta', which sets the custom workspace to 'android_source' and attempts to build against it to create a beta APK.  I also have a configuration set up in 'android_beta' to only run when changes are pushed to a branch called _dev

[2017-08-19 12:28] trunov-ms opened #607 "Feature: Stop Jenkins build if the related Gitlab pipeline has been canceled"
If I cancel pipeline in GitLab
Jenkins get response from Gitlab like this
[code]
I can see **"status" : "canceled"** in this response.
Is it possible to stop Jenkins build if the related Gitlab pipeline has been canceled?
Or remove the build from the Jenkins queue if it is not already running.

[2017-08-21 15:51] squalou commented on #475
BTW : i post this here for the records, in case someone is looking fir that.

I set this on top of all my jobs, as a workaround :

properties([gitLabConnection('my.gitlab.url')]+currentBuild.getRawBuild().getParent().getAllProperties())

(not sure I saw it in the doc)

[2017-08-22 05:34] Balint134 opened #608 "Gitlab Hook names changed"
## Issue
Previously working Gitlab configuration stopped working at all, hooks are sent by gitlab but they're not triggering the actual job. After investigation I've found out that gitlab changed Hook headers (without documenting it) thus breaking the plugin's ability to trigger jobs using hooks.

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**:  9.5.0.RC8
- **Jenkins version**

[2017-08-22 06:29] trunov-ms commented on #608
"API V3 will be unsupported from GitLab 9.5, to be released on August 22, 2017. It will be removed in GitLab 9.5 or later."
https://docs.gitlab.com/ce/api/v3_to_v4.html

[2017-08-22 15:51] Balint134 commented on #608
My main problem is that they're not mentioning this header change anywhere - at least I'm not able to find it.

Feel free to discard the issue and PR if it makes no sense.

[2017-08-22 19:05] melissafritcher commented on #561
This is still an issue.Read https://github.com/jenkinsci/gitlab-plugin/issues/594 and verified that we have been setting gitlab_rails['webhook_timeout'] = 120 for a few months now.

[2017-08-23 11:38] stefanandres commented on #530
So, August 22, 2017 was yesterday :)

[2017-08-24 15:10] rmaheo commented on #290
I have same problem since 26 july. @petewilcock do you have this issue yet ? If yes, did you create a new issue about this subject ? (I didn't find it, probably I'll create one).

[2017-08-24 15:14] petewilcock commented on #290
@rebecamaheo Apologies, I hadn't created one. Please do :)

[2017-08-24 15:42] rmaheo opened #610 "Wrong GitLab Merge Request ID"
Related to closed issue #290

### Context
- **Gitlab version**: 8.12.1
- **Teamcity version** : 10.0.2

### Problem description

I'm requesting .../api/v3/projects/1/merge_requests/**2357** and I have this :

[code]

Data (title, web_url, merge_status, iid etc) from another merge request (2355).

Everything was running well until 26th july.

[2017-08-25 10:02] predmijat commented on #533
I'm having this issue...

Errors I get after I test webhook in GitLab:
- In Jenkins (GitLab log recorder) - `Unsupported X-Gitlab-Event header: Push Event`
- In GitLab right after I press "test" -
[code]

(I've edited ${jenkins_job_name}, not a literal value)

Webhook is in https://${jenkins_url}/project/${jenkins_job_name} format (copied from Jenkins' job configuration page, build triggers sectio

[2017-08-25 10:47] weakcamel commented on #538
Hello,
I've reviewed https://github.com/jenkinsci/gitlab-plugin/blob/master/CHANGELOG.md and haven't seen this fix released (yet). Pretty please? :-)

[2017-08-25 15:33] Argelbargel commented on #530
Hi, I have enhanced the patch #596  from @	ZJvandeWeg so that it's possible to support both apis (given that the original patch contained all required changes).

I am not sure how to proceed, though. Should I open a new merge-request for this or is there a way to integrate my changes into #596 ?

[2017-08-27 19:21] stashedUp commented on #460
How did you resolve this problem?
How did you prevent it from resetting?

[2017-08-28 08:31] kuops commented on #608
in gitlab-ce:9.5.1-ce.0
/project/xxx
404

[2017-08-28 10:38] eljenso commented on #608
@SwankyPantie Could you please link the changes you found? Would be helpful if some other plugin devs stumble upon this problem.

FYI, according to their [press release for the GitLab 9.5](https://about.gitlab.com/2017/08/22/gitlab-9-5-released/#gitlab-ci-api-v1,-gitlab-runner-1.11.x), API v3 will deprecate with GitLab 10.0.

[2017-08-28 15:52] g-dx opened #613 "Jenkins jobs defined using generated DSL must specify all possible configuration for triggers, publishers, etc"
## Issue
Jenkins jobs defined using the `gitlab-plugin` generated DSL must specify all configuration.

For example:

[code]
Otherwise executing the DSL script will fail.

For example the code above will fail when run against v1.4.7 of the `gitlab-plugin` with the following error:

[code]
Due to the changes introduced in https://github.com/jenkinsci/gitlab-plugin/commit/a61a6c77be85b89a5f8b6d37cc38

[2017-08-28 16:49] phanikumarmss commented on #256
I am having the same issue. Even though a restart worked for me. I am supposed to do it all the time I made job configuration changes. I believe this issue should be opened.

[2017-08-28 19:15] CSchulz commented on #554
To the question of the issue creator, at the moment it is not possible to post some stage names to GitLab:

https://docs.gitlab.com/ee/api/commits.html#post-the-build-status-to-a-commit

https://github.com/gitlabhq/gitlabhq/blob/604db40bbe8dfcef846360e459345313dfd4020b/lib/api/commit_statuses.rb

[2017-08-29 02:01] woosley opened #615 "Filter by user/Do not trigger build for certain user"
## Issue

Do not trigger build for certain user

### Context
- **Gitlab plugin version**:  1.4.5
- **Gitlab version**: 9.4.4
- **Jenkins version**: 2.60.3
- **Job type**: Freestyle

### Logs & Traces

n/a

### Problem description

_Describe your problem in a meaningful way_:
- In my pipeline, I used a jenkins account and committed some code back to Gitlab when a build is done,
- I want to filter t

[2017-08-29 16:19] Argelbargel commented on #530
Hi. I've opened a new pull request (#614) for my changes...

[2017-08-29 17:21] omehegan commented on #606
Thanks for this issue report, it does look like a bug. The stack trace you included looks like it is missing a couple of lines, can you just update that so it's complete?

[2017-08-29 17:25] omehegan commented on #608
The API version is unrelated to the data that webhooks send, as far as I can guess. We only use the GitLab API to send data *TO* GitLab about build results and so forth. If there has been a breaking change to the hook data that GitLab sends... that's annoying.

@dblessing can you comment on this?

[2017-08-29 17:27] omehegan commented on #599
Thanks for submitting this, I'd consider it a relatively minor bug because if you do want this functionality in Pipeline jobs, you can generate it using a step similar to what you have found.

[2017-08-29 17:37] g-dx commented on #613
After some research and consulting with other folks knowledgable in Jenkins I was pointed towards this discussion:

https://groups.google.com/forum/#!topic/job-dsl-plugin/JWO7zDuMYVA

I will open a pull request for this change.

[2017-08-29 17:40] zlippard commented on #606
Sure thing, fixed the stack trace.  Thanks!

[2017-08-29 17:58] omehegan commented on #606
Thanks. Can you also either post some more screen shots of your configuration, or attach a sanitized config.xml for the job? I'm not 100% sure I understand what you're doing in the config.

[2017-08-29 18:03] omehegan commented on #538
My apologies for the delay on releases, life has gotten in the way. I am at Jenkins World this week and will be dedicating some time to merging PRs and getting a release or to done.

[2017-08-29 18:05] omehegan commented on #256
@phanikumarmss the original bug was reported over a year ago, and was using ancient versions of both Jenkins and the plugin. If you are regularly experiencing this issue using current versions of both, please post some additional information.

[2017-08-29 18:07] omehegan commented on #607
Interesting feature request. I didn't know you could do this in GitLab. It seems a little strange to use the GitLab UI to cancel Jenkins builds, but in theory we could support this. I won't have time to build it, but if someone wants to submit a PR we would definitely consider it.

[2017-08-29 18:10] omehegan commented on #527
We'll have to look into this more, maybe the label functionality is broken.

[2017-08-29 18:27] omehegan commented on #615
There are two possible ways you could accomplish this today. The first would be to enable the [ci-skip] functionality of the plugin. You will find this under the Advanced button for configuring the GitLab trigger in your Jenkins job. When your job commits back to Git, just have it put the string '[ci-skip]' in the commit message, and the plugin should ignore that.

I'm not positive that the second

[2017-08-29 18:32] omehegan commented on #561
Thanks, I will have to try and reproduce this, but my spare time for working on the plugin is limited right now.

[2017-08-29 18:35] Balint134 commented on #608
@eljenso I'd be glad to do so, but as I wrote earlier there seems to be no documentations related to these changes. All I can see is that the "Test webhook" fails because of the Header changes.

[2017-08-29 18:37] omehegan commented on #613
Thanks for any further info you can provide about this, we don't get too many issues related to Job DSL, I don't think it is as widely used anymore now that many folks are moving to Jenkins Pipeline. It does sound like a bad interaction between the two plugins.

[2017-08-29 18:38] omehegan commented on #608
@SwankyPantie I assume you upgraded GitLab and then this broke. What version did you upgrade from? We can probably find the commit where this was changed, and maybe some more information on it.

[2017-08-29 18:49] Balint134 commented on #608
@omehegan I'm using the hosted `gitlab.com` version. According to source code this is the snippet doing the magic: [link](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/app/services/web_hook_service.rb#L114) but this file hasn't been changed for a while.
Seems like hooks are coming from DB [link](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/app/models/hooks/web_hook.rb)

[2017-08-29 19:24] g-dx commented on #613
I've opened a pull request to make what I believe to be the necessary changes:

https://github.com/jenkinsci/gitlab-plugin/pull/616/

It would be great if you or someone could take a look and let me know if I'm on the right track, what I've missed, etc.

[2017-08-30 01:07] woosley commented on #615
thanks for the info.  Tested both methods
- [ci-skip] works, build is not triggered
- filtering user by polling does not work, the reason should be what you said above.

[2017-08-30 12:20] mariachini commented on #533
I also have the same issue. I can test e.g. Push Hook from Gitlab (by commit) but I'm not able to test Push Event.

[2017-08-30 12:57] bartos commented on #608
The same situation on my side. I've upgdaded from 9.4.5 to 9.5.2. After this I was not able to trigger build on push event. I realized that X-Gitlab-Event header chanded from "Push Hook" to "Push Event".
When you go to web-hook edit on Gitlab, there is a call history with request details.

[2017-08-30 16:45] nonleggouncazzo commented on #533
I had exactly the same Issue ... after 3 hours I realized that, what is not working, is simply the test of push event from gitlab.
What draw me crazy has been that result obtained was a 404 not found that was the same kind of error first obtained with a mistake in webhook url!
While after have fixed the url, using the test from gitlab, the real error is (fine log on server):
_FINE: Unsupported X-G

[2017-08-30 16:50] predmijat commented on #533
I'm not really sure. I moved from https://${jenkins_url}/project/${jenkins_job_name} to https://user:password@${jenkins_url}/job/${jenkins_job_name}/build?delay=0sec for the time being.

[2017-08-30 17:02] nonleggouncazzo commented on #533
This means you're not using anymore gitlab-plugin to trigger build, but putting password in the url you're exposing it with no encryption, while using gitlab-plugin you can use a dedicated token sent encrypted with https post.
Also @mariachini declared only having problem with "push event test" button.
So I would make a test with a real push using the trigger url introduced by gitlab-plugin with t

[2017-08-30 17:24] omehegan commented on #615
Thanks for testing, I'm glad that [ci-skip] will work for you for now. We'll try to add the user filtering in the future.

[2017-08-30 17:36] omehegan commented on #533
Are you all using GitLab 9.5? If so I think you might be hitting https://github.com/jenkinsci/gitlab-plugin/issues/608  If that looks right, please comment in that issue. We have a PR to fix this.

[2017-08-30 17:39] smashou commented on #608
Same situation here, after the update, not having a single build on push event.

[2017-08-30 20:33] omehegan commented on #610
I don't really understand the issue. You're getting unexpected data back from the GitLab API? How is this related to the plugin?

[2017-08-30 21:57] mariachini commented on #608
Same problem here.
Jenkins 2.76, Gitlab 9.5.1.
I can test e.g. Push Hook from GitLab (by simple `git push && git commit`, and job on jenkins is triggered) but I'm not able to test Push Event directly from GitLab settings page.

[2017-08-31 10:28] nonleggouncazzo commented on #608
Same issue for me too.
When use the "Test->Push Event" button from gitlab on jenkins side I get:

**

**

I'm using "GitLab Community Edition 9.5.2" and gitlab-plugin version 1.4.7

[2017-08-31 12:57] 4nt01ne opened #617 "unable to configure connection to GitLab over not secure http URL"
## Issue

I cannot configure the connection to GitLab. I have a warning saying it is insecure and I can only get back to the previous screen.

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: 9.3.3
- **Jenkins version**: 2.67
- **Job type**: Freestyle

### Logs & Traces

The plugin does not give logs for this action

### Problem description

in Manage Jenkins > Configure System

[2017-08-31 14:41] dblessing commented on #608
As far as I know, hooks have always used 'Event' in the name - 'Push Event', etc. I've never seen 'Push Hook'. That doesn't explain why the integration broke, though. 🤔

[2017-08-31 15:02] dblessing commented on #608
I found the problem. It only affects testing of web hooks, not actual pushes, etc. See https://gitlab.com/gitlab-org/gitlab-ce/issues/37288

[2017-08-31 16:55] #586 closed, assigned to nobody

[2017-08-31 18:11] omehegan commented on #608
@dblessing thanks so much for figuring this out! I'll have to think whether we should release this fix, or just put a note about the bug and wait for it to be fixed on the GitLab side. I'm leaning towards the latter, since this only impacts the 'Test' functionality, and I would prefer not to have dead code in the plugin just to fix that case in a couple of versions of GitLab.

[2017-08-31 18:15] omehegan commented on #499
@Argelbargel I'm at Jenkins World this week, and various folks have asked me about progress on this functionality. Do you think you will have time to work on it in the near future?

[2017-08-31 18:24] #538 closed, assigned to nobody

[2017-09-01 13:06] Tibor17 commented on #462
@omehegan
You should traverse changes between version 1.3.0 and 1.4.4. It looks like encoding issue.
16bit characters encoded with utf-8 written to us-ascii 8 bit character, that's why @jmcgeheeiv has the marks �. Another question to @jmcgeheeiv and @skobarx . Did you upgrade Jenkins together with this plugin?

[2017-09-01 18:26] #603 closed, assigned to nobody

[2017-09-01 20:11] acohen716 commented on #433
If we have our CloudBees Jenkins set up in a way that is shared across the company with folders for the different groups will we be able to get the build status working? Because I can't seem to get it to work, I seem to also get the 401 Unauthorized but my GitLab API Token credential is set up for my specific group/folder on the Jenkins instance vs at the master level.

Why is the API token used v

[2017-09-01 21:14] omehegan commented on #452
This was released today in version 1.4.8 of the plugin.

[2017-09-01 21:14] #452 closed, assigned to nobody

[2017-09-01 21:15] omehegan commented on #512
This was released today in version 1.4.8 of the plugin.

[2017-09-01 21:15] #512 closed, assigned to nobody

[2017-09-01 21:16] omehegan commented on #461
This was released today in version 1.4.8 of the plugin.

[2017-09-01 21:16] #461 closed, assigned to mreichel

[2017-09-01 21:17] omehegan commented on #538
This was released today in version 1.4.8 of the plugin.

[2017-09-01 21:17] omehegan commented on #427
This was released today in version 1.4.8 of the plugin.

[2017-09-01 21:18] omehegan commented on #603
This was released today in version 1.4.8 of the plugin.

[2017-09-02 02:21] zlippard commented on #606
Attached is the XML file and extra screenshots.

[android_beta_config_xml.txt](https://github.com/jenkinsci/gitlab-plugin/files/1271846/android_beta_config_xml.txt)

<img width="949" alt="screen shot 2017-09-01 at 7 14 26 pm" src="https://user-images.githubusercontent.com/2581931/29992191-977741a6-8f4a-11e7-94e0-4c511d68e950.png">
<img width="945" alt="screen shot 2017-09-01 at 7 14 43 pm" src="ht

[2017-09-04 06:44] avonengel commented on #538
Thanks for fixing this :)

[2017-09-05 05:28] moritz89 opened #618 "Provide release with fix for issue 506"
## Issue
Create a new release including merge https://github.com/jenkinsci/gitlab-plugin/pull/548 which is issue https://github.com/jenkinsci/gitlab-plugin/issues/506

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**:  8.15.3
- **Jenkins version**: 2.40
- **Job type**: Pipeline

### Problem description

Would like to request that a new release with this fix is performed. Accordi

[2017-09-05 08:47] ghost opened #619 "Please remove this issue"
This is irrelevant issue, the versions we are using are relatively old.

[2017-09-05 10:40] anton-johansson commented on #575
I have an open issue in GitLab:
https://gitlab.com/gitlab-org/gitlab-ce/issues/34738

If this gets solved and we have an API that we can use in a good way here, I'll give a PR a go!

[2017-09-05 13:21] farahfa commented on #554
@CSchulz, Well yeah we got that already; check [the second comment](https://github.com/jenkinsci/gitlab-plugin/issues/554#issuecomment-311764512)

[2017-09-05 13:24] CSchulz commented on #554
Oh I read the discussion and forget about it. 😄

So we have to provide an own merge request or wait for someone else doing it.

After it the feature can be implemented here.

[2017-09-05 14:11] CSchulz opened #620 "Push to target branch should rebuild merge requests"
## Feature request
I have a multi branch pipeline project and want to build all branches if someone pushes to the target branch.

The story behind it:
In branch driven development for each new feature, bugfix and so on a new branch is created. For a finished branch a merge request is created and it can't be merged until the Jenkins has completed the build. So there are two conditions before mergin

[2017-09-05 19:54] omehegan commented on #606
How is this going to work without any Git SCM configured? I'm going to guess that's why you get this error... I think Jenkins wants to confirm that the branch you're specifying actually exists in the repo.

[2017-09-05 19:56] omehegan commented on #606
Re-reading your original issue post... I don't think I would advise you to use this pattern. Can you explain why you don't do the clone and build all in the same Jenkins job?

[2017-09-05 20:50] omehegan commented on #433
@acohen716 AFAIK the setup you are describing should work. If it does not, I would first suggest you check the GitLab logs to see if it tells you more specifically why it is giving a 401. Also let me know what version of GitLab you are using.

I don't know what a Deploy Key is. When I look that up in the GitLab doc, it appears to be a restricted key for cloning and pushing to a repo, to be used by

[2017-09-05 21:08] omehegan commented on #619
As the issue creator, you can just close an issue with an additional comment about why you are closing it. Otherwise it's confusing for someone to search in the future and find this random empty issue.

[2017-09-05 21:08] #619 closed, assigned to nobody

[2017-09-05 21:17] omehegan commented on #620
Interesting request. This gets tricky in Multibranch jobs because you don't get the UI to control when the job is triggered (e.g. only on push to target branch). I also am not even sure there is a good way to trigger all branches in a Multibranch job. This isn't something I can work on, but if someone wants to look into it and submit a PR I'll consider it.

[2017-09-05 21:20] CSchulz commented on #620
I have already found a way to do that and implemented it. It is about 10 lines.

But I would like to talk with someone about it f.e. in IRC.

[2017-09-05 21:22] omehegan commented on #620
@CSchulz I saw you a couple of times on IRC today but missed you. Our other maintainers are not usually there though, and someone else would be better to discuss with you. If you submit a PR and mark it WIP we can tag some reviewers and discuss here.

[2017-09-05 21:37] CSchulz commented on #620
PR is created. I don't know if GitHub offer a different way to mark WIP.

[2017-09-06 15:39] acohen716 commented on #433
@omehegan thanks for your response. I will have our GitLab admin see if they can take a look at the GitLab logs. I'd imagine that our GitLab connection we are using within Enterprise Jenkins doesn't have Developer access to each and every project within Enterprise GitLab and when a GitLab API Token is defined within my project folder I don't think the plugin picks up that Token and instead uses th

[2017-09-06 17:19] omehegan commented on #618
Thanks for bringing this to my attention, that PR was merged into the wrong branch. #622 will resolve this when it is merged. Blocked on #614 right now.

[2017-09-06 17:28] omehegan commented on #433
@acohen716 make sure you have followed the directions here: https://github.com/jenkinsci/gitlab-plugin#configuring-access-to-gitlab  Specifically, you need to:
1. Create a user in GitLab
1. Get that user's API token
1. Give that user Developer access to each GitLab project/repo you want to be able to send build results to
1. Configure that user's API key in Jenkins

My practice was to create a sin

[2017-09-06 19:52] Argelbargel commented on #499
@omehegan i hope, i'll find some more time to add least go some little steps to implementing the branch-source-functionality into the gitlab-plugin. after some digging through the code-bases, i think that simply "merging" them is not going to work. These are steps i'd like to take:

1. reduce duplication of code in both plugins; which means that after #614 is merged, i'd like to add the additional

[2017-09-06 21:31] omehegan commented on #499
@Argelbargel OK, this sounds good. Do you think it could be worthwhile for someone else to work on this with you? Maybe we could find someone else who is willing to contribute some time toward it.

[2017-09-06 22:00] Argelbargel commented on #499
Of course! I'll welcome any help i can get with this :-)

[2017-09-06 23:56] omehegan commented on #499
@mreichel @colourmeamused @christ66 if any of you would be interested in working on this feature with @Argelbargel, he is looking for help!

[2017-09-07 03:30] acohen716 commented on #433
@omehegan let me try to clarify further. We have an enterprise-wide Jenkins available with many users in various groups that are separated by folder and users in specific groups only see their own folder. Additionally, each folder has its own credentials. We also have an enterprise-wide GitLab instance that has many users in various groups.

We'd like to allow all Jenkins projects to be able to pu

[2017-09-07 08:26] 4nt01ne commented on #617
I got it to work by creating credentials via the credentials plugin directly

[2017-09-07 11:59] rymai commented on #608
FYI this will probably be fixed in the next 9.5 release (9.5.5): https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/14108

[2017-09-07 16:56] dahinton11 opened #623 "Webhook test fails in Gitlab 9.2.5 - "Execution expired""
**Context**

Gitlab plugin version: 1.4.7
Gitlab version: 9.2.4EE
Jenkins version: 2.60
Job type: Freestyle

**Description**
We are having issues hooking up a Jenkins with our GitLab.
We have followed setups steps located here without success.
Every time it will say execution expired.

We have set up the link multiple different ways including this jenkinsci and also  including the following: Basic

[2017-09-07 22:01] omehegan commented on #608
@rymai thanks very much! Once this is released I'll add a note to our documentation about it.

[2017-09-07 22:20] omehegan commented on #433
@acohen716 OK, now I understand... I think. A possible workaround for you would be to create multiple GitLab connections at the global Jenkins level - http://JENKINS_URL/configure  You can give each one a different name, point them to the same URL, and add a different API key to each one. Then, in your jobs or at your folder level, you should be able to specify the appropriate GitLab connection, w

[2017-09-07 22:22] omehegan commented on #623
You have a network issue between Jenkins and GitLab. This is not a plugin bug.

[2017-09-07 22:22] #623 closed, assigned to nobody

[2017-09-08 12:20] mreichel commented on #499
I am off for holidays, if @Argelbargel is still looking for help afterwards, I will be available

[2017-09-08 15:16] acohen716 commented on #433
@omehegan So it looks like the configure page has been restricted to only certain people to view. Though I can see a configure page for my group/team-folder. ie http://JENKINS_URL/job/FOLDER but there is no option to create a GitLab connection in there. The only place I can create an API token is in the credentials of my group but then it doesn't seem like I can use it in my job for the GitLab con

[2017-09-08 17:52] omehegan commented on #433
@acohen716 yes, I suppose you will need to work with someone who has admin access to your Jenkins install to handle configuring at least one GitLab connection with the right API key. Keep in mind that this is only used for sending build results to GitLab, if you're wondering how clones might already be working... clones use the SSH key.

[2017-09-08 18:46] jing-cui opened #625 "Is there a way to access the webhooks event from Jenkins side? like currentBuild.rawBuild.getCauses()?"
## Issue

### Context
- **Gitlab plugin version**: 1.4.7
- **Gitlab version**: GitLab Community Edition 9.3.10
- **Jenkins version**: 2.60.3
- **Job type**: Multibranch Pipeline

### Logs & Traces

println "CAUSE ${currentBuild.rawBuild.getCauses()}"

[Pipeline] echo
CAUSE [jenkins.branch.BranchIndexingCause@8fb302]

### Problem description
we are trying to find out which build trigger triggered o

[2017-09-08 20:18] omehegan commented on #625
As of now, the env.gitlabActionType variable will show you whether a build was triggered by a PUSH or MERGE trigger. When #589 is merged, hopefully for the next release, it will add support for TAG_PUSH as being separate from a regular PUSH.

If this answers your question, please close the issue.

[2017-09-08 22:22] acohen716 commented on #433
@omehegan But it's an enterprise Jenkins and an enterprise GitLab setup so there isn't a single GitLab API token that we'd use in the enterprise Jenkins instance to publish build status to all GitLab projects.
Is the plugin able to use credentials at the project level instead of the jenkins install level?

[2017-09-11 14:31] jing-cui commented on #625
Hi Omehegan, thanks for your help. I tried my multibranch pipeline with the following code, but couldn't get the PUSH or MERGE trigger.     my Jenkins version 2.60.3 and Gitlab plugin 1.4.7.

[code]

[2017-09-11 17:50] omehegan commented on #433
As far as I'm concerned it doesn't matter whether it's Jenkins or GitLab enterprise or open source/free etc. The setup is the same. You can use more than one API key, but in Jenkins they will have to be set up at the global level as separate GitLab "connection" resources, one per key you want to use. Name them accordingly. Then, at the project level, you can select the connection that has the cred

[2017-09-11 17:51] omehegan commented on #625
Why don't you just echo the value of env.gitlabActionType to start with, and see what it contains?

Hmm, it's also possible that we don't set these values when it's a multibranch job...

[2017-09-11 17:55] jing-cui commented on #625
The  resolution is Fixed and the status is IN REVIEW. Do we know which version of Jenkins will have this?

https://issues.jenkins-ci.org/browse/JENKINS-45196

Thanks,
Jing

From: Owen Mehegan [mailto:notifications@github.com]
Sent: Monday, September 11, 2017 1:52 PM
To: jenkinsci/gitlab-plugin
Cc: Tyagi, Jing C. (TR Technology & Ops); Author
Subject: Re: [jenkinsci/gitlab-plugin] Is there a way to

[2017-09-11 17:56] jing-cui commented on #625
Hi Omehegan, thanks for your response.
The  resolution for the following issue is Fixed and the status is IN REVIEW. Do we know which version of Jenkins will have this?
https://issues.jenkins-ci.org/browse/JENKINS-45196

[2017-09-11 19:08] acohen716 commented on #433
@omehegan Ok, so it sounds like there are 2 options:

1. Have the Jenkins administrators add a GitLab connection (API key) upon requests from groups/projects that would like their build status published to GitLab.

2. Set up a single GitLab account with Developer access to ALL projects on the enterprise GitLab instance for publishing build status?

Did I miss anything here?

[2017-09-11 21:30] omehegan commented on #625
Yes I forgot about this limitation. For multibranch jobs I'm not sure if any further plugin work will have to be done to resolve it.

[2017-09-11 21:32] omehegan commented on #433
@acohen716 that's right. For solution 1, someone will need to create a corresponding GitLab user and get its API key for each team. For solution 2, the user can be limited to API access only, and only for projects that are actually built by Jenkins, if you want to contain it somewhat. But that API access would still allow someone to do destructive things in theory if it were misused. But the plugi

[2017-09-12 20:17] scottashipp opened #626 "Unable to get Maven builds triggered from merge requests"
## Issue
### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 7.14.3 29a93ae
- **Jenkins version**: 2.7.2
- **Job type**: Maven

### Logs & Traces
This is the only log I see:

[code]

### Problem description
I have attempted to get a Maven build to trigger from the opening of a new merge request using the gitlab-plugin. It does not work, though. After I configured it according to t

[2017-09-12 21:09] scottashipp commented on #626
By following [this helpful article](https://medium.com/@teeks99/continuous-integration-with-jenkins-and-gitlab-fa770c62e88a) I was able to get this working. I had to configure a webhook on the Gitlab side for my particular setup.

[2017-09-12 21:09] #626 closed, assigned to nobody

[2017-09-13 13:02] #610 closed, assigned to nobody

[2017-09-13 16:38] ElijahLynn commented on #571
Thanks for this @omehegan!

[2017-09-14 05:01] bbodenmiller commented on #433
@omehegan would it be possible to update the plugin to support a Jenkins project level defined credential? Relying on Jenkins admins as opposed to Jenkins project owners to add the API keys doesn't scale well.

Also you mention giving a GitLab user API only access, how can you do that?

[2017-09-14 08:59] paintingStyle opened #627 "Hook execution failed: execution expired"
## Issue

##### 1，如果我使用构建触发器插件选项中Build when a change is pushed to GitLab. GitLab CI Service URL提供的URL，http://192.168.91.18:8080/project/tyfocgApp ，使用GitLab的WebHook报错Hook execution failed: execution expired
##### 2，使用http://192.168.91.18:8080/buildByToken/build?job=tyfocgApp&token=6b1cb76736418840a74687ef 会出现一样的错误Hook execution failed: execution expired
#####  使用 http://localhost:8080/buildByToken/

[2017-09-14 09:11] paintingStyle commented on #627
#####1, if I use the Build triggers the plug-in Build the when a change is pushed to GitLab GitLab CI Service URL options provide a URL, http://192.168.91.18:8080/project/tyfocgApp

By GitLab, the WebHook function is called: Hook execution failed: execution expired

#####2, use http://192.168.91.18:8080/buildByToken/build? Job =tyfocgApp&token=6b1cb76736418840a74687ef will have the same error mess

[2017-09-14 18:10] omehegan commented on #627
You have a network connection issue between GitLab and your Jenkins server.

Do not use 'buildByToken.' That bypasses this plugin completely.

[2017-09-14 18:10] #627 closed, assigned to nobody

[2017-09-18 22:57] omehegan commented on #541
Still a feature request to support this in Multibranch, but I updated the doc for regular Declarative jobs.

[2017-09-18 23:00] omehegan commented on #555
@jgeorgeson can you confirm that I've documented this correctly? Now that I re-read it I think I am still missing something that you're saying needs to  happen in the stages, or in the post block.

[2017-09-18 23:02] omehegan commented on #528
Duplicated by #555.

[2017-09-18 23:02] #528 closed, assigned to nobody

[2017-09-19 23:31] acohen716 commented on #433
@omehegan I agree with @bbodenmiller and would like to get your thoughts on his questions as well.

[2017-09-20 09:30] mhaas commented on #550
FYI: I was seeing this exception today when setting up my first pipeline job. My Jenkinsfile too comes from SCM and I had neglected to set up the proper checkout parameters as described in https://github.com/jenkinsci/gitlab-plugin#git-configuration-for-freestyle-jobs - yes, that is the link to the description for freestyle jobs.

[2017-09-21 04:20] Vince-Cercury opened #630 "GitLab API token credential type is missing: cannot create Gitlab connection"
## Issue

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**:  8.6.9-ee
- **Jenkins version**: 2.79
- **Job type**: Pipeline

### Logs & Traces
See screenshot of the GitLab connection: http://picpaste.com/Screen_Shot_2017-09-21_at_2.10.44_pm-szGLceKU.png
See screenshot of the credential page with only one kind available (GitLab API token is not available): http://picpaste.com/Scre

[2017-09-21 09:25] amarruedo commented on #549
Hi!

Sorry for the late reply. I also see those %2F strings on requests that are working fine on the same log:

[code]
If that %2F string was the problem I guess that all requests would have failed, but it only fails on the POST, trying to update the status of the commit.

Thanks for your help.

(we have refused to work with forks till this issue is solved, and are working with regular merges betw

[2017-09-21 22:10] omehegan commented on #433
It is possible, but at this point we are discussing a new feature in a ticket that was closed almost a year ago. It would be better to open a new issue to request this feature. I can't make any promises about when or if it would be implemented, unless you can provide a PR.

In terms of giving a user API-only access, I'm not 100% sure how you configure that in GitLab, and it would vary depending on

[2017-09-25 18:02] acohen716 opened #631 "Allow for Jenkins project/folder level GitLab Token API credentials to be used for GitLab connection"
## Feature Request
In our enterprise we have an Enterprise GitLab and an Enterprise Jenkins set up such that groups have their own Jenkins folders and don't have access to the Global Jenkins configuration to add their GitLab API Token credentials for their GitLab groups projects at the global level. It appears that the gitlab-plugin pulls the GitLab connection info from the Manage Jenkins->Configu

[2017-09-25 18:09] acohen716 commented on #433
Ok, I've opened a [new issue](https://github.com/jenkinsci/gitlab-plugin/issues/631) for the feature request. We'll look into the API-only access. Thanks!

[2017-09-27 07:44] 1100101 opened #633 "Build triggered needlessly after MR states change"
## Issue
Our gitlab is set up so that each merge request must be approved by 1 or 2 reviewers before it can be merged. In addition Jenkins has to successfully build the project with the proposed changes.
When a reviewer hits the "Approve" button, the "Merge Request" webhook is triggerd, causing Jenkins to build the project again, even if it was successfully built previously.

### Context
- **Gitla

[2017-09-27 20:12] zlippard commented on #606
Apologies for the delayed reply.  The thought was that I would use one job to clone and build the repo and then other jobs could use the first job's workspace for running tests, beta builds, release builds, etc off of that workspace.  This way I wouldn't have to clone the repo separately in to each work space and I could cut down the number of steps in each job.

[2017-09-27 20:24] RaymondArias commented on #608
Any updates on this issue. Gitlab 10 is out and I am still having this issue

[2017-09-28 07:17] bzon commented on #633
Do you have `Push Events` checked?

To accomplish what you expect, you should just have `Merge Request events` checked and ensure `Push Events` is not checked.  The workaround here is that you have to enforce that developers should have a Merge Request every after feature branch creation and use __[WIP]__ if they don't want to run Jenkins build every push.

[2017-09-28 09:42] MuyBien opened #634 "Unparseable date from GitLab webhook"
## Issue

Hi!
I'm trying to link GitLab CE and Jenkins with a webhook. I follow his tutorial: https://medium.com/@teeks99/continuous-integration-with-jenkins-and-gitlab-fa770c62e88a

But in the final part, when I test to fire a webhook in GitLab, I get a error message saying that the date is not in a supported format.

I'm wondering if it's still possible to link GitLab and Jenkins with webhooks.

[2017-09-28 11:57] 1100101 commented on #633
Nope, `Push Events` is not checked, only `Merge Request` and `Comment` (the last one is so Jenkins rebuilds on a specific comment).

[2017-09-28 11:59] bzon commented on #633
How many webhooks do you have in the repository? In the job that this webhook triggers, is the Push Events unchecked as well?

[2017-09-28 12:13] 1100101 commented on #633
The project has 4 web hooks configured, each talking to a different Jenkins job (all Freestyle jobs).
The Jenkins job in question only has Gitlab Triggers "Merge Request" and "Comment" enabled.

Let me know if you need more information

[2017-09-28 12:15] bzon commented on #633
Ok then that is weird, we basically have the same configuration. I'm using gitlab 9.4.3-ce.

[2017-09-28 12:20] 1100101 commented on #633
But the CE version does not have the "Approvers" functionality, right?
I see in the log that Gitlab triggers the "Merge Request" hook (for either each approval, or just once when all required approvals are available, I'm not sure).
The incoming JSON from Gitlab mentions "action: approved"

The question is now: Is it a Gitlab issue (Maybe even fixed in a newer version), or is it a feature?
I don't

[2017-09-28 12:22] trunov-ms commented on #633
What's the size of build history of this Jenkins job?

[2017-09-28 12:29] 1100101 commented on #633
The job retains 30 days of build records

[2017-09-28 14:24] fuzza commented on #633
Hi guys,

It seems that we have exactly the same issue as @1100101 mentioned.

The issue itself is that when approver hits `Approve` button on Gitlab it submits a Merge Request event hook with `action: approved` in payload and it triggers a new Jenkins job.

It's unexpected behavior because there no code changes is made since previous build that was triggered when merge request is opened or update

[2017-09-28 17:06] rymai commented on #608
@RaymondArias That's strange, this has been solved in 9.5.5 and 10.0.0.

@omehegan @SwankyPantie Do you still experience this issue?

[2017-09-28 17:41] omehegan commented on #608
I added a note about this to the Known Issues section of the doc.

[2017-09-28 17:59] cdbennett opened #635 "Support for Personal Access Tokens (Private Tokens deprecated)"
## Issue

### Problem description

GitLab 10.0 release announcement state that Private Tokens are going to be removed in GitLab 10.2 (November 2017) and Personal Access Tokens should be used instead:

 -- [GitLab 10.0 Release Announcement](https://about.gitlab.com/2017/09/22/gitlab-10-0-released/#private-tokens)

The [GitLab API documentation "basic usage"](https://docs.gitlab.com/ee/api/README.ht

[2017-09-28 18:21] RaymondArias commented on #608
I am sorry. It is resolved. I did not update my Jenkins Project

[2017-09-28 20:52] omehegan commented on #606
@zlippard I would say that in my experience with Jenkins, what you are suggesting is kind of an anti-pattern. It can seem appealing to reduce steps in jobs, but IMO the workspace should almost never be shared across jobs.
- Clones should be really fast, no more than a few seconds even for a full clone. If they take longer than that, I would ask why your repo is so large, and whether it needs atten

[2017-09-28 20:56] omehegan commented on #635
@dblessing can you comment on this when you have a chance? Is @cdbennett correct in thinking that passing a Personal Access Token the same way we pass a Private Token today will work? If so I will just update the documentation accordingly.

[2017-09-29 20:07] bikebilly commented on #635
@omehegan you should be able to use PATs in the same way you are now using Private Tokens. PATs are very easy to manage, so you can just give it a try creating one with `api` scope.

In case of problems, let me know as soon as possible so we can consider helping in the migration, or even reconsidering the removal of Private Tokens in 10.2.

[2017-09-29 20:35] omehegan commented on #635
@bikebilly thanks, I will look into it. Were PATs first introduced in 10.0?

[2017-09-29 20:36] bikebilly commented on #635
@omehegan no, they were introduced in GitLab 8.8 :smile:
https://docs.gitlab.com/ce/user/profile/personal_access_tokens.html#personal-access-tokens

Feel free to ask if you need more help on testing PAT.

[2017-09-30 14:45] jgeorgeson commented on #555
Looking much better but slight correction. The new docs are only posting a status in the `post` (which is the simple case). In my pipelines I'm calling `gitlabCommitStatus` in each stage so that I can see in GitLab which stage failed (for example when I have a parallel build I know which parallel branch failed). The pre-declaration of each stage in the `options`  is so that the there is still a pe

[2017-10-02 16:23] mkobit commented on #499
Really looking forward to https://github.com/Argelbargel/gitlab-branch-source-plugin getting merged into this.

[2017-10-02 18:08] bbodenmiller commented on #631
We're also in need of this. @omehegan anything we can do to help advance this idea?

[2017-10-02 18:41] omehegan commented on #631
@bbodenmiller I would welcome a pull request that implements it :)  Otherwise I'm not personally in a position to do it, I'm really just a shepherd for this plugin. Other volunteers write the code.

[2017-10-02 19:06] bbodenmiller commented on #631
That's a bit of the problem... not sure where to start with the changes needed? Any idea who might be able to provide guidance?

[2017-10-02 20:03] omehegan commented on #631
Maybe @mreichel or @colourmeamused.

[2017-10-04 11:20] mreichel commented on #631
@acohen716 @bbodenmiller How is your enterprise Jenkins setup? Do you use the Folders plugin in combination with the RBAC plugin?

[2017-10-05 07:23] bbodenmiller commented on #631
Yep, we're using the [CloudBees Folders Plugin](https://www.cloudbees.com/products/cloudbees-jenkins-platform/team-edition/features/folders-plugin) and [CloudBees Role-based Access Control Plugin](https://www.cloudbees.com/products/cloudbees-jenkins-platform/team-edition/features/role-based-access-control-plugin). Please let me know what other details about our setup would be useful to know about.

[2017-10-05 12:25] petewilcock opened #636 "Jenkins won't trigger a build of merge commit on merged Merge Request"
## Issue

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 9.5.4-ee
- **Jenkins version**: 2.8.2
- **Job type**: Pipeline

### Logs & Traces

[code]

### Problem description

Here is the scenario:

1) User opens merge request to master in Gitlab. Jenkins CI integration sends webhook on the merge request open event which commences pipeline job.
2) Job checks whether `gitlabMerge

[2017-10-05 15:04] AnthonyMastrean commented on #599
It's an uglier workaround than necessary until this fix is released (pipeline jobs cannot access `ENV.BRANCH`): https://issues.jenkins-ci.org/browse/JENKINS-45198

[2017-10-06 00:40] nathanmauro commented on #634
Having the same issue

[2017-10-09 07:38] mreichel commented on #631
I looked into this, but unfortunately I don't have any idea how to implement this feature. The possibility to use environment variables on folder level seems to have moved to the **folder plus plugin** and I didn't see core support for folders. Maybe someone like @stephenc has ideas how to implement this, I don't.

[2017-10-09 09:20] stephenc commented on #631
No need to do anything with environment variables.

This all depends on how the plugin works.

* If the plugin takes a list of GitLab servers that are configured in the global config screen and the credentials are defined in that screen and the user just enabled the GitLab plugin at the job level (or it gets enabled by magic) then you probably will be blocked on https://issues.jenkins-ci.org/brows

[2017-10-09 09:30] stephenc commented on #631
So as an FYI, [this method](https://github.com/jenkinsci/gitlab-plugin/blob/1e66e387af8426f8a1b6067c82ca8229ffc636b5/src/main/java/com/dabsquared/gitlabjenkins/gitlab/GitLabClientBuilder.java#L125-L138) is responsible for looking up the credentials. In the credentials API documentation I describe [the factors to consider when deciding which credentials should be made available in different context

[2017-10-10 03:27] smd1000 opened #637 "Jenkins spinning up thousands of jobs from all branches vs just newly opened ones."
## Issue

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 9.3.5
- **Jenkins version**: 2.73.1
- **Job type**: Pipeline and Freestyle

### Problem description

- I have a pipeline job setup to listen for Open merge requests from a branch, and to trigger a downstream build based on file pattern. All new branches should be able to trigger this build, however, when jenkins sees a

[2017-10-10 10:46] martinpritchard commented on #462
This may or may not be related, but I have experienced issues with updateGitlabCommitStatus working on some pipeline projects and not others.  Strangely, this turned out to be main Configuration for the pipeline requiring the .git suffix in Project Repository setting (Configure/Branch Sources/Git/Project Repository), so:

`git@repo:group/project` updateGitlabCommitStatus would **not** work

`git@r

[2017-10-10 15:10] jeckhart opened #638 "Fails when using NameBasedFilter without specifying both include and exclude parameters"
## Issue
When I add a NameBasedFilter without specifying both include and exclude parameters it fails.
The logs show an NPE when instantiating the NameBasedFilter.

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 10.0.3
- **Jenkins version**: 2.73.1
- **Job type**: Pipeline

### Logs & Traces

[code]

### Problem description

If you specify the NameBasedFilter and only include

[2017-10-10 17:08] jmcgeheeiv commented on #462
@martinpritchard,
Thank you very much for your insight.  I did have the problem described in this issue, and my pipeline configuration Project Repository field does not contain ".git".  So it is possible that you found the cause of my problem.

However, as part of the diagnosis of an unrelated problem, I removed `updateGitlabCommitStatus` from my Jenkinsfile, so I cannot verify.  I need to put it

[2017-10-10 17:51] omehegan commented on #637
This sounds like a configuration problem. I would need to see the configuration of the job that GitLab triggers before I could say anything more, but I doubt this is a plugin issue.

[2017-10-10 17:53] omehegan commented on #462
@martinpritchard excellent observation. Maybe this is a regex issue, although you'd think we would have noticed it sooner if it were something this "obvious," in the sense that it must be about 50/50 whether someone uses a .git URL or not.

[2017-10-10 18:09] omehegan commented on #638
Oh, great catch, and thanks for the PR as well!

[2017-10-10 21:00] smd1000 commented on #637
Hi, thanks for the quick response. I'm sure you're right.  Here's my config in the `MergeRequestEvent` "super-job". The project is a mono-repo, which contains a number of sub modules. Each sub-module has it's own job (although that can be reduced) whose job is triggered by pattern matching whichever file changed so `mono-repo/job1/file.xm` should trigger `job1` which only builds `job1`.

![screen

[2017-10-11 11:03] mreichel commented on #631
Thank you @stephenc ! I hope that is the guidance @bbodenmiller needed to start

[2017-10-11 16:17] drewwells commented on #477
Query for this issue on gitlab issue list: https://issues.jenkins-ci.org/browse/JENKINS-45246?filter=-4&jql=text%20~%20%22originates%20from%20another%20repository%22%20order%20by%20created%20DESC

[2017-10-11 19:12] iamwyza commented on #530
FYI - APIv3 will be removed in Gitlab 11: https://about.gitlab.com/2017/09/22/gitlab-10-0-released/#api-v3

[2017-10-12 15:39] tyrone-grech commented on #633
Hi all,

We are having a similar issue. We are using GitLab Plugin version `1.4.8` and GitLab Server version `10.0.2-ee`.

With `Opened Merge Request Events` ticked in Jenkins configuration, every time we update a Merge Request at all (e.g. add or remove an Approver, change Assignee, etc.) a new job is being triggered. We have temporarily toggled off `Opened Merge Request Events` and are using `Pu

[2017-10-13 11:16] Pitority commented on #590
Here the link [to the issue in the gitlab-hook-plugin project ](https://github.com/jenkinsci/gitlab-hook-plugin/issues/41)

[2017-10-13 11:44] lexapi commented on #634
Jenkins ver. 2.73.1
GitLab 10.0.3
GitLab API v4
Gitlab plugin version: 1.4.9

I fixed the problem with the date, but the integration still does not work (there is no connection between merge request and job in jenkins)

[2017-10-13 12:16] DieBauer commented on #506
I've ran in exactly the same issue. Is there a workaround? And when will the pull request be merged in?

[2017-10-13 14:51] maksim77 opened #640 "Can't update the build status (combination not found)"
## Issue: Can't update the build status (combination not found)

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 9.0.5
- **Jenkins version**: 2.73.2
- **Job type**: Multibranch Pipeline

### Logs & Traces

[code]

### Problem description
During a build in a freestyle no problem, but if i using multibranch returning a 404. I tried to send the problematic query by hand and it re

[2017-10-14 10:00] #420 closed, assigned to nobody

[2017-10-16 16:25] jeckhart commented on #638
You're very welcome. Let me know if you need any changes to the PR before merging?

[2017-10-17 05:20] cdbennett commented on #635
I tested this and indeed the Personal Access Tokens seem to be working with Jenkins and the GitLab Plugin.

[2017-10-17 05:20] #635 closed, assigned to nobody

[2017-10-18 08:24] alaindeurveilher commented on #631
Hello, I experience that problem with our Jenkins at work, and I don't understand what precisely needs to be done in order to make things work. I followed the documentation of the GitLab Plugin to set up the API Token in the global configuration of Jenkins. But when configuring the jobs, I don't see the GitLab token API i configured.

Can somebody tell me what I need to do as a solution or as a wo

[2017-10-18 10:03] alaindeurveilher commented on #631
Hi again, I answer to myself :-)

So for the ones having the same difficulties: the solution to make the jobs work:
1. Make sure to have a ssh key created in the jenkins home: `/var/lib/jenkins/.ssh/id_rsa` and `/var/lib/jenkins/.ssh/id_rsa.pub` (you can follow these instructions to help: [connecting with ssh](https://help.github.com/articles/connecting-to-github-with-ssh/) by executing then with

[2017-10-19 10:29] rsommer commented on #462
I can confirm that the missing *.git* at the end of the repo URL does indeed trigger the described behaviour. We are using jenkins 2.8x and gitlab ce 10. After adding *.git* to the repo url on two jenkins multibranch-pipeline jobs that were not reporting commit status back to gitlab everything worked again.

[2017-10-19 15:41] llorllale commented on #505
This is working on my setup:

* Gitlab plugin version: 1.4.8
* Gitlab version: 10.0.3
* Jenkins version: 2.73.2
* Job type: Freestyle

[2017-10-19 19:49] jmcgeheeiv commented on #462
@martinpritchard is a rock star!

[2017-10-20 13:15] 1100101 commented on #633
I think I have an idea why this might be happening to me:
The git repository that triggers the Jenkins job is actually not the one that is checked out by the job.
Due to the fact that we use a custom build framework/toolchain, the workspace is actually consumed by some other repository.
We use scripts to then manually switch the (sub-)module that triggered the job to the feature branch.

So my tho

[2017-10-20 22:34] aschlei commented on #462
We are having a similar issue. We have .git on the repos in Jenkins so that's not the issue for us. I've tried a few things from this thread, but so far no luck.

However, I did notice something strange in the gitlab_access.log. I was looking for POST requests and it does appear this are being triggered by the build (the timestamps line up with test builds I have been doing). However, all the requ

[2017-10-23 11:12] jayeshkhairnar commented on #537
Hi

I want to run jenkins job once PR merge with master to remove PR ID s3 bucket. Could anyone help me on it.

[2017-10-24 13:24] mattiasb opened #643 "Add pipeline step to close merge request"
Hi!

It would be neat to be able to close a GitLab merge request inside a Jenkins pipeline.

Some background: I'm building a build queue for the company I work at that will automatically rebase, merge and push semi-linear merge commits (GitLabs nomenclature).
When a rebase is needed the new commits will have new SHA:s, which means that GitLab won't understand that the branch is actually merged (ki

[2017-10-24 13:57] evgeni opened #645 "add merge_commit_sha to Cause"
## Issue

### Context
- **Gitlab plugin version**: 1.4.6
- **Gitlab version**: 9.3.10
- **Jenkins version**: 1.6.x
- **Job type**: Pipeline

### Logs & Traces

None

### Problem description

When merging an MR, GitLab sends the `merge_commit_sha` as part of the WebHook:

[code]

It would be awesome if that would be available as part of the injected environment variables.

[2017-10-25 21:56] zlippard commented on #606
@omehegan gotcha.  That's what I ended up doing.  Longer term, I wouldn't want to use the same workspace for shared code in case there are concurrent jobs running that need to do tests, perhaps on different branches of the codebase.   It makes more sense to have each job hold on to the code.  Thanks for the help!  Will close this ticket.

[2017-10-25 21:56] #606 closed, assigned to nobody

[2017-10-26 12:30] binarious commented on #530
Seems to be fixed via https://github.com/jenkinsci/gitlab-plugin/pull/614.

[2017-10-26 12:30] #530 closed, assigned to nobody

[2017-10-26 14:05] jakub-bochenski opened #647 "Filtering by label never matches anything"
## Issue

### Context
- **Gitlab plugin version**:  1.4.9 and 1.5.1
- **Gitlab version**:  10.0.4
- **Jenkins version**:  Jenkins ver. 2.73.2
- **Job type**:  Freestyle

### Problem description
After enabling "filter by label" Merge Requests would never trigger.
When I remove the condition the builds trigger as expected.

I've checked that labels in `MergeRequestObjectAttributes` are always empty.

[2017-10-26 14:06] jakub-bochenski commented on #527
@omehegan it is broken: https://github.com/jenkinsci/gitlab-plugin/issues/647

I've found that out while trying to implement #646

[2017-10-26 15:08] jostyee opened #648 "NPE exception for version 1.5.0"
## Issue
After upgrade GitLab plugin to latest version today, our ci job for GitLab MRs got broken.

### Context
- **Gitlab plugin version**: 1.5.0
- **Gitlab version**: 10.0.4
- **Jenkins version**: 2.73.2
- **Job type**: Freestyle

### Logs & Traces

[code]

### Problem description

_Describe your problem in a meaningful way_:
- Upgrade plugin to 1.5.0
- Create a MR on GitLab, send webhook reque

[2017-10-27 16:17] thatfulvioguy opened #651 "Errors in updateGitlabCommitStatus do not appear in build log due to null TaskListener"
### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 10.1.0
- **Jenkins version**: 2.60.3
- **Job type**: Pipeline (declarative)

### Problem description

If an error occurs in an `updateGitlabCommitStatus` pipeline step inside the call to `CommitStatusUpdater.updateCommitStatus`, then the log messages do not appear in the build's log due to the step implementation passing a null `

[2017-10-28 12:18] Chrislevi commented on #574
@melissafritcher I've managed to find a solution, Im using Jenkins CLI to run 'create-credentials-by-xml' with a Dynamic XML generated by Jinja2 templating.

[2017-10-30 15:57] nbarrientos opened #652 "1.5.0 fails to accept merge requests when using the API V4"
## Issue

### Context
- **Gitlab plugin version**: 1.5.0
- **Gitlab version**: 9.5
- **Jenkins version**: 2.73.2

### Logs & Traces

[code]

### Problem description

We have the impression that when asking the plugin to use the V4 API, at the time of merging a merge request, the ID of the MR passed via the URL is the global one, making the request fail.

This looks correct in terms of how the URL

[2017-10-31 07:30] dcuenot opened #654 "Trigger only on change in a subdirectory"
Hi,

Is it a way to trigger a build only when a file in a specific subfolder of my git repo has changed?
For example, is it possible to define a include (or exclude) path, in the Gitlab Trigger?

Because in my case, I have a git repo like this one: https://github.com/kbastani/spring-cloud-event-sourcing-example, and each folder is a jenkins job. But if a do a fix in account-service, I don't want t

[2017-10-31 16:58] Argelbargel commented on #652
I'll look into it tonight or tomorrow...

[2017-10-31 17:25] #648 closed, assigned to nobody

[2017-10-31 21:53] kraftman opened #655 "Webhook NullPointerException if Gitlab connection fails"
## Issue

### Context
- **Gitlab plugin version**: 1.5.0
- **Gitlab version**: 10.1.0
- **Jenkins version**: 2.73.2

- **Job type**:  Freestyle.

### Logs & Traces
[code]
### Problem description

We recently migrated gitlab and jenkins to different machines, and updated gitlab and jenkins to the latest versions.
After doing so we updated the webhook url's but got the above error for some projects

[2017-11-01 05:49] matil019 commented on #474
@omehegan @YanceyWang

Hello,

I happened to find how to accomplish that.

Just put

[code]

***BEFORE*** the outermost `pipeline` block in `Jenkinsfile`.

I haven't found the exact configuration needed to have this work, but I think it's worth trying.

- GitLab CE 10.0.4
- Jenkins 2.73.2
  - GitLab Plugin 1.5.0
  - Pipeline job with `Pipeline script from SCM` definition

[2017-11-01 23:09] Argelbargel commented on #652
I can confirm this is a bug. We thought it would be enough to simply change the calls to the api made from the plugin but we have to adapt the code selecting the merge-request-id, too. Will implement this asap.

[2017-11-03 12:28] mogthesprog commented on #655
I get a similar stack trace and null pointer exception. Running Jenkins 2.87 and latest version 1.5 of gitlab plugin.

My issue was related to the Proxy i had configured in the "Manage Plugin > Advanced" tab. When i removed the Proxy it all seemed to work. I had properly configured the NoProxy values though.

[2017-11-03 12:37] Argelbargel commented on #655
@mogthesprog: the problem with the proxy was already reported in #648 and the fix for that is already merged but not released yet.

[2017-11-03 19:02] #652 closed, assigned to Argelbargel

[2017-11-03 19:05] omehegan commented on #655
@Argelbargel should I hold up releasing 1.5.1 for you to look into this issue?

[2017-11-03 21:27] Argelbargel commented on #655
@omehegan: no. the report cites  more than one reason which could have caused the problem. I'd say, we build another release and see whether we might be able to triangulate the root-cause when further feedback comes in...

[2017-11-05 18:03] tomasAlabes commented on #655
@Argelbargel @omehegan please release 1.5.1 as issue #648 is a blocker for the mentioned versions in the bug (downgrading to 1.4.8 doesn't let us discriminate between MR events in the job conf). Thanks :)

[2017-11-06 23:36] nickpetrovic commented on #506
@DieBauer i ran into this today and found there was a new [release](https://github.com/jenkinsci/gitlab-plugin/blob/master/CHANGELOG.md#151) for this plugin. try updating and see if that resolves the issue.

[2017-11-09 14:12] ballalaw commented on #587
any news

[2017-11-09 14:15] pablobirukov commented on #587
@tchernogod It seems that I have problems only in certain scenarios (in others it works). Closing since I can't give you a repro. Will reopen If I confirm that the problem is not on my side

[2017-11-09 14:15] #587 closed, assigned to nobody

[2017-11-09 17:27] szpak opened #660 "Silently failing on "301 Moved Permanently" returned from GitLab on status update"
## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**: 9.4.4
- **Jenkins version**: 2.60
- **Job type**: Freestyle

### Logs & Traces

Request:
[code]

Response:
[code]

### Problem description

The GitLab plugin doesn't follow `301 Moved Permanently` responses from the server. Usually defining the new URL is enough, but there is no error (warning) in the console (that comm

[2017-11-09 19:15] omehegan commented on #647
Can you look at the User Support section of the README and follow the directions for capturing logs from the plugin? Then add them here, so I can see what happens when the plugin gets this request from GitLab. Thanks!

[2017-11-10 21:59] jdcskillet commented on #625
We are pretty heavy users of Multibranch pipelines - it seems as if the comments for triggering a build also do not work. Is there an overarching "problem" with multibranch that would preclude these variables from being used in multibranch? I imagine it is a fairly large problem set.

[2017-11-12 12:50] yuvgeek opened #661 "Jenkins doesn't run Job by gitlab plugin & authentication failure"
## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**:  Version running in gitlab.com (I can't find)
- **Jenkins version**: 2.60.3
- **Job type**: Freestyle

### Problem description

_Describe your problem in a meaningful way_:
- what were you doing (simple push, merge request, MR with fork, ...)

Simple Push/Comment add.

- what was expected
Trigger Job to run on Jenkins t

[2017-11-12 13:21] yuvgeek commented on #661
Using Project Services in Gitlab Integration solves the issue. Because of manually setting up with URL mentioned in tutorials like here https://lachlanbarclay.net/2016/08/automated-build-with-gitlab-and-jenkins raises this issue.

[2017-11-12 13:21] #661 closed, assigned to nobody

[2017-11-12 14:01] yuvgeek opened #662 "Build status for commit in Gitlab not happening"
## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**: Using gitlab.com (I can't find)
- **Jenkins version**: 2.60.3
- **Job type**: Freestyle

### Problem description

_Describe your problem in a meaningful way_:
- what were you doing (simple push, merge request, MR with fork, ...)
Commit a file to repo. Jenkins build image and job success. Added job for Publish build stat

[2017-11-12 18:05] Argelbargel commented on #662
I can confirm the problem, but i've got no idea, why reporting the status won't work with gitlab.com :/

[2017-11-13 07:55] 1100101 commented on #633
Can anyone provide some feedback on this?
To the commenters who experience the same issue: Is your setup similar to ours, as described in my last comment?
To the maintainers: Is my assumption correct that basically the wrong SHA1 hashes are compared?

[2017-11-13 23:33] omehegan commented on #608
This was fixed on the GitLab side, and we have a note in our README about it.

[2017-11-13 23:33] #608 closed, assigned to nobody

[2017-11-13 23:40] omehegan commented on #662
@dblessing can you offer any insight here? I'm never sure what to do with folks who are integrating with gitlab.com.

[2017-11-14 07:51] gguillotin opened #663 "Automatic project creation should work with Jenkins Folders"
## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**: 10.1.1
- **Jenkins version**: 2.32.3
- **Job type**: Freestyle

### Problem description

We are using Gitlab plugin in order to trigger builds automatically and create jobs on branches creations.
It used to work as expected. But we are now trying to use this for jobs in folders (using the Cloudbee"s Folders plugin).

In

[2017-11-14 12:26] jakub-bochenski commented on #647
@omehegan here you go
EDIT: noticed the job had triggerOpenMergeRequestOnPush: "never", but after changing the setting to "both" the builds are still not triggering

[code]

Updated trigger config:
[code]

[2017-11-14 22:26] #518 closed, assigned to nobody

[2017-11-14 23:07] joerg-wille opened #665 "External Pipelines not shown"
## Issue
I have 2 gitlab projects, both use a webhook to trigger an external jenkins pipeline via jenkins gitlab plugin. The only difference is that the first project is a “Jenkins Pipeline Project” and the other is a “Jenkins Multibranch Project”. In first project I can see the result of the external pipeline in gitlab, in the second not.
(I have also asked this [question in the gitlab troublesho

[2017-11-15 16:45] almozavr opened #666 "Question: Missing Build Parameters for Replay"
### Context
- **Gitlab plugin version**:  > 1.2.0
- **Jenkins version**: X.Y.Z > 2.3
- **Job type**: Pipeline

### Problem description

Due to docs gitlab sets hook data via environment and not through build parameters -> it makes `replay` meaningless which is very disturbing in terms of debugging.
Could you explain why it is not possible to use build parameters? Github plugin still does it and wo

[2017-11-15 17:05] rahvee opened #667 "Question: Job aggregation"
## Issue

We use gitlab and jenkins for continuous deployment of websites. That is, when users push to the "develop" branch, a gitlab webhook triggers jenkins to do `git pull` on the develop webserver. When users push to "master," gitlab & jenkins do a `git pull` on the production webserver.

We have observed, that if multiple pushes occur to different branches at nearly the same time, the gitlab

[2017-11-15 20:32] mogthesprog commented on #655
@Argelbargel Thanks for the update! :)

[2017-11-16 09:38] andrei-cacio commented on #504
is anyone interested in submitting a PR ?

[2017-11-16 09:41] sabf81 opened #668 "NPE in Multibranch Job when step gitlabCommitStatus is reached"
## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**:  8.14.0
- **Jenkins version**: 2.85
- **Job type**: Multibranch Job

### Logs & Traces
`[Pipeline] stage
[Pipeline] { (Build)
[Pipeline] gitlabCommitStatus
[Pipeline] {
[Pipeline] End of Pipeline
java.lang.NullPointerException
	at org.jboss.resteasy.util.ReadFromStream.readFromStream(ReadFromStream.java:30)
	at org.jbos

[2017-11-16 19:31] krstcs commented on #655
I'm seeing a similar stack trace with 1.5.1, when I run the test in GitLab integrations, Jenkins throws the stacktrace back.  Should I revert to an earlier build?  This was working before I updated to 1.5.1, but I'm not sure what the last version I was using is, I wasn't the one who pushed out the updates (grrr...).

[2017-11-16 22:17] dskrvk commented on #655
Same here - 1.5.1 and 1.5.0 both have the error. I had to downgrade to 1.4.8, but that one can no longer post MR comments.

[2017-11-16 23:19] Argelbargel commented on #655
I'll try to look into this but am currently a bit swamped with other work, so it might take til after the weekend. @krstcs and @dskrvk could you please post your stacktraces here - except if they are the same to the one posted above.
In the meantime reverting back to 1.4 8 or enforcing v3 api in the system configuration might help...

[2017-11-16 23:29] dskrvk commented on #655
[code]

[2017-11-16 23:41] krstcs commented on #655
`java.lang.NullPointerException
 at org.jboss.resteasy.util.ReadFromStream.readFromStream(ReadFromStream.java:30)
 at org.jboss.resteasy.client.jaxrs.internal.ClientResponse.bufferEntity(ClientResponse.java:307)
 at org.jboss.resteasy.client.jaxrs.internal.proxy.extractors.DefaultEntityExtractorFactory$3.extractEntity(DefaultEntityExtractorFactory.java:48)
 at org.jboss.resteasy.client.jaxrs.inter

[2017-11-17 00:41] a2f0 opened #669 "gitlab global settings "test connection" fails unconditionally"
## Issue

### Context
- **Gitlab plugin version**: 1.4.8 & 1.5.1
- **Gitlab version**: https://gitlab.com
- **Jenkins version**: 2.73.3 & 2.60.3
- **Job type**:  N/A

### Logs & Traces

[code]

### Problem description

This problem is easily reproducible.  I have a feeling it is related Gitlab updating their platform today as my Gitlab connection was working fine but broke suddenly today.  The iss

[2017-11-17 17:15] Tenmak commented on #592
Did you find out anything ? I suspect there is some proxy involved in this, but I can't find out anything to correct this issue...

[2017-11-17 23:06] omehegan commented on #669
Maybe related to https://github.com/jenkinsci/gitlab-plugin/issues/608 ? Need @dblessing or someone from GitLab to take a look.

[2017-11-17 23:51] a2f0 commented on #669
Thank you for your support @omehegan & @dblessing.  Whatever problem this is/was has appeared to go away on its own.  I am resolving this issue.

[2017-11-17 23:51] #669 closed, assigned to nobody

[2017-11-20 19:33] sebastienbonami commented on #607
I also want this.

[2017-11-21 08:29] daks commented on #607
@omehegan for me, it's not that strange. Because this plugin is so powerful that all absolutely needed information about builds are available in our Gitlab instance, which is the place where we work. Jenkins consultation becomes optional, except for failed builds.

Thanks all for your job :)

[2017-11-21 12:53] jakub-bochenski opened #671 "jenkins.war is not in the classpath error when trying to run tests"
I can't get this project to run tests locally.

I'm always getting:
[code]

I tried running:  `mvn clean install`, `mvn clean install -DskipTests` but the result is the same.
I don't see anything under `war/target/jenkins` after running those.

I tried updating the hpi plugin to latest (2.1) but it doesn't help.

I tried manually extracting `jenkins-war-1.609.3-war-for-test.jar` into `war/target/j

[2017-11-21 13:58] jakub-bochenski commented on #647
re. comment https://github.com/jenkinsci/gitlab-plugin/pull/664#issuecomment-344670211
I've checked this again.

Builds trigger properly if there is no label filter.
Builds do not trigger if there is any label filter.

Any chance this will be investigated soon?

[2017-11-21 14:01] jakub-bochenski commented on #647
Here is the full log from:
 - trigger build (w/o label  filter)
 - add label filter
 - hook is received but no build is triggered

[code]

[2017-11-21 19:29] gempain commented on #592
Same problem here :)

[2017-11-22 19:08] #638 closed, assigned to nobody

[2017-11-22 22:29] mgunjan commented on #592
I am facing similar problem and i suspect proxy issue as my gitlab instance is sitting behind proxy server. How to configure proxy for webhook to use it on gitlab ?

[2017-11-22 23:24] omehegan commented on #671
@mreichel or @Argelbargel any idea why this might be happening? It's not an issue for me, but I am far from a maven guru.

[2017-11-23 00:40] Argelbargel commented on #671
Sorry, i can not reproduce this. I've had a similar problem when building a gradle-based plugin-project against jenkins version > 2.63 (see [JENKINS-46899](https://issues.jenkins-ci.org/browse/JENKINS-46899)). But this seems to have a different cause as we're using version 1.6x to build.

[2017-11-23 13:32] mattiasb commented on #587
I believe I have the same issue. This is the output I get in the logs:

[code]
This is what I get in the pipeline log:
[code]
Some relevant info:
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**: CE 9.0.1
- **Jenkins version**: 2.77
- **Job type**: Pipeline
- **API-level**: autodetect

[2017-11-23 13:38] mattiasb commented on #587
Switching API-Level from `autodetect` to `V3` solves it all.

[2017-11-24 11:20] mreichel commented on #671
I can't reproduce it either. @jakub-bochenski, do you have any more information? Do you run maven from an IDE (e.g. Intellij has a bug there, updating the parent in the pom should fix it)?

[2017-11-24 12:47] jakub-bochenski commented on #671
@mreichel I tried this from CLI

Maybe we could try to debug this another way.
Can you point me to how/when exactly the jenkins.war image is supposed to be put in `war/target/jenkins`?
Then I could try and check why isn't it happening on my system.

[2017-11-24 15:13] jnt2007 commented on #588
hmmm... This is not clear for me. I added milestones after each step into my pipeline. And if I start 2 builds with small time difference (start second build when first in progress) both finishes, noone aborts. In every build milestones passes one by one. Something wrong, but what...?

[2017-11-24 17:21] omehegan commented on #518
This has just been released in plugin version 1.5.2. It will be in the update center within a few hours.

[2017-11-24 17:22] omehegan commented on #580
This has just been released in plugin version 1.5.2. It will be in the update center within a few hours.

[2017-11-24 17:22] #580 closed, assigned to nobody

[2017-11-24 17:23] omehegan commented on #613
This has just been released in plugin version 1.5.2. It will be in the update center within a few hours.

[2017-11-24 17:23] #613 closed, assigned to nobody

[2017-11-24 17:24] omehegan commented on #638
This has just been released in plugin version 1.5.2. It will be in the update center within a few hours.

[2017-11-25 17:21] dskrvk commented on #668
Possibly related to https://github.com/jenkinsci/gitlab-plugin/issues/655

[2017-11-27 13:55] Mythos opened #673 "Send pipeline emails to author instead of "triggered by" user"
### Before submitting an issue I have first:

- [:heavy_check_mark:] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [:heavy_check_mark:] searched for similar already existing issue

## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**: 10.2 (on gitlab.com)
- **Jenkins version**: 2.90
- **Job type**: Multi-Branch-Pipeline

### Logs &

[2017-11-27 16:41] darinpantley commented on #633
Yes @1100101, I am observing the same behavior with GitLab 10.1.4-ee. Approvals are causing Merge Request events, which are causing my Jenkins job to run. In my case, the repository/commit triggering the event is different than the repository/commit being cloned by the Jenkins job. I do not want approvals to cause my job to run.

I have a Jenkins Pipeline job that gets triggered by GitLab's Jenkin

[2017-11-28 11:48] maksim77 commented on #640
Any news? :)

[2017-11-28 14:20] Argelbargel commented on #640
Are the names of the group and the project really „group“ and „project“? As the requested url looks okay to me, group%2Fproject would be the path with correct escaping and it works when you use the numerical Id of the project, this seems to be the only cause for problems as group and project are keywords used by the api for endpoints and query-parameters. Perhaps using them as names causes some er

[2017-11-28 14:27] maksim77 commented on #640
No, this is not a real name. Corrected in the output to hide the corporate names in the Internet

[2017-11-28 17:28] jakub-bochenski opened #674 "Again: Jenkins jobs defined using generated DSL must specify all possible configuration for triggers, publishers, etc"
Despite #613 it still doesn't seem to work.

I've checked this on a PR build https://ci.jenkins.io/job/Plugins/job/gitlab-plugin/job/PR-664/18/consoleFull
It has the master HEAD integrated:  `Merging remotes/origin/master commit ab51c7f2f5c585ec20bdcdf8f2d2e301a39a594a into PR head commit 51c3910270c22c1dc3965fdf975d3fa8b49b3564`

Still, I'm getting an error when trying to omit any option:
[code]

[2017-11-28 23:00] Argelbargel commented on #640
Hmm. Thats quite a riddle then ;-) Let's see - do use use any non-ascii-chars for the group or project names?

[2017-11-29 07:36] Mythos commented on #673
I close this issue as I found out, that it has nothing to do with the plugin. The problem in this case is GitLab itself.
See my issue here: https://gitlab.com/gitlab-org/gitlab-ce/issues/40647

[2017-11-29 07:36] #673 closed, assigned to nobody

[2017-11-29 07:51] maksim77 commented on #640
Nope ). Only ascii-chars with "-".

[2017-11-29 07:55] ViachaslauKabak opened #675 "Error does not appear if a problem during MR accept"
## Issue
While accept there is an error that MR squash was failed. But plugin did not return any error.

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 8.17.3-ee
- **Jenkins version**: 2.73.2
- **Job type**: Pipeline

### logs
logs from gitlab
[code]
### Problem description

While accepting MR the option to squash commits is turned on. MR cannot be accepted (Failed to squash.

[2017-11-29 09:40] KorosuYoo opened #676 "Search the whole build records leading to Jenkins hang"
## Issue

### Context
- **Gitlab plugin version**: 1.5.1
- **Gitlab version**: 9.5.9
- **Jenkins version**: 2.46.2
- **Job type**: Pipeline

### Logs & Traces
many logs like this:
[code]
### Problem description
I set many MR webhooks on one single project on gitlab, so when a MR created/merged/updated the webhooks will concurrently trigger many jenkins jobs. My problem is these high concurrent job

[2017-11-29 09:56] gempain opened #677 "Pipeline ref name incorrect for tag push events"
## Issue

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: 10.2.2
- **Jenkins version**: 2.73.3
- **Job type**: Freestyle

### Problem description

When a build is triggered by a tag push event, the CI job branch name that appears in Gitlab CI is wrong:
![pipeline](https://user-images.githubusercontent.com/13135149/33368255-76199968-d4f1-11e7-8acc-a1f24fa7821c.png)
I would expe

[2017-11-29 10:47] gempain commented on #580
Is this visible in the UI ? I can see it in the `$actionType` parameter, but is there an additional checkbox to differentiate "push" events from "tag push" events ? If not, I think this could be a good idea to differentiate both in the UI.

[2017-11-29 12:18] bbreijer commented on #580
The difference is made in the GitLab-webhook setting and will be transferred to the environment of your Jenkins build.
These are two snippets from a normal push and a tag push:
* ``gitlabActionType=PUSH``
* ``gitlabActionType=TAG_PUSH``

[2017-11-29 12:55] jakub-bochenski commented on #674
This is a workaround, which requires only `secretToken`:
[code]

Usage:
[code]

[2017-11-30 08:07] gempain commented on #580
Thanks for the info :) Keep up the great work !

[2017-11-30 15:48] #667 closed, assigned to nobody

[2017-11-30 17:17] Argelbargel commented on #640
As I know from my own setup, "-" should not cause problems (at least not within the project-name). So i think this is specific to multibranch pipeline projects. Could you test whether the same project and branch receive correct commit-status updates when you set it up as a "normal" pipeline-project?

[2017-11-30 17:24] Argelbargel commented on #676
Okay, do i understand you correctly - you've set up multiple webhooks for your project ("UI") and each webhook (correctly) triggers a project in jenkins?
As far as i understand the code, this plugin simply triggers the build - queue-management etc. should not be affected by this plugin. I myself use gitlab/jenkins in a similar manner and the jobs get properly queued if the number of executors is e

[2017-11-30 18:16] Argelbargel commented on #655
Do you all have a proxy configured? Just looking at the code i could not find an obvious cause for the problem, thus i'll need some help to reproduce the bug...

[2017-11-30 18:17] Argelbargel commented on #668
@sabf81: do you have a proxy configured?

[2017-11-30 18:18] dskrvk commented on #655
No proxy in our case.

[2017-11-30 22:23] Argelbargel commented on #655
Okay, if it is not caused by the proxy-settings. As far as i can see, the exception is thrown if gitlab reports an status >=400 but the resteasy-proxy is not able to get a inputstream of the response. As this causes the NPE it'll be hard to find out what's going wrong on the gitlab side. Perhaps you could check the gitlab-logs for the times this exception is thrown?

[2017-12-01 03:07] dskrvk commented on #655
We're on gitlab.com actually.

[2017-12-01 05:08] KorosuYoo commented on #676
@Argelbargel I think I find the root cause: https://github.com/jenkinsci/gitlab-plugin/blob/2a5493962d6cf0f873f10752c9a06ccdc20b36b1/src/main/java/com/dabsquared/gitlabjenkins/util/BuildUtil.java#L40
Here is a function named "getBuildBySHA1IncludingMergeBuilds". It is called by the function named "isLastCommitNotYetBuild" which is in: https://github.com/jenkinsci/gitlab-plugin/blob/c92e972426f3133

[2017-12-01 07:40] sabf81 commented on #668
@Argelbargel we don`t have any proxy configured on our system.
If we use the GitLab Plugin with the Version 1.4.8 there is no NPE

[2017-12-03 21:10] Argelbargel commented on #668
Okay. This is the same problem as reported in #655. Thus i'm closing this one as #655 has more watchers.

[2017-12-03 21:10] #668 closed, assigned to Argelbargel

[2017-12-03 21:16] Argelbargel commented on #655
I think the cause is a bug ([RESTEASY-1347](https://issues.jboss.org/browse/RESTEASY-1347)) in the resteasy-client we're using to talk to gitlab. It seems to be unable to properly handle error-response for HTTP-HEAD-requests.
So if you're using a gitlab-version which does not yet support the new v4-api then this error will occur when we try to auto-detect which api to use (because we try v4 before

[2017-12-04 18:33] enutrofff commented on #647
Any updates?

[2017-12-05 16:51] petewilcock commented on #636
Bump. Any acknowledgement that this is an issue?

The major culprit is the logic here: https://github.com/jenkinsci/gitlab-plugin/blob/c92e972426f313374ff3e537f31e859633f1d17d/src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerImpl.java#L130

There are many legitimate scenarios when one may want to rebuild the same commit sha of a previously 'successful'

[2017-12-05 22:15] cuky23 commented on #592
When I saw this , I issued a network restart / reload and they all started working again. so gitlab timing out due to network makes sense to me.

[2017-12-06 00:30] philippe-granet commented on #298
These plugins (under dev, not prod ready) can build Gitlab Merge Request in Multibranch pipelines:
https://github.com/Argelbargel/gitlab-branch-source-plugin
https://github.com/kohsuke/gitlab-branch-source-plugin

[2017-12-06 00:32] philippe-granet commented on #416
These plugins (under dev, not prod ready) can build Gitlab Merge Request in Multibranch pipelines:
https://github.com/Argelbargel/gitlab-branch-source-plugin
https://github.com/kohsuke/gitlab-branch-source-plugin

[2017-12-06 11:50] ViachaslauKabak opened #679 "Get a variable with MR participants"
## Issue
need to get participants from MR

### Context
- **Gitlab plugin version**: 1.4.8
- **Gitlab version**: 8.1.17
- **Jenkins version**: 2.73.2
- **Job type**: Pipeline

### Problem description

_Describe your problem in a meaningful way_:
- need to send email to all participants, but have only gitlabUserEmail
- got participants list via variable from gitlab
- have no participants email list

[2017-12-06 11:55] miguelrincon commented on #555
@omehegan This extra magic could really improve the setup and usage of the plugin, as each stages could very easily be reported back to Gitlab. It was in fact, my expectation when I first read the documentation.

[2017-12-06 13:41] petewilcock commented on #636
I can't imagine I'm the only one experiencing this issue - in it's current state the plugin is flat out broken for triggering a build to a merged branch.

If I'm doing something wrong, please do tell me, however to be clear, look at this code block.
[code]

This is evaluating whether an incoming web hook for the job in question has already been built, by looking at the last commit to the PR and ch

[2017-12-06 18:38] pabloa commented on #636
I have the same problem. Please fix. :D

[2017-12-07 08:00] gempain opened #681 "Git plugin's refspec and branch specifier conflict with Gitlab plugin's branch filtering"
## Issue

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: 10.2.2
- **Jenkins version**: 2.73.3
- **Job type**: Freestyle

### Problem description

Git filter branches seems to conflict with Gitlab plugin's branch filtering.

I have setup a job with the following configuration:
**Source Code' Management (git)**
- **Refspec:** +refs/heads/dev:refs/remotes/origin/dev
- **Branch S

[2017-12-07 11:43] renukaholimath commented on #522
I am also facing the same issue intermittently in the builds in Jenkins. Is there any solution for this issue? Below is the error.

"Failed to update Gitlab commit status for project 'xxxx': HTTP 400 Bad Request"

[2017-12-07 11:45] petewilcock commented on #522
I believe this also occurs if you're re-running a build (either resending the hook manually, or rebuilding) to a merge request that has already been merged/closed. Seems like you can't update the status of merged PRs, which makes sense. Possible to add some informational messages for that scenario?

[2017-12-08 15:47] cs-mahmoud-khateeb opened #682 "Build Triggers option get reset"
When I check the option "Build when a change is pushed to GitLab. GitLab CI Service URL: <URL>" in "Build Triggers", it works only once, then when I come back to check, I find the checkbox unchecked.

[2017-12-08 21:24] #617 closed, assigned to nobody

[2017-12-10 03:39] guessi commented on #417
+1 for the sample Jenkinsfile, both [Scripted Jenkinsfile](https://jenkins.io/doc/book/pipeline/syntax/#scripted-pipeline), and [Declarative Pipeline](https://jenkins.io/doc/book/pipeline/syntax/#declarative-pipeline)

but still can't work with `Snippet Generator`

thanks to @JaniFuturemark's hint, I can create both

here's the sample for [Scripted Jenkinsfile](https://jenkins.io/doc/book/pipeline

[2017-12-11 08:09] ViachaslauKabak commented on #679
Seems that there is no API possibility to do this
opened https://gitlab.com/gitlab-org/gitlab-ce/issues/40986

[2017-12-11 13:53] mreichel commented on #671
Well, we inherit the functionality from the hpi-plugin and the Jenkins test harness (that should be executed in the test-compile phase). I think it was fixed in [Jenkins test harness](https://github.com/jenkinsci/jenkins-test-harness/compare/2a12efb35ad1...b45ae9bb0299). That should be included in a parent version > 2.35. You could also try to skip test compilation with
`mvn install -Dmaven.test.s

[2017-12-13 13:07] ViachaslauKabak commented on #494
Hi, do you have any news about adding gitlab-token creds to withCredentials?

[2017-12-13 17:15] adveres commented on #636
**Gitlab plugin version:** 1.5.2
**Gitlab version:** 10.1.4-ee
**Jenkins version:** 2.9.4

I will note I'm using a generic webhook and NOT the "Jenkins CI" integration, because it's missing a bunch of triggers, like a "REBUILD" comment.

-----

<img width="557" alt="screen shot 2017-12-13 at 12 14 52 pm" src="https://user-images.githubusercontent.com/775690/33952258-3e22b2ce-dfff-11e7-83a5-081b70e

[2017-12-13 17:32] kraftman opened #685 "Clarification on how auth works?"
For some reason gitlab isn't accepting my jenkins credentials for one project (it used to be fine and works for other projects):
[code]
When I change the Credentials dropdown to 'none' it works fine, which is odd because i thought that was what jenkins uses to authenticate with gitlab.

I found this ticket:
https://issues.jenkins-ci.org/plugins/servlet/mobile#issue/JENKINS-36863
which says the cre

[2017-12-14 16:24] Hermain commented on #298
@philippe-granet Can you access the gitlab environment variables which come from the webhook using these plugins?
This has been bugging me for a year now and I guess it won't ever be fixed. That's a real shame

[2017-12-15 11:23] benfab opened #687 "Hook executed successfully (HTTP 200) but pipeline not triggered"
Hello,

When using Declarative Pipeline Syntax,  GitLab executes successfully push hooks, but the pipeline isn't triggered on Jenkins. Nevertheless, the pipeline is triggered when I am not using the Declarative Pipeline Syntax (Jenkins Build Trigger box).

I am using the pipeline from example the repo readme, see below:

[code]
### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: G

[2017-12-15 16:52] adveres opened #688 "${gitlabSourceBranch} incorrectly shows "master" on MergeRequest hooks"
## Issue
Upon opening a merge request, I submit a generic webhook to Jenkins to start a project build. The documentation is unspecific on which environment variable is the branch being built, and I swear is inconsistent on whether it's `${gitlabBranch}` or `${gitlabSourceBranch}` (why are there two?).

The only documentation I seem to able to find is:
* This other bug about it: https://github.com/

[2017-12-16 16:04] trollcodelord opened #689 "Cloning the remote Git repository"
Cloning the remote Git repository

Cloning repository git@github.com:trollcodelord/Newman-Jenk.git

ERROR: Error cloning remote repo 'origin'
hudson.plugins.git.GitException: Could not init /Users/Shared/Jenkins/Home/workspace/newman-jenkin@2
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl$5.execute(CliGitAPIImpl.java:747)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl$2.execute(CliGitAPIImpl

[2017-12-17 09:02] dorgolan opened #690 "Gitlab dosn't get report from Jenkins about builds status"
### Context
- **Gitlab plugin version**:1.5.2
- **Gitlab version**: 10.0.5-ee
- **Jenkins version**: 2.73.2
- **Job type**: Freestyle

There is no relevant logs that i can point of on Gitlab server/Jenkins server.

### Problem description
after any build that finish to run on Jenkins (simple push, merge request...), the build dosn`t report to Gitlab  job result . (failed/success with link to the j

[2017-12-17 17:43] jimrippon commented on #636
I'm also seeing this issue, would be very interested in any solution or workaround!

[2017-12-18 01:18] shikage opened #691 "Multibranch Pipeline not updating Gitlab Status"
## Issue

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: 10.2.4 CE
- **Jenkins version**: 2.89.2
- **Job type**: Multibranch Pipeline

### Logs & Traces

Jenkins Log for GitLab Plugin
[code]

Jenkins File:
[code]

### Problem description

Gitlab is not being updated with the build status after Jenkins completes the build. The log messages seem to indicate that the update is s

[2017-12-18 13:33] philmcardle opened #692 "Snippet Generator for pipeline triggers broken"
### Environment
- **Gitlab plugin version**: 1.5.2
- **Jenkins version**: Jenkins LTS ver. 2.89.2

### Issue

The only other report I can see for this is a series of comments on #417, starting [here](https://github.com/jenkinsci/gitlab-plugin/issues/417#issuecomment-276300663), but I can't find a standalone issue on GitHub or JIRA.

As per linked comment, the snippet generator generates `pipelineT

[2017-12-18 13:53] ishanm120 commented on #422
I am getting this error:

javax.ws.rs.NotFoundException: HTTP 404 Not Found

	at org.jboss.resteasy.client.jaxrs.internal.ClientInvocation.handleErrorStatus(ClientInvocation.java:220)
	at org.jboss.resteasy.client.jaxrs.internal.ClientInvocation.extractResult(ClientInvocation.java:191)
	at org.jboss.resteasy.client.jaxrs.internal.proxy.extractors.BodyEntityExtractor.extractEntity(BodyEntityExtract

[2017-12-19 09:48] mreichel commented on #689
To me it looks like your git is not configured correctly in Jenkins. You should set that up in the Jenkins settings.

[2017-12-19 09:56] trollcodelord commented on #689
Please guide how to configure GIT on jenkin

[2017-12-19 10:02] mreichel commented on #689
Please use documentation available on the internet (eg. https://stackoverflow.com/questions/8639501/jenkins-could-not-run-git )

[2017-12-19 12:49] philmcardle opened #694 "GitLab plugin causing JENKINS-45892 warning"
## Issue

### Environment
- **Gitlab plugin version**: 1.5.2
- **Jenkins version**: Jenkins LTS ver. 2.89.2
- **Job type**: Pipeline

### Problem description

[JENKINS-45892](https://issues.jenkins-ci.org/browse/JENKINS-45892)

The following is seen in the Jenkins log when running even very simple jobs using the GitLab plugin. Might have only started on the latest version of the LTS, but I'm not s

[2017-12-19 15:33] TobiX commented on #692
That should have been fixed by https://github.com/jenkinsci/gitlab-plugin/commit/b34d64be43db55a56c32dfd6c4c163c0ec372e77 - but that doesn't seem the work...

[2017-12-20 11:03] FabianWilms commented on #527
You have to make sure that the user, which credentials you added under SCM -> Git -> Repositories is actually a member of the project with read access. Even though I added the SSH-Key as a deploy key in Gitlab and Jenkins was able to pull the sources I got the same 404-Error when specifying a branch. After adding the User as a developer to the project the branch selection works as expected.

[2017-12-20 11:18] estelabalboa commented on #568
I´ve just enabled Pipelines, but I found: Client error: Connection refused.
And the log prints prints less info:
Call GitLab:
HTTP method: HEAD
URL: my-git-url/api/v4/user
Request headers: [
Accept = [application/json],
PRIVATE-TOKEN = [****FILTERED****]
]
Someone can help me? Thanks!!!

[2017-12-20 11:19] Azarko opened #695 "Multibranch pipeline project auth"
## Issue

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: 10.0.3
- **Jenkins version**: 2.97
- **Job type**: Multibranch pipeline

### Problem description

I have Role-Based authorization Strategy at my jenkins server and users without special permissions can't start any job.
I'm install gitlab plugin; at jenkins configuration check `Enable authentication for '/project' end-po

[2017-12-20 22:34] webartoli commented on #533
I have the same problem:

### Context
- Gitlab plugin version: 1.5.2
- Gitlab version: 9.5.3 CE
- Jenkins version: 2.96
- Job type: Multibranch Pipeline

I have tried to test gitlab webhook with:
`http://{{alias_dns}}:{{port}}/project/{{projectname}}`
and
`http://{{hostname}}:{{port}}/project/{{projectname}}`
and
`http://{{ip_addr}}:{{port}}/project/{{projectname}}`

I have also tried to do a post

[2017-12-21 01:09] Andrewpk commented on #533
This issue should not be closed - still occurring with plugin v 1.5.2 and jenkins 2.97

[2017-12-21 09:04] Azarko commented on #691
Hi.

I had a problem similar to yours.
In my case problem was that user which I use for gitlab connection (with Personal Access Token ) haven't write permission to gitlab project (require 'Developer' permission at least).

Anyway, you should watch GitLab response code and body.  See the section `User support` in the project's [readme](https://github.com/jenkinsci/gitlab-plugin/blob/master/README.m

[2017-12-22 15:28] andrcuns commented on #377
Can someone explain how the snippet above could work? From what I could tell, job-dsl plugin doesn't have gitlabConnection in properties context.
P.S. Never mind, I realised that gitlabConnection is automatically generated which means it is not available in online API viewer or IDE autocompletion which got me confused a little bit.

[2017-12-22 17:41] shikage commented on #691
Unfortunately, I don't see any messages of that sort in the log I setup in Jenkins. I get a JSON output of the details of the GitLab project and then the following notify message:
Dec 22, 2017 12:35:17 PM FINE com.dabsquared.gitlabjenkins.webhook.build.PushBuildAction
Notify scmSourceOwner <project> about changes for git@localhost:<group>/<project>.git

My jenkins and gitlab are on the same system

[2017-12-23 19:12] shikage commented on #691
I should add to this that I have not tried with a Freestyle project and that does successfully post the status back to GitLab.

[2017-12-27 16:15] pablobirukov opened #696 "Edit / label / reassign triggers a build"
## Issue

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: 10.1.1
- **Jenkins version**: 2.89.1
- **Job type**: Pipeline

### Problem description

* GitLab: trigger on `Merge Request events`
* `gitlab-plugin`: trigger on `Opened Merge Request Events` and `Push Events`

Currently, every edit of MR triggers new build. That means every reassign, added label, resolved todo leads to

[2017-12-29 01:59] omehegan commented on #689
This plugin does not clone repos, it only triggers builds based on events in GitLab. If you need help with the Git plugin, please follow the documentation and support options from https://wiki.jenkins.io/display/JENKINS/Git+Plugin

[2017-12-29 01:59] #689 closed, assigned to nobody

[2018-01-01 14:20] ttsalonen commented on #690
Have you added the "Publish build status to GitLab commit" post-build action to the job?

[2018-01-01 21:48] asmorkalov opened #697 "Gitlab plugin ignores NO_PROXY field of HTTP proxy settings"
My Jenkins setup operates with set of intranet and internet resources. Internet access requires proxy settings. I added proxy configuration to Jenkins settings and also add all local resources to NO_PROXY list. With the configuration Gitlab plugin reports HTTP 401 error on each HTTP request to local Gitlab. Plugin works correctly, If I totally disable proxy.

The issue is localized at https://gith

[2018-01-01 22:58] Argelbargel commented on #697
Hi, i‘ll look into it. Just to be sure, the correct way would be to not just check whether a proxy was configured at all but whether a proxy should be used for a specific resource identified by an url?

[2018-01-02 13:35] asmorkalov commented on #697
Yes, you are right. NO_PROXY option specifies list of hosts to be connected directly without proxy, etc localhost.

[2018-01-03 07:50] pvginkel commented on #477
I don't agree this is an issue in the Git plugin. I think I understand the reasoning, but at the end of the day, the GitLab plugin is passing the wrong data to the Git plugin. I don't have a good answer as how to solve this (maybe the Git plugin could be extended to receive multiple `URIish` instances).

Anyway, until this issue has been solved, the only work around I know is to use a modified ver

[2018-01-04 14:00] LahariGuntha opened #699 "Build gets triggered Irrespective of branch"
Hi,

 I have code at some repository and my repository has a  master and branch  named branch1...
I have to trigger a job in jenkins whenever there is a change in the 'branch1' branch not in the master...
I have configured gitlab properly...
For this I have set the "Branch Specifier" as /refs/head/branch1 ....In this case it has to watch the changes in the branch that we have specified and should

[2018-01-04 19:49] djdevin commented on #647
I can confirm this too. Just does not work.

Removing the label filter, everything is fine.

[2018-01-05 15:20] eversC opened #700 "secretToken on gitlab push webhook not being checked for multibranch jobs"
### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: gitlab-ce:10.3.2-ce.0
- **Jenkins version**: 2.9.7
- **Job type**: multibranch pipeline

### Problem description

I'm trying to get the simple "secret token" auth working with multibranch declarative pipelines on my gitlab webhooks (I use google auth on my Jenkins instance, and don't want to create any users for this, just yet)

[2018-01-05 18:00] Kasama commented on #660
I was having a similar problem with http -> https redirects.

Thanks to your issue I was able to fix it, but I wasted a lot of time trying to track it down because the console output wouldn't say anything about it.

Thanks. I hope this gets fixed, or at least a warning gets printed in the console.

[2018-01-06 17:16] Kasama commented on #660
Upon further investigation, I found that this redirect issue was resolved in a [Resteasy's](https://github.com/resteasy/Resteasy) pull request resteasy/Resteasy#1305 and merged into their master on Nov 6, 2017. But I couldn't find a "Final" tagged release with this feature. To my (limited) knowledge the problem could be simply addressed by using the latest version of Resteasy and calling the `http

[2018-01-08 07:08] ViachaslauKabak commented on #679
Gitlab resolved the issue on their side: added endpoint for API
Could you please add variables for participants
thanks

[2018-01-08 12:05] LahariGuntha opened #702 ""Filter By Branch" Not working"
Hi,

I want to trigger a job in Jenkins whenever there is a code change that is pushed to a branch...Not master or any other branches...
I was trying to Use
Gitlab plugin of version-1.5.4...
My jenkins is of version - 2.46.3
Job Type-Pipeline

But it is throwing Error like :

[code]
![jenkinserr](https://user-images.githubusercontent.com/33144388/34669976-4bc45a90-f49a-11e7-9373-28f6e5d44845.PNG)

[2018-01-08 12:08] LahariGuntha commented on #702
Here my branch is "svcdev"...I want to trigger a job only when the change is pushed to "svcdev" branch only...I also have other branches...like svcdev1,master etc...Job should not be trigerred when the change is pushed to master or "svcdev1" branch

[2018-01-09 09:40] LahariGuntha commented on #702
Could someone please look into this Issue??

[2018-01-09 09:44] asmorkalov commented on #697
@Argelbargel the proposed patch does not resolve the issue. It looks looks like we have some miscommunication.
Jenkins has proxy settings for proxy address, port, credentials and no_proxy field. The no_proxy field works like `no_proxy` environment variable in Linux and its logic is pretty simple: if target host for connection then direct connection is used, otherwise connection is established via

[2018-01-09 10:56] Argelbargel commented on #697
Hmmm... That is exactly what the patch should do - take  a look at the test in GitLabConnectionConfigTest#doCheckConnection_noProxy().

There i configure jenkins' proxy-settings to use 0.0.0.0 as proxy (which will always fail as seen in doCheckConnection_proxy()) and use no proxy for requests to localhost. As the connection succeeds this should indicate that connections to hosts in the no_proxy fi

[2018-01-09 15:55] ki0 commented on #499
This is dead?

[2018-01-09 19:50] Argelbargel commented on #499
Not yet - i've just been either moving between flats or been swamped by my day job  :-/ I'm still hoping that we'll need some more features for the gitlab-branch-source-plugin at work so that i might sneak in some work on merging the plugins in may day work (but as always infrastructure work does not gain priority in the backlog easily) ;-) Or that my new flatmate and i run out of stuff to hang on

[2018-01-12 16:47] CorentinSoen commented on #386
While having that warn_on_failure parameter in gitlabCommitStatus is something we'll probably want in the long run, could it be considered to add success_with_warnings as a member of the com.dabsquared.gitlabjenkins.gitlab.api.model.BuildState enum to allow setting it manually through the use of updateGitlabCommitStatus ?

I believe it wouldn't account for nearly as much work as the warn_on_failur

[2018-01-15 06:16] #655 closed, assigned to Argelbargel

[2018-01-15 06:34] omehegan commented on #663
@gguillotin does the method shown in #686 work for you?

[2018-01-15 06:35] ghost commented on #499
@christ66 ^

[2018-01-15 06:41] omehegan commented on #697
@asmorkalov can you give us some more feedback on your issue? I'll hold off merging the proposed fix to make sure it resolves the problem.

[2018-01-15 10:48] omehegan commented on #477
@pvginkel I guess I don't understand why you don't just use the SSH URL for the clone.

[2018-01-15 10:59] weakcamel commented on #522
For me, this happens intermittently when working even without a merge request, just on a feature branch.

[2018-01-15 14:04] dayanstef commented on #492
Just type the name without */ in filter by branch name

The warning stays but it works without problem

[2018-01-15 15:40] pvginkel commented on #477
Because Git over SSH is disabled on my gitlab instance.

On Mon, Jan 15, 2018, 11:48 Owen Mehegan <notifications@github.com> wrote:

[2018-01-15 17:27] grazielegs opened #703 "java.io.IOException when I save changes in a Job on Jenkins"
## Issue:

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: GitLab Community Edition 9.5.10
- **Jenkins version**: 2.89.2
- **Job type**: Freestyle

### Logs & Traces
[code]
### Problem description

There's an exception when I try to save the changes in a Job. I'm testing the GitLab Merge Requests Builder' for recuse the merges when the build fail, but when I fill some blanks i

[2018-01-15 19:56] karlgb commented on #702
It appears that branch cannot be found. Check the job settings under the Source Code Management section in Jenkins to confirm you have the correct repo URL, name, etc. There are several dependent settings that could be relevant here. I had a similar issue and ended up filtering the branch name via regex which also helped.

[2018-01-15 20:02] karlgb commented on #699
The "Branch Specifier" is the branch to be built. To control which branches trigger the build, you'll want to configure options in the "Build Triggers" section of the job (click the Advanced button to expose more options for that section). There are several fields to consider, but the idea is to filter the Allowed branches to "branch1" which will achieve what you want.

[2018-01-15 20:10] karlgb commented on #682
You didn't include any versioning info as described in User Support, but I could not duplicate this issue. Are you sure you clicked Save after configuring the job..?

[2018-01-16 05:33] omehegan commented on #690
Reopen if you have set up the publish post-build step and it still isn't working.

[2018-01-16 05:33] #690 closed, assigned to nobody

[2018-01-16 05:37] omehegan commented on #702
@LahariGuntha yes, please double-check your git SCM settings as @karlgb suggested. If they are definitely OK, please try the regex filter instead of branch name filter and let me know if that works. If so there may be a bug in the branch name filtering. Thanks.

[2018-01-16 05:38] omehegan commented on #699
@karlgb is correct. If you have further issues in #702 please follow up there.

[2018-01-16 05:38] #699 closed, assigned to nobody

[2018-01-16 05:39] omehegan commented on #682
Yes, this was a bug in old versions of the plugin. Please let us know what version you are using, and update to the latest if possible.

[2018-01-16 05:48] omehegan commented on #647
@jakub-bochenski thanks. If other people are seeing this, it sounds like a bug. The code for this has not been changed since 2016, perhaps something changed on the GitLab side. I did notice that in one of your logs the plugin said, `gitla-labels-test triggered for merge request.` It should have started the build at that point I think.

@Argelbargel or @mreichel would you be able to look at this on

[2018-01-16 05:56] omehegan commented on #703
This exception is from a different plugin, the gitlab-merge-request-builder plugin. Please open an issue with them. https://github.com/timols/jenkins-gitlab-merge-request-builder-plugin

[2018-01-16 05:56] #703 closed, assigned to nobody

[2018-01-16 06:00] omehegan commented on #477
@pvginkel I see, I misread the history. My comment about the git plugin was directed only at @mschuckmann who reported that he got the same error with both SSH and HTTP clones. I had already marked this as a possible plugin bug. We just need to come up with a more compatible fix.

[2018-01-16 06:27] omehegan commented on #700
@eversC thanks for this, and for the debugging so far. SCMSourceOwner implies that this is a Pipeline Multibranch project. Perhaps this feature is broken for that project type. Could you try creating a Freestyle project and see if you can trigger it with the same settings? If so, that'll be the problem. Thanks!

[2018-01-16 06:28] omehegan commented on #700
Incidentally, as a workaround you could look at using global authentication for the GitLab endpoint, as described in the README, rather than the secret token on a per-project basis. The code paths for that are different.

[2018-01-16 06:29] #505 closed, assigned to nobody

[2018-01-16 06:31] omehegan commented on #534
Reopen if this feature is still desired and #559 does not work for you.

[2018-01-16 06:31] #534 closed, assigned to nobody

[2018-01-16 06:35] LahariGuntha commented on #702
Hi,

I have the following below configuration:
I have created  a "Pipeline" project.

So I have the below configuration:
![svc1](https://user-images.githubusercontent.com/33144388/34974643-34a1316a-fab4-11e7-9228-fb8c893df7e4.PNG)

I have given the name to the pipeline...and have passed some parameters to the build...

I have tried  "Filter by Branch"...But it was not working...
So I thought of tr

[2018-01-16 06:35] omehegan commented on #546
Please see discussion in #550.

[2018-01-16 06:35] #546 closed, assigned to nobody

[2018-01-16 06:36] omehegan commented on #550
@slauth were you ever able to resolve this issue? Does @mhaas's comment help?

[2018-01-16 06:39] #574 closed, assigned to nobody

[2018-01-16 06:44] #594 closed, assigned to nobody

[2018-01-16 06:46] #605 closed, assigned to nobody

[2018-01-16 06:46] LahariGuntha commented on #702
Even "Filter by Regex" is not working here..

[2018-01-16 06:48] omehegan commented on #618
Please watch #622 for updates about this issue.

[2018-01-16 06:48] #618 closed, assigned to nobody

[2018-01-16 06:56] omehegan opened #704 "Investigate getting access to GitLab env vars in Multibranch projects"
When GitLab triggers a Pipeline Multibranch project in Jenkins the plugin simply triggers branch polling in Jenkins and leaves it to Jenkins to decide whether to trigger any builds. This prevents us from populating any env vars with data sent from the GitLab webhook. It would be nice if this could be resolved, so that Multibranch projects can make use of those the way regular Pipeline and Freestyl

[2018-01-16 06:56] omehegan commented on #625
See #704

[2018-01-16 06:56] #625 closed, assigned to nobody

[2018-01-16 06:58] omehegan commented on #704
@abayer would you be able to comment on possible solutions to this problem? Our previous maintainer had concluded that we just couldn't do this for Multibranch jobs when he implemented support for them.

[2018-01-16 07:00] omehegan commented on #630
Did you ever resolve this problem? If not, what version of the Credentials plugin are you using?

[2018-01-16 07:04] omehegan commented on #633
Sounds like a bug. Sorry for the delay in looking at this. @1100101 can you please capture logs from the plugin when a build is triggered from an MR approval? Look at the User Support section of the README if you need guidance on that. I will look into filtering these.

[2018-01-16 07:09] omehegan commented on #634
Looks like GitLab may have changed the date format for some users... @dblessing can you comment on that?

@lexapi were you going to submit a PR with your fix?

[2018-01-16 07:20] omehegan commented on #636
@petewilcock the presumption here is that your workflow would involve a rebase or merge of the target branch onto your source branch before you merge. This would then trigger a build of the source branch, and if you merge after that, triggering another build of the target would be redundant.

I'd be happy to consider a PR to give an option to override this "obvious, obvious" flaw so that you don't

[2018-01-16 07:24] omehegan commented on #637
This is going to trigger a build of the job1 project for every file it finds in the job1 directory. It doesn't sound like that is what you want. Either way, this is not a plugin bug.

[2018-01-16 07:24] #637 closed, assigned to nobody

[2018-01-16 07:25] lexapi commented on #634
I can do it, but it did not help for me

[2018-01-16 07:26] omehegan commented on #640
@maksim77 ping?

[2018-01-16 07:30] omehegan commented on #643
I will mark this as a feature request, but I can't guarantee anyone will work on it. You could probably also accomplish this with just a GitLab API call via curl, which you could wrap in a sh build step.

[2018-01-16 07:32] omehegan commented on #645
@evgeni is merge_commit_sha not equivalent to the `gitlabAfter` env var?

[2018-01-16 07:37] omehegan commented on #654
It would be possible to filter on the added/modified/removed arrays inside each commit that is sent in the GitLab webhook. I will mark this as a feature request.

[2018-01-16 07:39] omehegan commented on #662
@yuvgeek is this still an issue for you?

[2018-01-16 07:41] omehegan commented on #665
@joerg-wille I suspect this is due to #704.

[2018-01-16 07:42] omehegan commented on #665
Actually I may be wrong about that. Can you share the configuration of your Multibranch project? If you are just saying that build status is not appearing in GitLab for that project type, it should work.

[2018-01-16 07:47] omehegan commented on #634
@lexapi looks like you might need to change yyyy-MM-dd'T'HH:mm:ss.SSSZ to yyyy-MM-dd'T'HH:mm:ss.SSS'+'Z

[2018-01-16 08:15] evgeni commented on #645
@omehegan nope. As far as I can see, `gitlabAfter` comes from the `after` keyword in the `push`/`tag_push` hook, but not in the `merge_request` hook. So while I think the hash would be the same, it is part of a different webhook (and in our setup we only look at `merge_request` and `note` hooks).

[2018-01-16 09:56] lexapi commented on #634
My commit looks like this 63341d4bcbb03a45141a53edd8e157e1225ce8e4 (#653) i.e. he is already merged
Now we use gitlab 10.3.3 (in Docker) with the following settings for env:

and Jenkins ver. 2.89.2

I just updated the plug-in to 1.5.2, and everything works fine, i.e. The issue with dates has already been fixed.

But I found another problem in the plugin. He does not understand the redirect from H

[2018-01-16 10:31] jakub-bochenski commented on #647
@omehegan yes, but that was first bullet of:

just mean to verify builds trigger at all.

[2018-01-16 10:43] petewilcock commented on #636
@omehegan The operative word there is 'presumption'. If we were using a fast-forward merge strategy to merge into master/target, then you'd be correct. The head of master and the head of the PR of the source branch would be the same SHA1 - and rebuilding this would be redundant.

However when using a merge commit strategy, the head of master and the head of the PR are different SHA1 (although yes,

[2018-01-16 11:25] eversC commented on #700
thanks @omehegan

**Freestyle** project with invalid token in gitlab hook correctly gives me a 401 "Invalid token" response

[2018-01-16 12:06] valVk commented on #647
So, it has to be confirmed by community to get status bug?
Than it has happened to me as well.

[2018-01-16 14:11] grazielegs commented on #703
Oh right! Thanks.

[2018-01-16 14:36] mreichel commented on #647
I take a look at it.

[2018-01-16 16:30] tannerjfco commented on #574
I encountered similar need to create the gitlab api credential via groovy. Below is the solution I managed to figure out, adapted from https://gist.github.com/iocanel/9de5c976cc0bd5011653

[code]

[2018-01-16 23:56] omehegan commented on #647
@valVk about half of the issues people open are "how do I do this" or they missed something in the docs (which need to be improved, it's on my list). So either a few people report the same problem or, if I/we have time, I try to reproduce the issue to confirm.

[2018-01-16 23:57] omehegan commented on #645
@evgeni ok, noted. I will look at adding this, it should be possible.

[2018-01-17 00:09] omehegan commented on #636
@petewilcock regarding your "strong" language, put yourself in my shoes. I'm a volunteer maintainer of a free open source plugin for a free open source product. The plugin is almost four years old and has nearly 18,000 active installs. Now you come along and open this ticket ranting about this "obvious" flaw (the code for which was written two years ago), a tone which implies that those of us main

[2018-01-17 00:11] omehegan commented on #700
OK. I think you're right that this is a bug for Multibranch projects. It may be related to #704. Not sure how easy it will be to fix.

[2018-01-17 00:14] omehegan commented on #634
@lexapi sounds like #660. Follow that. To everyone else, yes this issue was fixed in 1.5.1 of the plugin.

[2018-01-17 00:14] #634 closed, assigned to nobody

[2018-01-17 00:20] omehegan commented on #702
@LahariGuntha for one thing, your access token is set up incorrectly. You do not want to check "trigger builds from scripts." You want to enter the access token in the Jenkins Credentials interface. Please re-read the README for the steps on how to do that. However that API key is only needed for sending build status back to GitLab. It is unrelated to the branch filtering issue.

[2018-01-17 00:28] omehegan commented on #702
Can you share your pipeline code where you actually clone the git repo? The plugin will show an error for a branch name filter before the first time the job is run, because it does not yet know what branches exist in the repo.

[2018-01-17 00:48] omehegan commented on #666
@almozavr can you elaborate on why this makes replay "meaningless?" Are you referring to the replay feature of Pipelines?

The reason this change was made is explained here: https://jenkins.io/blog/2016/05/11/security-update/ I don't know how the GitHub plugin would still be using parameters at this point. It would only work if you overrode the security fix, so I suspect that is not really the cas

[2018-01-17 00:51] omehegan commented on #671
Seems to be an env issue, not a plugin issue. Also works fine for me with maven 3.5.2.

[2018-01-17 00:51] #671 closed, assigned to nobody

[2018-01-17 00:52] omehegan commented on #674
@g-dx since you wrote the original fix for this issue, can you comment on this?

[2018-01-17 00:55] omehegan commented on #675
I don't understand what behavior you are seeing on the Jenkins side. You accept the MR in GitLab, then squash fails. Does Jenkins trigger a build or not?

[2018-01-17 00:59] omehegan commented on #676
This could be a problem, but if you are keeping 10,000 build records for your jobs, that's a bad practice which is going to cause numerous other performance headaches (I speak from experience). There probably isn't an easy way to make this check more performant in a use case like that.

[2018-01-17 01:01] omehegan commented on #677
I suspect this is an issue with how we return data to GitLab for builds triggered by tags. Needs investigation.

[2018-01-17 01:06] omehegan commented on #681
@gempain I don't think this is a bug. It's true that the GitLab plugin does not check anything in terms of what you enter in the branch specifier for the Git plugin. The GitLab plugin just triggers builds based on the webhooks that GitLab sends it. If you want to only trigger for certain branches, you need to use 'Filter branches by name,' as you have figured out. Entering a branch specifier in th

[2018-01-17 01:06] #681 closed, assigned to nobody

[2018-01-17 01:08] omehegan commented on #685
@kraftman can you clarify whether you are referring to credentials used for cloning a repo, or credentials used for Jenkins to send build status to GitLab? If you are referring to the former, that is unrelated to this plugin.

[2018-01-17 01:10] omehegan commented on #687
@benfab I would need to see the actual Jenkins logs (see the User Support section of the README on how to enable full logging) to understand what happened. If the plugin receives the webhook but does not trigger a job, it should log the reason.

[2018-01-17 01:31] omehegan commented on #688
@adveres gitlabBranch exists because in a push webhook there are no source and target branch fields. I'm not sure why gitlabSourceBranch is getting set incorrectly in your case. It is clearly a bug, they should be equivalent.

[2018-01-17 01:32] omehegan commented on #688
Oh, try removing the gitlabSourceBranch job parameter... or don't default it to master.

[2018-01-17 02:14] omehegan commented on #691
@shikage you did test with a Freestyle job, and that works?

[2018-01-17 02:19] omehegan commented on #692
@philmcardle are you using regular Pipeline jobs, or Multibranch Pipeline? For regular Pipeline jobs, you can just click the 'Build when a change is pushed to GitLab' box and configure accordingly. For Multibranch Pipelines, you don't need to create a trigger. As per the README, "Unlike other job types, there is no 'Trigger' setting required for a Multibranch job configuration; just create a webho

[2018-01-17 02:22] omehegan commented on #694
It sounds like Jenkins has changed to be more strict about this, hence the warning you are starting to see. We will need to address this in the plugin.

[2018-01-17 02:59] omehegan commented on #696
@r00ger these events probably should not trigger a build, but I'm surprised no one else has noticed this yet. Can you follow the directions for increasing plugin logging in the User Support section of the README, and then post the log from when a build is triggered by one of these other events? I believe we can check an array of actions or causes in the plugin and skip some of them, but I need to

[2018-01-17 03:03] omehegan commented on #696
Also, what is your setting for 'Rebuild open Merge Requests?'

[2018-01-17 03:10] omehegan commented on #695
The token (which can be set per-job) and the 'Enable authentication for /project endpoint' feature are two different things. You don't need to use both.

Does your Multibranch Pipeline project actually trigger in this case? Or do you just get a 200 back when you test? If it triggers, that is a bug; if not, the 200 response is maybe not ideal, but probably happens due to the unique way that Multibr

[2018-01-17 03:11] omehegan commented on #695
By the way, see https://github.com/jenkinsci/gitlab-plugin/issues/418#issuecomment-247464294 for a clue about how to configure endpoint authentication.

[2018-01-17 08:07] petewilcock commented on #636
@omehegan Having already apologised, your response is now just overly-sensitive. I use and pay for Gitlab EE, and if there was a commercial enterprise version of this plugin, or any other commercial alternative, I'd already be using it.

As it is I took the time to document the issue as clearly as possible, only to confirm that others also have this problem, and it takes months to have it even ack

[2018-01-17 08:23] valVk commented on #647
@omehegan that's ok. I'm just "watching" this issue something about a month or month and half, and there weren't any actions, until **djdevin** confirmed that he has this issue also. So I decided that there is something like in ubuntu community if several users confirmed the same issue, than it will labeled as issue or bug etc.

For me this is a big blocker, because I cant launch a build job on a

[2018-01-17 08:59] almozavr commented on #666
@omehegan by "Replay" I mean job feature (http://take.ms/z4HB8)
It's unusable with gitlab plugin because those environment params gitlab passes to concrete job on trigger are not available (and are missing) during replay

[2018-01-17 09:06] 1100101 commented on #633
Hi @omehegan, here's hopefully the relevant log entry.
Due to company policy I had to filter quite a bit of information, I hope that there's still enough for you to work on:
[code]

Two notable items in the JSON are:

and

[2018-01-17 09:18] TobiX commented on #692
@omehegan Well, but that doesn't help if you configure the Job properties from the Pipeline script itself, since it will be overwritten on every build...

Currently I'm using this syntax:
[code]

[2018-01-17 10:48] f00f commented on #682
I second @omehegan response. I had observed this behaviour until recently (which is why I found this ticket), but it's fixed for me now (running GitLab plugin 1.5.2 now).

[2018-01-17 11:16] philmcardle commented on #692
As @TobiX, I'm using the properties step in a regular pipeline job.

[2018-01-17 11:25] LahariGuntha commented on #702
Hi,

I just removed the "Trigger builds from scripts" and I used "Regex" ..Now it is working..
Thanks for the Support

[2018-01-17 14:50] grazielegs commented on #533
It was working for me, but it's returning a similar to the error described in this topic:
`Hook executed successfully but returned HTTP 403`

I'm using the following url:
`http://JENKINS_URL/buildByToken/build?job=JOB_NAME&token=TOKEN_NAME`

I have the right permissions to work in the project and I already test creating a new token but sounds a little bit strange.

_GitLab Plugin Version: 3.6.4_

[2018-01-17 15:19] Azarko commented on #695
Hm, now I don't quite understand how this should work.
1. `Enable authentication for /project endpoint` is on
1. I have gitlab repo `https://my_gitlab.com/jenkins_sandbox/user-webhook-test`.
1. Next I create Multibranch project at my jenkins: http://my_jenkins.com:8008/job/test_webhooks_project/. In project configuration I add git source specified above.
1. After that, I add webhook to gitlab repo

[2018-01-17 15:20] tpbradt opened #705 "The "Never" option for "Rebuild open Merge Requests" does not prevent a build"
## Issue
When setting up the Build Triggers for our Jenkins jobs, we use:
Build when a change is pushed to GitLab = checked
Opened Merge Request Events = checked
Rebuild open Merge Requests = Never

The behavior with gitlab-plugin v1.1.32 was that when an open and previously failed merge request had a subsequent push, the build did NOT get triggered.  When we upgraded to 1.4.5 this was no longer t

[2018-01-17 16:16] adveres commented on #688
Based on https://github.com/jenkinsci/gitlab-plugin/issues/330, I need the parameter to exist.  I suppose defaulting it to "master", as I was, may not be necessary.

## Testing done

### In Jenkins:
* Job parameter `gitlabSourceBranch ` made to be empty by default.
* Branch Specifier (blank for 'any'): `origin/${gitlabSourceBranch}`
* Add a pre-build shell step that calls `env | sort`

### Made a

[2018-01-17 17:27] jakub-bochenski commented on #647
If I can make a suggestion: some projects use the thumbsup count on the issue for this purpose. It has the benefit of not spamming every watcher with "+1" comments.

[2018-01-17 18:04] rtyler commented on #636
@petewilcock I recommend discussing the lack of enterprise support, or any GitLab corporate support, for this plugin with your GitLab account representative.

Failing that, it seems that you've developed a non-trivial understanding of the problem, but also where a potential solution might lie. Since the Jenkins project is largely comprised of a collection of volunteers, perhaps you could propose a

[2018-01-17 18:11] petewilcock commented on #636
I'd be delighted to attempt it, despite this not being within my skill
base, assuming I've established acknowledgment of the issue on the part of
the plugin maintainers. :+1:

[2018-01-17 20:55] adveres commented on #636
FWIW I did ping GitLab support about this issue, not realizing this was a volunteer plugin.

Their reply:

GitLab is selling their [GitLab Runner](https://docs.gitlab.com/runner/) idea pretty hard, so I suspect they intend to offer no real support here. Thank you, then, to the volunteers who keep this plugin going. :)

[2018-01-17 23:03] omehegan commented on #636
Indeed, this plugin is not maintained or supported by anyone at GitLab. We're just a few people who use (or used to use, in my case) GitLab and Jenkins. We work on the plugin in our spare time, so there are no guarantees of support.

[2018-01-17 23:07] petewilcock commented on #636
Maybe they're just upset you're hosting the source code on Github ;)

My instinct for a fix would be to either remove the check entirely and not assume this behaviour is desired, or at least check whether the evaluation is occurring in the event of a 'merged' webhook and instead evaluating the status of the sha1 at the head of the target branch. This might be too specific. Thoughts?

[2018-01-17 23:09] #702 closed, assigned to nobody

[2018-01-17 23:15] omehegan commented on #688
@adveres yes, the bug you reference was specific to someone who wanted to be able to trigger the build both manually and through webhooks. In that case you do need to create a parameter for the job. If you ONLY want to trigger with webhooks, the parameter is unnecessary. And I think that some changes in Jenkins (maybe since that time) caused parameter values to supersede the env var values that ar

[2018-01-17 23:18] omehegan commented on #633
@1100101 yes I see now, it's the `"action" : "approved"` that we would need to filter. I believe `can_be_merged` just means there are no merge conflicts.

[2018-01-17 23:19] omehegan commented on #696
Dupe of #633 which now has some more log data in it, so I will track this fix there.

[2018-01-17 23:19] #696 closed, assigned to nobody

[2018-01-17 23:21] omehegan commented on #633
Also need to check other possible 'action' values, to filter label changes, edits, reassignments etc.

[2018-01-17 23:26] omehegan commented on #636
@petewilcock I hesitate to remove it completely because I do think that for the rebase or merge-from-target-first (there must be a better way to say that) workflows, this is a nice-to-have. What I was considering is just a check-box option, either global or per-job, which would override this. That way the default behavior stays as it has been so there are no surprises for people not currently expe

[2018-01-17 23:32] omehegan commented on #695
This sounds like a bug. Can you test something else please? Create a regular Pipeline job, not a Multibranch Pipeline, and attempt to trigger it with the webhook test and a push to the repo. It should not trigger the build. If that's correct, then this is just broken for Multibranch jobs, and I have a theory as to why.

As for your last question, I am not sure that the plugin will behave that way,

[2018-01-17 23:35] omehegan commented on #533
@grazielegs the latest version of this plugin is 1.5.2. And you should not be using 'buildByToken' to trigger your jobs, that is a Jenkins feature and will totally bypass this plugin. Please read the README on how to set up the trigger, you should be hitting a URL like http://jenkins/project/your_project

[2018-01-17 23:36] omehegan commented on #533
@webartoli @Andrewpk please see my comment here. https://github.com/jenkinsci/gitlab-plugin/issues/533#issuecomment-326064354

[2018-01-17 23:39] omehegan commented on #666
@almozavr OK, I will look into this, it sounds like a bug.

[2018-01-17 23:42] omehegan commented on #692
OK, I guess I can see some use cases for configuring the properties even in regular Pipeline jobs (code reuse, etc.).

[2018-01-17 23:56] omehegan commented on #705
@tpbradt I was about to write a different reply, but I realized I'm not positive I understand what config you have set up for the plugin. Can you please attach a screenshot of the Jenkins job config where the plugin is configured?

[2018-01-18 02:40] kraftman commented on #685
Ahh it's the former, I assumed since you set the gitlab connection at the top it used those credentials to clone. Thanks for the info.

[2018-01-18 02:40] #685 closed, assigned to nobody

[2018-01-18 09:58] Azarko commented on #695
Ok.
I create new Pipeline project: `http://my_jenkins.com:8080/job/pipeline_test`.
At job settings: enable `Build when a change is pushed to GitLab` (if this option isn't enabled - project not triggers in any case).

1. I set up webhook: `http://my_jenkins.com:8080/project/pipeline_test/`.
`Test` button and push to repo return 403: `Error 403 anonymous is missing the Job/Build permission`.
Job not

[2018-01-18 15:28] tpbradt commented on #705
Sure.  The screenshot highlights the 3 configurations I mentioned.

![image](https://user-images.githubusercontent.com/3874799/35154321-d47158b0-fcf7-11e7-812c-cb15a901ed1a.png)

[2018-01-18 15:47] grazielegs commented on #533
@omehegan Strange, cause the url are working well now for trigger my jobs and the pushed events also worked. Anyway, thank you.

[2018-01-18 16:56] yuvgeek commented on #662
No issue. It's working.

[2018-01-18 16:56] #662 closed, assigned to nobody

[2018-01-18 18:34] 1100101 commented on #633
That’s true. Editing the description of a MR actually also triggers a new build.
Shall I check the logs for this, or do you have an “action” list?

[2018-01-18 23:10] g-dx commented on #674
We have had v1.5.2 deployed on our Jenkins cluster for at least a month and all is working as expected (i.e. no need to specify all options).

@jakub-bochenski is this still an issue for you?

[2018-01-19 05:14] omehegan commented on #705
@tpbradt you will need to add the screenshot via the GitHub issue web page, not replying to the email.

[2018-01-19 05:16] omehegan commented on #695
@Azarko OK, I think this is a bug in our support of Multibranch. Unlike the other project types, triggering a Multibranch job just tells Jenkins to reindex branches, and Jenkins decides whether to start a build or not. I guess the auth of the /project end point happens after that. Thanks, this is a bug.

[2018-01-19 05:21] omehegan commented on #633
@1100101 I can't find a doc that explains the possible values of the 'action' field. I also tried grepping through the code but didn't come up with anything. @dblessing can you point me toward anything for this?

[2018-01-19 09:06] pablobirukov commented on #633
_GitLab Enterprise Edition 10.1.1-ee_

Add label, edit description, and resolve todo produce exactly the same webhook requests (except of correspondingly changed description and values that represent current time). `action` is set to `update` everywhere.

[There is a field `changed` in the example](https://docs.gitlab.com/ee/user/project/integrations/webhooks.html#merge-request-events), however it

[2018-01-19 09:30] asmorkalov commented on #697
@Argelbargel I'll return to the issue on the next week. I want to try it in my setup and provide feedback. Thanks a lot!

[2018-01-19 14:09] tpbradt commented on #705
Done.  Edited original comment above.

[2018-01-20 08:09] shikage commented on #691
@omehegan I did test with a freestyle job.. I see now my last post was mistyped. I HAVE tried this, it did work as expected. It is just multibranch pipeline that is encountering problems.

[2018-01-20 12:04] gempain commented on #681
@omehegan Thanks for the answer, you got it right :) But now I have another question for you: is it possible to filter branches using wildcards ? That would be great. For example, I'd like to run a job for `dev` and `release/*` and `feature/*`. Is that possible ?

[2018-01-22 05:23] omehegan commented on #633
@r00ger thanks, this is helpful. Looks like there are at least two possible values for 'action:' 'update' and 'approved.' I wonder if there is another value for pushes to the MR. I would think that most people would want to build on MR open, pushes to MR, and maybe approvals.

Need some input from @dblessing or someone else at GitLab, unless I can make some time to test other cases.

[2018-01-22 05:27] omehegan commented on #705
@tpbradt and what URL are you using for the webhook on the GitLab side, to trigger this build?

[2018-01-22 05:31] omehegan commented on #691
@shikage your `properties` configuration does not match the documentation. Can you try:
`properties([gitLabConnection('Orkwerks Gitlab')])`

[2018-01-22 05:39] omehegan commented on #681
@gempain yes. This is described in the 'Branch filtering' section of the README. https://github.com/jenkinsci/gitlab-plugin#branch-filtering  You will probably want to use the regex filter.

[2018-01-22 15:55] tpbradt commented on #705
http://devbld:(key)@jenkins.ops.cld/project/fe/mr/app-pld

...with the key masked out.  Just to make it clear, we have our own gitlab locally.

[2018-01-23 05:58] mahdit83 commented on #272
@coder-hugo where i can get old version of Gitlab Plugin?

[2018-01-23 05:59] mahdit83 commented on #272
@omehegan what is best solution now?

[2018-01-23 06:52] omehegan commented on #418
After 18 months, this is finally documented.

[2018-01-23 06:52] #418 closed, assigned to nobody

[2018-01-23 07:04] omehegan commented on #388
Clarified in https://github.com/jenkinsci/gitlab-plugin/commit/438e6ccae614756e4b371652764504c7b0f139a8

[2018-01-23 07:04] #388 closed, assigned to nobody

[2018-01-23 07:49] 1100101 commented on #633
I've examind the log files from Jenkins to find out which states `action` can take.
For both changes to the description of the MR and when pushing a new commit to the feature branch, `action` is set to `update`.
However, it's still possible to differentiate both states:
<details>
  <summary>Log after updating MR description/settings</summary>
  <p>

[code]
</p></details>

<details>
  <summary>Log

[2018-01-23 23:26] ghost commented on #272
@mahdit83 old plugin versions are available here: https://updates.jenkins.io/download/plugins/gitlab-plugin/

But GitLab fixed this problem. You should probably upgrade if you are still on a version of GitLab that is almost two years old.

[2018-01-24 06:57] mahdit83 commented on #272
@omehegan I using online gitlab that Enterprise Edition 10.4.0-ee. and Jnkeins 2.103
Jnkins Gitlab plugin 1.5.2. finally I did it. I had to remove Gitlab plugin and Use Gitlab Hook plugin.

[2018-01-25 22:14] yagnik opened #706 "Gitlab plugin updates library commit status instead of project"
## Issue
When using multibranch pipeline, if you have such scenario:
[code]

In this case pending status ends up going to the library repo as opposed to the actual repo.
From the code

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: 9.5.5
- **Jenkins version**: 2.89.2
- **Job type**: Multibranch pipeline

[2018-01-26 15:39] siwyd commented on #499
I know bumps are unappreciated, but I think quite a few people might benefit greatly from this integration. It's a pity to have the integration with GitLab not fully in the plugin yet. I tested the basic functionality of this plugin a while ago and it was working great so I've been hoping for the official integration of this for quite some time :)

[2018-01-29 10:09] petewilcock commented on #506
+1. When we see this we need to restart Jenkins once or twice to clear what seems to be bad state.

[2018-01-29 11:48] NGTOne opened #707 "NullPointerException on GitLab pipeline commit status update"
## Issue

Exactly what it says on the tin. A pipeline job, with the following relevant part of the config:

[code]

yields an NPE when it actually goes to try and push the result to GitLab.

### Context
- **GitLab plugin version**: 1.5.2
- **GitLab version**: 8.11.4 CE
- **Jenkins version**: 2.73.2
- **Job type**: Pipeline

### Logs & Traces

[code]
### Problem description

The pipeline is trigger

[2018-01-29 17:55] shikage commented on #691
I have tried with the properties you suggested as my first line. It has the same effect. I am fairly certain that is how I started but I found a number of stackoverflow and similar posts suggesting the other property setting had solved problems for them. To be sure I've just tried again with both and it still does not update the status.

[2018-01-30 01:51] omehegan opened #708 "Add the ability to parse the whole webhook JSON payload"
Right now when the plugin receives a webhook JSON payload, we parse it and, if the project type is not Pipeline Multibranch, we set various environment variables using some of the JSON data, and discard the rest. Every few months a user asks us to add another env var from something in the JSON.

The plugin pre-dates Pipeline, and originally was really just intended to receive the relevant branch n

[2018-01-30 06:40] mreichel commented on #647
Unfortunately, the gitlab documentation is very unclear. I have a fix that solves the problem. BUT, the gitlab API states you get a list of labels back. It is unclear where it is a list of labels and where it is a list of Strings (the labels' names).
Also, in your response (an in my tests) the labels have a title instead of a name while the documentation states it has a name.
So I would rather not

[2018-02-01 01:09] dcuenot commented on #536
Hi, @omehegan I don't understand your answer.
#494 is related to Secret token, and this issue is related to Api_Token.

If I'm not wrong, those are 2 differents token, right?

[2018-02-02 05:46] omehegan commented on #647
@ayfan or @dblessing can you comment on https://github.com/jenkinsci/gitlab-plugin/issues/647#issuecomment-361492099 from your side?

[2018-02-02 05:48] omehegan commented on #499
The current maintainers just have limited time to work on this feature, because landing it will require a non-trivial amount of work. Offers of help coding would be appreciated :)

[2018-02-02 05:51] omehegan commented on #706
@yagnik I think this is a known issue, to do with how we figure out where to send the status - in a Multibranch project it's based on the repo clone, not the JSON payload we get from GitLab. IMO the best we can do is add something to the documentation to say that you should not send status until you have cloned the actual working repo. What do you think?

[2018-02-02 05:57] omehegan commented on #707
@NGTOne we have seen a similar exception in the past when GitLab gave a 403 in response to a request. Can you check your GitLab logs and see if that is happening here?

[2018-02-02 06:05] omehegan commented on #536
@dcuenot this is an old bug, so I don't remember the context anymore. Re-reading it, it appears that the OP was saying that Pipeline's withCredentials does not support the GitLab credential types that this plugin defines. That would apply to both the API token and the secret token. But if this is an issue, it's in the Jenkins Credentials plugin, not this plugin. #494 is asking us to support the bu

[2018-02-02 09:42] yagnik commented on #706
@omehegan would you mind helping me understand how we decide which repo ?
I got a little confused in the code, I expected multibranch to also have the git repo details and use that over the library.

Is there something specific missing in the multibranch pipeline that we need to send status before clone ?

[2018-02-03 11:07] pvginkel commented on #477
Yeah I get that. When going through the source code it was clear that the real problem is that the library being used doesn't allow for multiple URLs. My guess is that the only option without changing that is going to be a setting, so that the correct URL can be selected from the gitlab request. That however is going to be messy since probably people are not going to understand the purpose of the

[2018-02-04 23:47] omehegan commented on #706
@yagnik the plugin figures out where to send the status update by looking at what repo was last cloned. So I think you will not be able to send status to the right place until you have cloned your actual project repo; before that, status will be sent to your global library repo instead, which is obviously not what you want.

[2018-02-04 23:56] #506 closed, assigned to nobody

[2018-02-05 00:45] omehegan commented on #506
This was just fixed/released in version 1.5.3 of the plugin. It should be in the update center within a few hours.

[2018-02-05 00:47] omehegan commented on #655
This was just fixed/released in version 1.5.3 of the plugin. It should be in the update center within a few hours.

[2018-02-05 01:05] omehegan commented on #477
@pvginkel we can probably make it an advanced global config option for folks like you who have SSH disabled. The option will then use the HTTP URLs instead.

[2018-02-05 17:17] jakub-bochenski commented on #674
I can't reproduce this on 1.5.2

[2018-02-05 17:17] #674 closed, assigned to nobody

[2018-02-06 09:02] ChenMin46 commented on #505
I have met the same question。

- Gitlab plugin version: 1.5.3
- Jenkins version: 2.98
- Job type: Multijob

[2018-02-06 10:35] 1100101 commented on #633
It seems issue #659 is the opposite of my issue, but regarding the `approved` action, the problem might actually be gandled by issue #664? I see that that MR introduces an option to build when an MR gets approved.

I'm currently not able to verify this by installing the latest plugin version, unfortunately :/

[2018-02-07 10:42] GhaTMA commented on #522
The `BadRequestException: HTTP 400 Bad Request` is always thrown when we use a shared library in a pipeline as explained here: https://jenkins.io/doc/book/pipeline/shared-libraries/.
Obviously Jenkins clones two repositories to build any project: (1) shared library, and (2) project repository.
Now the `com.dabsquared.gitlabjenkins.util.CommitStatusUpdater` tries to update the status of both reposi

[2018-02-07 13:06] jetersen commented on #499
I would love to help once I have implemented the same for Accurev Plugin 👍 Hoping to have something working for Accurev during this month.

[2018-02-07 13:21] stephenc commented on #499
@casz I hope you are implementing trait support from the start and please use the pronoun support to ensure that the accurev terminology is correctly represented (e.g. streams not branches, snapshots not tags) as it would be super awesome to confirm that the pronoun stuff actually works as advertised and that I documented how to do it correctly (in https://github.com/jenkinsci/scm-api-plugin/blob/

[2018-02-07 13:47] jetersen commented on #499
Trait support is definitely coming!
I just want to get the Navigator, Source, SCM part working first so I can see scanning depot for streams working. Sadly I have to implement a lot of logic myself, I see limited reuse from Git Plugin.
I plan to borrow some of the traits from Git plugin and wrapping them in my own AccurevSCMTrait class 👍

[2018-02-07 13:56] DieBauer opened #711 "Approved Merge Requests (EE-only) is not persisted"
### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.3.5
- **Jenkins version**: 2.89.3
- **Job type**: Freestyle

### Problem description

The plugin doesn't respect a flag for
<f:entry title="Approved Merge Requests (EE-only)" field="triggerOnApprovedMergeRequest">

When toggling this setting and applying the change on refresh of the job, the toggle is activated again.

It shou

[2018-02-07 16:58] Muyip commented on #707
@omehegan
Did you solve the error on returning 403? I have also encountered this problem today. In the beginning, I configured the gitlab plugin as my own API token in the system settings of Jenkins. After the Test connection, the result shows Error. After opening the Error link, it is a null pointer error. After I upgraded the gitlab plugin, the result of the Test connection returned to 403.

[2018-02-07 17:00] chinhodado commented on #607
I want this feature as well. From a GitLab user's perspective, it's even a bit unexpected that cancelling a pipeline inside GitLab does not actually stop it from running.

[2018-02-07 18:59] shark-horse commented on #711
I too cannot disable "Approved Merge Requests (EE-only)".

What does that setting do? Link to documentation saying what it does would be welcome.

I was trying to disable it because of a hunch that it means to trigger a build _upon an approval_. Basically I was trying to troubleshoot #633 .

Context
Gitlab plugin version: 1.5.3
Gitlab version: 10.4.0-ee
Jenkins version: 2.89.3
Job type: Maven

[2018-02-08 01:57] Muyip opened #712 "After opening a merge request, Jenkins did not send the build result back to gitlab's merge request interface, and Jenkins's API token failed to test the connection."
## Issue

### Context
- **Gitlab plugin version**: 1.5.2
- **Gitlab version**: Community Edition 10.3.6
- **Jenkins version**: 2.89.2
- **Job type**: Freestyle.

### Logs & Traces
[code]
### Problem description

_Describe your problem in a meaningful way_:
- I just open a merge request
- Jenkins will compile the code after the merge request, but will not submit the merge to gitlab, just merge and

[2018-02-11 13:23] benjarobin commented on #647
@mreichel The documentation indicates `"title"` and not `"name"` : https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#merge-request-events Could you point me where the documentation say the opposite ?
They may have changed that...
Anyway the current implementation does not reflect the gitlab documentation, nor what we get in the Webhook. So this is perfectly normal that filtering b

[2018-02-11 13:52] yagnik commented on #706
Yep, thanks for clarifying!

[2018-02-11 13:52] #706 closed, assigned to nobody

[2018-02-11 14:01] benjarobin commented on #647
After some digging the fix proposed by @mreichel is mostly wrong.

`api/model/Label.java` format did not changed, this object is returned by the following request https://docs.gitlab.com/ce/api/labels.html The label name is still in the field `"name"`.

And `api/model/MergeRequest.java` format did not changed either (https://docs.gitlab.com/ce/api/merge_requests.html), this object in the key `"lab

[2018-02-12 15:05] prawen commented on #711
Hello,

I'm facing the same issue. Will there be any fix for this?

[2018-02-13 09:13] cedricje opened #713 "unstable step inside gitlabCommitStatus marks stage as success in gitlab"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: GitLab Community Edition 10.4.2
- **Jenkins version**: 2.104
- **Job type**: Pipeline

### Logs & Traces
For reproduction i've made a minimal pipeline script with just one gitlabCommitStatus, and a fixed junit xml with a failure, which marks the build unstable.

[code]
[results_xml.zip](https://github.com/jenkinsci/gitl

[2018-02-13 22:49] eddie3716 commented on #711
I too am experiencing the same problem.  I found the discussion https://github.com/jenkinsci/gitlab-plugin/issues/633 and followed it until I found this new open issue.

Gitlab plugin version: 1.5.3
Gitlab version: 10.2.2-ee
Jenkins version: 2.89.3

[2018-02-14 16:31] eddie3716 commented on #711
@jakub-bochenski @Argelbargel  the change made from #664 is the cause of this bug.

[2018-02-14 17:01] jakub-bochenski commented on #711
Sorry, I cannot reproduce that. Here is a screenshot of me changing this value.

![screenshot_20180214_175933](https://user-images.githubusercontent.com/2794994/36217098-e2d09f88-11b0-11e8-8840-9e43fcb4ae16.png)

A bug that I can reproduce is connected to the Web form used to configure the job.
Because the trigger object lacks a getter for the value it will always display true regardless of the ac

[2018-02-15 16:56] shark-horse commented on #711
@jakub-bochenski Are you saying you _can_ change the value somehow, but not through the Web UI? If so, how?

Are you using a plugin to keep track of project configuration history? How do you get to that view in the screenshot you shared?

I'm just editing through the UI currently:
![image](https://user-images.githubusercontent.com/30937134/36269184-1f232ed2-123e-11e8-893b-9144a25359d1.png)

We're

[2018-02-15 17:01] shark-horse commented on #711
Looking through history, I do see a change to the config.xml:

[code]

but Jenkins is still building upon Approval, which is incorrect for our workflow.

[2018-02-15 19:19] jakub-bochenski commented on #711
I haven't checked that, but it would be a separate issue from the incorrect display in Web UI.

We use job-dsl plugin to manage the job configuration, that's why I haven't noticed the UI issue before.

The change above was done via Web UI though, the screenshot comes from the JobConfigHistory plugin.

[2018-02-19 12:43] NaffanDroo commented on #495
Hi, we're facing this issue too - the scenario is when we automate release processes e.g. with the maven unleash plugin. This will update the next development version - and we can configure it to include [ci-skip] in the comment - but it is still ignored.

Also tested the [ci-skip] in a non multi branch project in the same Jenkins instance and it skips the build with the log @KekSfabrik mentioned

[2018-02-20 19:17] sebastienbonami opened #715 "gitlabMergedByUser sometimes not present"
### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.4.3
- **Jenkins version**: 2.89.4
- **Job type**: Freestyle

### Problem description
In Jenkins, I want to get the author's username of the MR that triggered the job. Sometimes, the *gitlabMergedByUser* environment variable don't exist. Is *gitlabMergedByUser* supposed to be the author of the MR? If so, it should always be the

[2018-02-23 08:24] john-forrest opened #716 "builds for gitlab hook job being combined"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.4.3
- **Jenkins version**: 2.89.4
- **Job type**: Pipeline

### Problem description

If several builds are fired on the same hook job in quick succession, Jenkins is combining them - even though they relate to different repositories and should never be combined.

I support a subsystem where a library is formed using

[2018-02-25 19:32] eversC opened #717 "Add ability to specify pointer to secretToken in gitlab trigger rather than secretToken itself"
It'd be nice to be able to set the secretToken value somewhere (e.g. env var or jenkins cred) that's not a 'magic value' in code/Jenkinsfile

gitlab-plugin users could then set e.g. an env var name or jenkins cred Id in the gitlab trigger in the Jenkinsfile, instead of the secretToken itself.

[2018-02-25 20:38] PW999 commented on #462
So, I'm having the same problem, no updates in gitlab from Jenkins and I see the following errors in my nginx reverse proxy access log
[code]

However, when I change the gitlab connection URL so that it connects directly to gitlab and not through a reverse-proxy, then all of a sudden it works :+1:

This is my nginx reverse proxy config
[code]

//edit: so, I removed the slash in the proxy_pass
[cod

[2018-02-26 12:14] ValerioCadeddu commented on #261
Hi @omehegan , I was reading this issue since I have a question about the use of WIP checkbox on Jenkins pipeline.
I need to resolve a thing, basically, I have two pipelines that are triggered both by MR events on gitLab. Our process is, Open a MR directly with WIP text in the title box, and enable the pipeline A to be triggered since the WIP checkbox is unchecked. At the same time, the pipeline B

[2018-02-26 23:40] Vince-Cercury commented on #630
I use version 2.1.16 of credentials plugin. Gitlab token still not available

[2018-02-27 16:45] kgoedert opened #718 "Jenkins invalid token"
I had and installation of jenkins version 2.46.2 and gitlab plugin version 1.4.5. The version of gitlab is 9.1.2.
I had webhooks configured, without any authentication and it worked perfectly.

Now I update my jenkins to version 2.89.4 and gitlab plugin to version 1.5.3. Gitlab is still version 9.1.2.
My webhooks no longer work. When I test them from gitlab I get

Hook executed successfully but re

[2018-02-28 08:19] bougar opened #719 "Merge Request comments on parametrized build"
## Issue
It would be useful in my case add comments on a GitLab when a parameterize is trigger. The pipeline Job show that the proper method is executed, but the comments is only added when the build is trigger with a webHook. I guess this behavior is normal, but I am not sure.
Note: I have configured all the parameters which are necessary in a MR.

### Context
- **Gitlab plugin version**: 1.5.3
-

[2018-03-01 10:48] ChristianCiach opened #720 "Automatic project creation should work with (Multibranch-)Pipeline projects as template"
I think the automatic project creation is an awesome feature, but unfortunately, it only does seem to work with Freestyle-projects used as templates.

Maybe I am doing something wrong, as I don't fully understand all configuration options for automatic project creation. (I think the documentation is a bit lacking in this regard).

As we are converting all our projects to use pipelines defined as J

[2018-03-01 12:22] rubycrafter commented on #708
@omehegan would you please give some advice to workaround or fix this problem. We really need to merge branches before build in multibranch pipeline. At this moment i'm trying to create rails application, accepting copy of webhook from gitlab and transport it into the pipeline workspace. And this crutch makes me cry.

[2018-03-01 14:20] williamzhao87 commented on #711
I am also seeing this issue.  Has anyone found any workaround?

[2018-03-01 14:31] jakub-bochenski commented on #711
@williamzhao87 there is a PR fixing it linked above :(

[2018-03-01 15:10] lambourn commented on #711
Any update on this issue? I also experience this - as soon as a MR gets approved, the pipeline gets kicked of again. In our workflow we run only want to run builds when pushes are done to the MR but not on approval.

[2018-03-05 12:24] huayaoyue6 commented on #521
Maybe chose the exactly option in checkbox named "API-LEVEL" can help  :smile: .  @omehegan

[2018-03-06 08:40] aklemp opened #721 "Allow sending commit status for skipped stages"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.5.2-ce.0
- **Jenkins version**: 2.89.4
- **Job type**: Pipeline (declarative)

### Logs & Traces

n/a

### Problem description

_Describe your problem in a meaningful way_:
- I'm using the step `updateGitlabCommitStatus` like this in the post block of a stage:
```updateGitlabCommitStatus name: STAGE_NAME, state: 'suc

[2018-03-06 09:03] aklemp commented on #721
Currently, triggering `updateGitlabCommitStatus` is not really supported by Jenkins descriptive pipelines: https://issues.jenkins-ci.org/browse/JENKINS-49944

However, in scripted pipelines, the skipped status could be used.

[2018-03-07 13:38] benkeil commented on #674
The issue is still present. I need to set the `secretToken `.

[2018-03-07 15:12] benkeil opened #722 "secretToken must be configurable via job dsl"
We need the feature to set the `secretToken` via job dsl in order to use a predefined token.

[2018-03-09 16:35] sleepypikachu opened #723 "Build on successful pipeline events"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 9.1.4
- **Jenkins version**: 2.89.4
- **Job type**: Pipeline

### Logs & Traces

Nothing appears in the logs when I perform this action.

### Problem description

_Describe your problem in a meaningful way_:
When I set  *Build on successful pipeline events* on my build trigger and save the job it is unset when I re-open

[2018-03-09 17:06] sleepypikachu commented on #723
Seems similar to https://github.com/jenkinsci/gitlab-plugin/issues/711 but I've checked with the Job Config History plugin and even when the value is set on the UI it does not appear in the diff.

[2018-03-12 07:35] ghost commented on #598
Hi Falks,

I got a below-attached error in the image and I don't understand what need to do.

![jkns](https://user-images.githubusercontent.com/36878845/37270755-fe9e01c0-25f5-11e8-8ca0-4470aeb47110.JPG)

[2018-03-13 11:46] BOOMChiefRocka opened #725 "WEBHOOK VARIABLES"
Context
- **Gitlab Hook Plugin**: 1.4.2
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 8.8.1
- **Jenkins version**: 2.89.4
- **Job type**: Freestyle

Hello Everyone,

I'm having trouble for weeks now trying to gather variables from the webhook.

I've declared my freestyle project as parametrized and created an empty string variable with the names described on the documentation, e.g. gitl

[2018-03-13 14:34] sleepypikachu commented on #723
If I modify the XML by hand then I can get the PipelineHook to trigger but unfortunately the event seems to be missing some required information. (See logs below)

I set the loglevel for `com.dabsquared.gitlabjenkins` to `fine` but this did not produce any additional log output on subsqequent runs.
[code]

[2018-03-14 15:11] maartenvang opened #728 "Configuration for gitlab host URL shows "gitlab.org" as example instead of "gitlab.com""
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: (unknown? www.gitlab.com)
- **Jenkins version**: 2.89.4
- **Job type**: n/a

### Logs & Traces

n/a

### Problem description

In the configuration for the gitlab plugin (Configuration > Configure System > Gitlab) the text field for Gitlab host URL" shows the following hint text:

When you are using a non-selfhosted vers

[2018-03-15 01:21] Zordrak commented on #636
~The reason I would like to see this implemented is because I cannot filter which branches will be affected by PUSH and which by MERGE. i.e. I cannot say PUSH_BRANCH_FILTER=master.~

~If I enable Jenkins to build the job on PUSH events, it will never build on a Merge Request event because every merge request is preceded by a push to the source branch with the same Commit ID. If I don't enable Jenk

[2018-03-16 16:09] asirbu2002 opened #729 "IndexOutOfBoundsException on force push on target branch"
## Issue
In jenkins I activate plugin on Merge requests and on any push on the source or target branch.

If I do a force-push on target branch, a stacktrace IndexOutOfBoundsException occurs

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 8.3.4
- **Jenkins version**: 1.6.16
- **Job type**: Pipeline, Freestyle, Matrix, etc.

### Logs & Traces
[code]

[2018-03-19 04:13] omehegan commented on #697
@asmorkalov ping?

[2018-03-19 04:14] omehegan commented on #647
@benjarobin would you be able to submit a PR for this?

[2018-03-19 04:21] #711 closed, assigned to nobody

[2018-03-19 04:40] omehegan commented on #633
@1100101 I don't have a way to test EE features, so I can't reproduce your issue or test the fix. Not sure how to proceed with this. Actually the fix in #664 has not been released yet. Would you be able to test with a patch release?

[2018-03-19 04:52] omehegan commented on #663
@gguillotin ping?

[2018-03-19 08:57] benjarobin commented on #647
Well, maybe I can, but it's been 7 years since I have not touched Java.
And I need to find documentation and time about how to setup the development environment.
But I can write a draft pretty quickly (maybe after work...), but it may (certainly ?) not compile...

[2018-03-19 14:18] shark-horse commented on #711
FWIW, as a workaround, I configured the Gitlab plugin (in the Jenkins job) to _not_ build on the creation of an MR, which means we have to wait until approval for a build. (We have configured Gitlab to only allow merging with at least 1 approval + a successful build, i.e. a failed or pending build will block merging.)

[2018-03-19 14:34] dskrvk commented on #711
@shark-horse I'm curious how you configured Gitlab to block on Jenkins builds - is it through Gitlab CI? Did you also have to configure CI runners?

[2018-03-19 14:57] shark-horse commented on #711
@dskrvk What I was talking about in my previous comment was a config change in a Jenkins job, not a change in Gitlab. Specifically, I configured the Gitlab plugin in Jenkins to _not_ build on creation of an MR:
![image](https://user-images.githubusercontent.com/30937134/37602312-13fd44ea-2b5a-11e8-9096-f911d9ce9164.png)

Notice that `Opened Merge Request Events` is unchecked (because `Approved Mer

[2018-03-19 17:01] jakub-bochenski commented on #633
@omehegan I was able to reproduce an issue with Gitlab 10.4.3-ee and and the plugin build from a2b8394

A build is triggered when a MR is approved even though the build is configured with `<triggerOnApprovedMergeRequest>false</triggerOnApprovedMergeRequest>`

I will try to find the root cause, there are however two strange things.

First: I was not able to reproduce the above issue [previously](ht

[2018-03-19 18:17] Avishek1210 commented on #422
Same here,

[code]

[2018-03-19 21:19] sebastienbonami commented on #607
Any news on this?

[2018-03-20 07:01] omehegan commented on #417
I have done a major refactor of the README and, I hope, significantly clarified how you use the plugin with Pipeline. Please open PRs against the README if you would like to see anything improved further.

[2018-03-20 07:01] #417 closed, assigned to omehegan

[2018-03-21 05:56] #428 closed, assigned to nobody

[2018-03-21 05:57] omehegan commented on #428
@pbendersky ok, so I'm a bit late... I think I've just fixed this. Please let me know if it looks right, assuming you still care :)

[2018-03-21 06:14] #522 closed, assigned to nobody

[2018-03-21 06:30] #555 closed, assigned to nobody

[2018-03-21 06:31] omehegan commented on #555
@jgeorgeson I think I've clarified this appropriately, let me know if not.

[2018-03-21 06:56] #688 closed, assigned to nobody

[2018-03-21 16:44] smutel opened #730 "End-point return 404 / Webhook return 500"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.5.6
- **Jenkins version**: 2.112
- **Job type**: Multibranch Pipeline

### Logs & Traces

**In the jenkins side:**
HTTP ERROR 404 Problem accessing /project/universe/. Reason: Not Found Powered by Jetty:// 9.4.z-SNAPSHOT

**In the gitlab side:**
HTTP ERROR 500 Whoops, something went wrong on our end.

### Problem des

[2018-03-21 18:15] bhicks-usa commented on #730
I have this exact same problem, discovered today despite everything working normally yesterday. I also have the same versions as OP.

Jenkins Plugins updated yesterday:
Credentials-Binding
JDK-tool

I tried rolling back those updated plugins and Jenkins itself to the previous version and I still have this same problem.

[2018-03-22 00:24] adveres commented on #688
Thank you, @omehegan !

[2018-03-22 05:28] omehegan commented on #725
You mention both GitLab Hook Plugin and GitLab plugin. These are two different plugins that provide basically the same functionality. You only need to use one, and I can only help with the GitLab plugin.

To debug this, please attach the config.xml of your job (redact anything sensitive), and also please describe how you have configured the webhook on the GitLab side which is triggering this job.

[2018-03-22 05:34] omehegan commented on #730
Please enable the additional logging described in the User Support section of the README, and attach the resulting logs from Jenkins when you try to use the webhook.

It isn't really clear to me what you have configured or where you are seeing these errors. For example, you say you see the 404 error on the Jenkins side, but GitLab is what should be accessing that URL, not Jenkins.

[2018-03-22 05:37] omehegan commented on #729
Can you clarify what version of Jenkins you are using? 1.6.16 is not a valid Jenkins version. Also, do you experience this error when you do a normal, non-forced push?

[2018-03-22 05:42] #728 closed, assigned to nobody

[2018-03-22 05:51] omehegan commented on #723
I can confirm this. I'll look into it.

[2018-03-22 05:57] omehegan commented on #723
@mreichel I was thinking this might be caused by a missing getter, but it looks like there is one. I believe this is your code, can you figure out what might be missing?

[2018-03-22 05:58] omehegan commented on #722
@g-dx can you comment on this?

[2018-03-22 06:02] omehegan commented on #720
I have no idea what you are referring to. What does this have to do with the GitLab plugin?

[2018-03-22 06:04] omehegan commented on #719
This can't really be done - when you trigger the job manually, Jenkins has no way to know what Merge Request the commit it is building is associated with.

[2018-03-22 06:04] #719 closed, assigned to nobody

[2018-03-22 06:07] omehegan commented on #718
I recently rewrote a lot of the documentation, including the parts that explain how to configure or disable authentication. Take a look here: https://github.com/jenkinsci/gitlab-plugin#gitlab-to-jenkins-authentication  Please reopen if that does not help resolve your issue.

[2018-03-22 06:07] #718 closed, assigned to nobody

[2018-03-22 06:08] omehegan commented on #717
@eversC what about making it a variable published by a Pipeline global library? Then a Jenkins admin could control who has access to it, and it would be usable within Pipeline jobs.

[2018-03-22 06:36] omehegan commented on #716
@john-forrest so you have many different GitLab repos all set up with webhooks that trigger the same Jenkins job? And that is a Pipeline job? If so I think this might be a "feature" of Pipeline. Is there any chance you are using a `milestone` step in the pipeline? See https://wiki.jenkins.io/display/JENKINS/Pipeline+Milestone+Step+Plugin  Unfortunately for this use case you may need to disable the

[2018-03-22 06:42] omehegan commented on #715
@sebastienbonami can you see any difference between cases where the variable is set and ones where it is not?

Please enable the additional logging described in the User Support section of the README, and then attach logs from a case where the variable was not set. I especially want to see the JSON payload from GitLab, to see if there is something unusual about it.

[2018-03-22 06:45] omehegan commented on #713
Somewhat related to #386.

[2018-03-22 06:49] omehegan commented on #713
@cedricje for one thing, check and make sure that the act of running the `echo` step does not then flip the status of that block from unstable to successful. Can you also check and see if a failing junit step does cause Jenkins to send a failure status to GitLab? And can you check that with and without the `echo` step you're using now?

[2018-03-22 06:53] omehegan commented on #712
Duplicate of #707.

[2018-03-22 06:53] #712 closed, assigned to nobody

[2018-03-22 06:54] omehegan commented on #707
@common1994 I was looking for confirmation that the 403 causes this issue in the plugin. Are you able to confirm that?

[2018-03-22 06:59] benkeil commented on #722
There is already a solution: https://stackoverflow.com/questions/49150758/how-can-i-set-the-secret-token-for-gitlab-plugin-with-jenkins-job-dsl/49162807#49162807

[2018-03-22 07:01] benkeil commented on #722
The documentation with the trigger part is wrong.

[2018-03-22 07:46] smutel commented on #730
I tried to get the end-point on my web browser. I got 404 not found and this in the log.
I assume that it's normal, the end-point is not accepting GET (it will be great to answer to get with a message: Gitlab end-point version ....).

[code]

I tried to test the end-point from gitlab, I have the error message 500 but I don't have anything in the gitlab plugin logs so perhaps the bug is on the gitl

[2018-03-22 08:47] smutel commented on #730
Related to this: https://gitlab.com/gitlab-org/omnibus-gitlab/issues/3307

[2018-03-22 08:47] #730 closed, assigned to nobody

[2018-03-22 09:04] asirbu2002 commented on #729
Jenkins version is 1.616 and no, the error doesn't occurs on non-forced push.

[2018-03-22 13:42] ChristianCiach commented on #720
Sorry, this issue was supposed to be posted at elvanja/jenkins-gitlab-hook-plugin .

But actually, my use case would be better solved by Argelbargel/gitlab-branch-source-plugin, which is supposed to be merged into the gitlab-plugin with #499. I will just wait for this :)

[2018-03-22 13:42] #720 closed, assigned to nobody

[2018-03-22 22:21] mabrowning commented on #691
I'm in the same boat.

A standard "Pipeline" jenkins job adds GitLab build status
The same setup as a multibranch pipeline does not add GitLab build status.

[2018-03-23 04:20] omehegan commented on #729
@asirbu2002 wow, a 3 year old version of Jenkins? There are a thousand reasons why you should look into upgrading, not the least of which is that your version is vulnerable to tons of published security flaws.

I'll try to reproduce this. It's possible that a force push results in something unusual being sent to Jenkins which throws off the plugin.