[2018-03-23 04:26] omehegan commented on #722
@benkeil I recently refactored the documentation a lot. Right now it does not mention job DSL at all. Where do you think this information should be added? A new section? I don't use job DSL.

[2018-03-23 04:41] omehegan commented on #691
@mabrowning can you enable the additional logging described in the User Support section of the doc? Then please attach logs from a working Pipeline job and non-working Multibranch job.

[2018-03-23 05:01] omehegan commented on #708
@rubycrafter I don't know of a workaround unfortunately. You should be able to merge before build on e.g. Pipeline job types - those should receive enough of the necessary JSON parameters to be able to do that. So maybe you could put something together using a regular Pipeline job which then triggers a Multibranch job (if that's even necessary at that point).

[2018-03-23 05:31] omehegan commented on #422
@Avishek1210 versions? GitLab logs?

[2018-03-23 05:34] omehegan commented on #647
@benjarobin thanks at least for clarifying what the problem might be.

@ayufan @dblessing do you know if anything changed in how GitLab returns labels from API requests? See https://github.com/jenkinsci/gitlab-plugin/issues/647#issuecomment-364753756

[2018-03-23 05:38] omehegan commented on #630
I can't get your original picpaste links to load. You can just drag images to the comment text box and Github will attach them.

You might want to try updating to the latest version of the GitLab plugin.

All I can say is, the option is visible for me:

![screen shot 2018-03-23 at 4 37 30 pm](https://user-images.githubusercontent.com/1775894/37813306-a22e0f9a-2eb8-11e8-85a4-a84487e0fbdb.png)

[2018-03-23 06:11] omehegan commented on #711
This was fixed/released in version 1.5.4 of the plugin, which should be available in the update center soon.

[2018-03-23 06:12] omehegan commented on #633
This was fixed/released in version 1.5.4 of the plugin, which should be available in the update center soon.

[2018-03-23 06:15] omehegan commented on #495
I think I just realized why this doesn't work. It's because the plugin ignores the JSON payload when it's sent to multibranch jobs. See the note at https://github.com/jenkinsci/gitlab-plugin#pipeline-multibranch-jobs  I would like to find a way to fix this, but I didn't author the multibranch support.

[2018-03-23 06:16] omehegan commented on #495
#704 basically.

[2018-03-23 06:17] omehegan commented on #708
@rubycrafter also what you are asking for is more directly related to #704.

[2018-03-23 06:30] #663 closed, assigned to nobody

[2018-03-23 06:37] omehegan commented on #261
@ValerioCadeddu this is because edits to the MR like that trigger a new webhook event from GitLab.

[2018-03-23 06:41] omehegan commented on #705
@tpbradt if you're still having this issue, can you follow the instructions in the User Support part of the README and attach logs from the plugin when you see a rebuild that should not happen?

[2018-03-23 07:55] benkeil commented on #722
A new section sounds good. I think a lot of people use Job DSL and it‘s easier to find.

[2018-03-23 14:31] mabrowning commented on #691
Sure thing. I did have them enabled and was looking at them, but I had both hooks/builds enabled simultaneously and couldn't sort out the logstream independently. I've just done a test to separate them. I force pushed an amended commit, so the commit ids are different, but everything else is the same (other than which webhook/Jenkins project). Both jenkins projects are set to pull Jenkinsfile from

[2018-03-23 15:00] mabrowning commented on #691
Digging through the code in question, it seems that the multibranch pipeline job doesn't have the correct `GitlabClient` set in it, as the `changeBuildStatus` method on the interface is called (proved to myself by induction by which logs AREN'T called). However, none of the API/proxies ever get called.

This is plausible as the normal pipeline job explicitly adds a Gitlab connection to the build p

[2018-03-23 15:10] mabrowning commented on #691
Hmm..I was inadvertently on an old version of this plugin (1.4.8). I'm going to update to 1.5.1 since there were some major revisions to the GitlabClient interface.

[2018-03-23 16:09] eversC commented on #717
@omehegan sounds good (only downside I can think of is that it'd be an additional store of a secret in source code)

[2018-03-23 16:22] werthen commented on #399
I'm also struggling with this issue. The URL in the config.xml looks okay to me

[code]

[2018-03-23 16:36] mabrowning commented on #691
Success! After changing our git URL from ssh to https (https://git.company.com/group/project.git, with a user/password credential of (literally)`gitlab-ci-token`/*JENKINS-IMPERSONATION-TOKEN*), multibranch pipeline build correctly updates the gitlab build status.

I did need to fix our WIndows nodes; builds were hanging on them during git fetch because the [Git Credential Manager for windows was i

[2018-03-23 23:06] benjarobin commented on #647
@omehegan Ok, it was pretty easy to setup the development environment, I will try to create a pull request this week-end

[2018-03-25 23:39] omehegan commented on #723
I merged the fix and released a snapshot of it for now (not ready to do a full release yet). If you want this fix immediately, you can download http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.5-SNAPSHOT/gitlab-plugin-1.5.5-20180325.233657-1.hpi and manually install it.

[2018-03-25 23:45] omehegan commented on #691
@mabrowning hmmm. I don't really understand why this fixed the issue for you. You should be able to use either SSH or HTTP and still have the commit status update work... Do you have any theory about why it would matter?

[2018-03-25 23:56] omehegan commented on #717
@eversC well, you can also set it globally instead of per-project. And for all job types except Multibranch, you can set it in the job config UI rather than in your Pipeline code. The original intent of the "secret token" auth mechanism was to limit who could trigger builds on the Jenkins host, so one team could not trigger another team's jobs. Moving the token into the credentials API might defea

[2018-03-26 00:01] omehegan commented on #399
@werthen so much for that idea. What web server are you using in front of Jenkins and GitLab? Are you using any proxies? As you can see above, in most cases this turns out to be a problem with a proxy mangling the URLs.

[2018-03-26 00:25] omehegan commented on #722
@benkeil do you think you could submit a PR with an example from your experience? You can see that I have split up config examples into sections for git clone, job trigger, and build status. It seems like we would want Job DSL examples for the trigger and build status at least. Not sure about the git clone.

[2018-03-26 02:53] mabrowning commented on #691
As I was digging into the code to explain why it wasn't matching ssh vs https, I discovered the real reason: my ssh url did not include the trailing `.git`. Down in [ProjectIdUtil](https://github.com/jenkinsci/gitlab-plugin/blob/17e89c3fdd1dce7c267d7a55c92029c088e7a3e8/src/main/java/com/dabsquared/gitlabjenkins/util/ProjectIdUtil.java#L16), the regex ( `^/?(?<projectId>.*)(\\.git)$` ) currently _r

[2018-03-26 07:38] werthen commented on #399
@omehegan I'm just using the default setup, no reverse proxies as I'm just trying to set up a simple build server. It does seem to leave the Jenkins server with that %2F encoding, as shown in logs produced when setting log level to FINEST.

I tried fiddling with the source code of this plugin but alas to no avail. It seems to only produce URLs with that encoding when hitting the actual (resteasy?

[2018-03-26 09:06] sleepypikachu commented on #723
Thanks for the expedient fix. Unfortunately I think this is only a partial fix (set the property from the UI).

As you can see from the attached logs in my earlier comment (https://github.com/jenkinsci/gitlab-plugin/issues/723#issuecomment-372686617) even when the property is set to true by hand the trigger fails with an NPE.

[2018-03-26 12:36] BOOMChiefRocka commented on #725
Hello Omehegan,

First of all thank you for your time and interest.

I have uninstalled the Gitlab Hook Plugin as you adviced.
Find attached the config.xml
[config.xml (2).txt](https://github.com/jenkinsci/gitlab-plugin/files/1848367/config.xml.2.txt)

The webhook I'm using is:

![image](https://user-images.githubusercontent.com/37333282/37906500-a165618e-3102-11e8-96b5-d661112453cb.png)

What I e

[2018-03-26 20:53] tpbradt commented on #705
Here is a log from me reproducing just now.  We have done some updates recently to our tools:
Gitlab plugin version: 1.5.3
Gitlab version: 10.5.4-ee
Jenkins version: 2.110

[rebuild.log](https://github.com/jenkinsci/gitlab-plugin/files/1849502/rebuild.log)

[2018-03-28 00:39] bmaehr commented on #720
@ChristianCiach https://github.com/jenkinsci/gitlab-hook-plugin/pull/43

[2018-03-28 09:40] hervedevos commented on #691
I have also an issue related to multibranch commit status updates.

In my case, here what's happening:

jenkins log :
 INFO: Retrieving the gitlab project id from remote url https://<my_domain>/gitlab/test/test-project.git
gitlab log:
Started GET "/gitlab/api/v4/projects/test/test-project/repository/commits/b133f7af768989d880e433168d2bb36618ca2a82" -> **404**

It seeems that Jenkins gitlab plugin

[2018-03-28 12:18] ValeriyDP commented on #647
@omehegan I've just tried this patch, and seemed that It does not work for me.

![selection_20180328_3aa7d51](https://user-images.githubusercontent.com/11663800/38028304-3eb41aae-329b-11e8-85a0-566df64f6022.png)
![selection_20180328_ca1ccb6](https://user-images.githubusercontent.com/11663800/38028305-3ed5a12e-329b-11e8-881a-d2cd7c863245.png)
![selection_20180328_bf69394](https://user-images.github

[2018-03-28 16:23] isurugiu opened #734 "Can't trigger builds on Accepted, Approved & Closed Merge Requests"
## Issue

Hi, I am finding it impossible to trigger up jobs upon Accepted, Approved & Closed MRs however the Opened MR triggers work great.

### Context
- **Gitlab plugin version**: 1.5.4
- **Gitlab version**: 10.5.2-ee
- **Jenkins version**: 2.60.3
- **Job type**: Pipeline

### Problem description

So I have 2 hooks configured in GitLab both configured to trigger upon MRs but different jobs:
- so

[2018-03-28 18:56] benjarobin commented on #647
@omehegan I was able to setup the docker, and indeed the patch that I did write is not working with the following build : `gitlab-plugin-1.5.5-20180326.003435-2.hpi`. Since the patch was not tested I am not really surprised (sorry about that)... And thank you to point me how to debug / test it with the docker.

[2018-03-28 19:14] benjarobin commented on #647
@omehegan I did build my branch, update the plugin using the jenkins Web page, and my build is working fine, I am confused... I am going to double check, but maybe the plugin that you provide is not the right one ?

Edit: The `gitlab-plugin-1.5.5-20180326.003435-2.hpi`  "archive" does not contain the `gitlab.hook.MergeRequestLabel.class` nor the old name of this new class `gitlab.hook.MergeRequest

[2018-03-28 19:22] benjarobin commented on #647
The plugin built here https://ci.jenkins.io/job/Plugins/job/gitlab-plugin/job/PR-732/1/artifact/target/gitlab-plugin-1.5.5-SNAPSHOT.hpi is working fine : The filtering is working

[2018-03-29 03:03] omehegan commented on #647
@benjarobin yeah you're right, I apologize, I built the master branch of your fork rather than your PR branch. Sorry about that! @valeriy-dp please test the copy that @benjarobin linked just above this.

[2018-03-29 06:54] omehegan commented on #725
@BOOMChiefRocka your webhook URL is incorrect. That is the problem. The documentation was not as clear as it could be (I just updated it a bit), but the correct webhook is displayed in the Jenkins job config when you set up the GitLab trigger. It should be something like `http://JENKINS_URL/project/yourbuildname` rather than `http://JENKINS_URL/job/yourbuildname/build?` etc.

[2018-03-29 06:54] #725 closed, assigned to nobody

[2018-03-29 07:07] rokx commented on #272
Gitlab plugin for jenkins is fine. You have to enable "Allow requests to the local network from hooks and services" in Setting page in Gitlab with new updates.

![capture](https://user-images.githubusercontent.com/3796960/38074832-8085690c-3330-11e8-8fd7-ea3d96955324.PNG)

[2018-03-29 08:05] mice33 commented on #734
the same problem

[2018-03-29 11:32] smutel commented on #167
Hello,

Do you know if this feature should work now ?
In gitlab, I seteup the integration on Tag push events.
In jenkins, in the tag tab, nothing is launched automatically ...

Thanks.

[2018-03-31 22:27] Zava2012 commented on #647
@omehegan, I confirm that in this snapshot (https://ci.jenkins.io/job/Plugins/job/gitlab-plugin/job/PR-732/1/artifact/target/gitlab-plugin-1.5.5-SNAPSHOT.hpi) the filtering by label works. You can close the Issue #527. Thank You!
**GitLab 9.4.5 and GitLab 10.6.2.**
But there is still a small bug with the visibility of labels. Plugin sees only the first page of labels on GitLab. The second and subs

[2018-04-02 06:43] BOOMChiefRocka commented on #725
@omehegan

Hello Omehegan,

Thanks for the tip but i'm afraid that this wasn't enough.

Using the following webhook i get a response HTTP 200, that means OK but doesn't trigger the job execution:
http://XXX.XXX.XXX.XXX:8080/project/ejemplo_microservicio/build?delay=0sec

Using the following webhook behaves identically:
http://XXX.XXX.XXX.XXX:8080/project/ejemplo_microservicio

Regards

[2018-04-03 05:43] omehegan commented on #725
First, do not append this `build?delay=0sec` or anything to the webhook URL. Please read the docs, the URL is explained pretty clearly now in the README as well as in the config of the plugin. http://XXX.XXX.XXX.XXX:8080/project/ejemplo_microservicio would be correct assuming your job is named ejemplo_microsevicio.

Second, I can see from the config.xml you attached that you have not configured th

[2018-04-03 09:49] BOOMChiefRocka commented on #725
Hello Omehegan,

Thank you very much, you were right, after setting up the trigger everything works.

Cheers mate!!

[2018-04-03 11:18] mojocorp commented on #734
same problem.

[2018-04-03 16:37] hugoerortiz commented on #734
I have the same problem

[2018-04-03 19:22] ghost commented on #527
@FabianWilms nailed this issue with his answer.   In gilab the user name in the credential used for git needs to be a member of project in gitlab.   Simply changing this user id resolved the issue for me.

[2018-04-04 06:24] omehegan commented on #647
@Zava2012 thanks for testing. Can you please open two separate issues for the incomplete list of labels, and the desire to have labels as env vars?

[2018-04-04 06:25] #647 closed, assigned to mreichel

[2018-04-04 06:32] #697 closed, assigned to Argelbargel

[2018-04-04 06:46] #722 closed, assigned to nobody

[2018-04-04 07:10] omehegan commented on #167
@smutel please open a new issue if you are still having this problem. Include relevant logs and screenshots (I don't know what you mean by the tag tab).

[2018-04-04 07:19] omehegan commented on #527
Fixed by #732.

[2018-04-04 07:19] #527 closed, assigned to nobody

[2018-04-04 07:20] stchar commented on #716
@john-forrest, If gitlab-plugin have an option to notify any repository you want right from the pipeline would that make your life better?

[2018-04-04 07:25] omehegan commented on #691
@mabrowning thanks for digging into this a bit more! When you refer to "an alternative regex," did you test that in the code? Or just confirm generally that it will match the valid strings which don't include .git? I've been intending to look for the regex and see if I could fix this, it looks like you've basically found it.

[2018-04-04 07:27] omehegan commented on #691
@hervedevos can you let me know what versions of the plugin and of GitLab you are using?

[2018-04-04 07:47] omehegan commented on #691
@mabrowning current regex: `^/?(?<projectId>.*)(\\.git)$`
Your proposal: `^/?(?<projectId>.*?)(\\.git)?$`

I think I'm not reading the regex quite right (my experience is all with Ruby regexes), but why do you add a `?` after `<projectId>.*`?  It seems like this would match on anything or nothing.

[2018-04-04 08:00] hervedevos commented on #691
@omehegan I'm using Gitlab plugin v1.5.3 with Gitlab v10.4.3 and Jenkins v2.114

[2018-04-04 08:23] Zava2012 opened #736 "[feature] Add Merge Request Label in Environment Variables"
## Issue

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 10.6.2
- **Jenkins version**: 2.107.1 LTS
- **Job type**: Freestyle

### Feature description

It would be useful to parse the label (or multiple labels) as an environment variable to Jenkins. This feature can be found many uses because
An example of the name environment variable: **gitlabMergeRequestLabel** (or **gitlab

[2018-04-04 08:43] Zava2012 opened #737 "Incomplete List of Merge Request Labels"
## Issue

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 10.6.2
- **Jenkins version**: 2.107.1 LTS
- **Job type**: Freestyle

### Problem description

Plugin sees only the first page of labels on GitLab. The second and subsequent pages of labels are not visible to the plugin. **But Jenkins starts a build even with a missing label**.
So, it's only a problem of visibility. And

[2018-04-04 11:03] valVk commented on #647
@Zava2012
Could you please provide how to setup this plugin?
I/m not able to start it working (

[2018-04-04 12:14] scheung38 opened #738 "Access to jenkins fails after Gitlab plugin installation and restart"
I am running Jenkins inside one of the docker official jenkins images

https://hub.docker.com/_/jenkins/

so initially used this
var/jenkins_home/secrets/initialAdminPassword

and then proceeded to define

User
Password
etc

then once inside Jenkins I wanted to install Gitlab webhook plugin and it says need to restart after installation, but upon restart, using the same

User
Password

created abo

[2018-04-04 12:21] Zava2012 commented on #647
@valVk, no problem.
1) Create project on your own GitLab or on GitLab.com.
2) Add user (for example, user with name **jenkins**) to GitLab project.
3) Create credential of your user (for example, jenkins) in Jenkins for GitLab API.
4) Configure GitLab in system configurations and test connection.
5) Create credential of your user (for example, jenkins) in Jenkins for GitLab user.
6) Create webhook

[2018-04-04 12:35] Zava2012 commented on #738
Hi, @scheung38! This issue is not related to the plugin.
But i can help you if you answer two questions:
1) What command you used to start the container?
2) How did you restart Jenkins?

[2018-04-04 14:22] john-forrest commented on #716
I'm not sure. Issue I suspect is that the parameters are virtually the same for each push job. I don't see this on MR jobs. How do they differ?

[2018-04-04 14:24] omermazig-zz opened #739 "Post-build step "GitLab commit status publisher" fails"
### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**:  10.6.2-ee
- **Jenkins version**: 2.107.1
- **Job type**: Freestyle

### Logs & Traces

[code]

### Problem description

I have installed the GitLab plugin, and configured the "Gitlab Notifier Configuration" part in jenkins configuration (Gitlab URL - https://gitlab.com, Gitlab Token - The long Access token I got from GitLab [onl

[2018-04-04 14:59] valVk commented on #647
Yes, this is what I got in result too.
Push and Open MR events are working, but the other ones are not working (

[2018-04-04 16:28] davidh87 commented on #734
Same problem. My possibly-completely wrong 2 cents:

I believe it's related to the changes brought in on https://github.com/jenkinsci/gitlab-plugin/commit/554bb618a554850c73a2e636928bbb7df15cdb5f - that seems to change how the logic around Action is handled, but the Action enum is incomplete and is missing (at least) a "merge" option

[2018-04-05 02:33] omehegan commented on #738
Please don't discuss issues that aren't related to the plugin here, it just spams all the maintainers with irrelevant stuff.

[2018-04-05 02:33] #738 closed, assigned to nobody

[2018-04-05 04:17] omehegan commented on #734
If @davidh87 is right (thanks for digging into it!), plugin version 1.5.3 might work. You can download that from the archive at https://updates.jenkins.io/download/plugins/gitlab-plugin/ and install it manually using the Advanced tab of the Jenkins plugin manager. Can some of you test that and see if it fixes the issue? #726 introduced this change, if anyone wants to look at the discussion.

@pdud

[2018-04-05 04:30] omehegan commented on #739
Your log lines relate to the GitLab Hook Plugin, which is not the same as this plugin. And from what I can tell, you have configured the other plugin, not this one. If you want to use this one, I suggest you uninstall the other(s) so as not to create confusion.

[2018-04-05 04:30] #739 closed, assigned to nobody

[2018-04-05 04:31] mtmargala commented on #734
1.5.3 does work, I confirmed reverting to that works today.
On Thu, Apr 5, 2018 at 12:17 AM Owen Mehegan <notifications@github.com>
wrote:

[2018-04-05 04:46] omehegan commented on #734
@mtmargala thanks for testing. @pdudits it sounds like your PR may have introduced a bug. Can you investigate?

[2018-04-05 04:52] omehegan commented on #737
@Zava2012 thanks for explaining, I understand. I can imagine this might be a problem with our API calls to GitLab. We probably need to check if there is >1 page of labels, and query accordingly to get all of them. @Argelbargel you touched this code last, though I realize you did not author the bulk of it. Is there any chance you could look at this? If my guess about the problem is right, I would h

[2018-04-05 04:54] omehegan commented on #736
I would prefer to solve this via #708. That encompasses mapping the whole JSON payload into the env map.

[2018-04-05 04:54] #736 closed, assigned to nobody

[2018-04-05 04:57] omehegan commented on #691
@hervedevos your issue is something different. Please open a new issue for that, and attach more complete logs by following the instructions in the User Support section of the README.

[2018-04-05 05:12] omehegan commented on #705
(Job config screenshot visible)

![screenshot](https://user-images.githubusercontent.com/3874799/35154321-d47158b0-fcf7-11e7-812c-cb15a901ed1a.png)

[2018-04-05 06:41] omehegan commented on #705
@tpbradt I can reproduce this. I'll see if I can figure out what the problem is. But I'm surprised no one else has seen it.

[2018-04-05 06:59] Zava2012 commented on #736
@omehegan, i'm sorry.
I remember seeing this issue, but yesterday I was looking for and couldn't find. Sorry for the carelessness.

[2018-04-05 07:34] pdudits commented on #734
I would rather say, that it disclosed different issue -- namely, that there's no reference specification of Webhook payloads :)

@davidh87 is completely right about missing Action value. It should be possible to make a test case from the provided hook payloads, and see if adding the new value fixes that.

Generally, [Gitlab API documentation](https://docs.gitlab.com/ee/user/project/integrations/we

[2018-04-05 08:25] Zava2012 opened #740 "Accepted Merge Request Events and Closed Merge Request Events features not triggered build"
## Issue

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 10.6.2
- **Jenkins version**: 2.107.1 LTS
- **Job type**: Freestyle

### Logs & Traces

**Closed Merge Request Event Log:**
[code]

**Accepted Merge Request Event Log:**
[code]

### Problem description

Build not triggered when checkbox setup on **Accepted Merge Request Events** and/or **Closed Merge Request Events** fe

[2018-04-05 08:31] Zava2012 commented on #647
@valVk, i create the issue about this problems #740.

[2018-04-05 08:41] Argelbargel commented on #737
I'll try to look into it. I think you're correct @omehegan, we simply ignore results which are split on multiple pages

[2018-04-05 09:22] valVk commented on #647
Great, thanks.

[2018-04-05 09:23] valVk commented on #740
I have this issue too.

[2018-04-05 10:09] mojocorp commented on #734
1.5.3 worked for me but stopped after a couple of hours. Back to the original problem, none of the 'close' requests trigger the job. The jenkins log shows that gitlab sent the right infos to jenkins.

[2018-04-05 10:16] pdudits commented on #734
@mojocorp would you share the hook payload? Or at least action and State attributes of it?

[2018-04-05 10:25] mojocorp commented on #734
While looking more carefully at the log, it always ends with: Last commit in Merge Request has already been built in build #31

So, as soon as the pipeline succeed, it does not trigger the job anymore.
Is it an expected behaviour ?

[2018-04-05 10:57] stchar commented on #716
@john-forrest ,
I can only suggest to capture some logs from `hudson.model.Queue` class
I believe you'll be interested in capturing of this line
https://github.com/jenkinsci/jenkins/blob/master/core/src/main/java/hudson/model/Queue.java#L722

PS. This could be tough =)

[2018-04-05 10:59] benjarobin commented on #740
This problem is due to the Action enumeration that does not contain `close` or `merge` :
 -  https://github.com/jenkinsci/gitlab-plugin/blob/HEAD/src/main/java/com/dabsquared/gitlabjenkins/gitlab/hook/model/Action.java
 - https://github.com/jenkinsci/gitlab-plugin/blob/HEAD/src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/merge/MergeRequestHookTriggerHandlerFactory.java#L34

I can fix it

[2018-04-05 11:03] pdudits commented on #734
The check for last commit is done after checking for status and action, so it's not caused by changes in 1.5.4

[2018-04-05 11:53] hervedevos opened #741 "Wrong Gitlab API call when trying to push commit status from multibranch pipeline"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.4.3
- **Jenkins version**: 2.114
- **Job type**: Multibranch pipeline

### Logs & Traces

Gitlab plugin logs:
[code]

### Problem description

When Jenkins multibranch pipeline tries to push gitlab commit status when a Jenkins pipeline ends, Gitlab API call is wrong. Instead of calling `/gitlab/api/v4/projects/<proje

[2018-04-05 11:53] hervedevos commented on #691
@omehegan  thanks, please have a look at #741

[2018-04-05 14:01] pdudits commented on #740
This duplicates #734 . I also started looking at it, and it also showed, that `MergeRequestBuildActionTest` was a Volkswagen test (always green, even if things are actually broken). I might submit a PR as well.

[2018-04-05 18:12] Zava2012 commented on #740
@pdudits, i'm sorry for duplicate issue. Again I am not careful (

[2018-04-06 05:03] #740 closed, assigned to nobody

[2018-04-06 05:16] omehegan commented on #734
@mojocorp not rebuilding commits that were already built is expected. This is a "feature." Changing it has been discussed at #636.

[2018-04-06 05:20] omehegan commented on #716
If we're not talking about an issue with this plugin anymore, please close this issue. Otherwise my previous questions to @john-forrest stand.

[2018-04-06 06:01] omehegan commented on #741
@Argelbargel since you wrote the v3/v4 API code (I realize it was not a huge change), just wondering if you have any thoughts on this. I can't imagine why our API call would be different for a multibranch job... although... My understanding is that multibranch jobs don't use much or any of the data that comes from the GitLab hook (I'm a little unclear on this), so maybe for that type of job we hav

[2018-04-06 06:08] omehegan commented on #399
@werthen
1. What versions of Jenkins, GitLab, and the gitlab-plugin are you using?
2. What type of Jenkins project is it? How is it triggered (webhook or manually)?
3. Is your issue limited to getting a 404 when your job tries to send commit status to GitLab?

Most people have no issue with this functionality, so those that do seem to be doing something unusual. I just have not been able to figure

[2018-04-06 06:35] omehegan commented on #723
@sleepypikachu I see, I thought the problem was being caused by the setting not staying saved. Apparently sourceProjectId is null when it should not be. Can you please check the custom logger settings you used? You should see a dump of the JSON that was sent by GitLab, among other things, when the webhook triggers a build. We need to see if GitLab is sending us the right info.

I don't use GitLab

[2018-04-06 06:42] omehegan commented on #717
@eversC what do you think about my last comment? I'm just not sure that this feature request makes sense. Or perhaps you could accomplish it by storing the token in the Jenkins Credentials store using the "secret text" credential type.

[2018-04-06 07:05] omehegan commented on #705
@tpbradt what events have you set up in the webhook configuration in GitLab? Pushes and/or Merge Requests?

[2018-04-06 08:54] Argelbargel commented on #741
I think this whole `%2F` is caused by the new sub-groups-feature in newer gitlab-versions. Before Gitlab 10 there could only be one group with the projects below. I do not quite get why escaping the slashes breaks the api-calls now, but i'll look into it...

[2018-04-06 08:55] eversC commented on #717
hi @omehegan your comment clarifies things, thanks. And I agree, based on what you've said it doesn't seem this feature request makes sense.

I see a 'trigger with job DSL' section has been added to the README in a08fc040dded1b6446e433b777461d866de3825d, with reference to `System.getenv("API_TOKEN")` -- would it make sense to add this to the triggers block in the "Declarative Pipeline jobs" sectio

[2018-04-06 09:02] mojocorp commented on #734
@omehega This would explain why nothing happen on re-'open' state but this feature prevent 'close' to trigger the job since it's already built, and I guess 'merge' too.
Is there a way to make it less smart and just trigger open/merge/close whatever the plugin think is 'built' ?

[2018-04-09 06:49] omehegan commented on #717
@eversC actually, when I read that, I'm not sure what's being done there. I think the API_TOKEN is being set as an env var before Jenkins is launched. @benkeil can you elaborate on that?

[2018-04-09 06:51] omehegan commented on #734
@mojocorp my idea was to create a config option to disable that "skipped because already built" feature if people want to do that. I just have not gotten to it yet. PRs welcome :)  Follow #636 for updates on that.

[2018-04-09 07:00] #550 closed, assigned to nobody

[2018-04-09 07:01] #630 closed, assigned to nobody

[2018-04-09 07:02] #640 closed, assigned to nobody

[2018-04-09 07:03] #665 closed, assigned to nobody

[2018-04-09 07:04] #675 closed, assigned to nobody

[2018-04-09 07:05] #676 closed, assigned to nobody

[2018-04-09 07:05] #682 closed, assigned to nobody

[2018-04-09 07:05] #687 closed, assigned to nobody

[2018-04-09 07:07] omehegan commented on #691
@mabrowning can you respond to my comment at https://github.com/jenkinsci/gitlab-plugin/issues/691#issuecomment-378511708 ? I'm intrigued by your suggested fix, just want to make sure we get it right.

[2018-04-09 07:10] omehegan commented on #713
@cedricje ping?

[2018-04-09 07:12] omehegan commented on #715
@sebastienbonami ping?

[2018-04-09 07:51] wl2776 opened #744 "Incorrect messages "No GitLab connection configured""
I've got a matrix job, that is triggered by the Gitlab plugin through webhooks.

Console output of this job contains 4 messages "No GitLab connection configured", one after git checkout and before build start, and 3 more in the end of the log.

At the same time, the respective merge request in Gitlab contains messages like

that suggests, that build statuses are actually reported.

Job configurati

[2018-04-09 08:02] wl2776 commented on #744
I've checked recent logs, and haven't found this message. Looks like it was fixed.

[2018-04-09 08:02] #744 closed, assigned to nobody

[2018-04-09 13:09] mabrowning commented on #691
I did test that regex on ssh, http, and local paths. It works with and without `.git`. The
`?` in the `.*?` subexpression you asked about makes the `*` non-greedy, required for making the (newly optional) `(\\.git)?` pull the .git off the end. Otherwise, the `.*` has higher precedence and you end up with projectIds like `group/project.git`.

[2018-04-09 15:53] benkeil commented on #717
Yes, we deploy Jenkins with Helm in Kubernetes and set the API_TOKEN environment Variable in the deployment. You can also use there what ever you want

[2018-04-09 16:52] deepy commented on #556
I've started to work on this, the change that caused this was introduced in 8.9

You now have to use [award_emoji](https://docs.gitlab.com/ee/api/award_emoji.html#award-a-new-emoji) instead.

Although I'm unsure of how to use [delete_emoji](https://docs.gitlab.com/ee/api/award_emoji.html#delete-an-award-emoji) since it requires the award_id. Which can be retrieved by a GET to [award_emoji](https:/

[2018-04-10 03:38] omehegan commented on #691
@mabrowning thanks for explaining! It has just been a couple of years since I used regex regularly and my skillz are rusty. Let me do a patch release with this change and see if others watching this issue can test and confirm it resolves.

[2018-04-10 03:53] omehegan commented on #717
@benkeil thanks, I should update the doc a little bit then so that people don't get confused, as that is a fairly specific way of passing that credential around.

[2018-04-10 04:00] omehegan commented on #556
Oh yeah, award emoji. I had to deal with this when I was writing some code to check for votes/thumbs up on MRs. Thanks for working on this. I would say don't worry about backwards compatibility to GitLab 8.x, at this point it is several years old and IMO we should only maintain support for the current and previous major version, so 9.x and 10.x currently.

[2018-04-10 05:37] deepy commented on #556
Luckily the v3 and v4 api both have this, so I'm just going to make sure both handle it

[2018-04-10 07:46] cedricje commented on #713
@omehegan : sorry, did the tests and forgot to post the results. I couldn't get builds to fail with JUnit, i redid the tests with xUnit instead

- same result after removing the `echo` step
- a Jenkins failure isn't sent as a failure status to Gitlab. I did the test with and without `echo` step.

[2018-04-10 16:16] c5c86a opened #745 "cannot configure rebuildOpenMergeRequest using job-dsl"
## Issue

triggers/gitlabPush/rebuildOpenMergeRequest('both') but the created job has value 'never'.

https://issues.jenkins-ci.org/browse/JENKINS-50654

### Context

Tested at the current latest jenkins (with latest plugins) and gitlab.

- **Gitlab plugin version**: latest
- **Gitlab version**: latest
- **Jenkins version**: latest
- **Job type**:  Freestyle

[2018-04-10 20:51] sebastienbonami commented on #715
@omehegan I can't see any difference between cases where the variable is set or not. It looks random for me.

Here's the log of an example where the variable _gitlabMergedByUser_ was not set. _gitlabMergeRequestAssignee_ was not set either (**sbonami** was the author and also the assignee of the MR).

[code]
Thanks!

[2018-04-11 00:54] hervedevos commented on #741
I found the issue, this is not related to gitlab plugin.
I was using rewrite rules within nginx configuration. it appears that rewrite rules decode URL and Gitlab was receiving unencoded URLs from nginx proxy_pass.

I changed my nginx configuration so that I dont need to rewrite anymore.

[2018-04-11 00:54] #741 closed, assigned to Argelbargel

[2018-04-11 04:30] omehegan commented on #691
Here's a patched version of the plugin with the regex change. If folks can test this and verify it resolves the issue, that would be appreciated.

http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.6-SNAPSHOT/gitlab-plugin-1.5.6-20180411.042719-1.hpi

[2018-04-11 04:33] omehegan commented on #462
I have built a patch release of the plugin which fixes the regex so that .git is not required in the git URI. We think this resolves this bug for most people. Please test:

http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.6-SNAPSHOT/gitlab-plugin-1.5.6-20180411.042719-1.hpi

[2018-04-11 04:36] omehegan commented on #462
@aschlei it sounds like the problem you reported is caused by something else. If you are still experiencing a problem, please open a new issue.

[2018-04-11 12:47] sleepypikachu commented on #723
I've since left the project that was working on this. I've handed this issue onto them but unfortunately I'm unable to provide the information you've requested.

[2018-04-12 21:06] stchar opened #746 "Allow jenkins pipeline to notify vary of gitlab repositories."
## Feature Request
Let user to notify any gitlab project on any gitlab instance right from the pipeline.

This is useful when you're automating a system test so you can get/create build artifacts from different sub-systems (client, server, test-automation-harness, simulators which are stored in different repositories) and then orchestrate them in a one pipeline. We usually create branches with the

[2018-04-13 03:23] Rukeith commented on #605
I still got this issue.

[2018-04-16 14:46] isurugiu commented on #745
I have experienced the same issue but I think job-dsl guys could take this one.

[2018-04-16 15:41] c5c86a commented on #745
at the following ticket they told me to open it here.

https://issues.jenkins-ci.org/browse/JENKINS-50654

On Mon, Apr 16, 2018, 5:46 PM isurugiu <notifications@github.com> wrote:

[2018-04-17 08:35] wilk opened #750 "Different types of Merge Request defined in gitlabActionType"
## Issue

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.6.4 CE
- **Jenkins version**: 2.89.4
- **Job type**: Pipeline

### Logs & Traces

Merge Request -> env.gitlabActionType = MERGE
Accept Merge Request -> env.gitlabActionType = MERGE

### Problem description

Merge Requests trigger a new build on Jenkins pipeline but the environment variable `gitlabActionType` is alway

[2018-04-17 08:47] wilk commented on #750
Sorry, didn't see the `gitlabMergeRequestState` (opened | merged).
I'm closing it.

[2018-04-17 08:47] #750 closed, assigned to nobody

[2018-04-17 16:42] joesus commented on #734
Other than polling are there any workarounds people are using? Also, thanks for taking the time to sort this out. 🥇

[2018-04-17 17:35] sebastienbonami opened #751 "Source Branch Regex"
With this plugin, we can filter branches by regex using the "Target Branch Regex" option, but there's no "Source Branch Regex" option. Is there a special reason for that?

I'm currently looking at the code and I will try to implement a "Source Branch Regex" option since I need it for my use case.

[2018-04-17 18:29] ilushka85 opened #752 "Gitlab MergeRequestHook - ObjectAttributes - Action is Null"
## Issue
Gitlab MergeRequestHook - ObjectAttributes - Action is Null and enum does not support reopen action.
### Problem description
Integrating the plugin in another tool the conversion from json to enum is wrong in the gitlab plugin code.  Because of this the enum ends up being null instead of a proper value.

[2018-04-18 00:50] omehegan commented on #730
FYI GitLab is tracking this on their side at https://gitlab.com/gitlab-org/gitlab-ce/issues/44480.

[2018-04-18 08:23] deepy commented on #556
Alright, so the pull request is now ready to be merged.

[2018-04-18 18:34] prawen opened #753 "gitlab doesnt trigger build on jenkins"
## Issue

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: gitlab.com
- **Jenkins version**: 2.107.2
- **Job type**: Freestyle

### Logs & Traces

No logs are recorded in this case

### Problem description

Hello, I'm facing issue with gitlab webhook. I have a webhook which triggers job on jenkins upon a specific comment on merge request page on gitlab. It used to work fine til

[2018-04-19 01:51] danibram commented on #753
same here

[2018-04-19 06:33] prawen commented on #753
Now it has started working all of a sudden. May I know what is happening?

[2018-04-19 14:27] Eduard3000 commented on #723
Hello
@omehegan sorry, to drop in, but where does it say in
https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#pipeline-events
sourceProjectId is a supplied field?

Yes Merge-Request has that, Pipeline has project.id!?

I would like that feature also to work, have post pipeline job to do, would be nice if somebody could have a look!?

Oh and when you start, why only on sucess? I wo

[2018-04-19 18:08] benzman81 commented on #636
Same problem here. Revert to 1.5.2 helped to work aroung this.

[2018-04-20 07:13] omehegan commented on #753
Sounds like an issue with gitlab.com not sending the webhook data to your Jenkins. If nothing is logged by the plugin at all, then the issue is on their end. The plugin is not supported by GitLab Inc.

[2018-04-20 07:13] #753 closed, assigned to nobody

[2018-04-20 07:14] danibram commented on #753
Yes, sorry for that, but sometimes not work for us and sometimes yes, should be the internet connection. Makes more sense.
Thank you for your time

[2018-04-20 20:58] sathomps opened #755 "Environment Variables are null"
## Issue

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 10.0.3 CE
- **Jenkins version**: 2.117
- **Job type**: Pipeline

### Logs & Traces
Retrieving gitlab project ids
Apr 20, 2018 3:11:33 PM INFO com.dabsquared.gitlabjenkins.util.CommitStatusUpdater retrieveGitlabProjectIds
Build does not contain build data.

### Problem description

I'm trying to get a Pipeline job setup

[2018-04-23 01:15] omehegan commented on #755
You have your trigger set up incorrectly, you're bypassing the plugin completely. You need to check "Build when a change is pushed to GitLab" in your build configuration. Otherwise none of the variables will be set. Also, in Pipeline jobs, you always need to reference the variables in the env map, e.g. env. gitlabTargetBranch rather than just gitlabTargetBranch. See https://github.com/jenkinsci/gi

[2018-04-23 01:15] #755 closed, assigned to nobody

[2018-04-23 09:15] latel opened #756 "error, webhook returns 404"
gitlab webhook pushes receive 404 with the address given by gitlab-plugin.

## Issue

### Context
- **Gitlab plugin version**: 1.29.0
- **Gitlab version**: 3.0
- **Jenkins version**: 2.117
- **Job type**: Pipeline

### Logs & Traces

gitlab plugin log
[code]

### Problem description

**gitlab plugin gives me the following webhook address**
Build when a change is pushed to GitLab. GitLab webhook UR

[2018-04-23 09:17] latel commented on #756
![image](https://user-images.githubusercontent.com/5621862/39117669-1811e9f6-471a-11e8-8e54-2c52d19dda19.png)

as you see, I didn't have the token checked

[2018-04-23 15:52] #756 closed, assigned to nobody

[2018-04-23 16:02] latel opened #757 "ERROR: No repository url found with tag push"
### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 3.0.0
- **Jenkins version**: 2.117
- **Job type**: Pipeline, Freestyle

### Logs & Traces

[code]

### Problem description

- checking gitlab webhook with push event and tag push event
- expect both event to trigger job
- push event works alright, tag push throw out error, job is not triggered

additional with pipeline file:

[co

[2018-04-27 06:45] prawen commented on #368
Hello,

Facing same issue.

Gitlab Hook Plugin - 1.4.2

GitLab Plugin - 1.5.5

Jenkins - 2.107.2

openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-8u162-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.162-b12, mixed mode)

12:36:21 Failed to add comment on Merge Request for project '4886184': RESTEASY004655: Unable to invoke request
12:36:31 Failed to update Gi

[2018-04-27 07:01] pseudorand-1 commented on #631
Hi Alain-

  Don't think the sshkey solution would work for some multi-tenant configs.

Re: the below, if the job triggers the plugin, the job being an instance in a folder would allow us to interrogate the Folder credentials I'd think.  Then we'd just have to populate the credentials dropdown or check cred IDs for pipeline.

If you want jobs to be able to override credentials then you'd go with s

[2018-04-29 21:16] DJViking commented on #499
What is the status of GitLab Branch Source and its merging into the GitLab Plugin?

It is my understanding that it will work much like the GitHub Branch Source. Would it also support sending build status back to GitLab, so that a merge request will show if its build has passed or not.

[2018-04-30 15:30] onlynone commented on #636
I just ran into this from (I think) a slightly different angle. I opened a new merge request, jenkins gitlab plugin received the webhook just fine and built the project. I then closed that merge request and later opened up a new one with the same source branch. The webhook was fired, but the plugin didn't trigger a build with the following message: `Last commit in Merge Request has already been bu

[2018-04-30 21:02] ElijahLynn commented on #356
I don't see the documentation updated for this here https://github.com/jenkinsci/gitlab-plugin/blob/master/README.md. Is that the right location to expect documentation for this and am I missing it?

[2018-04-30 21:18] ElijahLynn commented on #356
@omorillo ^^

[2018-05-01 04:06] ElijahLynn commented on #356
K, I got it working with "Prepare an environment for the run", checked "Keep Jenkins Environment Variables", "Keep Jenkins Build Variables" and "Override Build Parameters" where the last one was key to getting it working.

Jenkins 2.114
gitlab-plugin 1.5.5

[code]

![image](https://user-images.githubusercontent.com/1504756/39460648-21a9ccc2-4cd3-11e8-8cbd-186d7e98e689.png)

[2018-05-01 08:34] john-forrest commented on #716
I am going to close this although the issue is still there. Not really in a position to deal with the request - it is outside my area and unfortunately don't have the time to deal with it :(

[2018-05-02 03:19] omehegan commented on #356
@ElijahLynn the documentation never got updated for this, so thanks for your solution. I will use it as the basis for that update. Just to clarify, in your example, does your job have two parameters defined, named SourceBranch and TargetBranch? Or how are you using the map that you created?

[2018-05-02 03:27] omehegan commented on #368
@prawen GitLab Hook Plugin is irrelevant to me, it provides similar features to GitLab Plugin but is otherwise unrelated and I don't maintain it.

What version of GitLab are you using?

I would suggest you look at the logs on your GitLab server when a build attempts to comment on an MR. It looks like GitLab is having a problem processing the request.

[2018-05-02 04:43] prawen commented on #368
Hello,

We are on gitlab.com and now a days gitlab.com is facing some issue. May be because of that it seems.

Anywayz, thanks for your response.

[2018-05-02 05:56] ElijahLynn commented on #356
Yes, it does have two parameters defined, and technically they should probably be the proper case which is `sourceBranch` and `targetBranch`. One downfall of this approach is that when a build is queued and we hover over to see the incoming parameters they are the defaults set in Jenkins, not the incoming source/target branch that GitLab is sending us. So I still need to figure out a solution to t

[2018-05-02 17:13] rnhurt commented on #691
@omehegan I just installed your patched version and it seems to work fine for non-multipipeline projects that don't have a ".git" at the end of the repository URL.

However, I'm having trouble with my multipipeline Gitlab URL that contains `git@localhost:/.git` and is considered malformed by this plugin.  Using this URL (`git@api-key-goes-here:user/jenkins-test.git`) causes this plugin to fail on

[2018-05-03 22:38] NFollett89 opened #761 "Doc Update Request: Declarative Pipeline, Triggering from Webhooks"
## Issue

### Context
- **Gitlab plugin version**: Any
- **Gitlab version**: Unknown
- **Jenkins version**: 2.107.2
- **Job type**: Declarative Pipeline

### Logs & Traces

N/A

### Problem description

Earlier today I was having trouble getting my declarative pipeline to trigger using the README documentation.  If I configured my job manually to listen for a webhook from GitLab it would trigger o

[2018-05-07 13:06] mreichel commented on #723
@Eduard3000 we map the project.id to the sourceProjectId. Which worked fine, but there is some change in the plugin that broke the feature and I unfortunately can't work on it. The feature was build as a feature request that is why builds only on success.

[2018-05-07 13:30] Eduard3000 commented on #723
@mreichel I wrote my own webhook handler using nodejs&npm's
node-gitlab-webhook and jenkins client to trigger other jobs with my own rules,
sending "spam" with nodemailer
and custom js to notify MS teams channels.

But thanks for the effort, the working stuff goes well with this plugin :+1: :100:

[2018-05-07 20:35] ElijahLynn opened #763 "2 builds triggered on MR push (of 2 commits)"
### Before submitting an issue I have first:

- [x] read the documentation on the [homepage](https://github.com/jenkinsci/gitlab-plugin)
- [x] searched for similar already existing issue

## Issue
Push 2 new commits to previously opened MR, Jenkin's gitlab-plugin, triggers 2 builds, expecting only 1. No other triggers are enabled for this job. It feels like the previous GitLab Merge Request Builde

[2018-05-07 20:40] ElijahLynn commented on #763
Hrm, I see in the GitLab Integrations > Recent Deliveries (clicked edit on webhook).
https://example.com/example/example/hooks/77/edit that GitLab made 2 deliveries on that one, so that isn't on gitlab-plugin in this case.

[2018-05-07 20:40] #763 closed, assigned to nobody

[2018-05-09 03:48] torquemad commented on #605
I'm experiencing this issue, but without the text 'none' displaying in the dropdown

[2018-05-10 09:15] wl2776 opened #764 "Misleading message "No Gitlab connection configured""
## Issue

Job console logs contain messages "No Gitlab connection configured", while build statuses are successfully reported.

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 10.7.3
- **Jenkins version**: 2.107.2
- **Job type**: Matrix Job/

### Problem description

I've got a matrix job, that is triggered by the Gitlab plugin through webhooks.

Job configuration contains con

[2018-05-10 16:42] lunim opened #765 "Trigger options reset to default after build start"
## Issue

After a pipeline build is triggered, all GitLab trigger options get reset to default.  For example, we unchecked the 'Push Events' option, and set 'Comment (regex) for triggering a build'.  Once a build is triggered, going back to the config shows these settings as reverted.

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 10.5.4-ee
- **Jenkins version**: 2.89.2
- **

[2018-05-11 16:54] #765 closed, assigned to nobody

[2018-05-11 17:13] tamasgal commented on #713
The same happens for me. The build is marked as unstable in Jenkins but every stage is green in Gitlab. For me also the JUnit test is the one which marks the build as unstable, when one or more tests are failing.

Is there a workaround or update for this?

[2018-05-14 21:37] Andrewpk commented on #533
@omehegan was on 10.6 something, just updated to 10.7.2 and still having the issue. `/project/myJob_name` is still 404'ing with "not found" as the only descriptor.

[2018-05-16 13:09] MaffooBristol commented on #711
Thanks! Can confirm that this has been fixed once I upgraded to 1.5.5 👍

[2018-05-17 08:06] alllexandrz opened #766 "Webhooks from gitlab to Jenkins are failed"
Pipeline catch events like opening a merge request and push updates to the master branch etc. As a result, I note the unstable launch of the job in Jenkins. Pipeline runs a certain number of times and  failed. All next webhooks are not processed, pipeline doesn't start and doesn't appear in Jenkin's job list. I can also note If I delete the last failed job hooks are work again until the next failu

[2018-05-22 14:02] klaussilveira opened #768 "Build status notification times out"
## Issue

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: Cloud
- **Jenkins version**: 2.122
- **Job type**: Pipeline
- **JVM**: 1.8.0_171-b11

### Logs & Traces

    Failed to update Gitlab commit status for project 'foobar'
    java.net.SocketTimeoutException: Read timed out
        at java.net.SocketInputStream.socketRead0(Native Method)
        at java.net.SocketInputStrea

[2018-05-22 14:14] disfluxly opened #769 "GitLab Commit Comment"
Hello,

I'm curious what the current stance is on adding a function that would add a comment to a commit.

Currently I'm using this plugin to provide ephemeral CI results on Merge Requests to provide our Merge Acceptors with faster/better feedback. I'd also like to integrate this with my pipeline that stores permanent CI results. This pipeline is run on each of our releasable branches on every pus

[2018-05-22 18:22] Hartorn commented on #477
@omehegan Any news on that ? I seem to have the same problem.
SSH is not activated, so I cannot switch to ssh URL.

[2018-05-24 16:44] breisig commented on #751
This feature is greatly needed. Hope it gets included before the next release.

[2018-05-25 19:37] omehegan commented on #356
Fixed in the current version of the README.

[2018-05-25 19:37] #356 closed, assigned to omorillo

[2018-05-25 22:01] omehegan commented on #768
It's easy for them to say it might be the plugin, but it's clearly a network connection timing out. Whether that's your network or theirs I can't say, but I think it's doubtful this is a bug.

[2018-05-25 22:01] #768 closed, assigned to nobody

[2018-05-25 22:11] #761 closed, assigned to nobody

[2018-05-26 02:16] omehegan commented on #757
You wrote that you are using GitLab version 3.0.0, that's very old. Are you sure that is correct?

[2018-05-26 02:27] omehegan commented on #757
I see that the tag_push JSON in your log does not include a repository['url'] field, but the push JSON does. This appears to be the cause of the issue. According to the current GitLab doc, the url field should be present. I am guessing if you upgraded GitLab it would solve this issue. See https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#tag-events

[2018-05-26 02:30] omehegan commented on #769
I would have no problem adding this feature, but someone else will have to write the code and submit a PR :)

[2018-05-26 02:44] omehegan commented on #715
The example JSON you included above is from a comment event, not a merge request event. That is probably why it doesn't populate the gitlabeMergedByUser variable. You may want to change your webhook config in GitLab to not send comment events.

[2018-05-26 02:55] omehegan commented on #764
I have a feeling that this is due to the fact that you are using Matrix jobs. That job type works differently from most others, and sometimes there is some repetition of things that only happen once in other job types. I think you can safely ignore this.

@evgeni IIRC you wrote the code to add Matrix job support, any chance you could take a look at this?

[2018-05-26 02:58] omehegan commented on #691
@rnhurt I'm slightly confused - are you saying that the patched plugin works except for with multibranch jobs? But then you say @mabrowning's solution works?

[2018-05-26 03:05] omehegan commented on #533
@Andrewpk if you get a 404, either you don't have the plugin configured for your job, or something between Jenkins and GitLab is filtering and mangling the requests. Because GitLab POSTing to /project/jobname is the only way this plugin triggers builds. If this didn't work, it would not work for anyone who uses it.

[2018-05-26 03:14] omehegan commented on #766
Can you share your Pipeline code? I wonder if something strange is happening with the {} chars. This does not really look like a plugin bug.

[2018-05-26 04:13] rnhurt commented on #691
Yes, the patched plugin works except for multibranch jobs.  I was unable to fully test @mabrowning's solution but it seemed to be the correct RegEx.

[2018-05-26 14:58] omehegan commented on #691
@rnhurt the patched version just includes @mabrowning's suggested change. Did the patched version break anything that was working? Or just not completely fix the issue? I'll have to look at what would be different in multibranch jobs.

[2018-05-26 15:06] #691 closed, assigned to nobody

[2018-05-26 15:12] omehegan commented on #462
I believe this was fixed with a regex update. Please see #691 for updates when this is released (hopefully later today).

[2018-05-26 15:12] #462 closed, assigned to nobody

[2018-05-26 16:56] #454 closed, assigned to nobody

[2018-05-26 17:25] omehegan commented on #691
This fix was released in version 1.5.6 of the plugin.

[2018-05-26 19:15] rnhurt commented on #691
@omehegan, the patched version did not break anything that I'm aware of.  It just didn't fix my issue that I was having with multibranch jobs.

Thank you.  :smile:

[2018-05-27 15:26] latel commented on #757
@omehegan yeah you are right, we are using a gitlab compatible system,   which should fix this.

[2018-05-27 15:26] #757 closed, assigned to nobody

[2018-05-28 03:44] linzhenan commented on #607
I need this feature as well. If I cancel a build job in GitLab, the icon will be "cancelled". But the job in Jenkins  is still running (or pending if there is a previous job running). After all queued jobs done, the icons in GitLab may be in wrong status.

[2018-05-28 06:37] ayashjorden opened #770 "Configuring triggerOnAcceptedMergeRequest webhook only doesn't work"
## Issue

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: GitLab Enterprise Edition 10.5.6-ee 9a19fbe
- **Jenkins version**: 2.73.3
- **Job type**: Pipeline

### Logs & Traces

## Jenkins Gitlab webhook log (level=all)
[code]
### Problem description
- what were you doing (simple push, merge request, MR with fork, ...)
I've created a webhook trigger in a test project for **acce

[2018-05-28 08:10] ayashjorden commented on #770
Another update:
Moved the webhook to the group level.

Configured the 'JOB_NAME' job to trigger on *all* events:
![gitlab trigger config](https://user-images.githubusercontent.com/4204371/40604208-0786d55c-6267-11e8-895e-e71f29c6b93c.png)

Created MR in Gitlab - successfully triggered Jenkins Job with '"action" :
"open"'.
Merged the MR - the webhook calls the Jenkins API, but the 'tag_on_merge' jo

[2018-05-28 08:22] ayashjorden commented on #770
This may be related to #762
Tried to enable the Jenkins trigger to also on approve events, it did trigger on approval of the MR but not on the `"action" : "merge"` event. 😠

[2018-05-28 08:25] ayashjorden commented on #734
Same issue as reported in #770

[2018-05-29 00:39] ElijahLynn commented on #356
Thanks.

aa8c1011b88d5b33c0f689b6ce257257b58acfaa

[2018-05-29 00:49] omehegan commented on #770
@ayashjorden thanks for the additional logging details you provided, but I think you are right that this bug was documented in #734 and we have a fix in #762 which just needs to be merged (I am waiting on the author to resolve the merge conflicts). If you agree, please close this issue. Thanks!

[2018-05-29 00:57] omehegan commented on #691
@rnhurt if you think that issue is separate, could you open a new bug for it?

[2018-05-29 01:03] omehegan commented on #713
@tamasgal can you share the Pipeline code you are using in this case? Also, if this is a regular Pipeline job, is 'Mark unstable builds as success' checked or unchecked?

[2018-05-29 04:20] ayashjorden commented on #770
Hi @omehegan,
My workaround is to trigger in every push (to master in my case) and in the Jenkins Job check if it's a merge commit and implement the logic needed (git tagging in my case)

Let's spread this idea, comments are welcome :thumbup;

[2018-05-29 04:20] #770 closed, assigned to nobody

[2018-05-29 06:22] alllexandrz commented on #766
like this:

[code]

[2018-05-29 11:18] tamasgal commented on #713
Uhm, I am now using XUnit, which I configured to mark the build as failed, instead of unstable...

[2018-05-29 11:19] tamasgal commented on #713
This was the Jenkinsfile as far as I remember: http://git.km3net.de/km3py/km3pipe/blob/239866f2bf63bc9aea2fdcf693507ddea2d82288/Jenkinsfile

[2018-05-30 13:44] ilanni2460 commented on #734
I have the same problem,but gitlab plugin 1.5.3 does work, I confirmed reverting to that works today.
gitlab version 10.8.1
jenkins version 2.125

[2018-05-31 15:05] sancelot opened #771 "pipeline view display stages twice"
### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: 10.5.3
- **Jenkins version**: 2.107.3
- **Job type**: Pipeline

### Problem description
When a jenkins pileine job has been or is running , the pipeline stages status are displayed twice.
![screenshot](https://user-images.githubusercontent.com/122811/40790407-24f03abc-64f5-11e8-87ad-cbbdf7d94b99.JPG)

[Jenkinsfile](https://github

[2018-06-04 03:28] Haitianisgood opened #773 "Plugin does not trigger build"
ENV:
 gitlab 8.13.0
 gitlab plugin 1.5.6
 jenkins: 2.107.3

I config all it need.when send a  Merge Request,and jenkins have accepted this request,but not build!

jenkins log:
[code]
but it is worked when I changed plugin to 1.4.3(I hava other jenkins of useing 1.4.3)

[2018-06-04 08:44] mmehra commented on #705
Is there a workaround for this? Both "Never" and "Push to Source Branch" options for "Rebuild Open Merge Requests" do not work.

[2018-06-05 15:37] sebastienbonami commented on #715
@omehegan You're right, *gitlabMergedByUser* seems to be only absent when it's a comment event. However, I want to use comment events to retry builds.

My question remains: Is *gitlabMergedByUser* supposed to be the author of the MR? If so, it should be renamed to *gitlabMergeRequestAuthor* and I don't see why it's not set for comment events.

Thanks.

[2018-06-05 15:44] sebastienbonami commented on #181
Well... this feature is now present on GitLab's side so I don't need this anymore.

[2018-06-05 15:44] #181 closed, assigned to omorillo

[2018-06-06 07:31] damiendurant opened #775 "Rebuild job on Target push"
## Issue

### Context
- **Gitlab version**: 10.7
- **Jenkins version**: 2.89.3
- **Job type**: Pipeline

### Problem description

Hi,

I have configured a gitlab webhook on Merge Request event. On the corresponding jenkins job configuration I have set : rebuild job on push on source and target branch.

The job is triggered when the MergeRequest is openned, when a commit is done on the source branc

[2018-06-06 09:07] stchar commented on #773
@omehegan, how do you decide what version of Jenkins and other plugins to support?

[2018-06-06 23:47] karlskewes commented on #773
We are not using merge requests but the webhook is trigger builds for us on commits.

[2018-06-07 14:47] NathanHazout opened #776 "Retesting MRs when one is merged"
## Issue
Let's say you have 2 open Merge Requests. Both passed jenkins tests.
You merge them both, one after the other.

However, the resulting merge is actually in failing state. Jenkins ran on both of those MRs before the other was merged.

Is this expected behavior?
Can accepting a MR somehow invalidate the state of all the other MRs until jenkins runs again?

### Context
- **Gitlab plugin vers

[2018-06-07 15:23] dblessing commented on #776
This isn’t really something Jenkins can handle with GitLab. If you want to
enforce this you can change to fast-forward or semi-linear merge strategy
which will require a rebase on master prior to merge. This would ensure
your tests are passing using latest master. Without this strategy you will
have to manually rebase against master and push again to get tests to run
again.

GitLab are exploring a

[2018-06-07 18:55] rmstyrczula commented on #773
@longquangao That is different issue, with GitLab's settings.

Go to `YOUR_GITLAB_URL/admin/application_settings`, scroll down to `Outbound Requests` and enable `Allow requests to the local network from hooks and services`

----

As an aside, things work fine for me:
gitlab  10.8.3
gitlab plugin 1.5.6
jenkins 2.107.3

It is likely gitlab 8.13 being unsupported, not jenkins.

[2018-06-08 10:16] Jezza opened #777 "Gitlab can't send POST request to Jenkins - 401"
## Issue

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: Community Edition 10.8.4
- **Jenkins version**: 2.107.3
- **Job type**: Freestyle

### Logs & Traces

Nothing appears in jenkins, but I do get this in gitlab:
[code]

### Problem description

I followed the instructions at https://github.com/jenkinsci/gitlab-plugin#gitlab-to-jenkins-authentication
I've disabled auth, us

[2018-06-08 10:52] robphoenix opened #778 "Failed builds not updating Gitlab"
## Issue

The Jenkins build status is not updating Gitlab on failure. I haven't got the webhook working yet, network connection issues currently being dealt with, so am triggering builds manually. Jenkins updates Gitlab fine with a pending status, and on a successful build, but on failure the log states:

[code]

I did wonder if it has something to do with the error - `Failed to update Gitlab comm

[2018-06-08 11:02] yogurtnaturalny commented on #777
Hi

We have same problem with GitLab 10.8 and Jenkins Jenkins ver. 2.107.3 and plugin 1.5.6

[2018-06-08 11:04] abouquet commented on #741
Hi, @hervedevos, can you explain me what you did in nginx ? I guess i got the same issue as you

[2018-06-08 14:09] Jezza commented on #777
I found the issue.
It was entirely our network.
The admins had put in a rule in the http configuration, that required a user be authenticated before being able to access it.
We fixed this just by whitelisting the gitlab server.

[2018-06-09 08:45] haminhcong opened #779 "Jenkins doesn't trigger enough merge request builds"
## Issue

Hi everyone. Today, t had a issue when use merge request build.
Can you help me resolve this issue? Thankyou very much.

### Context
- **Gitlab plugin version**: 1.5.3
- **Gitlab version**: 10.7.0
- **Jenkins version**: 1.609.3
- **Job type**: Pipeline
### Problem description

My gitlab project has 3 branches: **master**, **bug2** and **bug3**. After push commit to **bug2** branch, i cre

[2018-06-09 13:17] troizky opened #780 "Doesn't work with GitLab API v4"
## Issue
API V3 was unsupported from GitLab 9.5, released on August 22, 2017. API v3 was removed in GitLab 11.0. (See here: https://docs.gitlab.com/ce/api/v3_to_v4.html)

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: 11.0.0
- **Jenkins version**: 2.107.3
- **Job type**: Freestyle

### Logs & Traces
java.lang.Error: java.io.FileNotFoundException: https://gitlab.com/api/v3/pro

[2018-06-10 07:14] NathanHazout commented on #776
Thanks

"change to fast-forward or semi-linear merge strategy"

Do you have documentation on this?

Are you saying it will automatically rebase? Or are you saying it will prevent merges to be approved unless it's up to date to master?

[2018-06-10 09:23] niksw7 commented on #605
I guess it's It's not fixed yet. @stephenc has commented on below thread for the right way to fix this
https://github.com/jenkinsci/git-plugin/pull/527
Also the gitlab does not support api token.(Not sure what's the status currently)
https://issues.jenkins-ci.org/browse/JENKINS-36863?focusedCommentId=310260&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-310260

[2018-06-11 08:31] hervedevos commented on #741
@abouquet At first I followed this topic that allows to dynamicaly resolve DNS records : https://tenzer.dk/nginx-with-dynamic-upstreams/
Problem of this approach is that I was using nginx rewrite rule, and nginx rewrite rule unencode URL. therefore i removed it. I no longer have dynamic upstream DNS resolving, but at least its not impacting Gitlab API

[2018-06-11 08:53] oleo65 opened #781 "gitlabCommitStatus fails with null exception"
## Issue
We are using a multibranch pipeline via JENKINSFILE to be triggered by Gitlab and to report the build status of the various stages to Gitlab.

This was all working properly until the last updates of plugins were fetched. I am not quite sure if the problem we encounter is a bug with your plugin or a different dependant plugin. I attached the relevant part of the Build log and snippets from

[2018-06-11 13:57] john-forrest commented on #716
I'm going to re-open this as the issue has unfortunately become a problem for us.

I've been doing some some digging and I noticed this issue on subversion which sounded similar: https://issues.jenkins-ci.org/browse/JENKINS-18534

I think the potential issue is that the reponame (the target repo name?) has to be setup in the "equals" statement. I notice that project and projectId appear in the equ

[2018-06-12 11:23] oleo65 commented on #781
Ok. Follow up notice.

We got this fixed by explicitely stating the parameter for gitlabCommitStatus:

`gitlabCommitStatus('Test')` changing to `gitlabCommitStatus(name: 'Test')`

Maybe there should be a note in the documentation about this change in the behaviour.

[2018-06-12 13:41] philmosquera commented on #734
Can confirm that on version 1.5.6 merge request webhooks are not working for me. Reverting back to 1.5.3 seems to do the trick.
Gitlab version:  10.7.1
jenkins: 2.89.2

[2018-06-13 11:08] dweggemans commented on #704
Any workaround available? I really need this

[2018-06-14 10:44] troizky commented on #780
My mistake. It was another plugin.

[2018-06-14 10:44] #780 closed, assigned to nobody

[2018-06-16 12:40] prawen opened #782 "Gitlab pipeline status showing success irrespective of build status"
## Issue : Gitlab pipeline status showing success irrespective of build status

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: GITLAB.COM
- **Jenkins version**: 2.121.1
- **Job type**: Pipeline

### Problem description

Hello,
I'm running pipeline on Jenkins. Build is failing which is okay. Build status is notified as a comment by gitlab plugin on merge request page and by sl

[2018-06-16 12:48] prawen commented on #782
BTW, I have Nginx in between Jenkins and Gitlab

[2018-06-18 18:29] alejandrovelez7 commented on #556
I'm getting similar behavior using this in a pipeline script.

    addGitLabMRComment comment: result == 'success' ? ':+1:' : ':-1:'

How can we accomplish thumbs down on the merge request?

[2018-06-18 18:44] alejandrovelez7 commented on #782
I think you are missing one final call to gitlabCommitStatus like ...

    updateGitlabCommitStatus name: 'build', state: 'success'
or

    updateGitlabCommitStatus name: 'build', state: 'failed'

[2018-06-18 19:01] deepy commented on #556
If I'm reading `src/main/java/com/dabsquared/gitlabjenkins/workflow/` right then it seems like we'll need an additional step for the 'add emoji/vote'. So maybe this should go into a separate issue.

In your specific case however, keep in mind that if your script runs twice on the same GitLabMR it could potentially add both a `thumbsup` and a `thumbsdown`.

[2018-06-18 19:12] alejandrovelez7 commented on #556
That's a good point.

Also I thought it would be similar to Github's approval, I guess it doesn't really matter for Gitlab CE as long as the team agrees on the 'approval' comment. Thanks!

[2018-06-18 19:14] deepy commented on #556
I guess if #748 gets merged we could extract that logic and use it for a `vote` step.

[2018-06-19 03:54] prawen commented on #782
But I have covered the entire stage block with gitlabBuilds as described in
https://github.com/jenkinsci/gitlab-plugin/blob/master/README.md
Do I still need to use updateGitlabCommitStatus ?

[2018-06-20 02:33] prawen commented on #782
Have tried updateGitlabCommitStatus and it did not work.

[2018-06-21 07:27] RyanYans commented on #354
I found that the WebhooksURL can not be "localhost" or "127.0.0.1", please find your IPv4 address.

[2018-06-21 07:29] RyanYans commented on #533
@matsch01 it done!Thanks!~

I found that the WebhooksURL can not be "localhost" or "127.0.0.1".
please find your IPv4 address.

[2018-06-22 15:20] MarcelNehring opened #783 "Possible to inform GitLab of pending job as soon as pipeline is triggered?"
## Issue

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: 10.8.4
- **Jenkins version**: 2.121.1
- **Job type**: Pipeline

### Problem description

This is a follow-up question to #420

If I put `gitlabCommitStatus` after the checkout this also means that informing GitLab about the pending Jenkins job is postponed until after the checkout. If the pipeline has to wait for a node

[2018-06-23 08:03] theirix opened #784 "Failed status is not set when failed in a post section"
##### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: 10.8.3
- **Jenkins version**: 2.121.1
- **Job type**: Multibranch Pipeline

### Logs & Traces

Pipeline log excerpt:
[code]

### Problem description

Steps:
- make a pipeline (see excerpt) with a post section that can fail
- run a build for the commit
- see the build is failed in Jenkins
- see the commit is succeeded in GitLab

[2018-06-25 10:56] azerbe opened #785 "Defined Parameters not set/empty"
## Issue

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: 11.0.0-ee
- **Jenkins version**: 2.121.1 (jenkinsci/blueocean docker)
- **Job type**: Freestyle
- **Environment Injector Plugin version**: 2.1.5

### Logs & Traces
**injectedEnvVars.txt** (from EnvInject Plugin)
[code]

**JenkinsJob config.xml**
[code]

**Jenkins Plugin-Log** (after creating a new merge request)
[code]

[2018-06-25 12:11] azerbe commented on #785
Sidenote: If I remove the parameters from the jenkinsjob (not the EnvPlugin) and keep it parameterized, the build also works.

So at some place the submitted environment variables are getting replaced by the empty ones, defined in the jenkins-job.

[2018-06-25 15:19] lmzhangucsd opened #787 "multibranch pipeline credentials setting"
In the Jenkins UI, when I select configure and add source from git, I can't choose the credentials(gitlab API token) that I configured previously in global Jenkins settings.

gitlab version: 9.4.7-ee
gitlab plugin version: 1.5.6

[2018-06-26 08:55] rozhok commented on #787
Same for me, but for GitLab Enterprise Edition 11.0.1-ee, Jenkins 2.128.

This blocks plugin usage.

[2018-06-26 09:54] semos commented on #783
You don't have to wait if your jenkinsfile is in same repo from the one that contains your code, as Jenkins already checked out and knows about the revision.

See https://github.com/jenkinsci/gitlab-plugin#scripted-pipeline-jobs
`NOTE: If you use Pipeline global libraries, or if you clone your project's Jenkinsfile from a repo different from the one that contains the relevant source code, you need

[2018-06-26 10:05] gauravsrivastav commented on #484
###  **`ERROR: Timeout after 10 minutes
ERROR: Error cloning remote repo 'origin'
hudson.plugins.git.GitException: Command "git.exe fetch --tags --progress
returned status code -1:
stdout:
stderr:
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandIn(CliGitAPIImpl.java: 1903)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandWithCredentials(CliGitAPIImpl.java:1622)
	at org

[2018-06-26 13:06] MarcelNehring commented on #783
OK, thank you. Looks like I did not understand that paragraph correctly.
It takes several seconds for the `gitlabBuilds` step to become visible in GitLab.  I was just to impatient when I tried it. It indeed works. 👍

--EDIT--
For future reference: My problem was that I put the `gitlabBuilds` command inside the `node` step. Thus GitLab was informed of the pending pipeline not before a node became a

[2018-06-26 13:06] #783 closed, assigned to nobody

[2018-06-27 08:41] WoodenDoors commented on #721
I just ran into the same thing and also saw that there currently is an open pull request, that looks like it might fix this for scripted pipelines, which can use `updateGitlabCommitStatus` ( #786 ).

[2018-06-28 02:17] omehegan commented on #556
Since I haven't been able to get anyone else to review the PR, I built a snapshot with this change: http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.6-SNAPSHOT/gitlab-plugin-1.5.6-20180628.021351-4.hpi  Can you guys test this on your systems and let me know if you find any issues? If not I will merge.

[2018-06-28 02:52] omehegan commented on #721
@WoodenDoors yes, I have just merged that, I will try to release it this week.

[2018-06-28 03:05] omehegan commented on #716
@john-forrest I asked some questions in https://github.com/jenkinsci/gitlab-plugin/issues/716#issuecomment-375194866 which you haven't answered. As a general rule this plugin should trigger a new build for each hook request it gets from GitLab. If those triggered builds get combined/collapsed together, it is most likely that Jenkins is doing this because it regards them as identical. I need to see

[2018-06-28 04:02] omehegan commented on #785
@azerbe can you share the envinject code you are using to set the variables? Also, in your "sidenote" comment, I don't understand what you mean when you say you remove the parameters and keep it parameterized.

[2018-06-28 04:04] omehegan commented on #778
Could be a bug. Please enable the debug logging as described in the User Support section of the README, and then attach the relevant logs when you have a failing build.

[2018-06-28 04:09] omehegan commented on #784
I think this may be by design. The point of the 'post' section is that these steps are not related to the build and test of your code. Indeed, if archiving your junit artifacts or emailing someone fails, why would you want that surfaced in GitLab? I think if you want that to be captured by the gitlabCommitStatus option, you should move those into the build stages.

[2018-06-28 04:21] omehegan commented on #777
@yogurtnaturalny this would have to be a problem with auth between Jenkins and GitLab. If you have followed the steps in https://github.com/jenkinsci/gitlab-plugin#gitlab-to-jenkins-authentication then I would suggest you look for other factors, e.g. what happened with @Jezza.

[2018-06-28 04:21] #777 closed, assigned to nobody

[2018-06-28 04:38] omehegan commented on #782
@prawen can you enable the debug logging described in the User Support section of the README and attach the logs from when you observe this behavior? You can also look at the Pipeline Steps view of the build after it is done, to see at what point Jenkins sends the build status to GitLab. I'm guessing this is happening at a point when the build status is still successful. I think this must be a mis

[2018-06-28 04:46] omehegan commented on #773
@stchar I don't really make any decisions about versions of Jenkins etc. to support. It isn't normally a concern. What I do care about is that we support the current and previous major releases of GitLab. So GitLab 11.0 has just come out, my main concern will be that we keep supporting 10.0 and 11.0, and if there are problems with 9.0 we might decide not to fix them.

[2018-06-28 04:47] omehegan commented on #773
@Haitianisgood please follow the instructions in the User Support section of the README to increase debug logging for the plugin, and then attach those logs after you reproduce this issue. It should tell us why the build was not triggered. Most likely you need a small change to your job config here.

[2018-06-28 04:59] omehegan commented on #354
@RyanYans that is caused by #730, you can change a setting in GitLab to fix it.

[2018-06-28 05:10] omehegan commented on #781
@oleo65 thanks for letting me know about this. I think maybe something changed in Pipeline, and you updated one of those plugins, which caused this to break. The workflow-cps-plugin classes that are referenced in the stack trace have not changed in 2+ years.

@abayer or @svanoort does this ring a bell for you: gitlabCommitStatus('Package Restore') has to be changed to gitlabCommitStatus(name: 'Pac

[2018-06-28 05:11] omehegan commented on #781
@oleo65 maybe you could check your Jenkins plugins directory and see which ones were upgraded recently. It might help narrow down what changed.

[2018-06-28 05:48] omehegan commented on #715
@sebastienbonami the code for this is a bit hard for me to decipher, but from what I can tell gitlabMergedByUser is set by the `username` value from the webhook, and that is described here: https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#merge-request-events  It is not clear to me whether the value of that is, as you said, actually the author of the MR, or the person who actuall

[2018-06-28 05:57] omehegan commented on #779
@haminhcong this is an interesting use case, it does sound like what you have set up should work the way you expect. Can you follow the instructions in the User Support section of the README to increase debug logging for the plugin, and then attach those logs after you reproduce this issue? It should show if Jenkins or the plugin decided not to trigger a build for one of the hooks it received.

[2018-06-28 06:05] omehegan commented on #787
It sounds like you are trying to configure your branch source for a Pipeline Multibranch job. Is that right? If so it makes no sense to use the GitLab API token as a credential. That token is only for sending build status back to GitLab when the job runs. You need to be using git user credentials which are set up to be able to clone a repo, i.e. an SSH key.

[2018-06-28 06:20] omehegan commented on #771
@sancelot hmm, this is interesting. I notice in your screenshot that 'Checkout sources' is also shown, yet you have not wrapped that in a `gitlabBuilds` or `gitlabCommitStatus` block. I wonder if every stage's status is being sent automatically... Not sure why that would be happening. Can you follow the instructions in the User Support section of the README to increase debug logging for the plugin

[2018-06-28 06:24] omehegan commented on #771
@sancelot also I wonder if you just don't need to use both gitlabBuilds and gitlabCommitStatus, even though that is what the doc says to do. You could try removing the gitlabCommitStatus parts and see...

[2018-06-28 06:39] omehegan commented on #783
@MarcelNehring glad you figured this out, and thanks for your comment about where gitlabBuilds can be used - I have updated the README to note this.

[2018-06-28 06:41] omehegan commented on #533
The issue with localhost not being accepted is due to a change in GitLab. See #730

[2018-06-28 06:48] omehegan commented on #775
Please follow the instructions in the User Support section of the README to increase debug logging for the plugin, and then attach those logs after you reproduce this issue.

[2018-06-28 06:48] omehegan commented on #775
Also what version of the plugin are you using?

[2018-06-28 06:50] oleo65 commented on #781
Thank you very much for your support, this is greatly appreciated. :-)

I tried to find out which plugins were updated which is not a straightforward task. The only place I somehow found information update the past (last) update procedure was in the `jenkins.err.log`. We updated all plugins on that day that were available for update:

I tried to sort the list by possible relevance...

- Git
- Step

[2018-06-28 06:53] omehegan commented on #776
@nasht00 I think https://docs.gitlab.com/ee/user/project/merge_requests/#semi-linear-history-merge-requests is what you would want. Please close this issue if you're all set.

@dblessing thanks for replying about this!

[2018-06-28 06:55] omehegan commented on #705
@mmehra can you show me your webhook configuration from GitLab? Have you set up hooks for both pushes and MRs, or just MRs? Please follow the instructions in the User Support section of the README to increase debug logging for the plugin, and then attach those logs after you reproduce this issue.

[2018-06-28 07:01] omehegan commented on #713
@tamasgal so now what you are seeing is that when XUnit marks the job as failed, the status in GitLab still shows as successful? Can you look at the Pipeline Steps log for a job that shows this issue, and see which step is failing? You should see the build status being sent at that point. If you follow the instructions in the User Support section of the README to increase debug logging for the plu

[2018-06-28 07:17] omehegan commented on #766
@alllexandrz I think possibly putting the variables in single quotes is breaking this. That would cause the variables to be read literally instead of their values being inserted.

[2018-06-28 07:20] azerbe commented on #785
Hello @omehegan ,

thanks for the response.

Following the Env-Variables:
[code]

Forget my comment about the parameterized configuration. I just left the checkmark for `This build is parameterized`, but Jenkins removes that if you don't have any parameters configured.

The base problem still remains. If I add two text parameters named `gitlabSouceBranch` and `gitlabTargetBranch` to the jenkins bu

[2018-06-28 07:25] omehegan commented on #785
I got the envinject code for this from @ElijahLynn in another issue, and added it to the README. Maybe he can help you out with this. Please let me know if it turns out I need to change something in the doc.

[2018-06-28 07:27] omehegan commented on #752
I don't understand what you are trying to do here. Can you please elaborate?

[2018-06-28 07:28] azerbe commented on #785
I don't think this code is wrong. I use it without the parameters set and it works. But I would like to be able to start a build by hand from time to time.
And I don't know how to debug the plugin to see, when the values are being overwritten.

[2018-06-28 07:30] omehegan commented on #745
The Job DSL maintainer is handling this in the Jira ticket you linked to. He can't reproduce the issue.

[2018-06-28 07:30] #745 closed, assigned to nobody

[2018-06-28 07:34] omehegan commented on #785
The whole point of that code was to allow you to do exactly what you are trying to do, so if it's not working we'll have to figure it out :) See https://github.com/jenkinsci/gitlab-plugin/issues/356#issuecomment-385594555

[2018-06-28 07:54] azerbe commented on #785
The question is, if i named the parameters wrong. @ElijahLynn called them `sourceBranch` instead of `gitlabSourceBranch` in his comment. I can check that later.

Just for clarification:

![image](https://user-images.githubusercontent.com/4478773/42020772-24507f02-7ab9-11e8-8867-84eae9e7a524.png)

[2018-06-28 08:19] robphoenix commented on #778
I haven't been able to reproduce this. I'm going to close for now, and re-open if the problem re-occurs.
Thanks @omehegan

[2018-06-28 08:19] #778 closed, assigned to nobody

[2018-06-28 08:27] rozhok commented on #787
Oops, seems that my issue is different, created separate one.
For this one @omehegan you're right, @rzhang-nevermore you should create GitLab Login/Password credentials for the fetching data from git.

[2018-06-28 08:33] theirix commented on #784
@omehegan, good point, it can be done in stages, I'll try to move it here.

But if Jenkins provides an ability for plugins to set build status in a post section, there can be a typical situation that a build fails while the stages succeded. Static Analysis plugins (warnings in particular) is a good example.

[2018-06-28 10:56] m9abbas commented on #715
@omehegan `gitlabMergedByUser` is the identifier of the user who accepted the merge request

[2018-06-28 15:40] john-forrest commented on #716
@omehegan Thanks for getting back. I am now 100% sure that the problem relates to the jobs not being seen as different by Jenkins, but I doubt it is Jenkins as opposed to the plugin. The combining occurs before the pipeline is run (one the pipeline does run, things are OK) so I doubt it is that. More likely, as I alluded to, it is the way the jobs are compared with "equals". This comparison needs

[2018-06-28 18:13] MarcelNehring commented on #783
Thank you @omehegan for your great work!

[2018-06-28 23:32] omehegan commented on #716
@john-forrest a five-year-old bug in a different plugin is really not much evidence that your issue is related to this plugin. AFAICT it's just a guess on your part without looking at this plugin's code to see how it works, right? Jenkins does have logic that is used in certain cases to skip builds that appear identical, and naturally the evaluation there would happen before the build was "started

[2018-06-28 23:42] omehegan commented on #784
@theirix have you looked at the plugin's documentation for Delcarative syntax? https://github.com/jenkinsci/gitlab-plugin#declarative-pipeline-jobs  It actually shows explicitly sending success and failure using `post` steps. That may be the solution you should use.

[2018-06-28 23:44] omehegan commented on #715
@m9abbas do you mean the user who clicked "Merge" in GitLab?

[2018-06-29 02:33] #677 closed, assigned to nobody

[2018-06-29 02:47] omehegan commented on #721
Will be released in 1.5.7 of the plugin.

[2018-06-29 02:47] #721 closed, assigned to nobody

[2018-06-29 03:00] omehegan commented on #746
Released in 1.5.7.

[2018-06-29 03:00] #746 closed, assigned to nobody

[2018-06-29 03:04] omehegan commented on #677
Released in version 1.5.7.

[2018-06-29 03:07] omehegan commented on #734
The issue with Accepted merge requests should be fixed by #762 which was just released in version 1.5.7. It's not clear to me if that is also going to fix triggering on Approved and Closed states. @keijohyttinen can you explain about this?

[2018-06-29 03:12] #707 closed, assigned to nobody

[2018-06-29 03:17] #717 closed, assigned to nobody

[2018-06-29 04:42] sancelot commented on #771
I   have not wrapped 'check out sources' because I read it in the manual...

Removing gitlabcommitstatus has not helped. In this case I noticed that at first all the stages  were displayed and then the running stages appended To the list
I Will try providing a log in the day

[2018-06-29 08:03] sancelot commented on #771
[gitlab_jenkinslog.txt](https://github.com/jenkinsci/gitlab-plugin/files/2148349/gitlab_jenkinslog.txt)
log file added

[2018-06-29 08:39] omehegan opened #789 "Version 1.5.7 of the plugin breaks Pipeline support"
It appears that #747 inadvertently broke Pipeline support, and this was released today in version 1.5.7 of the plugin.

`gitLabConnection` now throws a `java.lang.NoSuchMethodError: No such DSL method 'gitLabConnection' found` error, and `gitlabCommitStatus` throws `java.lang.IllegalArgumentException: Expected named arguments but got checkout`

@stchar please look into this ASAP.

All others, plea

[2018-06-29 09:16] semos commented on #771
@omehegan after a first log review, all statuses prepended by a #number seems to be sent automatically.

The first is the "checkout sources", which is not wrapped nor configured to be sent in gitlabBuilds.

Then, during the build, normal statuses are sent with the gitlabCommitStatus.

Once the build is complete, all other statuses "#xxx" are sent in a row.

@sancelot i would advise to use multiple

[2018-06-29 09:27] keijohyttinen commented on #734
@omehegan I tested only accepted state but based on root cause it prevented also closed state to be triggered.

Actually also took a look into tests and verified also closed state is working fine.
In fact, it seems unit tests need to be modified so that they match with actual implementation of MergeRequestHookTriggerHandlerFactory and verify correctly combinations of allowed states and actions, i.

[2018-06-29 10:30] m9abbas commented on #715
@omehegan Yes it is the user who clicked on "Merge" or "Close"

[2018-06-29 15:52] john-forrest commented on #716
OK Some logs. I sanitised these partly - replacing names and mail addresses. I hope this helps you. There were three pushes related to MR merges on (and I think this was the order) unified-test-service!27, ontology-based-classification!12 and document-expert-system!400. The last did not run: it was combined into the ontology-based-classification run. Let me know if you need more info.
[clashjob.zi

[2018-06-29 19:55] ElijahLynn commented on #785
K, it looks like the documentation commit wasn't precisely what my code was/is, here is what is working right now for my team:

[code]

![image](https://user-images.githubusercontent.com/1504756/42112088-c31ceade-7bb4-11e8-8bfa-afd429865e57.png)

![image](https://user-images.githubusercontent.com/1504756/42112101-ca6ab24e-7bb4-11e8-8d7d-0b7f4d1f4884.png)

[2018-06-29 20:05] ElijahLynn commented on #785
I created the PR above, the only thing that differs from it and the comment above is that it uses the Java variable naming convention of `sourceBranch` vs `SourceBranch`. Hopefully this helps you out.

[2018-06-29 20:06] ElijahLynn commented on #785
One caveat that we haven't figured out yet though is that when a build is pending, and you hover over the pending build to get information on it, the branch names are not in that info. However, if you go up a level and look at all pending jobs, the information is available.

[2018-06-29 21:33] lmzhangucsd commented on #787
@omehegan thanks for the clarification. I have another question though, if I want my multi-branch pipeline to be triggered to run every time I push new commits/or merge request to gitlab repo, how can I achieve that?

[2018-07-01 05:36] danielfbm opened #792 "Automatically manage webhooks"
## Issue
Feature request: Automatically manage webhooks for projects

### Context
- **Gitlab plugin version**: 1.5.7
- **Gitlab version**: 10.4.7
- **Jenkins version**: 2.129
- **Job type**: Pipeline

### Logs & Traces

_Please include any relevant log that could serve to better understand the source of your issue_
For Jenkins Gitlab Plugin logs, follow instruction in [User Support section](https:

[2018-07-01 17:48] witokondoria commented on #792
This is part of the [gitlab-branch-source-plugin](https://github.com/Argelbargel/gitlab-branch-source-plugin) functionalities, that will be eventually included on this plugin

[2018-07-01 23:32] omehegan commented on #792
Definitely would be nice to have. I would think the way to implement this would be at the job configuration level, where a config save could check and update the webhooks accordingly. You would need to do it here in order to catch job renames and other changes like that.

[2018-07-01 23:34] omehegan commented on #787
@rzhang-nevermore https://github.com/jenkinsci/gitlab-plugin#pipeline-multibranch-jobs-1

[2018-07-01 23:34] #787 closed, assigned to nobody

[2018-07-01 23:38] omehegan commented on #785
@azerbe can you confirm if you have this working now? I guess when I wrote the doc update I incorrectly assumed the variables could be overwritten, and that resulted in a broken example.

[2018-07-01 23:47] omehegan commented on #715
@sebastienbonami I think the above answers your question. And I think for your use case, gitlabUserName may work.

[2018-07-01 23:47] #715 closed, assigned to nobody

[2018-07-01 23:52] omehegan commented on #734
@keijohyttinen thanks very much for clarifying, and for fixing the unit tests! Unfortunately version 1.5.7 of the plugin is broken for Pipeline jobs, hopefully that will get fixed soon or I will have to revert the PR that broke it and deploy again.

[2018-07-02 00:53] omehegan commented on #771
Yeah it's definitely the plugin sending things twice. I think I see what is happening. It is sending:

[code]

So it seems like the pending status string is different from the running and success statuses, so it shows up twice in GitLab.

@ttsalonen do you think this is related to #693?

[2018-07-02 00:59] omehegan commented on #789
@stchar can you comment on this to confirm you're aware of it? If I don't hear anything today I will probably revert the PR and do another release so we don't have a broken version in the update center. Thanks!

[2018-07-02 03:48] omehegan commented on #499
@Argelbargel do you think you will be able to work on this in the near future at all?

[2018-07-02 07:21] mora123456 commented on #533
Hey,
I'm having the same problem.

Gitlab plugin version: 1.5.6
Gitlab version: ce-10.6.0-ce
Jenkins version: 2.121.1
Job type: pipline

When I push changes to gitlab or test the webhook with "Push events" option, this line appears in the jenkins log:
Jul 02, 2018 10:07:54 AM com.dabsquared.gitlabjenkins.webhook.GitLabWebHook getDynamic
INFO: WebHook called with url: /project/run_auto_test-dev

Th

[2018-07-02 07:34] omehegan commented on #533
@mora123456 it would help if you could share more of the Pipeline code you're using. Also, did you see this note in the README: "NOTE: You will need to run this job manually once, in order for Jenkins to read and set up the trigger configuration. Otherwise webhooks will fail to trigger the job."

[2018-07-02 08:05] mora123456 commented on #533
@omehegan I ran the job manually several times, didn't help.
This is how the configuration looks like in the gui after i ran the job manually:

![image](https://user-images.githubusercontent.com/40754606/42152092-d0b3eda2-7de7-11e8-8560-27a9ce4ca910.png)

[2018-07-02 09:58] ttsalonen commented on #771
@omehegan I don't think this is related to https://github.com/jenkinsci/gitlab-plugin/pull/693.

I wonder where the "#2 Compiling linux64" and "Checking out sources" statuses come from? Is it possible that there is also some other Jenkins job that sends those statuses to Gitlab? Are there multiple webhooks configured in Gitlab?

I tested the attached Jenkinsfile and one "duplicate" build status is

[2018-07-02 11:48] CelesteGH commented on #789
the gitlabCommitStatus signature has changed. it has nothing to do with the old version...
That's not a trivial impact.
Do downgrade indeed. 1.5.6 works with the latest version of gitlab (11.0.2)

[2018-07-02 15:56] jandry commented on #789
Same issue for me. It's fixed after downgrade to 1.5.6

[2018-07-02 16:44] IOOOTAlan commented on #789
Needed to downgrade to 1.5.6 too, because declarative pipeline jobs were not working anymore altogether.
I uploaded some more details on pastebin while asking for help on the IRC channel:
[Sample Jenkinsfile](https://pastebin.com/p7Up5xQq)
[Error stacktrace](https://pastebin.com/yYBD4YA6)

[2018-07-02 22:09] ripper2hl commented on #789
Same problem :(

[2018-07-03 04:05] omehegan commented on #789
I tested the fix in #793 locally, after first reproducing the problem in 1.5.7, and the fix seems to work. I published a snapshot with this fix at http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.8-SNAPSHOT/gitlab-plugin-1.5.8-20180703.040227-1.hpi I would recommend that other folks verify this before I merge and release it. Please comment here if you can confirm the p

[2018-07-03 07:45] IOOOTAlan commented on #789
@omehegan I deployed the updated snapshot and confirm that declarative pipeline jobs run again with no changes on the Jenkinsfile used.
Will soon test if build status is correctly reported back to gitlab...

[2018-07-03 08:10] rsommer commented on #789
@omehegan using the snapshot, all pipelines seem to run fine again without further changes. Commit status has been reported back to gitlab successfully.

[2018-07-03 09:37] john-forrest commented on #716
@omehegan I think I've provided the feedback you were after. Let me know if you want more.

[2018-07-03 09:38] IOOOTAlan commented on #789
Ok, I can now confirm that the build status is successfully reported back to gitlab too.

[2018-07-04 00:32] #789 closed, assigned to nobody

[2018-07-04 00:49] omehegan commented on #789
Released as 1.5.8.

[2018-07-04 06:56] omehegan commented on #716
This log is not easy to read, it looks like you have webhooks for four different Jenkins jobs set up from the document-expert-system repo. I'm struggling to figure out which Jenkins job is showing the combined build behavior.

[2018-07-04 07:21] omehegan commented on #716
Also, when 10-15 webhooks come in at one time and trigger a bunch of different jobs, the logs from all of those get interleaved and it's very difficult to associate various log lines with different events.

[2018-07-04 07:25] omehegan commented on #716
@john-forrest I am guessing that module-merge-request is the Jenkins job where you're seeing builds from different MRs get combined?

If document-expert-system and ontology-based-classification are two completely different repos, I don't even understand how you would know that a build of one is being "combined" with another. Can you elaborate on that?

Can you possibly share the Jenkinsfile you ar

[2018-07-04 17:11] relax-admin commented on #773
@rmstyrczula I looked for a day and finally found the perfect solution here. Your solution is so handsome.

[2018-07-05 09:03] amarruedo commented on #416
I also did not quite understand from the README that merge-request job triggering is not supported for multibranch pipeline jobs. I can't imagine why it can't trigger a folder scan so the newly created merge-request is scheduled and build on jenkins (I guess it would be the same functionality as when a push event is sent).

So, to be able to  schedule merge-requests, I guess the only chance that w

[2018-07-05 11:27] Persi opened #794 "NullPointerException in Trigger for "Build on successful pipeline events""
## Issue
NullPointerException on using Gitlab pipeline events.

### Context
- **Gitlab plugin version**: 1.5.8
- **Gitlab version**: 10.2.5
- **Jenkins version**: 2.129
- **Job type**: Pipeline

### Logs & Traces
### Gitlab hook sent data
[JSON Data](https://pastebin.com/RsDTcAyT)

### Occured exception:
[Stacktrace](https://pastebin.com/bcLy7xnU)

### Problem description

I am using a gitlab-ci P

[2018-07-05 12:21] sancelot commented on #771
I corrected the "32bits" space mistake.

The problem disappear if I change the Jenkins file as follow :
[code]

[2018-07-05 14:05] mcg opened #795 "gitlabCommitStatus missing required parameter"
Might be related to #789
Seems like 1.5.8 is still broken for us around `gitlabCommitStatus`. We use it as described in the docs as:
[code]
And are getting:
[code]
Reverting back to 1.5.6 resolved the issue.

[2018-07-06 01:30] omehegan commented on #795
@mcg thanks for letting us know, that does suggest that the simple form of the usage is broken. @stchar can you look at this?

[2018-07-06 02:20] omehegan commented on #533
@mora123456 I don't see how you're getting a 404 in GitLab if Jenkins logs that it received the webhook request. What behavior are you seeing exactly?

[2018-07-06 02:22] omehegan commented on #533
@mora123456 also it looks like you have 'Filter branches by name' set, but nothing in the include or exclude sections. If you want to allow all branches to trigger the build, select the other radio button.

[2018-07-06 02:30] omehegan commented on #771
@ttsalonen thanks for looking at this!

@sancelot I don't see why you would need to number the stages. I think @ttsalonen has a good theory, is there another job also being triggered by this git repo? If you look at the plugin debug log now, I have a feeling you will see multiple updates which now just have identical strings, and so GitLab is creating one entry and then updating it with another pu

[2018-07-06 02:35] omehegan commented on #416
@amarruedo as you said, triggering on an MR event from GitLab would be equivalent to triggering on a push event, in terms of what the plugin will do - it only performs branch indexing. Is there some reason why just configuring the push webhook wouldn't work for you?

[2018-07-06 02:47] omehegan commented on #794
The NPE occurs here:
https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/trigger/handler/pipeline/PipelineHookTriggerHandlerImpl.java#L66

Is it possible there is an issue with how you have configured the branch filtering? You said you have set it to allow all branches. Can you show this configuration?

[2018-07-06 05:36] Persi commented on #794
Hi @omehegan,

I did a short look into the sources as well, that is why I mentioned the branch filtering config.
I tried different filtering settings, from filtering by branchname, as well as regex and at least allow all. The NPE occured with every setting.

The config looks like following: [XML](https://pastebin.com/FUnAY4dh)
In the job configuration it looks like the following: [Screen](https://

[2018-07-06 06:28] omehegan commented on #794
I will have to try and find time to reproduce this. Can you follow the instructions in the User Support section of the README, to capture some additional debug logs and attach them after reproducing the problem?

[2018-07-06 06:50] Persi commented on #794
This is some kind of strange. The logger is only printing the received JSON and says it was triggered, but the job is not triggered. I just POST the mentioned JSON above with HTTP Header "X-Gitlab-Event: Pipeline Hook". If I let Gitlab send the POST, the log output looks the same, but Gitlab is receiving the above Exception in the response.

Logoutput looks like the following: [Output](https://pas

[2018-07-06 10:27] amarruedo commented on #416
@omehegan somebody works on a branch, and when the work is finished, that person creates a merge-request. We would like that merge-request triggering a build, and if it succeeds, we would like it automatically merged. If you only configure the push webhook, nothing is scheduled on Jenkins, unless you push something to that merge-request. So apparently when you only configure for pushes, the only w

[2018-07-06 14:20] sancelot commented on #771
You are right, that is a silly hack and adding #number does not solve the problem.

I don't really know where to look on my side, you need some jenkins setup files ? Please can you tell me where I must look at.
Some branches are pulled and compiled on the same repo . The branch compiled is not the master.
jenkins polls the repository every 2 hours (this means it may wait for end of some jobs).
Onl

[2018-07-06 17:23] chinhodado opened #796 "Build triggered on MR approval even if option is disabled"
## Issue

I upgraded the plugin to 1.5.8 and this option is broken. I have this option unchecked, but the build is still triggered upon an approval.

This option was broken a long time ago, then it was fixed, then broken again in the last few updates (I think either 1.5.7 or 1.5.8)

### Context
- **Gitlab plugin version**: 1.5.8
- **Gitlab version**: 11.0.0
- **Jenkins version**: 2.130
- **Job typ

[2018-07-07 11:50] azerbe commented on #785
Thanks for the replies. Kinda busy right now, but will look into it in the next days and give feedback.

[2018-07-07 12:24] azerbe commented on #785
Okay, if you rename the String-Parameters and also the Branch Specifier and Branch to merge to blocks, it works.

Please also update the documentation, so that `Branch Specifier` and `Branch to merge to` are updated as well and everything is up to date again. :)

Please update #791

![jenkins-docker-maven-example_config__jenkins_](https://user-images.githubusercontent.com/4478773/42410865-6254839a

[2018-07-09 02:13] omehegan commented on #785
@azerbe and @ElijahLynn thanks for helping me improve the docs!

[2018-07-09 02:13] #785 closed, assigned to nobody

[2018-07-09 02:14] omehegan commented on #796
Duplicate of #734.

[2018-07-09 02:16] omehegan commented on #734
~~@chinhodado reports this is still broken in 1.5.8, maybe he can explain what he is seeing.~~

Disregard, I misunderstood the issue that was being reported.

[2018-07-09 02:26] omehegan commented on #771
@sancelot I don't recognize that UI in your last screenshot. Is it possible you have another GitLab plugin installed, like GitLab Branch Source or something?

[2018-07-09 02:43] sancelot commented on #771
Yes I have gitlab  branch source plugin too

[2018-07-09 02:50] chinhodado commented on #796
@omehegan I'm not sure #734 is the same as this one, instead it looks like it's the **opposite** to me

#734 is "Can't trigger builds on Accepted, Approved & Closed Merge Requests"

Whereas my issue is "Build on Approval still triggered even though the option is **disabled**"

[2018-07-09 02:54] chinhodado commented on #734
If this issue was fixed recently it may be responsible for #796

[2018-07-09 03:57] omehegan commented on #796
Sorry for misunderstanding your issue! What version of the plugin were you running before? You should be able to see this in the Jenkins plugin UI, where it shows the option to downgrade.

[2018-07-09 04:34] chinhodado commented on #796
I'm pretty sure the regression was introduced in either 1.5.7 or 1.5.8. I've been using 1.5.6 for a long time without issue, and I've noticed the problem very recently, in the last week or so.

[2018-07-09 07:32] omehegan commented on #796
I see, in 1.5.6 trigger on MR approval was broken completely, so this didn't affect you. But the change to fix it, which was just released, seems to not respect the unchecked option. @keijohyttinen does this make sense?

[2018-07-09 07:33] omehegan commented on #771
@sancelot I don't think that plugin is supported or really working yet. I would recommend that you uninstall that if possible.

@Argelbargel was working on that, but the intent was to merge its code into this plugin. That has been on hold for awhile though, due to him being too busy to work on it.

[2018-07-09 10:35] keijohyttinen commented on #796
Hmm, haven't tested yet with newest official release 1.5.8 but I did test fix (https://github.com/jenkinsci/gitlab-plugin/pull/762) on top of release 1.5.6. With that self made package, our pipelines work fine with plugin options and we have even dedicated&separated pipelines for open MRs and accepted MRs.
However, note that we have jenkins pipeline, not freestyle job type. I don't know what's dif

[2018-07-09 13:09] PT400C opened #797 "Multibranch Pipeline Commit Status Push"
**Gitlab plugin version**: 1.5.8
**Gitlab version**: Live version (latest)
**Jenkins version**: 2.121.1
**Job type**: Multibranch Pipeline

_Actual problem_:

I used this Jenkinsfile:
`properties([gitLabConnection('Perm')])
node {
stage('checkout') {
   checkout scm
  }
stage('build') {
updateGitlabCommitStatus name: 'build', state: 'success'
}
}
`
to push a commit status to Gitlab.
But, this does

[2018-07-09 13:20] chinhodado commented on #796
This is my current configuration:

![image](https://user-images.githubusercontent.com/1388219/42452902-42c682bc-8359-11e8-8bdc-c78b8dd92708.png)

Build is only triggered on open merge request, and on push to source branch

[2018-07-09 14:15] stchar commented on #795
so `name` is optional after all))) ok, I will take a look.
As a workaround
[code]

[2018-07-09 14:19] mcg commented on #795
@stchar Thanks for looking. Unfortunately we use the simple form in many places. The best workaround for us is the downgrade to 1.5.6

[2018-07-09 18:15] #797 closed, assigned to nobody

[2018-07-09 20:26] keijohyttinen commented on #796
@omehegan @chinhodado I did little investigation and opened MR https://github.com/jenkinsci/gitlab-plugin/pull/798 for your review.
It's highly possible that "_Rebuild open Merge Requests_" option (i.e. State "_updated_") conflicts with "_approved_" action received from Gitlab EE. Moreover that might be the original reason to change triggering check in the first place, which eventually broke trigg

[2018-07-10 14:27] dskrvk commented on #796
We also noticed this regression in v.1.5.8 or 1.5.7. The job trigger settings are similar to OP's (rebuild on source push, build on approve disabled; triggering events are push, MR opened, comments (with a regex filter)).

[2018-07-10 17:09] stchar commented on #795
@mcg
Am I right that your pipelines look like
[code]
So it is bare `gitlabCommitStatus` without `gitlabBuilds`

[2018-07-10 17:35] mcg commented on #795
@stchar Correct. No `gitlabBuilds`.

[2018-07-10 17:53] stchar commented on #795
@mcg, actually I'm asking as I've tested  the pipeline above in the docker containers described in this repository
gitlab 9.4.1
jenkins 2.89.2
GitLab_plugin 1.5.8

And it works

Moreover I can generate the snippet without `name` parameter in the syntax generator
![image](https://user-images.githubusercontent.com/1569458/42527963-c9688174-8482-11e8-8a68-ab6e177ba991.png)

[2018-07-10 18:07] mcg commented on #795
Jenkins: 2.121.1
Gitlab: 10.8.2-ee
Works with gitlab_plugin 1.5.6, does not with 1.5.8.

Below is a snip that fails.
[code]

[2018-07-11 15:24] eddie3716 commented on #796
This has been a problem for me and a lot of other people since the change #664 was introduced back in December 2017.  The author of the change in #664 doesn't even use the plugin in a typical manner,
 and so failed ensure that no regressive changes were introduced.  Previous attempts to shore up the plugin from this broken state (#711) have been inadequate half-measures.  Some one is yet again rep

[2018-07-12 12:43] Kollerb04 commented on #477
Same issue here.

[2018-07-12 16:30] stchar commented on #795
@mcg.  I've prepared the fix, you can find the plugin in PR CI job artifacts.
https://ci.jenkins.io/job/Plugins/job/gitlab-plugin/job/PR-799/1/artifact/target/gitlab-plugin-1.5.9-SNAPSHOT.hpi

Can you try it?

[2018-07-12 19:36] mcg commented on #795
Will do, but can't until next week.

[2018-07-13 06:29] jiahut opened #800 "How retrieval the `commit message` in pipeline"
the `gitlab webhook` had already send the lastCommit message , How  retrieval the `commit message` in pipeline

[2018-07-13 11:04] mnunezdm commented on #494
Any news?

[2018-07-16 19:42] norricorp opened #802 "post build actions in pipeline"
## Issue

### Context
- **Gitlab plugin version**: 1.5.7
- **Gitlab version**: 11.0.3
- **Jenkins version**: 2.1.30
- **Job type**: Pipeline,

This is a request more than an issue.
When I am using the plugin with a Jenkins freestyle or maven job, I can use the plugin functionality on post build steps to update GitLab.
Looking through the docs on the plugin, I can not do that with pipeline. Instead

[2018-07-16 19:57] mcg commented on #795
@stchar Looks like that fixes the issue for us.

[2018-07-16 20:06] norricorp opened #803 ""gitLabConnection" is not a valid option."
## Issue

### Context
Gitlab plugin version: 1.5.7
Gitlab version: 11.0.3
Jenkins version: 2.1.30
Job type: Pipeline declarative,

### Logs & Traces
org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:
WorkflowScript: 13: Invalid option type "gitLabConnection". Valid option types: [authorizationMatrix, buildDiscarder, catchError, checkoutToSubdirectory, disableConcurrent

[2018-07-17 05:48] omehegan commented on #795
@mcg thanks for testing, I will merge this and get it released. @stchar thanks for the fix!

[2018-07-17 05:55] #795 closed, assigned to nobody

[2018-07-17 06:00] omehegan commented on #802
This is not really a plugin issue, it's a matter of how Jenkins implements Pipeline. Pipeline jobs do not have a concept of "post-build" really. Declarative Pipeline does have a concept of "things you do after everything else, if successful/unsuccessful," but that is optional.

[2018-07-17 06:00] #802 closed, assigned to nobody

[2018-07-17 06:02] omehegan commented on #803
Duplicate of #789. Would suggest you wait for me to release 1.5.9, which will have another related fix. See #799.

[2018-07-17 06:02] #803 closed, assigned to nobody

[2018-07-17 06:31] omehegan commented on #796
@eddie3716 I wasn't aware of any issues after #664 was merged, except for #711 which corrected the config persistence issue. That was released in version 1.5.5. Did you open another issue about this previously?

[2018-07-17 06:47] Xiangao2018 opened #804 "Filter branches seems not working"
Hi
### Context
- **Gitlab plugin version**: 1.29.2
- **Gitlab version**: 7.11.4
- **Jenkins version**: 2.132
- **Job type**:  Freestyle

### Problem description

- what were you doing (simple push, merge request, MR with fork, ...)

I use jenkins & gitlab to build my project, i write a build shell, and now Gitlab can trigger jenkins to  excute shell, but what i want is whenever develop change, bui

[2018-07-17 06:50] omehegan commented on #796
@dskrvk @eddie3716 please see the snapshot release in #798 and let me know if this fixes the issue for you.

[2018-07-17 07:02] omehegan commented on #800
https://github.com/jenkinsci/gitlab-plugin#defined-variables is the list of variables we populate. If the thing you want is not there, I would suggest you just run a `git show` or equivalent command in a shell during the build, and pull the result into a Pipeline variable.

[2018-07-17 07:02] #800 closed, assigned to nobody

[2018-07-17 08:14] jiahut commented on #800
I need follow the `commit message` to determine checkout the code or not  in my case.
@omehegan  think you all the same

[2018-07-17 12:01] raghur opened #805 "Declarative Directive generator throws exception"
## Issue
On gitlab.com and jenkins 2.121.1 and Gitlab plugin 1.5.8
For my multibranch pipeline project, I'd like branches to be triggered on push to gitlab.
If I navigate to https://<host>/job/<project-id>/directive-generator/
and select Declarative Directive Generator, and select gitlab and click 'Generate', then even with defaults, I get "no public field ‘acceptMergeRequestOnSuccess’ (or getter

[2018-07-17 23:10] ElijahLynn commented on #785
@azerbe Good catch, we do have the branch specifier and branch to merge AND "Calculate changelog against a specific branch" specified as well (ignore the casing in mine, we haven't changed it yet).

![image](https://user-images.githubusercontent.com/1504756/42850297-e86236a2-89f4-11e8-88d0-0845692117e1.png)

[2018-07-19 10:11] theirix commented on #784
Seems like a failure in the `success`/`always` block can be handled in a `failure` block which can call the `updateGitlabCommitStatus`. It solves the initial problem, thanks!

[2018-07-19 10:11] #784 closed, assigned to nobody

[2018-07-19 20:39] annicarol opened #808 "Webhook triggering multiple requests at jenkins with a merge request checklist"
### Context
- **Gitlab plugin version**: 1.3
- **Gitlab version**: GitLab Community Edition 10.4.0
- **Jenkins version**: Jenkins ver. 2.27
- **Job type**: Multibranch Pipeline

### Problem description

We have merge request with a template that is our checklist. This checklist has some checkboxes that we need to verify before merge the code.
And we have a webhook that triggers jenkins job when a

[2018-07-20 03:31] #556 closed, assigned to nobody

[2018-07-20 10:15] deepy opened #809 "Allow pipelines to vote and award emoji on merge requests"
Extracting this from #556, will send a pull-request in a bit.

Add workflows for voting and for awarding emoji to merge requests.

[2018-07-20 13:54] deepy commented on #809
I tried to add tests, but I couldn't get the JenkinsRule to create a pipeline project.

Looking at https://jenkins.io/doc/developer/testing/#working-with-pipeline it seems like we may have some reasons to update the jenkins version we depend on.

[2018-07-20 18:19] MarcelNehring opened #811 "updateGitlabCommitStatus: state does not have a valid value"
## Issue

### Context
- **Gitlab plugin version**: 1.5.8
- **Gitlab version**: 11.0.4
- **Jenkins version**: 2.121.2
- **Job type**: Pipeline

### Problem description

I am trying to tell GitLab that a build stage was skipped by Jenkins using `updateGitlabCommitStatus name: 'Stage', state: 'skipped'`. This fails with a HTTP 400 Bad Request error from GitLab. When I tried to find out what I was doi

[2018-07-23 09:34] sancelot commented on #771
Hi guys,
If setted up gitlab branch source plugin, in order to pull the whole gitlab changes.
in this case, if I remember, I would have to setup manually a project in jenkins for each gitlab branch isn't it ?

[2018-07-23 15:43] cgudrian opened #812 "No "Running" status for Matrix Jobs"
## Issue

### Context
- **Gitlab plugin version**: 1.5.8
- **Gitlab version**: 11.0.3
- **Jenkins version**: 2.131
- **Job type**: Matrix

### Logs & Traces

I am not sure which are the relevant logs but will provide any necessary information that might help.

### Problem description

I have configured a Matrix Job which performs cross-platform compilation and testing. Once triggered by a GitLab c

[2018-07-24 04:17] omehegan commented on #812
I think this might be a known limitation of the support for Matrix jobs. @evgeni added that support, maybe he can confirm this for us.

[2018-07-24 04:19] omehegan commented on #771
@sancelot you can create Pipeline Multibranch projects, which will automatically add/remove sub-projects for each *branch* of a single repo. That much is supported and documented in our README. The GitLab Branch Source plugin tries to support creating new jobs for each new *repo* that is created in GitLab. But AFAIK that plugin is incomplete and not supported, so I would not recommend trying to us

[2018-07-24 04:24] omehegan commented on #811
@MarcelNehring from what I can see, the `skipped` status is only valid in the GitLab Pipelines API. See https://docs.gitlab.com/ee/api/pipelines.html  So maybe the context when you use this step matters. @semos added this, maybe he can explain how to use it correctly.

[2018-07-24 04:35] omehegan commented on #808
@annicarol the version of the plugin you are using (if you are really on 1.3.0) is two years old, I would recommend that you upgrade to the latest. There have been some changes in available options for triggering on MRs which might help you. Specifically, triggering on 'comment' events is now an option you can enable or disable. I have a feeling that these check box changes in your MR may be sendi

[2018-07-24 04:37] #796 closed, assigned to nobody

[2018-07-24 04:50] #468 closed, assigned to nobody

[2018-07-24 05:50] evgeni commented on #812
I must admit I can't remember if that ever worked for us (and by now most of our jobs are pipelines with parallel runs).

Does it work for plain freestyle jobs for you?

[2018-07-24 05:53] omehegan commented on #556
This was released in version 1.5.9 of the plugin.

[2018-07-24 05:54] omehegan commented on #796
This was released in version 1.5.9 of the plugin.

[2018-07-24 05:54] omehegan commented on #795
This was released in version 1.5.9 of the plugin.

[2018-07-24 05:56] omehegan commented on #468
This was released in version 1.5.9 of the plugin.

[2018-07-24 06:06] omehegan commented on #805
I can confirm this. The full stack trace is:

[code]

[2018-07-24 06:07] omehegan commented on #805
@raghur sorry that this is broken, it may not get fixed quickly... but the README has examples of how to configure jobs using Declarative Pipeline, hopefully that will be enough to get you going.

[2018-07-24 06:08] omehegan commented on #805
@abayer are we doing something obviously wrong here? I only ask because I believe the regular Snippet Generator works fine for the plugin's steps, it seems only the Declarative generator is broken.

[2018-07-24 06:14] omehegan commented on #804
@Rsenjoyer GitLab 7.11.4 was released in May 2015, the current stable release is 11.1. I can't officially support using the plugin with versions of GitLab older than 9.0. It's possible that the version you are on simply doesn't send us the necessary information, or in the format that we expect, to support this feature.

You said that you are using version 1.29.2 of the plugin, but there is no such

[2018-07-24 06:33] cgudrian commented on #812
Yes. Freestyle jobs work.

[2018-07-24 06:35] omehegan commented on #416
@amarruedo that makes sense. I don't really know why @coder-hugo wrote it this way, but he is no longer working on the plugin. I will re-open this issue and mark it as a bug, but I don't know if I will be able to fix it.

[2018-07-24 06:36] omehegan commented on #812
@evgeni there may also have been some changes around how the plugin sends different statuses since the time when you added Matrix support in #543. I don't think I can fix this, but if you have time to look into it I would appreciate it!

[2018-07-24 07:28] Xiangao2018 commented on #804
@omehegan  thks  for your reply,  my company use gitlab. i check again. gitlab version **GitLab 7.11.4 b725318**, maybe is too old

as for Gitlab plugin version, I am so sorry, I made a mistake.

![](https://ws4.sinaimg.cn/large/006tNc79gy1ftkzab4ukaj30pj07l0tj.jpg)

Gitlab Authentication plugin: 1.4
Gitlab Hook Plugin: 1.4.2
GitLab Logo Plugin: 1.0.3
Gitlab Merge Request Builder：  2.0.0
GitLab Pl

[2018-07-24 07:46] omehegan commented on #794
I spent some time digging in the plugin code around this, but could not make sense of what might be wrong. I will mark this as a bug, but I don't know when or if it will be fixed.

[2018-07-24 07:50] omehegan commented on #804
1. I assume you have made sure that the git project you have configured in this Jenkins build actually has a 'develop' branch.
2. Can you show with a screenshot how you have configured the git SCM/clone of that repo in your Jenkins job?
3. Can you show a screenshot of the GitLab webhooks you have configured to trigger the Jenkins job?

[2018-07-24 09:37] Persi commented on #794
@omehegan I took a deeper look into the plugin code as well and I think I found the root cause of the NPE.

In the GitLabPushTrigger class all onPost methods except `onPost(final PipelineHook hook)` check if the branch filter is set and otherwise call `initializeBranchFilter`. So I think if you would add this check to the above onPost method the bug could be fixed.

I'll try to reproduce the bug i

[2018-07-24 13:10] dskrvk commented on #796
The snapshot build fixed it for me.

[2018-07-24 15:42] sancelot commented on #771
I removed the gitlab branch source plugin and created a pipeline multibranch project
Unfortunately the issue is always present :-(

[2018-07-24 15:49] annicarol commented on #808
hey @omehegan because our tools belong to our private customer.. I'll check with them to update the plugin and soon I'll have the answer... thank you!

[2018-07-24 17:55] abayer commented on #805
So the failure is definitely because the various fields (in this particular case, `acceptMergeRequestOnSuccess`, but it'd probably apply to any of them) don't have `get*` methods. This is probably barfing here but not in the snippet generator because the directive generator ends up having to do things from a slightly different angle than the snippet generator - the snippet generator just turns the

[2018-07-25 05:27] omehegan commented on #771
@sancelot can you capture logs again for the run of this new job you created? I'm still trying to understand why the plugin seems to be sending 2x updates for your jobs, when this is not an issue for anyone else.

[2018-07-25 05:31] omehegan commented on #794
@Persi this sounds like a good guess as to what the problem is. I don't have any experience with GitLab pipelines myself, so if you can test and create a fix that would be great. You can use the Docker test env that is included with this plugin if that is easier for you; see the README for guidance on that.

[2018-07-25 07:51] witokondoria commented on #651
I have experienced this bug and happens due a long Jenkins run url. The `updateGitlabCommitStatus ` step is failing while GitLab instance returns a message `"target_url" : [ "is too long (maximum is 255 characters)" ]` with a status code 400

I recall job names being truncated and ellipsized, avoiding this situation

[2018-07-25 10:59] hho opened #814 "NPE in CommitStatusUpdater"
## Issue

### Context
- **Gitlab plugin version**: 1.5.8 / 1.5.9
- **Gitlab version**: 11.0.4
- **Jenkins version**: 2.121.2
- **Job type**: Maven

### Logs & Traces

Maven build output:
[code]

### Problem description

When a build can't be started (e.g. Maven installation removed for a Maven build), the `CommitStatusUpdater` causes a `NullPointerException` in line 68.

https://github.com/jenkins

[2018-07-25 12:56] semos commented on #811
Actually I didn't had time to test it.

After checking the docs more deeply, it is effectively only available in gitlab pipelines.
I made a wrong assumption here, I'm gonna revert my PR as I can't see a way to inform gitlab of a skipped stage for a given commit.

[2018-07-25 13:30] MarcelNehring commented on #811
Thanks for your analysis @semos

[2018-07-25 18:19] jensamberg opened #816 "Feature request build virtual merge request. Merge feature branch local in master and build the future merge"
Hello,

It can be usefull if it will be possible when a merge request was submitted that the plugin can build
the result of the merge into the master that it is clear that the master can be build before the feature branch is merged into master

[2018-07-25 23:49] omehegan commented on #816
The plugin is not responsible for any git operations; it only handles allowing GitLab to trigger a build, and sending the result of that build back to GitLab. You can and should use the Git plugin to perform a merge-before-build on MRs if you want this functionality. It is described for Freestyle jobs at https://github.com/jenkinsci/gitlab-plugin#freestyle-jobs and you can create the same thing fo

[2018-07-25 23:49] #816 closed, assigned to nobody

[2018-07-26 00:04] #811 closed, assigned to nobody

[2018-07-26 14:14] fairmonk commented on #654
This would be really nice to have. I'm currently searching a way of triggering job only for changes in specific directory. Is this feature planned to be implemented sometime this year ?

[2018-07-27 00:00] omehegan commented on #654
@fairmonk at this point the plugin is basically volunteer/PR-supported. I'm the only maintainer and I'm not doing feature or bug-fix work myself, just triaging issues and PRs and releasing when appropriate. So, "patches welcome" basically :)

[2018-07-27 00:37] Xiangao2018 commented on #804
@omehegan

Jenkins  Git
![](https://ws2.sinaimg.cn/large/006tKfTcgy1fto4dm5e91j31fq0o8dim.jpg)

Jenkins Build
![](https://ws4.sinaimg.cn/large/006tKfTcgy1fto4en39n5j31fi0ragox.jpg)
![](https://ws1.sinaimg.cn/large/006tKfTcgy1fto4f2xzynj31f00qo41i.jpg)

Gitlabe webHooks
![](https://ws3.sinaimg.cn/large/006tKfTcgy1fto49h7705j31ii0x2jw4.jpg)

That's all  Thks

[2018-07-27 02:59] omehegan commented on #804
@Rsenjoyer your webhook config is not correct. Notice how the URL you are using in the webhook is not the same as the one in the Jenkins UI (where in the UI it says 'GitLab webhook URL'). The URL you are using bypasses the plugin completely, and just triggers a generic Jenkins build of your job. Change the URL and you should be all set.

[2018-07-27 05:15] Xiangao2018 commented on #804
@omehegan  thank you, you Save my life.  It works

my older url also can trigger build, and I  don't know why, because i only choose **Build when a change is pushed to GitLab**

Anyway, it works well. thks again.

[2018-07-27 05:15] #804 closed, assigned to nobody

[2018-07-27 16:51] eddie3716 commented on #796
1.5.9 fixes the issues for me.  Thank you!

[2018-07-30 10:22] #794 closed, assigned to nobody

[2018-07-31 14:23] annicarol commented on #808
I don't know if this file will help but here is, also the multibranch logs.
I set the gitlab logging level to FINEST.

[2018-08-01 03:20] omehegan commented on #808
@annicarol the attached logs do not contain anything from the plugin. You would only see those logs in the Jenkins log recorder web UI.

[2018-08-01 19:15] katanacrimson opened #819 ""No public field" error in Declarative Definition Generator"
## Issue

### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: 11.1.2
- **Jenkins version**: 2.121.2
- **Job type**: Declarative Pipeline

### Problem description

Declarative Definition Generator - trying to generate a snippet, this is what I'm running into:

![image](https://user-images.githubusercontent.com/121707/43543292-30184aa8-9595-11e8-895b-7f10ba25edca.png)

    no public

[2018-08-02 00:29] omehegan commented on #819
Duplicate of #805.

[2018-08-02 00:29] #819 closed, assigned to nobody

[2018-08-02 15:11] MuchContact commented on #773
Almost same situation!
## ENV:
jenkins: 2.128
gitlab plugin: 1.5.5
gitlab: GitLab Community Edition 10.6.3
Jenkins have accepted gitlab comment requests, but not build! At the same time, when pushing code, jenkins job can be triggered.
`Allow requests to the local network from hooks and services` is enabled, but not work!
## Jenkins logs when commenting on gitlab commits as follow:
[code]
## Jenki

[2018-08-06 07:50] omehegan commented on #773
@MuchContact please take a screenshot of your webhook configuration page in GitLab and attach it to this ticket.

[2018-08-06 07:52] omehegan commented on #809
@deepy I have no problem potentially updating the minimum version required, what do you think might be necessary?

[2018-08-06 07:53] omehegan commented on #781
Related to #813?

[2018-08-06 17:03] lmzhangucsd opened #820 "trigger on push not working correctly"
I have a multibranch pipeline job, I set up the webhook in gitlab correctly and the test return a HTTP 200. but when I add `triggerOnPush: false` in the `properties` inside my Jenkinsfile, but Jenkins still triggers on a push to the repo. Also I have `triggerOnMergeRequest: true` set, but it didn't trigger on merge request.

Jenkins version: 2.121.1
gitlab version: 9.4.7-ee

[2018-08-06 17:13] lmzhangucsd commented on #820
this is my jenkinsfile, I followed directly throught this: https://github.com/jenkinsci/gitlab-plugin#pipeline-multibranch-jobs-1
[code]

[2018-08-06 22:54] lmzhangucsd commented on #820
and when I tick the `Merge Request events` option in gitlab, and create a test merge-request, I got this error in gitlab: `Error 409 Merge Request Hook is not supported for this project`

[2018-08-07 14:49] katanacrimson commented on #820
This is relevant from the readme:

https://github.com/jenkinsci/gitlab-plugin#pipeline-multibranch-jobs

https://github.com/jenkinsci/gitlab-plugin#pipeline-multibranch-jobs-1

You really cannot control multibranch SCM via the trigger definitions in the way you're attempting.  You need a different job type for that.

[2018-08-08 01:44] omehegan commented on #820
@rzhang-nevermore yes, @damianb has this right. It's working as designed (for now). I'm going to create a feature request to improve this.

[2018-08-08 01:44] #820 closed, assigned to nobody

[2018-08-08 01:45] omehegan commented on #439
Duplicate of #708.

[2018-08-08 01:45] #439 closed, assigned to nobody

[2018-08-08 03:52] MuchContact commented on #773
@omehegan  already upload pictures, please have a look. Finally I use [generic-webhook-plugin](https://github.com/jenkinsci/generic-webhook-trigger-plugin) instead, and make it.

[2018-08-08 05:54] omehegan commented on #773
@MuchContact how have you configured the GitLab trigger in the job? To have the build trigger with comments, you need to use the following:
![screen shot 2018-08-08 at 3 52 40 pm](https://user-images.githubusercontent.com/1775894/43818724-3fc371e2-9b23-11e8-8af3-1aaf03e4eda7.png)

[2018-08-08 07:16] KKoovalsky opened #822 "Could not set up multiple triggers using Gitlab plugin"
## Issue: Could not set up multiple triggers using Gitlab plugin

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**: gitlab.com
- **Jenkins version**: 2.121.2
- **Job type**: Pipeline, Multibranch

### Problem description

Hi,
Is it possible to define multiple job triggers started by Gitlab plugin?

I want to achieve such behaviour that a build triggers on an open merge request t

[2018-08-08 10:52] stchar commented on #781
@omehegan,
Yep it looks really close to #813.

[2018-08-09 08:22] ashb commented on #811
I'm trying to use this explicitly _in_ a pipeline. I guess nothing like this is possible yet, even though gitlabBuilds ends up creating Pipeline steps?

[code]

Edit: I guess that the Pipeline's API are only to do with Gitlab's internal pipelines - even though the commit status updates report as a pipeline we can't report an individual step as skipped. It is a limitation in the GitLab API :(

[2018-08-09 08:59] ashb commented on #811
I created an issue for being able to do this in Gitlab - if anyone else would like this feature please go and vote on it there https://gitlab.com/gitlab-org/gitlab-ce/issues/50146

[2018-08-10 07:14] omehegan commented on #781
@stchar yeah but this is interesting, the issue was reported with version 1.5.6 of the plugin, and that pre-dates your changes which caused the other issues around Pipeline support. @crussell52 see above - your issue was related to 1.5.9 and you said rolling back to 1.5.8 fixed it, but this person is reporting the same problem in 1.5.6. Hmm.

[2018-08-10 07:20] stchar commented on #781
If it's true, and plugin version was submitted accurate, than it means that some changes in stapler might cause it.

[2018-08-10 07:23] omehegan commented on #822
@KKoovalsky if you are using a Multibranch job, currently the plugin does not support triggering these on Merge Request hooks, only Push hooks. It will ignore the MR hooks. I would like to see that change but I have not yet had time to try. I think that is the root of your problem.

An alternative solution would be for you to create separate regular Pipeline job for each branch, then you can confi

[2018-08-10 17:13] crussell52 commented on #781
@omehegan, @stchar

Sorry I can't include links and using pseudo code because I'm on phone, but check the file history of the status step class.

Around Jan (1.5.6?)  `construct(Str name)` was removed.  It was later added back in a commit mentioning backwards compatibility (754832a) - released in 1.58. The same constructor was removed again in 1.5.9

So I think these look the same because it was b

[2018-08-13 02:05] MuchContact commented on #773
@omehegan yeah, I had configured 'comment(regex) for triggering a build', it's a prefix-matching pattern, I just copy the `regex content` and comment like "`<regex content>` my comment", I'm sure the configure and comment are both ok.

[2018-08-13 04:23] omehegan commented on #781
Hmm, I dug through the file history and did not see any changes in January. @stchar refactored that in *1.5.7,* which broke some Pipeline users, then fixed it in 1.5.8... The prior change to this class was from May 2017, and did not touch that method.

[2018-08-13 04:34] omehegan commented on #773
@MuchContact but did you also check the 'Comments' check box?

Can you follow the instructions in the User Support section of the README to enable debug logging from the plugin? Then try to reproduce the issue (comment on an MR which should trigger a build) and add the debug logs here. It should show the JSON payload with note contents, and hopefully some log entries about why the job was/wasn't t

[2018-08-13 05:07] crussell52 commented on #781
@omehegan,  Apologies... side effects of mobile.  I was referring to 7b8c52400 -- Looks like it was originally committed in Jan, but maybe didn't get merged until May?  Regardless, you are correct in that the first release it showed up in was v1.5.7.

More specifically, the history I'm looking at is:

* In 7b8c52400 (v1.5.7), it was replaced with `public GitLabCommitStatusStep(String name, List<Gi

[2018-08-13 05:18] MuchContact commented on #773
@omehegan Ok, I will try later

[2018-08-13 07:15] omehegan commented on #781
@crussell52 thanks a lot for poking around in this further! For now I'll wait on the resolution of #813 and see if it helps this reporter as well.

[2018-08-13 16:13] annicarol commented on #808
Hey @omehegan I am going to check if I have permission to get these logs and send to you soon.

[2018-08-13 16:39] annicarol commented on #808
Hey guys I set the log level to ALL.. and see some things about our code in logs for Multibranch.. Please check if these logs will help.[]

[2018-08-14 06:31] oleo65 commented on #781
First of all, thank you everybody for your feedback and investigations. This is very much appreciated.

I have some trouble to retrieve the used versions at the time of writing this ticket. But the plugin manager shows that we migrated directly from v. 1.5.6 to 1.5.9 which is also what I recalled. So the mentioned software revisions from the first post are correct.

![image](https://user-images.gi

[2018-08-14 07:48] sancelot commented on #771
We finally rebooted the gitlab server. I don't know if there was some cached data, but the problem is no more present.

The only thing noticed is that the displayed labels order does not correspond to the execution order.

[2018-08-14 11:00] apallier commented on #713
Hello, I have the same problem with this pipeline code:

[code]

In this case, one test failed by status in GitLab is "Success"

[2018-08-14 13:41] apallier commented on #713
I found this workaround but don't understand why it works.
Is Jenkins 'UNSTABLE' status reported as 'failed' in GitLab or not?

[code]

[2018-08-16 06:10] omehegan commented on #808
@annicarol that log does not have anything from the plugin. You need to either copy and paste the logs from the log recorder UI in Jenkins, or look for a dedicated log file in JENKINS_HOME/logs/custom/.

[2018-08-16 06:12] omehegan commented on #781
@oleo65 thanks for confirming. Please monitor #813 and let us know if the fix for that does not resolve this issue for you.

[2018-08-16 06:13] omehegan commented on #771
@sancelot OK, I will close this issue. Please reopen if you find the issue occurring again.

[2018-08-16 06:13] #771 closed, assigned to nobody

[2018-08-16 06:26] omehegan commented on #713
@apallier that's very interesting. In Freestyle jobs, there is an option when you publish build status, to mark 'unstable' as 'success.' It is disabled by default. But I wonder if it ends up enabled in a Pipeline job, because there is no UI to set it. I'll have to experiment.

[2018-08-16 07:02] #751 closed, assigned to nobody

[2018-08-16 14:19] marrrschine commented on #780
@troizky, which one?

[2018-08-17 12:49] troizky commented on #780
@marrrschine, this one [org.jenkinsci.plugins.gitlab.GitlabMergeRequestBuilder](https://github.com/timols/jenkins-gitlab-merge-request-builder-plugin)

[2018-08-20 16:34] ebcFlagman commented on #422
I have the same error. On the repository I have the following log entry:
`==> /var/log/gitlab/gitlab-rails/api_json.log <==
{"time":"2018-08-20T16:30:13.901Z","severity":"INFO","duration":11.56,"db":3.54,"view":8.02,"status":404,"method":"GET","path":"/api/v4/projects/.msag.ch%2Fcoffeelink%2Fcoffeelink/repository/branches","params":{},"host":"hostname","ip":"hostip","ua":null,"user_id":14,"usernam

[2018-08-25 07:23] ccojocar opened #827 "NullPointer exception when the build status is updated"
NullPointer exception when the build status is updated

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**:
Latest version on https://gitlab.com. It seems to be:
[code]
- **Jenkins version**: 2.126

- **Job type**: Pipeline, Freestyle, Matrix, etc.

Declarative pipeline

### Problem description

I am trying to use this plugin to update the build status in a declarative pipeline as

[2018-08-26 20:00] Minipada opened #829 "Jenkins to gitlab authentication succeeded, updateGitlabCommitStatus no error but no status update"
## Issue
I have created a pipeline and link it Jenkins. I can trigger it successfully either by pushing or commenting.
I am trying to update the build status, or at least to have one.

Here is my configuration:
![spectacle k28198](https://user-images.githubusercontent.com/1220912/44628263-918f0000-a93c-11e8-9366-7054a2170435.png)

Global configuration:
![spectacle v31113](https://user-images.githu

[2018-08-26 21:47] Minipada commented on #829
For people who come, the issue was that the Jenkins URL was not configured properly. Go to Manage Jenkins -> Jenkins Location -> Jenkins URL.
Be sure to have `http://`. If it's not configured well, you will have the error that your reverse proxy is broken.

[2018-08-26 21:47] #829 closed, assigned to nobody

[2018-08-30 05:16] omehegan commented on #827
@ccojocar have you set up a GitLab connection in the global Jenkins config, as documented here: https://github.com/jenkinsci/gitlab-plugin#jenkins-to-gitlab-authentication

[2018-08-30 06:15] jinfang134 commented on #636
I also meet the same problem, and for my need, I modified some code.
please acceess my commit for more details . https://github.com/jinfang134/gitlab-plugin/commit/da2ba799032493e1685c01039b8cdab59db52a37

[2018-08-30 12:20] eriknellessen commented on #636
I think I got the same problem as described above:
I have a merge request pipeline that merges the feature branch into the target branch locally and then builds the result of that merge action. I configured the pipeline to be built when there are changes on the feature branch or on the target branch.

In the past, the pipeline was triggered every time there were changes on the target branch. After

[2018-08-30 13:24] amarruedo commented on #416
@omehegan I've been looking to the code and I think the fix should be easy to implement. Only thing to do (I guess...) is to do the same thing on [push build action](https://github.com/jenkinsci/gitlab-plugin/blob/master/src/main/java/com/dabsquared/gitlabjenkins/webhook/build/PushBuildAction.java)  (the `tag build action` is the same as `push build action` as seen [here](https://github.com/jenkin

[2018-08-31 02:25] omehegan commented on #636
@eriknellessen if you look at the Jenkins Update Manager UI, it should show you what version you were on before, where the "downgrade" button is.

[2018-08-31 02:34] omehegan commented on #416
@amarruedo a colleague also looked at this issue, but wasn't sure that triggering branch indexing from webhooks was a good practice.

This implies that we would need to complete #499...

[2018-08-31 07:20] eriknellessen commented on #636
@omehegan Thank you for the hint! It says 1.5.8. I downgraded and will watch on the next occasion if the behavior changed and give you an update then. Maybe we did another update of the GitLab plugin shortly before this one. We also updated Jenkins recently (our current version is 2.140). So it is not absolutely clear to us that upgrading from 1.5.8 to 1.5.9 changed the behavior.

What is the expe

[2018-08-31 15:25] KyleWiering commented on #713
Adding a new thing that behaves differently then before and removes previous functionality is a major change - I didn't see the major version bump. Is this plugin using semantic versioning? (even if a toggle was added to recover the previous functionality - it is still a major change)

[2018-08-31 15:32] DRicciardi commented on #533
Same problem here. Clicking test results in a 404. In the Jenkins log I get this:
`Aug 31, 2018 3:25:06 PM com.dabsquared.gitlabjenkins.webhook.GitLabWebHook getDynamic
INFO: WebHook called with url: /project/TESTING-Website_All-GIT`

Browsing to the url also results in a 404, while /job/TESTING-Website_All-GIT brings me to the project page as expected. I'm not sure how else to debug this.

[2018-08-31 16:23] benday280412 commented on #827
I've also been looking at this issue and can confirm that configuring the connection in Jenkins and then altering the updateGitlabCommitStatus commands from

`updateGitlabCommitStatus name: 'build', state: 'failed'`

to (note the changed attribute name)

`updateGitlabCommitStatus name: 'state', state: 'failed'`

Allows the correct statuses to be reflected back into Gitlab.

[2018-08-31 16:37] DRicciardi commented on #533
Never mind! I was creating a system hook rather than a web hook. In case anyone stumbles across this, web hooks are located on the project page under Settings > Integrations.

[2018-09-01 04:56] omehegan commented on #713
@KyleWiering what new thing are you referring to that was added?

[2018-09-01 06:10] ccojocar commented on #827
@omehegan @benday280412 Thanks for your suggestions. I'll try them and let you know if I still have issues.

[2018-09-03 23:10] omehegan commented on #827
@benday280412 that's strange. You had to change the 'name' field to 'state?' That's not how I have it documented, I'll have to test this. How did you figure out that solution?

[2018-09-04 11:17] eriknellessen commented on #636
Downgrading to 1.5.8 did not solve the problem. I still wonder if it is expected behavior we are seeing.

@omehegan How should I proceed with this? Shall I open a separate bug report? Or a feature request?

[2018-09-04 15:34] jensamberg opened #833 "How is it possible to get the build status also on a git submodule?"
Hello,

I am using the gitlab-plugin and it works fine. Good work.
Also it is possilbe to publish the build status back to GitLab.

But how is it possible also publish the build status to the git submodule?

[2018-09-06 08:14] benday280412 commented on #827
After a bit of exploring the API, the key bit of info was this https://docs.gitlab.com/ee/api/commits.html#post-the-build-status-to-a-commit

Here, it talks about the status of the commit being assigned to an attribute called state, which can support the following values pending, running, success, failed or canceled

[2018-09-12 19:14] AntoineConffx opened #834 "Posting Commit status from approved Merge request"
## Issue
### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: CE v11.1.4
- **Jenkins version**: 2.138
- **Job type**: Pipeline

### Logs & Traces
I can attach logs if necessary

### Problem description
## What works.
I can currently build Merge Requests using webhooks and the build status correctly posts on the pipelines/merge request page.
## What doesn't work
The issue is that I

[2018-09-15 11:28] GoWithTheFlo95 opened #835 "updateGitLabCommitStatus Bug in parallel directive"
## Issue
Function updateGitLabCommitStatus returns wrong status when used in several stages within a parallel directive

### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: 11.0.3 CE
- **Jenkins version**: 2.121.2
- **Job type**: Pipeline

### Logs & Traces
![unbenannt](https://user-images.githubusercontent.com/43293808/45585799-0c6b8b00-b8eb-11e8-8882-6ada42106d2b.PNG)

### Probl

[2018-09-16 23:16] omehegan commented on #835
Can you capture debug logs of this behavior, using the steps provided in the User Support section of the README? I'm interested to see if the plugin is sending multiple statuses or what. Sometimes this type of issue comes down to how GitLab handles the multiple incoming updates.

[2018-09-16 23:19] omehegan commented on #833
@jensamberg I am not sure I understand the workflow you are asking about. I am imagining a project which uses some git submodules. A commit to the parent project triggers a build, which uses the submodules. Why would the build status of the submodules be of interest in this case? I would expect the submodules to have their own build jobs for validation, which would be triggered only when those mod

[2018-09-16 23:22] omehegan commented on #834
@AntoineConffx I don't think this is possible. The plugin only sends build status once per build, and I believe it sends it back to GitLab to different endpoints depending on how the build was triggered. For example, if triggered by an MR, the result is send to the MR API endpoint. If triggered by a commit, it sends it to the commit endpoint. This in turn affects how the status is displayed in Git

[2018-09-16 23:48] omehegan commented on #827
I can't reproduce this, though I am using somewhat different versions. I have the latest plugin, 1.5.9, and a local GitLab CE 11.0.3. With these, using the documented syntax for updateGitlabCommitStatus, the update works successfully and I don't get an NPE. Looking at the API documentation, I see no recent changes to this. @ccojocar can you confirm if @benday280412's solution worked for you?

[2018-09-16 23:52] omehegan commented on #636
@eriknellessen let's make sure you are hitting the same issue found here. Look at the logs in Jenkins when you hit this issue, and see if there is a `Last commit in Merge Request has already been built in build xxx` line. If so, it's the same issue, and we are tracking it as an RFE.

[2018-09-17 08:17] JadeQin opened #836 "Support GitLab System Hooks"
## Issue

### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: 10.7.3
- **Jenkins version**: 2.73.3
- **Job type**: Pipeline

### Logs & Traces
[code]

### Problem description
I add a global hook in gitlab ,but it return 404 when it trigger,but it works good when I add it in single project.I check the param,when it is global ,the head params like this:
[code]
But when it in project

[2018-09-17 09:47] DmitryMihailov commented on #615
The problem with 'ci-skip' that it returns "skipped" build status. My team requested me to have Gitlab badge, which shows the build status of our project. Do the build logic of our project, badge always shows"skipped" in our default branch - this brings a lot of confusion to my team, as it doesn't says much about if the branch is actually buildable or not.

[2018-09-17 16:54] omehegan commented on #836
The plugin does not currently support GitLab System Hooks. https://docs.gitlab.com/ee/system_hooks/system_hooks.html

[2018-09-17 16:59] omehegan commented on #615
@DmitryMihailov does your comment apply to this feature request, which is for the ability to skip builds triggered by certain users? If you are just commenting about ci-skip, a new issue would be the better place to do that. I'm not sure what the plugin could do differently to satisfy your use case.

[2018-09-17 17:53] #836 closed, assigned to nobody

[2018-09-17 17:58] GoWithTheFlo95 commented on #835
Thank you so much for replying. You guys are really doing amazing work here.
I attached the logs on the Jenkins UI below.

Lightweight checkout support not available, falling back to full checkout.
Checking out git (…) to read Jenkinsfile
Wiping out workspace first.
Cloning the remote Git repository
(…)
...
[Pipeline] }
[Pipeline] // stage
[Pipeline] }
[Pipeline] // gitlabBuilds
[Pipeline] }
[Pipe

[2018-09-17 18:07] omehegan commented on #835
@GoWithTheFlo95 those aren't the logs I need. Look at the User Support section of the README in this repo. There are instructions for enabling debug logging specifically for this plugin. That will show me more of what it is trying to do.

[2018-09-17 18:08] omehegan commented on #716
Reopen if you want to discuss further, I need more info before I can debug this.

[2018-09-17 18:08] #716 closed, assigned to nobody

[2018-09-17 18:09] #752 closed, assigned to nobody

[2018-09-17 18:09] #766 closed, assigned to nobody

[2018-09-17 18:10] #773 closed, assigned to nobody

[2018-09-17 18:10] #775 closed, assigned to nobody

[2018-09-17 18:11] #776 closed, assigned to nobody

[2018-09-17 18:11] #779 closed, assigned to nobody

[2018-09-17 18:11] #782 closed, assigned to nobody

[2018-09-17 18:12] #808 closed, assigned to nobody

[2018-09-17 18:14] #822 closed, assigned to nobody

[2018-09-17 18:17] AntoineConffx commented on #834
@omehegan
I see. So I would need to trigger another build on master itself to get the commit status.

Another question if its okay to keep it in the same issue.
I current have 2 jobs for Gitlab projects. Both are setup to be triggered via webhook listening for merge request and comments.
One of those projects can be built manually and it successfully posts the commit status to the master branch (F

[2018-09-17 18:33] omehegan commented on #834
@AntoineConffx for your second question, I would need to see logs with the exact error. Can you open a new issue and attach those?

[2018-09-17 18:47] AntoineConffx commented on #834
@omehegan
Sure thing, Will close this issue.
Thanks

[2018-09-17 18:47] #834 closed, assigned to nobody

[2018-09-17 20:53] AntoineConffx opened #837 "Error with Manual build"
## Issue
### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: CE v11.1.4
- **Jenkins version**: 2.138
- **Job type**: Pipeline

### Logs & Traces

Jenkins Log for Gitlab plugin with all log levels enabled.

---
[code]
---

### Problem description
I current have 2 jobs for 2 different Gitlab projects. Both are set up to be triggered via webhook, listening to merge request and notes

[2018-09-17 21:24] omehegan commented on #713
@apallier I can reproduce this. Freestyle builds with unstable result send a failed status to GitLab, but Pipeline builds seem to send a success status. I will look into this further.

[2018-09-18 09:50] ptrtonull commented on #499
Hello,

Is that feature still considered to be developed and finally (hopefully) merged?

[2018-09-18 18:27] jensamberg commented on #833
@omehegan in general you are right. We do it now so. However what I initial want was that I can return the build status to more then one git repro what I can define manual. Actual from this plugin there
![832a4503-cec2-4c66-a1e4-d4de10fe16c8](https://user-images.githubusercontent.com/22682327/45708260-3342ef00-bb81-11e8-96f7-2a82b3afa940.png)

[2018-09-18 22:05] omehegan commented on #499
@ptrtonull we would definitely like to incorporate this feature, but AFAIK it is not being worked on right now, and I do not have capacity to complete it myself.

[2018-09-18 22:13] omehegan commented on #833
@jensamberg I see. Unfortunately there is no way to do that with this plugin. The plugin determines what repo to send the build result to based on the repo which triggered the build. So in your case that would be the parent repo, not the submodules. You could perform another GitLab API call yourself, using curl or something, to send the status to other repos. But it is outside the scope of this pl

[2018-09-18 22:13] #833 closed, assigned to nobody

[2018-09-19 12:09] GoWithTheFlo95 commented on #835
Sorry about that. I hope those are the right logs now:

[code]

[2018-09-20 11:10] fontealpina opened #838 "Gitlab MR status pending if there is a merge conflict"
### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: 11.1.6-ee
- **Jenkins version**: 2.138.1
- **Job type**: Pipeline, Freestyle, Matrix, etc.

### Logs & Traces
![mr_pending](https://user-images.githubusercontent.com/10811370/45811913-ad34be80-bcce-11e8-97af-2a7d4e99ce18.png)

### Problem description
- what were you doing:
Push on a opened Merge Request NOT marked as WIP
- what o

[2018-09-21 09:49] bwaldvogel commented on #607
+1

Is a workaround available?

[2018-09-21 12:04] DmitryMihailov commented on #615
@omehegan Just giving a comment, how not triggering the build, from commits done by certain users(CI users), would help others and wouldn't bring confusions (like seeing the the build badge with "skipped" status)

[2018-09-21 17:27] Symbianx commented on #713
@omehegan we have the same problem, is there a workaround to set the status in gitlab as failed and maintain the jenkins build as unstable?

[2018-09-24 11:56] eriknellessen commented on #636
@omehegan I tried to reproduce the issue with a minimal working example, but it was not possible. I then compared my minimal working example with the project containing the problem. I found out that in the project with the problem, the push events notification was missing in the GitLab web hook. After reactivating it, the merge request pipeline behaved as expected.

So the error was in my GitLab c

[2018-09-24 20:03] omehegan commented on #607
No workaround available. This would require a change to the plugin to respond to the 'cancelled' message from GitLab. As I said previously, I'm not in a position to work on that, but if anyone else wants to I would be happy to review a PR.

[2018-09-24 20:07] omehegan commented on #713
@Symbianx yes, see https://github.com/jenkinsci/gitlab-plugin/issues/713#issuecomment-412875379

[2018-09-24 21:41] omehegan commented on #836
This was released today in 1.5.10.

[2018-09-24 21:42] omehegan commented on #422
This was released today in 1.5.10.

[2018-09-24 21:44] omehegan commented on #751
This was released today in 1.5.10.

[2018-09-24 21:45] omehegan commented on #794
This was released today in 1.5.10.

[2018-09-24 21:46] #734 closed, assigned to nobody

[2018-09-24 21:46] omehegan commented on #734
This was released today in 1.5.10.

[2018-09-25 01:48] esquires opened #839 "gitlabCommitStatus"
## Issue

### Context
- **Gitlab plugin version**: 1.5.8
- **Gitlab version**: GitLab Community Edition 10.8.3
- **Jenkins version**: 2.121.2
- **Job type**: Pipeline

### Logs & Traces

[code]

### Problem description

I am trying to do a couple things. First, I am trying to show the Jenkins build status in gitlab. The first couple of lines of the pasted log indicate it is failing because it can'

[2018-09-25 16:34] omehegan opened #840 "Update README to document support for System Hooks"
After #826 we need to document this feature.

[2018-09-25 16:43] omehegan commented on #839
@esquires the exception you are seeing seems to indicate that the commit ID you have does not exist in the repo you are referencing (GitLab project ID 350). This can happen if you are using Pipeline libraries and you put the commit status Pipeline step in the wrong place - the plugin tries to send the status to the library repo instead of your project repo. Can you share your Pipeline code?

[2018-09-25 17:09] serge2016 commented on #499
Hello!
We need this functionality very much! Is there any way we can help?

[2018-09-25 17:24] esquires commented on #839
Certainly. It is below. I only changed the url and the project name in the docker.build step.

[code]

[2018-09-25 20:52] omehegan commented on #499
@serge2016 continued work on this seems to be stalled. If you are interested in trying to move it forward, I can help point you to the existing, incomplete solution, and the reference implementation that we should use as a guide. And I can coordinate testing and review efforts. Let me know if you are interested.

[2018-09-25 21:11] omehegan commented on #839
@esquires Looking at the logs you included in your initial request, are those an exact copy, or are they three different log entries that you pulled? I'm just trying to understand if these are all related to the 'accept merge request' action, or if one of them is related to sending build status.

I have a feeling that the plugin is getting confused about which repo/branch to perform these operatio

[2018-09-25 22:47] AntoineConffx commented on #837
Do I need to provide more information for this?

Thanks :)

[2018-09-25 22:52] esquires commented on #839
Hi @omehegan . Thanks for your reply. Those are from the same log. I went ahead and re-ran it with the "finer" setting and am pasting everything that was logged except for substituting some urls. Let me know if you need to see something different.

``0de38465c7d17ec07ff9f7a88978d19f85bb6c3e`` is the commit that triggered the build.

[code]

[2018-09-26 01:14] ptzafrir commented on #839
I can reproduce the issue by accessing gitlab with user with no permissions for the specific project.
gitlab API return status 404 in this case.

@esquires Can you confirm that this address works for you
https://project_url/api/v4/projects/350/repository/commits/0de38465c7d17ec07ff9f7a88978d19f85bb6c3e
And then try to access it when logged in as the same user configured in Jenkins global configura

[2018-09-26 19:31] jkugler commented on #705
I realize this is somewhat of a thread hijack, but I am hitting the same issue as @mmehra: rebuilds are not happening *at all*: I have tried
Rebuild open Merge Requests: On push to source branch
and
Rebuild open Merge Requests: On push to source or target branch

I have not tried pushing to the target branch to see if that triggers, but but pushes to the source branch *do not* trigger builds.

Thi

[2018-09-26 20:43] jkugler commented on #705
@omehegan Just figured out the issue (in my case).

These triggered builds:
- Build trigger on merge request creation
- Build trigger on merge request comment
This did not:
- Build trigger on new push to existing open merge request.

I looked at my config again, and realized I had it set to ignore WIP merge requests (which I was using since it was a test MR). So, now the bug is: why is it triggeri

[2018-09-27 09:22] tmc9031 commented on #723
@omehegan

Context
Gitlab plugin version: 1.5.10
Gitlab version: 11.2
Jenkins version: 2.138.1
Job type: Pipeline

also same problem when enable "Build on successful pipeline events"
[code]

[2018-09-27 13:24] omehegan commented on #705
@jkugler how were you marking the MRs as being WIP?

[2018-09-27 13:26] omehegan commented on #837
@AntoineConffx no, just have not had time to look at it yet.

[2018-09-27 15:07] jkugler commented on #705
@omehegan The subject started with `WIP:` per the GitLab convention. i.e. https://docs.gitlab.com/ee/user/project/merge_requests/work_in_progress_merge_requests.html

[2018-09-27 16:32] DmitryMihailov opened #841 "Jenkins doesn't build latest pushed commit"
## Issue

### Context
- **Gitlab plugin version**:  1.5.10
- **Gitlab version**: 10.8.5-ee
- **Jenkins version**: 2.121.3 (Dockerized)
- **Job type**: Single (Not-Multibranch) Declarative Pipeline

### Logs & Traces
- Jenkins Log:
[Jenkins_GitLab_Log.log](https://github.com/jenkinsci/gitlab-plugin/files/2424929/Jenkins_GitLab_Log.log)

- First Hook Request:
[first request.txt](https://github.com/j

[2018-09-27 16:33] DmitryMihailov commented on #841
Dear all, would really appreciate if you could point out, what is wrong. ☺️

[2018-09-27 16:37] AntoineConffx commented on #837
@omehegan no worries I'm not pressing for time or anything was just wondering if I was missing anything :)

[2018-09-27 17:54] ondrejtomcik commented on #416
Please, is there a chance that this will be done? I don't understand why MR event from the GitLab cannot trigger build in a same way as push event.

[2018-10-01 10:40] yuyan-seik opened #842 "Plugin unable to pull desired tag if both BRANCH and TAG have commit SHA"
## Issue

### Context
- **Gitlab plugin version**: 1.5.6
- **Gitlab version**:  9.4.1
- **Jenkins version**: Jenkins ver. 2.138.1
- **Job type**: Multibranch Pipeline

### Problem description

Usually, we will create a tag when we commit to the master branch. Our Jenkins gitlab plugin will be configured to pull based on the tag version.
The master branch commit SHA and the tag commit SHA will be t

[2018-10-01 15:26] hho commented on #842
Use an annotated tag (own hash) instead of a lightweight tag (points to commit hash).
Recommended reading: https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2018-10-01 18:10] esquires commented on #839
It looks like I can see the project from jenkins and from my user. Here is the output from the jenkins user.

[code]

[2018-10-05 10:08] tozzil opened #843 "Configuration of webhook acceptance not working"
## Issue

### Context
- **Gitlab plugin version**: 1.5.10
- **Gitlab version**:  10.6.2-ee
- **Jenkins version**: 2.107.1
- **Job type**: Pipeline

### Problem description
I am using a Webhook from Gitlab that is triggered by merge request events which in turn triggers a Jenkins job which is configured to only run on opened MRs.
The issue is that this Jenkins job is not only started on opened MRs

[2018-10-06 04:56] calvinatnvidia commented on #820
@omehegan What is the correct way to receive Merge Request hooks from GitLab to a multi-branch pipeline at this time? Is there a way at all?

[2018-10-08 20:33] jkugler commented on #764
This affects me as well
Gitlab plugin version: 1.5.10
Gitlab version: 9.5.6-ee
Jenkins version: 2.145
Job type: Matrix Job/

I have a multi configuration project running and working. It has a gitlab reporter configured as a post-build step, and has  a "GitLab Connection" configured. When a single configuration gets done running, it spits out a message in the console for that configuration saying "

[2018-10-10 20:24] DmitryMihailov commented on #841
No one has idea where could be the problem? 😣

[2018-10-11 01:33] xingyuzhe opened #844 "how to ignore push-event with empty commits when creating a branch？"
A push-event triggers when a matched branch was created， the gitlab request body details looks like this:

[code]

My probem is： **how to pervent jenkins from buliding when a push-event triggers with empty commits?**

![22222213916](https://user-images.githubusercontent.com/3498363/46775528-2063aa80-cd3a-11e8-9b80-deac6e355dc4.png)

[2018-10-11 12:10] Gaibhne opened #845 "Feature request: automatic Gitlab issues for failed/unstable builds"
## Feature request: automatic Gitlab issues for failed/unstable builds

### Context
- not applicable

### Problem description

For GitHub, there is a plugin allowing the automatic creation of issues when a Jenkins build fails or becomes unstable. A similar functionality in this plugin would be nice.

Potential features:
  - Create issue when a build becomes anything other than stable
  - Allow spe

[2018-10-11 19:08] GoWithTheFlo95 commented on #835
@omehegan are those the right logs?

[2018-10-12 07:48] ghost opened #846 "gitcommitstatus issue"
node('iMac_KPlus') {
    stage('Pull Code') {
        checkout([$class: 'GitSCM',
        branches: [[name: 'feature/google-analytics']],
        doGenerateSubmoduleConfigurations: false,
        extensions: [[$class: 'PathRestriction', excludedRegions: '', includedRegions: '']],
        submoduleCfg: [],
        userRemoteConfigs: [[credentialsId: 'myCre', url: 'myURL']]])
    }

ansiColor('xterm

[2018-10-15 03:36] ChengYour commented on #539
Hi, would you please tell me how to add it as a parameter?

[2018-10-16 14:09] panostzemis commented on #354
First of all have a look o Jenkins logs in order to check if it receives the Hook.
You should see something like this

In case you are accessing your Jenkins/Git with **HTTP**, add your webhook as provided by Jenkins on project  settings
`http://domain/ci/project/<project-name>`

and uncheck
`Enable SSL verification`

In case you have **HTTPS**
Use your Jenkins project URL but this time add **http

[2018-10-16 14:16] panostzemis commented on #533
@DRicciardi

First of all have a look o Jenkins logs in order to check if it receives the Hook.
You should see something like this

In case you are accessing your Jenkins/Git with **HTTP**, add your webhook as provided by Jenkins on project  settings
`http://domain/ci/project/<project-name>`

and uncheck
`Enable SSL verification`

In case you have **HTTPS**
Use your Jenkins project URL but this ti

[2018-10-16 16:28] jgeorgeson commented on #846
Not one of the plugin maintainers, but I believe that `gitlabBuilds` would go in the `options` section of the pipeline.

[code]

This puts a job named `build` in I think `Running` state. Then you would use not both but one of `gitlabCommitStatus` or `updateGitlabCommitStatus`. The `gitlabCommitStatus` step reports the collective success or failure of the steps within it. It's good for when you put

[2018-10-17 09:16] keestux opened #847 "Unable to clone with GitLab API token"
## Unable to clone with GitLab API token

### Context
- **Gitlab plugin version**: 1.5.10
- **Gitlab version**: 11.2.3
- **Jenkins version**: 2.147
- **Job type**: Pipeline

### Logs & Traces

The job has this in the log

[code]

### Problem description

- in GitLab an API token was created. This is added as a `GitLab API token` in Jenkins credentials.
- in Jenkins / Configure System in the GitLab

[2018-10-19 20:58] zumacinsmity opened #848 "passing environment variables in "Add note with build status on GitLab merge requests""
## Issue
Don't know how to pass information generated in a build step to GitLab

### Context
- **Gitlab plugin version**: 1,4,6
- **Gitlab version**: ? (don't know how to tell)
- **Jenkins version**: 2.121.1
- **Job type**: Pipeline, Freestyle, Matrix, etc.

### Logs & Traces

### Problem description

_Describe your problem in a meaningful way_:
The quick help says "(with support environment varia

[2018-10-21 10:35] socheat-leang commented on #371
go to create credential with gitlab api token, then select credential's name that you created. :D

[2018-10-22 12:23] GoWithTheFlo95 commented on #705
Hello,

i read through this issue and issue #636. However I don't seem to find a solution for my problem.

**Versions:**

- GitLab Plugin Version 1.5.9 (aso tested Version 1.5.10)

- GitLab Community Edition 11.03

- Jenkins Version 2.121.2

**Jenkins Trigger Config:**

- Push Event (for commiting on source branch without having created an MR; not necessary!!!)

- Opened Merge Request Events (for

[2018-10-25 14:45] anapsix commented on #536
I believe the proper usage is as follows
[code]
The original issue author's mistake was using `string` as credential type, while it should be `com.dabsquared.gitlabjenkins.connection.GitLabApiTokenImpl`

However, even using it properly produces an error:
[code]

[2018-10-26 02:27] slxiao opened #849 "Edit merge request description automatically triggers jenkins job if this job checkouts code from another repository"
### Context
- **Gitlab plugin version**: 1.5.10
- **Gitlab version**: 10.6.5
- **Jenkins version**: 2.107.3
- **Job type**: Pipeline

### Problem description

We have two repositories in gitlab: Repository R1 and Repository R2, and one job J1 in Jenkins.
- Configuration of R1: a webhook refers to job J1, and the trigger manner is "`Merge Request Events`"
- Configuration of J1: build trigger is "`O

[2018-10-26 06:25] gbsop opened #850 "MR Validation : communication between Jenkins et Gitlab"
### Context
- **Gitlab plugin version**: 1.5.9
- **Gitlab version**: 11.2.3-ee
- **Jenkins version**: 2.130
- **Job type**: Pipeline

### Problem description

Hi
- On a MR validation, we are using Jenkins CI from GitlabEE (configured with push event and MR event) to launch a build on Jenkins.
- At the end of the build, the build make a push on GitlabEE. To avoid a loop, the push made by jenkins co

[2018-10-26 07:00] asagi687 opened #851 "GitLab Web Hook failed Hook executed successfully but returned HTTP 401"
**First:**
・My Jenkins is working on docker container.
・GitLab is installed in "Redmine Certified by Bitnami" instance of AWS
(use port 80 for Redmine and 8888 for GitLab) .

**Issue:**
When I try
URL：http://JENKINS_URL/project/PROJECT_NAME on webhook,

I get this massage.

![image](https://user-images.githubusercontent.com/44489808/47548976-93257600-d935-11e8-8a18-4726d9e27f6a.png)

・I try also

[2018-10-26 20:35] Lylah commented on #580
Would it be possible to have this implemented in a way that the two are completely distinct from one another?
I would like my Jenkins build to trigger on any push event that is NOT a tag push, and currently the trigger on push is a catch-all. I have looked into workarounds for this, and I'm not finding anything that seem remotely reasonable.

[2018-10-26 22:04] miguelconde91 opened #852 "I can not run Jobs using GitLab webhooks in multibranch pipelines"
I can not run Jobs using GitLab webhooks, please help me because everything look fine, I follow step by step and any result.

Jenkins version: 2.121.3
Gitlab Plugin version: 1.5.10
And I'm using gitlab.com

I am trying to execute my jobs in my multibranch pipelines from Gitlab using the documentation described here, so I followed the next steps:

1- Create a new repository in GitLab with a Jenkins

[2018-10-31 07:10] rachit-gupta commented on #662
I am facing an issue where I have 2 projects on gitlab. For one of the projects, publish build status to gitlab is working as expected, but for the other project, it is not working. Both the projects and the Jenkins job are set up similarly.

[2018-10-31 21:03] gezn opened #853 "cannot update gitlab git gitcommitStatus"
### Before submitting an issue I have first:

## Issue
I set up jenkins and gitlab, I prepared everything but when I try to commit  status message to gitlab it fails. stating the the host is null, but it doesn't say anything on the docs about having to set up the host back, or were I can get this information from.

the code that I am using:
[code]
the code above works well and builds successfully

[2018-11-02 08:47] xingyuzhe commented on #645
One year passed, this 'merge_commit_sha' is still not available in the environment variables. It's very impotant  because it's the base key to tell the differences in a merge.

[2018-11-05 03:26] jyu213 commented on #539
@iyoucheng  add gitlabSourceBranch in Parameterized Build as a string params.So you can set default value for it.

[2018-11-08 14:43] heamaral commented on #852
I'm also having this issue, the response status code of webhook is 200 but Jenkins doesn't trigger the job.

[2018-11-08 20:12] miguelconde91 commented on #852
I have not been able to find a solution yet

[2018-11-12 11:19] Zava2012 opened #855 "Update GitLab Pipeline status when Jenkinsfile have wrong syntax"
## Issue

### Context
- **Gitlab plugin version**: 1.5.10
- **Gitlab version**: 11.4.5
- **Jenkins version**: 2.138.2 LTS
- **Job type**: Pipeline

### Problem description

After build is running on Jenkins (GitLab status is pending) and Jenkinsfile contain some mistakes, GitLab stucking this pipeline in pending status, but Jenkins Build is failed.
For example, i have this Jenkinsfile:
[code]

Bec

[2018-11-12 19:06] tomasbjerre commented on #708
This feature is what [Generic Webhook Trigger](https://github.com/jenkinsci/generic-webhook-trigger-plugin/) does. @rubycrafter

[2018-11-13 04:02] omehegan commented on #580
@Lylah there isn't really a good way to do this, because GitLab itself does not distinguish between tag pushes and code pushes. The best you can do is filter in your job on the gitlabActionType variable's value.

[2018-11-13 04:06] omehegan commented on #723
@tmc9031 if you can enable debug logging as described in https://github.com/jenkinsci/gitlab-plugin#getting-help and then attach logs that show the JSON payload received in this case, it might be helpful.

[2018-11-13 04:09] omehegan commented on #662
@rachit-gupta please create a new issue for this. Follow the directions in https://github.com/jenkinsci/gitlab-plugin#getting-help to enable debug logging and attach logs after you reproduce the failure.

[2018-11-13 04:11] omehegan commented on #853
@gezn have you set up a connection from Jenkins to GitLab, per https://github.com/jenkinsci/gitlab-plugin#jenkins-to-gitlab-authentication? If not, you need to do that.

[2018-11-13 04:20] omehegan commented on #843
@tozzil can you attach a screenshot of your job configuration, and also enable the debug logging as described at https://github.com/jenkinsci/gitlab-plugin#getting-help and attach logs showing what happens when you reproduce this issue? Thanks.

[2018-11-13 04:28] omehegan commented on #849
@slxiao fundamentally, I think the issue here is that GitLab fires a merge request hook when you rename an MR, which is not desirable in your case. However, if you consider that many people have a workflow where they put "WIP" in the MR title to indicate it is a work in progress, and the plugin can be configured to ignore triggers with that string in them, then you can see why there is a valid cas

[2018-11-13 04:28] #849 closed, assigned to nobody

[2018-11-13 04:37] omehegan commented on #837
@AntoineConffx can you please attach the two config.xml files for your jobs? It seems that one job does not think there is any git repo configured or any git checkout happening.

[2018-11-13 04:39] omehegan commented on #845
@Gaibhne sounds good, but I will not have bandwidth to implement this. If you would like to submit a PR, I would be happy to review and test it.

[2018-11-13 04:52] omehegan commented on #846
@jgeorgeson thanks for replying to this, you nailed it :)

@thanatgo123 see above.

[2018-11-13 04:52] #846 closed, assigned to nobody

[2018-11-13 04:57] omehegan commented on #838
GitLab figures out that there is a merge conflict, but triggers the MR webhook anyway. Jenkins will always build in that case, so you would need GitLab to not send the hook or to set the pipeline status differently. Not a plugin issue.

[2018-11-13 04:57] #838 closed, assigned to nobody

[2018-11-13 05:02] omehegan commented on #851
@asagi687 have you followed the directions at https://github.com/jenkinsci/gitlab-plugin#gitlab-to-jenkins-authentication? Does this user have Job/Build permissions in Jenkins? You can try enabling debug logging by following the directions here: https://github.com/jenkinsci/gitlab-plugin#getting-help and see if that helps show what the issue is.

[2018-11-13 05:04] omehegan commented on #839
@ptzafrir any further comment on this?

[2018-11-13 05:06] omehegan commented on #844
To prevent the job triggering at all would require a plugin change, maybe to read total_commits_count and skip if that is zero. A PR for this would be welcome.

[2018-11-13 05:13] omehegan commented on #852
@miguelconde91 please enable the debug logging as described in https://github.com/jenkinsci/gitlab-plugin#getting-help and then attach logs to this issue after you reproduce the problem. They should tell us why they plugin is not triggering your job.

[2018-11-13 05:36] omehegan commented on #841
@DmitryMihailov sorry, I have not had much time to work on the plugin lately.

I can't find any issue with the log that you submitted. I see the plugin's REST endpoint being called six times, and six builds being triggered. Normally the debug log should be pretty clear about the few cases where a build may be skipped (e.g. if the same commit was already built by that job, etc.). If you know which

[2018-11-13 06:00] omehegan commented on #416
@ondrejtomcik it could be done, but as noted above we are growing concerned that the current implementation of Multibranch support is not optimal from a performance perspective. If @amarruedo wants to work on his proposed solution we can consider it though. I desperately want someone to work on #499.

[2018-11-13 06:06] omehegan commented on #764
@evgeni any chance you could look at this?

[2018-11-13 06:17] omehegan commented on #850
@gbsop I am not sure why an upgrade to Jenkins, if you did not change the plugin version, would break this functionality. Can you follow the instructions in https://github.com/jenkinsci/gitlab-plugin#getting-help to enable debug logging? Then reproduce this issue, and paste the logs here. That should help us see why the plugin is not always triggering the build.

[2018-11-13 06:28] omehegan commented on #848
@zumacinsmity go to /help in your GitLab instance to see the version. Version 1.4.6 of the plugin is over a year old, I would recommend that you update.

In a non-Pipeline job, there is no easy way to take data from a build step and push it to GitLab in a note. Changes to the environment variables inside a shell script build step don't persist outside of that shell. That's a limitation of Jenkins.

[2018-11-13 06:28] #848 closed, assigned to nobody

[2018-11-13 06:32] omehegan commented on #842
@yuyan-seik I think @hho's answer is correct, did that work for you? I think this is more of a Git issue than a GitLab plugin issue.

[2018-11-13 06:35] omehegan commented on #820
@calvinatnvidia there is no way right now, see the recent discussion in https://github.com/jenkinsci/gitlab-plugin/issues/416.

[2018-11-13 06:39] omehegan commented on #847
This is not a GitLab plugin issue (this plugin only handles triggering jobs and sending results back to GitLab - cloning is handled by the Git plugin). It's possible you are not using the credentials wrapper correctly in your Pipeline script, because you are not explicitly setting up HTTP Basic Auth as far as I can see. But I don't have experience using that for GitLab cloning, I have only ever us

[2018-11-13 06:39] #847 closed, assigned to nobody

[2018-11-13 06:43] omehegan commented on #855
@Zava2012 seems like a GitLab issue. I can imagine that the status is broken because the Jenkins job died and so no update was sent.

`cancelPendingBuildsOnUpdate` is for canceling running Jenkins builds when a new commit is made to an open MR. It does not affect anything on the GitLab side.

[2018-11-13 06:43] #855 closed, assigned to nobody

[2018-11-13 06:43] ptzafrir commented on #839
I'm sorry, but I have no additional ideas as to the cause of this.

[2018-11-13 06:47] #827 closed, assigned to nobody

[2018-11-13 08:23] ulflunde commented on #533
Having the same problem with GitHub here.
I've been using Jenkins daily for a long time, but since last weekend I suddenly get the error above
for all "job" urls (even if I remove the "/job" part).

I tried upgrading to Jenkins v2.151, but still I get the same issue.

Did GitHub change how they handle Jenkins? (Just like that, on Nov 9, 2018?)

[2018-11-13 12:52] esquires commented on #839
Thanks for the follow-up. I never was able to figure out what the problem was. The gitlab status and automerge aren't critical for my application so I have gotten along ok without it. I'll go ahead and close this ticket.

[2018-11-13 12:52] #839 closed, assigned to nobody

[2018-11-13 14:17] gezn commented on #853
@omehegan  thanks sorry for not updating on this. it was an issue about http:// or http:// not added to an ip url address, that I forgot to add manually. sorry for the inconveniences

[2018-11-13 16:06] wiebe commented on #827
I have the same thing happening with Jenkins and can reproduce it when running against Gitlab.com.

I dont know how i can change the update command to see if that fix works..

[2018-11-13 16:25] DmitryMihailov commented on #841
Dear @omehegan! I don't understand why it does so, but from those 2 commits pushed by Maven, LAST commit is being sent by webhook to Jenkins for the PRE-LAST commit(please check 1st screen). That means that status report for last commit is being sent to PRE-LAST commit.

You have idea why last commit is being attached to webhook with PRE-LAST commit and status report is being sent to PRE-LAST comm

[2018-11-14 02:36] #853 closed, assigned to nobody

[2018-11-14 02:41] omehegan commented on #841
@DmitryMihailov I am not totally sure I understand what you are describing, but it is sounding like maybe GitLab is combining commits into one webhook trigger, rather than sending two separate triggers. If that is what you are seeing, you would need to raise this with GitLab support or their community to try and figure out why it is happening. Please let me know if I have misunderstood.

[2018-11-14 02:44] omehegan commented on #827
@wiebe you would need to change your Pipeline code to match what @benday280412 suggested.

[2018-11-14 10:40] DmitryMihailov commented on #841
I've edited my last comment and attached webhook calls content for both last and pre-last commit. The commits actually being sent in separate hooks...

What do you think of it, @omehegan? 😳

[2018-11-14 18:20] keestux commented on #847
OK, thanks for looking anyway

[2018-11-15 05:41] AntoineConffx commented on #837
@omehegan
Sure thing.

This is the config for the job that can build manually and post the build status.

---
[code]
---

This is the config of the job that fails to post the status when being triggered manually.

---
[code]
---

Note:
They both work with comments on merge requests or a push event to a merge request.

[2018-11-15 05:46] AntoineConffx commented on #837
Looks like the main difference between the 2 are the following plugin versions: **github**, **workflow-jobs** and **workflow-cps** plugins.

[2018-11-15 18:16] tomasbjerre commented on #654
@dcuenot @fairmonk This can be done with [Generic Webhook Trigger Plugin](https://github.com/jenkinsci/generic-webhook-trigger-plugin/): https://github.com/jenkinsci/generic-webhook-trigger-plugin/blob/master/src/test/resources/org/jenkinsci/plugins/gwt/bdd/gitlab/gitlab-push-specific-folder.feature

[2018-11-16 15:23] MrFishFinger commented on #700
I am experiencing a similar issue, whereby connections to the jenkins gitlab-plugin "/project/" endpoint for a multi-branch-pipeline, are accepted without a TOKEN being passed.

This is despite the "Enable authentication for '/project' end-point" option being enabled.

I tried the suggested workaround of enabling "global authentication" by creating a jenkins service account, and using its token in

[2018-11-16 19:41] tomasbjerre commented on #844
@xingyuzhe You can do this with [Generic Webhook Trigger](https://github.com/jenkinsci/generic-webhook-trigger-plugin). Here is an example: https://github.com/jenkinsci/generic-webhook-trigger-plugin/blob/master/src/test/resources/org/jenkinsci/plugins/gwt/bdd/gitlab/gitlab-push-ignore-when-no-commits.feature

[2018-11-19 05:00] slxiao commented on #849
@omehegan  Thanks for your explanation. I will think about your suggestion to see whether I can submit a PR for that or not.

[2018-11-20 03:14] ShankarSumanth commented on #533
Bumping an old topic but I figured out a way for the webhook to work. Although it is mentioned in the README, it's quite unclear and a bit of circus to get this setup up and running.

The reason (at least for multi-branch pipeline ) why the endpoint does not work is, the inability to set `Build when a change is pushed to GitLab` from the UI and **SAVE IT**. This has to be done declaratively and th

[2018-11-20 03:20] ShankarSumanth commented on #852
Can you check if the solution helps?
https://github.com/jenkinsci/gitlab-plugin/issues/533#issuecomment-440122433

[2018-11-20 11:52] amarruedo commented on #416
The workaround I proposed should take 2 minutes of development (just copy/paste the bits of code I suggested), and as @omehegan says, it is far from ideal.

On our side, due to this issue, and also to this [one](https://issues.jenkins-ci.org/browse/JENKINS-46487) (not related with this pulgin), we are planning to move our CI system to Gitlabs own CI environment.

[2018-11-20 12:08] ondrejtomcik commented on #416
We are considering it too.

[2018-11-20 23:30] omehegan commented on #781
#813 has been fixed in 1.5.11. Please reopen if that does not resolve this issue.

[2018-11-20 23:30] #781 closed, assigned to nobody

[2018-11-21 13:59] geoffroyjabouley opened #856 "Use a red cross icon for build failure in postbuild step "Add note ... GitLab merge requests""
## Issue
When publishing a Note on GitLab for a failed build, icon used is ❎ (: negative_squared_cross_mark :).
Proposal is to use by default icon :x: (: x :) instead

### Context
- **Gitlab plugin version**: 1.5.5
- **Gitlab version**: 11.4.6
- **Jenkins version**: 2.107.2
- **Job type**: Freestyle/Matrix

### Logs & Traces

N/A

### Problem description
| | |
|-|-|
|Was|:negative_squared_cross_ma

[2018-11-23 05:56] omehegan commented on #416
I've made the changes suggested by @amarruedo and pushed a snapshot build [here.](http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.12-SNAPSHOT/gitlab-plugin-1.5.12-20181123.055442-1.hpi) I haven't had a chance to perform manual testing yet, I'll try to get to that next week. But I would welcome anyone else's feedback in the meantime.

[2018-11-23 06:20] omehegan commented on #533
@ShankarSumanth you are doing exactly what is in the documentation at https://github.com/jenkinsci/gitlab-plugin#declarative-pipeline-jobs except you are going through an unnecessary 'step 2.' As the doc says, you just need to build the job manually once in order to set the trigger. You don't need to do this dance of changing the webhook in GitLab and forcing GitLab to trigger the job.

[2018-11-23 06:29] omehegan commented on #700
@MrFishFinger yeah, the more I think about this, the more I see why this is likely a bug just in multibranch projects. The reason is that multibranch jobs do not receive or process any of the webhook data from GitLab. Instead, triggering a multibranch job just causes Jenkins to perform branch indexing and then trigger builds accordingly from there. I want to see this change, but I don't really kno

[2018-11-23 07:34] edwinvanderham opened #858 "NullPointerException when checking out non-default branch"
## Issue

### Context
- **Gitlab plugin version**: 1.5.11
- **Gitlab version**: 11.1.4
- **Jenkins version**: 2.147
- **Job type**: Freestyle

### Problem description

I am checking out a non-default branch from gitlab (branch specifier */somebranch). Using version 1.5.10 of the gitlab plugin, this works fine, after upgrading to 1.5.11 I get the following stack trace:

[code]

[2018-11-23 14:06] fontealpina commented on #838
@omehegan but why isn't set as failed and got stuck in a pending status?

[2018-11-26 03:11] omehegan commented on #838
@fontealpina I'm guessing it was a Pipeline job, and there wasn't a try/catch/finally block to catch the failure and send a final status update to GitLab.

[2018-11-27 12:56] binhnh17 commented on #691
I fixed it by adding gibLabConnectionName to jenkinsfile (setting on jenkins dashboad is not enough):
options {
    gitLabConnection('PERSONAL_ACCESS_TOKEN_TEST')
   //'PERSONAL_ACCESS_TOKEN_TEST' => Token in jenkins credentials list mapping to personal access
  //token generated from gitlab
}

[2018-11-27 12:57] littlekelvin opened #859 "webhook execution failed in gitlab - "Failed to open TCP connection to zha-mvp-021-w10:8080 (getaddrinfo: Temporary failure in name resolution)""
### Before submitting an issue I have first:
- [] confirmed that my GitLab webhook is using the http://JENKINS_URL/project endpoint and not the http://JENKINS_URL/job endpoint

*(if you have performed all the above, remove the paragraph and continue describing the issue with template below)*

## Issue
Jenkins run in zha-mvp-021-w10:8080, but in gitlab wenhook execution error: Failed to open TCP co

[2018-11-29 14:52] carlos4242 opened #861 "Webhook seems to run, can see it in the log but build never starts"
## Issue

### Context
- **Gitlab plugin version**: 1.5.10
- **Gitlab version**: CE 11.4.4
- **Jenkins version**: 2.138.2
- **Job type**: Freestyle

### Logs & Traces

#### On the gitlab side:

[code]

#### On the Jenkins side, in the Gitlab plugin:

[code]

*But no sign of a build starting, ever.*

### Problem description

Following the instructions here: https://github.com/jenkinsci/gitlab-plugin

[2018-11-30 02:08] freidenker opened #862 "gitlabMergeRequestState should be set for comments on MRs"
with merge request comment(gitlab note hook) trigger jenkins job buiding, can not get `gitlabMergeRequestState`, but `gitlabSourceBranch` is ok

[2018-12-02 22:51] carlos4242 commented on #861
Update: it started working without any obvious reason why! Perhaps the issue is some more logging of what might be the issue? One thing I changed soon before that was credentials for Jenkins to access gitlab, which looked a bit off beforehand. But that didn’t seem to immediately fix it. Possibly 12 hours later, overnight, it started to run Jenkins builds in response to gitlab events. Maybe some lo

[2018-12-03 11:31] kleini opened #863 "Build result sent to Pipeline library repository instead of project repository"
## Issue
I saw issue #523 but this problem still happens to with version 1.5.11 of the Gitlab plugin.

### Context
- **Gitlab plugin version**: 1.5.11
- **Gitlab version**: 11.5.1-ee.0
- **Jenkins version**: 2.138.3
- **Job type**: Multibranch pipeline

### Logs & Traces

Failed to update Gitlab commit status for project 'jenkins/pipeline-library': HTTP 400 Bad Request
Failed to update Gitlab comm

[2018-12-03 11:46] kleini commented on #863
I stumbled across this described problem: https://github.com/jenkinsci/gitlab-plugin#scripted-pipeline-jobs

[2018-12-03 11:46] #863 closed, assigned to nobody

[2018-12-03 13:35] Leanivets commented on #416
@omehegan after installation snapshot plugin version http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.12-SNAPSHOT/gitlab-plugin-1.5.12-20181123.055442-1.hpi "Merge Request Hook" on GitLab returned 200 but Jenkins multibranch jod not trigger yet

[2018-12-03 13:37] dtronche opened #864 "Use of when buildingTag does not work in Declarative pipeline"
## Issue
For our project we are using gitlab-ce and Jenkins to build docker images. I'm using a Pipeline Jenkinsfile to build my docker
I suppose my jenkins job is correctly configured since the build is triggered each time I push a commit or a tag into my gitlab project
In my pipeline, I have a stage I wish to be called only when a tag is pushed
I added the following line
`when {  buildingTag() }

[2018-12-05 15:30] ondrejtomcik commented on #416
FYI: https://wiki.jenkins.io/display/JENKINS/Generic+Webhook+Trigger+Plugin

Just testing it, we have metadata and works with MR.

[2018-12-06 05:28] omehegan commented on #792
Will be included when #499 is resolved.

[2018-12-06 05:28] #792 closed, assigned to nobody

[2018-12-07 05:50] omehegan opened #865 "Build status sent to shared Pipeline repo if job is aborted before main git clone is complete"
## Issue

### Context
- **Gitlab plugin version**: 1.5.9
- **Job type**: Pipeline

### Problem description

Given a Pipeline job that uses a shared library, if a user aborts the job after the shared library has been cloned, but before the main project's git clone is complete, the build status will be sent to the shared library repo in GitLab, instead of the project repo.

This is because, for Pipe

[2018-12-07 14:05] Osmyslitelny commented on #705
Do we have any updates? I got the same problem and its very important for us because "when build job" configuration  is the main idea of plugin.

[2018-12-07 14:16] tpbradt commented on #705
@omehegan Sorry I never got back to you.  We trigger webhooks on merge request only.

[2018-12-07 15:14] Osmyslitelny commented on #705
Look like I get this problem when json include "state" : "opened" and "action" : "update" with TriggerOpenMergeRequest.never

[2018-12-07 17:13] Osmyslitelny commented on #705
I found the code which do this bug. On my jenkins I installed snapshot version and if you wanna, after some time, I can create Merge Request for project.
p.s. I'm not sure that all my changes was correctly, but this bug is resolved into my snapshot.

[2018-12-08 04:00] #859 closed, assigned to nobody

[2018-12-10 16:08] eriknellessen opened #868 "Building all merge requests at a specific time"
## Issue

### Context
- **Gitlab plugin version**: 1.5.11
- **Gitlab version**: 11.5.3
- **Jenkins version**: 2.153
- **Job type**: Pipeline

### Problem description

_Describe your problem in a meaningful way_:
- what were you doing (simple push, merge request, MR with fork, ...)
We have a merge request pipeline that builds all of our merge requests. It works fine. When a merge request is created

[2018-12-12 20:21] sfransen commented on #861
I have the problem of the wehlook not working for most of my jenkins jobs. I get this error
branch baker or baker is not allowed
 if I do a filter using
Filter branches by regex  Target Branch Regex
(.*baker.*)
 I get a error if I downgrade to 1.5.10 all is working fine again.
1.5.11 don't work right  unless I have to change my Regex if I do what is the new format to use

[2018-12-13 23:33] thefirstofthe300 opened #870 "NPE unless branchFilterType is set - Job DSL issue"
## Issue

### Context
- **Gitlab plugin version**: 1.5.10
- **Gitlab version**: 1.10.3
- **Jenkins version**: 2.121.1
- **Job type**: Pipeline

### Logs & Traces

[code]

### Problem description

_Describe your problem in a meaningful way_:

We are running a setup where Jenkins jobs are set up to be triggered by webhooks on a push to every branch in a repo. We recently began trying to configure th

[2018-12-17 05:28] omehegan commented on #705
I have built a snapshot with the change from #869 which should fix the issue of builds getting triggered even when "Rebuild open merge requests" is set to "Never." For those affected by that issue, please try this and let us know if it fixes the problem. http://repo.jenkins-ci.org/snapshots/org/jenkins-ci/plugins/gitlab-plugin/1.5.12-SNAPSHOT/gitlab-plugin-1.5.12-20181217.052605-2.hpi